<div class="upload">
  <mat-expansion-panel [expanded]="true" hideToggle>
    <mat-expansion-panel-header (click)="handleCollapse('upload')">
      <app-page-header class="upload-header">
        <ng-container subHeader>
          <span>Upload </span>
          @if (collapseObj?.upload) {
            <mat-icon class="expand-collapse-icon">do_not_disturb_on</mat-icon>
          }
          @else {
            <mat-icon class="expand-collapse-icon">add_circle</mat-icon>
          }
        </ng-container>
      </app-page-header>
    </mat-expansion-panel-header>

    <div class="mb-3">
      <div class="mb-1"><b>Uploaded Documents ({{disputeInfo.fileData?.length }})</b></div>
      @for (doc of disputeInfo.fileData; track doc.fileId) {
        <div class="border-bottom py-1">
          <div fxFlex="50" fxFlex.gt-md="35">
            <button fxFlex="none" type="button" class="upload-delete" (click)="onRemoveFile(doc.fileId, doc.fileName)">
              <mat-icon>delete</mat-icon>
            </button>
            @if (doc.virusScanStatus === 'clean') {
              <button type="button" class="linkbutton" (click)="onGetFile(doc.fileId)">
                {{ doc.fileName }}
              </button>
            }
            @if (doc.virusScanStatus !== 'clean') {
              <span>{{ doc.fileName }} {{ doc.virusScanStatus }}</span>
            }
          </div>
          <div fxFlex="50" fxFlex.gt-md="25" fxLayoutAlign="start center" fxLayout="row" fxLayoutGap="1rem">
            <div fxFlex="calc(50% - 0.5rem)" class="mat-caption">{{ doc.documentType }}</div>
            @if (doc.documentType === "Adjournment") {
              <mat-form-field fxFlex="calc(50% - 0.5rem)" class="py-0"
                [appearance]="doc.documentStatus === DocumentStatus.Pending ? 'outline' : 'fill'">
                <mat-select [value]="doc.documentStatus" (selectionChange)="onChangeDocumentStatus(doc, $event.value)">
                  <mat-option [value]="DocumentStatus.Pending">Pending</mat-option>
                  <mat-option [value]="DocumentStatus.Resolved">Resolved</mat-option>
                </mat-select>
              </mat-form-field>
            }
          </div>
        </div>
      }
      @if (fileUploadError) {
        <div>{{ fileUploadError }}</div>
      }
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1rem">
      <label fxFlex="32" fxFlex.gt-md="16">File type for upload:</label>
      <mat-form-field fxFlex="34" fxFlex.gt-md="17" appearance="outline" style="display: inline-flex;">
        <mat-select [(ngModel)]="fileTypeToUpload">
          <mat-option value="Certified Extract">Certified Extract</mat-option>
          <mat-option value="Adjournment">Adjournment</mat-option>
          <mat-option value="Other">Other</mat-option>
        </mat-select>
      </mat-form-field>
      <button fxFlex="34" fxFlex.gt-md="17" class="large" mat-flat-button type="button" color="primary" onclick="document.getElementById('getFile').click()">
        <mat-icon class="align-text-bottom">upload</mat-icon>&nbsp;Upload File
      </button>
    </div>
    <input type="file" id="getFile" style="display:none" accept="image/*,.pdf" (change)="onUpload($event.target.files)" />
  </mat-expansion-panel>
</div>
