<h3 mat-dialog-title class="d-flex align-items-stretch">
  <img *ngIf="options.imageSrc" [attr.src]="options.imageSrc" alt="" />
  <strong class="flex-grow-1" *ngIf="options.titleKey">
    <span >{{ options.titleKey | translate }}</span>
  </strong>
</h3>
<mat-dialog-content>
  <p *ngIf="options.messageKey">{{ options.messageKey | translate }}</p>
  <ng-template appDialogContent></ng-template>
</mat-dialog-content>
<mat-dialog-actions style="width:100%">

  <div style="width:100%; float: right;">

    <button *ngIf="!options.actionHide" type="button" color="primary" class="large" mat-flat-button (click)="onChangeOfPlea()"
      class="large">
      Change Plea
    </button>

    <button *ngIf="!options.actionHide" type="button" color="primary" mat-flat-button (click)="onRequireCourtHearing()"
      class="large">
      Require Court Hearing
    </button>

   <button *ngIf="!options.cancelHide" type="button" mat-flat-button color="primary" [mat-dialog-close]="false" cdkFocusInitial
      class="large">
      {{ options.cancelTextKey }}
    </button>

  </div>

</mat-dialog-actions>
