@import "palette";

h2 {
  color: theme-palette(blue);

  .mat-icon {
    font-size: 3rem;
  }
  img,
  .mat-icon {
    margin-right: 10px;
    width: 50px;
    height: 50px;
  }
  span {
    border-bottom: 2px solid #eeee;
    font-size: 1.75rem;
    line-height: 3rem;
  }
}

p {
  color: theme-palette(grey, dark);
  line-height: 1.1;
}

a {
  color: theme-palette(blue, light);
  text-decoration: underline;
}

.text {
  font-weight: 700;
  line-height: 1.5em;
  color: black;
}

.button {
  padding: 20px;
  background-color: #c2c2c2;
  color: #fff;
}

.mat-flat-button {
  width: 30% !important;
  float: right;
  margin-top: 1em;
  margin-right: 20px;

  &.large {
    height: 46px;
    font-size: 1.125em;
    font-weight: bold;
  }

  &.light {
    background-color: theme-palette(blue, bg);
    color: white;
  }
}

.mat-flat-button[disabled] {
  background-color: rgba(0, 0, 0, 0.04) !important;
}
