<h3 mat-dialog-title class="d-flex align-items-stretch">
  @if (options.imageSrc) {
    <img [attr.src]="options.imageSrc" alt="" />
  }
  @if (options.titleKey) {
    <strong class="flex-grow-1">
      <span >{{ options.titleKey | translate }}</span>
    </strong>
  }
</h3>
<mat-dialog-content>
  @if (options.messageKey) {
    <p>{{ options.messageKey | translate }}</p>
  }
  <ng-template appDialogContent></ng-template>
</mat-dialog-content>
<mat-dialog-actions style="width:100%">

  <div style="width:100%; float: right;">

    @if (!options.actionHide) {
      <button type="button" color="primary" class="large" mat-flat-button (click)="onChangeOfPlea()"
        class="large">
        Change Plea
      </button>
    }

    @if (!options.actionHide) {
      <button type="button" color="primary" mat-flat-button (click)="onRequireCourtHearing()"
        class="large">
        Adjourn/Require Hearing
      </button>
    }

    @if (!options.cancelHide) {
      <button type="button" mat-flat-button color="primary" [mat-dialog-close]="false" cdkFocusInitial
        class="large">
        {{ options.cancelTextKey }}
      </button>
    }

  </div>

</mat-dialog-actions>
