@import "palette";

//
// MATERIAL BUTTON
//

.mat-stroked-button {
  &.mat-button-base.mat-primary {
    border-color: theme-palette(blue);
  }
}

.mat-checkbox-inner-container {
  margin-top: 5px !important;
}

.mat-button-toggle-group {
  border: 1px solid theme-palette(blue);
}

.mat-button-toggle {
  color: theme-palette(blue);
}

.mat-button-toggle-checked {
  background-color: theme-palette(blue, light);
  color: white !important;
}
