@import "palette";

.header {
  background-color: theme-palette(blue);
}

.mat-toolbar {
  height: 70px;
  padding: 0;

  img {
    margin-top: -15px;

    &.hasMobileSidemenu {
      // Provide space between sidemenu toggle and BC Gov. logo
      margin-left: 15px;
    }
  }
}
