<mat-toolbar color="primary">
  <span>
    <img
      src="/assets/gov_bc_logo.png"
      alt="Government of BC Logo"
      routerLink="/"
    />
  </span>

  <span class="flex-fill"></span>

  <a (click)="onLanguage()" class="language">
    <mat-icon inline="true" class="mr-2">language</mat-icon>
    <span style="vertical-align: 5px">{{ languageDesc }}</span>
  </a>

  <!--
  <ng-container *ngIf="fullName">
    <span class="fullName d-none d-md-block">
      {{ fullName }}
    </span>
    <span class="logout">
      <mat-icon (click)="onLogout()">logout</mat-icon>
    </span>
  </ng-container>
  -->
</mat-toolbar>

<div class="ngx-progress">
  <ng-progress></ng-progress>
</div>
