<div class="row justify-content-between">
  <div *ngIf="hasSecondaryAction" class="col pt-2">
    <button
      id="secondaryButton"
      mat-stroked-button
      type="button"
      color="primary"
      (click)="onSecondaryAction()"
    >
      <mat-icon inline="true">{{ secondaryActionButtonIcon }}</mat-icon>
      {{ secondaryActionButtonKey | translate }}
    </button>
  </div>
  <div class="col pt-2 text-right">
    <button
      id="primaryButton"
      mat-flat-button
      type="button"
      color="primary"
      [disabled]="disableSave"
      (click)="onSave()"
    >
      {{ saveButtonKey | translate }}
      <mat-icon inline="true">keyboard_arrow_right</mat-icon>
    </button>
  </div>
</div>
