td,
th {
  vertical-align: middle !important;
  padding-left: 10px !important;
}

.filterTable {
  width: auto;

  td {
    padding: 0px 5px 0px 5px;
  }
}

.table-responsive {
  width: 100%;
  min-height: 110px;
}

.reset-filters {
  color: #fff;
  background-color: #38598a;
  border-color: #38598a;  
  font-size: 14px;

  &:hover {
    background-color: #2d476f;
    border-color: #294266;
  }
}

:host ::ng-deep {
  /* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
  .mat-select-value {
    padding-left: 10px;
    padding-right: 10px;
  }

  .mat-mdc-form-field.dateField{
    width: 145px;
  }

  .mat-mdc-form-field {
    width: 100%;
    margin-bottom: 0px !important;
    /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
    .mat-form-field-wrapper {
      padding-bottom: 0 !important;
      /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
      .mat-form-field-flex {
        margin-top: 0 !important;
        padding-right: 5px;
        /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
        .mat-form-field-infix {
          padding: 0px 0px 7px 0px !important;
          line-height: 0px;

          input {
            line-height: 18px !important;
          }
          /* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
          .mat-select-arrow-wrapper {
            transform: translate(5px, 0px);
          }
          /* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
          .mat-select-value {
            padding-left: 0px;
            overflow: visible;
          }
        }
      }
    }
  }

  .mat-sort-header-arrow {
    color: #757575;
  }

  .status {
    button {
      color: white;
      width: 9.375rem;
      border-radius: 0.625rem;
    }

    .bg-color-new, .bg-color-scheduled {
      background-color:#8fd08f;
    }

    .bg-color-in-progress, .bg-color-require-court-hearing {
      background-color:#fcba19;
    }

    .bg-color-review {
      background-color:#f63f3f;
    }

    .bg-color-confirmed {
      background-color:#1a5a96;
    }

    .bg-color-concluded {
      background-color:#c5c5c5;
    }
  }
}