<app-table-filters [tabIndex]="tabIndex" [tableFilterKeys]="tableFilterKeys" (onFilterChanged)="onApplyFilter($event)">
  <ng-container pagination>
    <div fxFlex fxFlex.gt-md="20">
      <div class="vcenter">
        <app-paging [currentPage]="currentPage" [totalPages]="totalPages" (pageChanged)="onPageChange($event)">
        </app-paging>
      </div>
    </div>
  </ng-container>
</app-table-filters>

<div class="table-responsive">
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
    <ng-container matColumnDef="ticketNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        &nbsp;&nbsp;VT Number
      </th>
      <td mat-cell *matCellDef="let element">
        &nbsp;&nbsp;<a (click)="backWorkbench(element)" href="javascript:void(0)">{{ element.ticketNumber }}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="submittedTs">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Submitted Date
      </th>
      <td mat-cell *matCellDef="let element">
        <span>{{ element.submittedTs | date: "dd-MMM-yyyy" }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="violationDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Violation Date
      </th>
      <td mat-cell *matCellDef="let element">
        <span>{{ element.violationDate | date: "dd-MMM-yyyy" }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="surnameOrOrgName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="min-width:150px !important">
        Surname, Given Name(s)
      </th>
      <td mat-cell *matCellDef="let element" style="min-width:150px !important">
        <span *ngIf="element.disputantSurname">{{ element.disputantSurname + (element.disputantGivenName1 || 
          element.disputantGivenName2 || element.disputantGivenName3 ? "," : "") + 
          (element.disputantGivenName1 ? " " + element.disputantGivenName1 : "") + 
          (element.disputantGivenName2 ? " " + element.disputantGivenName2 : "") + 
          (element.disputantGivenName3 ? " " + element.disputantGivenName3 : "") }}</span>
        <span *ngIf="!element.disputantSurname">{{ element.disputantOrganizationName }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="toBeHeardAtCourthouseName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Courthouse
      </th>
      <td mat-cell *matCellDef="let element">
        <span>{{ element.toBeHeardAtCourthouseName }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Status
      </th>
      <td mat-cell *matCellDef="let element" class="status">
        <span *ngIf="element.disputeStatus.code === disputeStatus.HearingScheduled"><button mat-rounded-button
          class="bg-color-scheduled" disabled="true">Scheduled</button></span>
        <span *ngIf="element.disputeStatus.code === disputeStatus.New"><button mat-rounded-button
          class="bg-color-new" disabled="true">New</button></span>
        <span *ngIf="element.disputeStatus.code === disputeStatus.InProgress"><button mat-rounded-button 
          class="bg-color-in-progress" disabled="true">In Progress</button></span>
        <span *ngIf="element.disputeStatus.code === disputeStatus.Review"><button mat-rounded-button
          class="bg-color-review" disabled="true">Review</button></span>
        <span *ngIf="element.disputeStatus.code === disputeStatus.RequireCourtHearing"><button mat-rounded-button 
          class="bg-color-require-court-hearing" disabled="true">Adjourn/Require Hearing</button></span>
        <span *ngIf="element.disputeStatus.code === disputeStatus.Confirmed"><button mat-rounded-button
          class="bg-color-confirmed" disabled="true">Confirmed</button></span>
        <span *ngIf="isConcludedStatus(element.disputeStatus.code)"><button mat-rounded-button
          class="bg-color-concluded" disabled="true">Concluded</button></span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" [attr.colspan]="displayedColumns.length">
        Ticket(s) not found
      </td>
    </tr>
  </table>
</div>