<ng-container *ngIf="ticket">
  <section class="mb-2">
    <app-resolution-header [ticket]="ticket"></app-resolution-header>
  </section>

  <div class="mb-2">
    <section class="px-4 py-2 mb-3 card-section"
             *ngFor="let row of ticket.offences; let i = index">
      <app-count-item-dispute-summary [count]="row"></app-count-item-dispute-summary>
    </section>

    <section class="px-4 py-2 mb-4 card-section"
             >
      <div class="page-subheader pagebreak">
        <strong> Additional information </strong>
        <hr/>
        <!-- <p>
          The following additional information is required and will apply to all counts on this ticket made with that
          selection.
        </p> -->
        
        <div *ngIf="countDataList.newObj.count.toString()">
          <h3>Count:{{countDataList.newObj.count.toString()}}</h3>
         
          <h3>I do not want to attend a court hearing and want to supply written reasons:</h3>
          <div class="count-heading">Written reasons for fine reduction request</div>
          <div class="count-data">{{countDataList.newObj.reductionAppearInCourt}}</div>
          <div class="count-heading">Written reasons for time to pay request</div>
          <div class="count-data">{{countDataList.newObj.reductionAppearInCourtDoNot}}</div>
        </div>
        <hr />
        <div *ngIf="countDataList.newObj.count1.toString()" >
          <h3>Count:{{countDataList.newObj.count1.toString()}}</h3>

          <h3>I want to attend a court hearing and want to supply written reasons:</h3>
          <table class="disputre">
            <tr>
              <th>Action</th>
              <th>* of witness</th>
            </tr>
            <tr *ngIf='countDataList && countDataList.dispute && countDataList.dispute.lawyerPresent'><td> interpreterRequired</td><td>Yes</td>
            </tr>
            <tr *ngIf='countDataList && countDataList.dispute && countDataList.dispute.interpreterRequired'><td>Language</td><td>{{countDataList.dispute.interpreterLanguage}}</td></tr>
            <tr *ngIf='countDataList && countDataList.dispute && countDataList.dispute.witnessPresent'><td>witnessPresent</td><td>{{countDataList.dispute.numberOfWitnesses}}</td></tr>
          </table>
        </div>
      </div>
      
      <section *ngIf="ticket.additional && ticket.additional._isReductionRequired">
        <h3 class="fw-bold mb-0">Request fine reduction and/ or time to pay.</h3>

        <ng-container *ngIf="ticket.additional.requestReduction">
          <div class="row"
               *ngIf="ticket.additional.reductionReason; else noReductionReason">
            <div class="col-lg-9">
              <small class="d-block">Written reasons for fine reduction request</small>
              <strong>{{ ticket.additional.reductionReason }}</strong>
            </div>
            <div class="col-lg-3"></div>
          </div>

          <ng-template #noReductionReason>
            <div class="row">
              <div class="col-lg-9">
                <small class="d-block">Request a fine reduction request</small>
                <strong>{{ ticket.additional.requestReduction | yesNo }}</strong>
              </div>
              <div class="col-lg-3"></div>
            </div>
          </ng-template>
        </ng-container>


        <ng-container *ngIf="ticket.additional.requestMoreTime">
          <div class="row"
               *ngIf="ticket.additional.moreTimeReason; else noRequestMoreTime">
            <div class="col-lg-9">
              <small class="d-block">Written reasons for more time to pay request</small>
              <strong>{{ ticket.additional.moreTimeReason }}</strong>
            </div>
            <div class="col-lg-3"></div>
          </div>

          <ng-template #noRequestMoreTime>
            <div class="row">
              <div class="col-lg-9">
                <small class="d-block">Request a more time to pay</small>
                <strong>{{ ticket.additional.requestMoreTime | yesNo }}</strong>
              </div>
              <div class="col-lg-3"></div>
            </div>
          </ng-template>
        </ng-container>

        <hr *ngIf="ticket.additional._isCourtRequired" />
      </section>

      <section *ngIf="ticket.additional && ticket.additional._isCourtRequired">
        <h3 class="fw-bold mb-0">Dispute charge.</h3>

        <div class="row"
             *ngIf="ticket.additional.lawyerPresent">
          <div class="col-lg-9">
            <small class="d-block">Action</small>
            <strong>
              {{ "stepper.additional.lawyer" | translate }}
            </strong>
          </div>
        </div>

        <div class="row"
             *ngIf="ticket.additional.interpreterRequired">
          <div class="col-lg-9">
            <small class="d-block">Action</small>
            <strong> I require an interpreter </strong>
          </div>

          <div class="col-lg-3">
            <small class="d-block">Language</small>
            <strong>
              {{
              ticket.additional.interpreterLanguage
              | configCode: "languages"
              | default
              }}
            </strong>
          </div>
        </div>

        <div class="row"
             *ngIf="ticket.additional.witnessPresent">
          <div class="col-lg-9">
            <small class="d-block">Action</small>
            <strong> I intend to call witness(es) </strong>
          </div>

          <div class="col-lg-3">
            <small class="d-block"># of witness(es)</small>
            <strong>{{ ticket.additional.numberOfWitnesses }}</strong>
          </div>
        </div>
      </section>
    </section>
  </div>
</ng-container>
