<mat-toolbar color="primary">
  <span *ngIf="isMobile">
    <mat-icon (click)="toggleSidenav()">menu</mat-icon>
  </span>
  <span>
    <img
      src="/assets/gov_bc_logo.png"
      alt="Government of BC Logo"
      [class.hasMobileSidemenu]="hasMobileSidemenu"
    />
  </span>

  <span class="flex-fill"></span>

  <ng-container *ngIf="fullName">
    <ng-container *ngIf="isMobile; else notMobile">
      <span class="logout">
        <mat-icon (click)="onLogout()">logout</mat-icon>
      </span>
    </ng-container>

    <ng-template #notMobile>
      <span class="fullName">
        {{ fullName }}
      </span>
    </ng-template>
  </ng-container>
</mat-toolbar>

<div class="ngx-progress">
  <ng-progress></ng-progress>
</div>
