<app-page>
  <app-page-header>
    <ng-container header>{{
      "stepper.disputant.heading" | translate
    }}</ng-container>
    <ng-container subHeader>{{
      "stepper.disputant.sub_heading" | translate
    }}</ng-container>
  </app-page-header>

  <div *ngIf="ticket; else noTicket">
    <form (ngSubmit)="onSubmit()" [formGroup]="form" novalidate>
      <section class="mb-2">
        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="w-100">
              <input
                matInput
                placeholder="{{ 'stepper.disputant.lastName' | translate }}"
                formControlName="lastName"
              />
              <mat-error>{{ "error.required" | translate }}</mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-6">
            <mat-form-field class="w-100">
              <input
                matInput
                placeholder="{{ 'stepper.disputant.given_names' | translate }}"
                formControlName="givenNames"
              />
              <mat-error>{{ "error.required" | translate }}</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-form-field class="w-100">
              <input
                matInput
                placeholder="{{
                  'stepper.disputant.mailing_address' | translate
                }}"
                formControlName="mailingAddress"
              />
              <mat-error>{{ "error.required" | translate }}</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-form-field class="w-100">
              <input
                matInput
                placeholder="{{ 'stepper.disputant.city' | translate }}"
                formControlName="city"
              />
              <mat-error>{{ "error.required" | translate }}</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="w-100">
              <input
                matInput
                placeholder="{{ 'stepper.disputant.province' | translate }}"
                formControlName="province"
              />
              <mat-error>{{ "error.required" | translate }}</mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-6">
            <mat-form-field class="w-100">
              <input
                matInput
                placeholder="{{ 'stepper.disputant.postal_code' | translate }}"
                mask="S0S 0S0"
                oninput="this.value = this.value.toUpperCase()"
                formControlName="postal"
                [showMaskTyped]="true"
              />
              <mat-error>{{ "error.required" | translate }}</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <mat-form-field class="w-100">
              <input
                matInput
                placeholder="{{
                  'stepper.disputant.home_phone_number' | translate
                }}"
                formControlName="homePhone"
                mask="(000) 000-0000"
                [showMaskTyped]="true"
              />
              <mat-error *ngIf="homePhone.hasError('required')">{{
                "error.required" | translate
              }}</mat-error>
              <mat-error *ngIf="homePhone.hasError('phone')"
                >Must be a valid phone number</mat-error
              >
            </mat-form-field>
          </div>

          <div class="col-sm-6">
            <mat-form-field class="w-100">
              <input
                matInput
                placeholder="{{
                  'stepper.disputant.work_phone_number' | translate
                }}"
                formControlName="workPhone"
                mask="(000) 000-0000"
                [showMaskTyped]="true"
              />
              <mat-error *ngIf="workPhone.hasError('phone')"
                >Must be a valid phone number</mat-error
              >
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <mat-form-field class="w-100">
              <input
                matInput
                placeholder="{{
                  'stepper.disputant.driver_license_number' | translate
                }}"
                formControlName="license"
                mask="0000000"
                [showMaskTyped]="false"
              />
              <mat-error>{{ "error.required" | translate }}</mat-error>
            </mat-form-field>
          </div>

          <div class="col-sm-6">
            <mat-form-field class="w-100">
              <input
                matInput
                placeholder="{{
                  'stepper.disputant.driver_license_province' | translate
                }}"
                formControlName="provLicense"
              />
              <mat-error>{{ "error.required" | translate }}</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <mat-form-field class="w-100">
              <input
                matInput
                formControlName="emailAddress"
                placeholder="{{
                  'stepper.disputant.email_address' | translate
                }}"
                autocomplete="off"
              />
              <mat-error *ngIf="emailAddress.hasError('required')">{{
                "error.required" | translate
              }}</mat-error>
              <mat-error *ngIf="emailAddress.hasError('email')">{{
                "error.email_address" | translate
              }}</mat-error>
            </mat-form-field>
          </div>

          <div class="col-sm-6">
            <mat-form-field class="w-100">
              <input
                matInput
                placeholder="{{ 'stepper.disputant.birthdate' | translate }}"
                [max]="maxDateOfBirth"
                [matDatepicker]="picker"
                formControlName="birthdate"
                readonly
                (click)="picker.open()"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <!--[touchUi]="isMobile"-->
              <mat-datepicker #picker startView="multi-year"></mat-datepicker>
              <mat-error *ngIf="form.get('birthdate').hasError('required')">{{
                "error.required" | translate
              }}</mat-error>
            </mat-form-field>
          </div>
        </div>

        <app-alert type="info" icon="warning">
          <ng-container #alertContent class="alert-content">
            {{ "stepper.disputant.note" | translate }}
          </ng-container>
        </app-alert>
      </section>
    </form>
  </div>

  <ng-template #noTicket>
    <h2>No current ticket</h2>
  </ng-template>

  <!-- [secondaryActionButtonLabel]="prevBtnLabel"-->
  <app-page-footer
    (save)="onSubmit()"
    (back)="onBack()"
    [secondaryActionButtonIcon]="previousButtonIcon"
    [secondaryActionButtonKey]="previousButtonKey"
    [saveButtonKey]="saveButtonKey"
    [hasSecondaryAction]="true"
  ></app-page-footer>
</app-page>
