<hr class="d-print-none" />

<div class="dispute-footer w-100 mb-4 d-print-none">
  <div class="flex flex-last p-2">
    <div class="flex-2-col info">
      <div class="flex-last-info-content">
        <div class="p-2 dispute-footer-table">
          <span class="icon-col">
            <img class="icon-size1"
                 src="/assets/understand-icon-footer.svg" />
          </span>
          <span class="text-col">
            <strong>{{ "find_ticket.understand_ticket" | translate }}</strong>
            <div class="mt-2 text-body">
              {{ "find_ticket.understand_ticket_text_1" | translate }}
              <a href="https://understandmyticket.gov.bc.ca/ "
                 target="_blank"
                 rel="noopener">{{ "find_ticket.understand_ticket_text_2" | translate }}</a> 
                 {{ "find_ticket.understand_ticket_text_3" | translate }}
             </div>
          </span>
        </div>
      </div>
    </div>
    <div class="flex-2-col info">
      <div class="p-2 dispute-footer-table">
        <span class="icon-col">
          <img class="icon-size2"
               src="/assets/support-icon.svg" />
        </span>
        <span class="text-col">
          <strong>{{ "support.looking_support" | translate }}</strong>
          <div class="mt-2 text-body">
            {{ "label.contact" | translate }} <a href="mailto:Courts.TCO@gov.bc.ca">Couts.TCO@gov.bc.ca</a>. 
            {{ "support.support_text" | translate }}
          </div>
        </span>
      </div>
    </div>
  </div>  
</div>
<div class="dispute-footer w-100 mb-4 d-print-none p-2 mt-4">    
  <span>
    {{ "find_ticket.information" | translate }}
    <a href="mailto:Courts.TCO@gov.bc.ca">Courts.TCO@gov.bc.ca</a>.
  </span>      
</div>
