<hr class="d-print-none" />

<div class="dispute-footer w-100 mb-4 d-print-none">
  <div class="flex flex-last p-2">
    <div class="flex-2-col info">
      <div class="flex-last-info-content">
        <div class="p-2 dispute-footer-table">
          <span class="icon-col">
            <img class="icon-size1"
                 src="/assets/understand-icon-footer.svg" />
          </span>
          <span class="text-col">
            <strong>Understand your ticket</strong>
            <div class="mt-2 text-body">
              Use our
              <a href="https://understandmyticket.gov.bc.ca/ "
                 target="_blank"
                 rel="noopener">self-dispute tool</a> to understand your ticket options.
             </div>
          </span>
        </div>
      </div>
    </div>
    <div class="flex-2-col info">
      <div class="p-2 dispute-footer-table">
        <span class="icon-col">
          <img class="icon-size2"
               src="/assets/support-icon.svg" />
        </span>
        <span class="text-col">
          <strong>Looking for more support?</strong>
          <div class="mt-2 text-body">
            Contact the Violation Ticket Centre<br />
            <a href="mailto:Courts.TCO@gov.bc.ca">Courts.TCO@gov.bc.ca</a>,
            <strong> open weekdays 9 AM to 4 PM.</strong>
          </div>
        </span>
      </div>
    </div>
  </div>  
</div>
<div class="dispute-footer w-100 mb-4 d-print-none p-2 mt-4">    
  <span>
    Your information is collected by Court Services Branch under sections 26(c) of the Freedom of Information and Protection of Privacy Act 
    for the purpose of verifying your identity when you access your dispute using Traffic Court Online. Should you have any questions about 
    the collection of your personal information, please contact TCO Support at:
    <a href="mailto:Courts.TCO@gov.bc.ca">Courts.TCO@gov.bc.ca</a>.
  </span>      
</div>
