<h3 mat-dialog-title class="d-flex align-items-stretch">
  <mat-icon *ngIf="options.icon && !options.imageSrc" [color]="options.actionType"
    [ngStyle]="{'color': options.actionType === 'green' ? '#2ba242 !important' : ''}">
    {{ options.icon }}
  </mat-icon>
  <img *ngIf="options.imageSrc" [attr.src]="options.imageSrc" alt="" />
  <strong class="flex-grow-1" *ngIf="options.titleKey">
    <span [ngStyle]="{'color': options.actionType === 'green' ? '#2ba242' : ''}">
      {{ options.titleKey | translate }}
    </span>
  </strong>
</h3>
<mat-dialog-content>
  <p *ngIf="options.messageKey">{{ options.messageKey | translate }}</p>
  <ng-template appDialogContent></ng-template>
  <section *ngIf="options.data">
    <ng-container subHeader>
      <h3>{{ "label.final_disposition" | translate }}</h3>
    </ng-container>
    <div style="display: grid;" 
      [ngStyle]="{ 'grid-template-columns' : options.data.length == 3 ? '33% 33% 33%' : (options.data.length == 2 ? '50% 50%' : '100%')}">
      <ng-container *ngFor="let i of [0,1,2]">
        <div *ngIf="options.data[i]" style="display: grid; grid-template-columns: 100%">
          <span class="section-jj-grid-cell">
            <h3>Count {{i+1}}</h3>
          </span>
          <span class="section-jj-grid-cell">
            <span class="section-grid-header">Fine Amount Inc. Surcharge: </span>
            <span class="section-grid-text">{{ (options.data[i].totalFineAmount ? 
              (options.data[i].totalFineAmount | currency:'CAD':'symbol-narrow':'1.0-0') : '&nbsp;') }}</span>
          </span>
          <span class="section-jj-grid-cell">
            <span class="section-grid-header">Due Date: </span>
            <span class="section-grid-text">{{ options.data[i].revisedDueDate ?? options.data[i].dueDate | date: "dd-MMM-yyyy" : "UTC" }}</span>
          </span>
        </div>
      </ng-container>
    </div>
  </section>
</mat-dialog-content>
<mat-dialog-actions>
  <button *ngIf="!options.cancelHide" mat-stroked-button color="primary" [mat-dialog-close]="false" cdkFocusInitial
    class="my-2 me-2">
    {{ options.cancelTextKey }}
  </button>

  <span class="flex-grow-1"></span>

  <button *ngIf="!options.actionHide" [color]="options.actionType" mat-flat-button
    [ngStyle]="{'background-color': options.actionType === 'green' ? '#2ba242' : ''}" (click)="onConfirm()"
    class="my-2 me-1">
    {{ options.actionTextKey }}
  </button>

  <a *ngIf="options.actionLink" [attr.href]="options.actionLink.href" [attr.target]="options.actionLink.target">
    {{ options.actionLink.text }}
  </a>
</mat-dialog-actions>
