<div class="site-footer d-print-none">
  <div class="container">
    <ul class="site-footer-links ps-0">
      <li><a href="/">Home</a></li>
      <span class="divider">|</span>
      <li>
        <a href="https://www2.gov.bc.ca/gov/content/about-gov-bc-ca">About gov.bc.ca</a>
      </li>
      <span class="divider">|</span>
      <li>
        <a href="https://www2.gov.bc.ca/gov/content/home/disclaimer">Disclaimer</a>
      </li>
      <span class="divider">|</span>
      <li>
        <a href="https://www2.gov.bc.ca/gov/content/home/privacy">Privacy</a>
      </li>
      <span class="divider">|</span>
      <li>
        <a href="https://www2.gov.bc.ca/gov/content/home/accessibility">Accessibility</a>
      </li>
      <span class="divider">|</span>
      <li>
        <a href="https://www2.gov.bc.ca/gov/content/home/copyright">Copyright</a>
      </li>
      <span class="divider">|</span>
      <li>
        <a href="https://www2.gov.bc.ca/gov/content/home/get-help-with-government-services">Contact Us</a>
      </li>
      <span class="divider"></span>
    </ul>
  </div>
</div>
