@import "palette";

//
// MATERIAL BUTTON
//

.mat-mdc-outlined-button {
  &.mat-mdc-button-base.mat-primary {
    border-color: theme-palette(blue);

    &:hover {
      background-color: theme-palette(blue);
      color: white;
    }
  }
}

.mat-mdc-unelevated-button {
  &.mat-mdc-button-base.mat-accent {
    border: 1px solid theme-palette(yellow);
    color: theme-palette(blue);

    &:hover {
      border: 1px solid theme-palette(blue);
      background-color: theme-palette(blue);
      color: white;
    }
  }

  &.mat-mdc-button-base.mat-primary {
    border: 1px solid theme-palette(blue);

    &:hover {
      border: 1px solid theme-palette(blue);
      color: theme-palette(blue);
      background-color: white;
    }
  }
}

.mat-button-toggle-group {
  --mat-button-toggle-divider-color: var(--color-primary);
  border: 1px solid var(--color-primary);
}

.mat-button-toggle {
  color: var(--color-primary);
}

.mat-button-toggle-checked {
  --mat-button-toggle-selected-state-text-color: white;
  --mat-button-toggle-selected-state-background-color: var(--color-primary);
}
