<div mat-dialog-title class="d-flex justify-content-between">
  <h2>Image upload information and requirements </h2>
  <button mat-icon-button mat-dialog-close color="primary">
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <p>Upload an image of your ticket to see if it's already in the system.</p>

  <p class="my-2 text-bold">If you do not get a ticket search result</p>
  <p>If you have a handwritten ticket that starts with an A, you need to create your online ticket. Upload an image of your ticket to start. Follow the prompts.</p>
  <p>If you have an Intersection Safety Camera or eTicket and you  do not get a result with the information on your ticket, contact the Violation Ticket Centre at <a href="tel:1-888-661-8026">1-888-661-8026</a>.</p>
  <p class="my-2 text-bold">If you lost your ticket</p>
  <p>If you have lost your physical ticket, you must phone the
    police detachment you received the ticket from to get a copy
    of your ticket.</p>
  <p class="my-2 text-bold">For best ticket photo scanning results, follow these  instructions:</p>
  <ul>
    <li>Use a brightly lit area</li>
    <li>Take your photo on a plain, untextured background</li>
    <li>Crop your image as close to the edges as possible</li>
    <li>Ensure image is legible (no blurry text)</li>
  </ul>

  <p class="my-2 text-bold">Image specifications</p>
  <ul>
    <li>Acceptable formats: JPG, PNG or PDF</li>
    <li>Maximum size: 2 MB</li>
  </ul>
  <p><strong class="text-danger">NOTE: </strong>Please ensure your image meets these requirements or it may be rejected.</p>
</mat-dialog-content>
<mat-dialog-actions>
  <span class="flex-grow-1"></span>
  <button mat-button mat-dialog-close color="primary" class="my-2 me-1">
    Close window &#215;
  </button>
</mat-dialog-actions>
