<app-stepper-page>
  <app-page-header>
    <ng-container header>{{
      "stepper.overview.heading" | translate
    }}</ng-container>
    <ng-container subHeader>{{
      "stepper.overview.sub_heading" | translate
    }}</ng-container>
  </app-page-header>

  <app-dispute-ticket-summary [ticket]="ticket"></app-dispute-ticket-summary>

  <section class="mb-2">
    <div class="row">
      <div class="col">
        <app-alert type="warning" icon="warning">
          <ng-container #alertContent class="alert-content">
            <strong>
              Once a request has been submitted, you may not make changes.
              Please review and ensure details are correct before submission.
            </strong>
          </ng-container>
        </app-alert>
      </div>
    </div>
  </section>

  <!--
    [saveButtonLabel]="nextBtnLabel" -->
  <app-page-footer
    [secondaryActionButtonIcon]="previousButtonIcon"
    [secondaryActionButtonKey]="previousButtonKey"
    [saveButtonKey]="saveButtonKey"
    [hasSecondaryAction]="true"
    (save)="onSubmit()"
    (back)="onBack()"
  ></app-page-footer>
</app-stepper-page>
