<div fxFlex fxLayout="row wrap">
  <div fxFlex fxFlex.gt-md="30" *ngIf="tableFilterConfigs.dateSubmittedFrom || tableFilterConfigs.dateSubmittedTo">
    <div fxFlex="30">
      <mat-label class="vcenter"><span class="BC-Gov-15px-blue-text"><b>Date Submitted:</b></span></mat-label>
    </div>
    <div fxFlex>
      <mat-form-field *ngIf="tableFilterConfigs.dateSubmittedFrom" appearance="outline" class="dateField">
        <mat-label><span class="BC-Gov-15px-blue-text"><b>From:</b></span></mat-label>
        <input matInput [(ngModel)]="dataFilters.dateSubmittedFrom" type="text" placeholder="DD-MMM-YYYY"
          bsDatepicker (bsValueChange)="onApplyFilter('dateSubmittedFrom', $event)" autocomplete="off"
          [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY', containerClass: 'theme-dark-blue', isAnimated: true, 
          showWeekNumbers: false, adaptivePosition: true }" />
      </mat-form-field>
      <mat-form-field *ngIf="tableFilterConfigs.dateSubmittedTo" appearance="outline" class="dateField">
        <mat-label><span class="BC-Gov-15px-blue-text"><b>To:</b></span></mat-label>
        <input matInput [(ngModel)]="dataFilters.dateSubmittedTo" type="text" placeholder="DD-MMM-YYYY"
          bsDatepicker (bsValueChange)="onApplyFilter('dateSubmittedTo', $event)" autocomplete="off"
          [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY', containerClass: 'theme-dark-blue', isAnimated: true, 
          showWeekNumbers: false, adaptivePosition: true }" />
      </mat-form-field>
    </div>
  </div>
  <div fxFlex fxFlex.gt-md="30" *ngIf="tableFilterConfigs.decisionDateFrom || tableFilterConfigs.decisionDateTo">
    <div fxFlex="30">
      <mat-label class="vcenter"><span class="BC-Gov-15px-blue-text"><b>Decision Date:</b></span></mat-label>
    </div>
    <div fxFlex>
      <mat-form-field *ngIf="tableFilterConfigs.decisionDateFrom" appearance="outline" class="dateField">
        <mat-label><span class="BC-Gov-15px-blue-text"><b>From:</b></span></mat-label>
        <input matInput [(ngModel)]="dataFilters.decisionDateFrom" type="text" placeholder="DD-MMM-YYYY"
          bsDatepicker (bsValueChange)="onApplyFilter('decisionDateFrom', $event)" autocomplete="off"
          [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY', containerClass: 'theme-dark-blue', isAnimated: true, 
          showWeekNumbers: false, adaptivePosition: true }" />
      </mat-form-field>
      <mat-form-field *ngIf="tableFilterConfigs.decisionDateTo" appearance="outline" class="dateField">
        <mat-label><span class="BC-Gov-15px-blue-text"><b>To:</b></span></mat-label>
        <input matInput [(ngModel)]="dataFilters.decisionDateTo" type="text" placeholder="DD-MMM-YYYY"
          bsDatepicker (bsValueChange)="onApplyFilter('decisionDateTo', $event)" autocomplete="off"
          [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY', containerClass: 'theme-dark-blue', isAnimated: true, 
          showWeekNumbers: false, adaptivePosition: true }" />
      </mat-form-field>
    </div>
  </div>
  <div fxFlex fxFlex.gt-md="30" *ngIf="tableFilterConfigs.ticketNumber">
    <div fxFlex="30">
      <label class="vcenter" for="ticketNumber"><span class="BC-Gov-15px-blue-text"><b>Ticket Number:</b></span></label>
    </div>
    <div fxFlex>
      <mat-form-field appearance="outline">
        <input id="ticketNumber" name="ticketNumber" matInput [(ngModel)]="dataFilters.ticketNumber" type="search"
          (keyup)="onApplyFilter('ticketNumber', $event.target.value)" autocomplete="off" class="input" />
      </mat-form-field>
    </div>
  </div>
  <div fxFlex fxFlex.gt-md="20">
    <div class="vcenter">
      <button mat-button (click)="resetSearchFilters()" class="reset-filters">Reset Filters</button>
    </div>
  </div>
  <ng-content select="[pagination]"></ng-content>
  <div fxFlex fxFlex.gt-md="30" *ngIf="tableFilterConfigs.disputantSurname">
    <div fxFlex="30">
      <label class="vcenter" for="surname"><span class="BC-Gov-15px-blue-text"><b>Surname:</b></span></label>
    </div>
    <div fxFlex>
      <mat-form-field appearance="outline">
        <input id="surname" name="surname" matInput [(ngModel)]="dataFilters.disputantSurname" type="search"
          (keyup)="onApplyFilter('disputantSurname', $event.target.value)" autocomplete="off" class="input" />
      </mat-form-field>
    </div>
  </div>
  <div fxFlex fxFlex.gt-md="30" *ngIf="tableFilterConfigs.occamDisputantName">
    <div fxFlex="30">
      <label class="vcenter" for="surname"><span class="BC-Gov-15px-blue-text"><b>Surname:</b></span></label>
    </div>
    <div fxFlex>
      <mat-form-field appearance="outline">
        <input id="surname" name="surname" matInput [(ngModel)]="dataFilters.occamDisputantName" type="search"
          (keyup)="onApplyFilter('occamDisputantName', $event.target.value)" autocomplete="off" class="input" />
      </mat-form-field>
    </div>
  </div>
  <div fxFlex fxFlex.gt-md="30" *ngIf="tableFilterConfigs.status">
    <div fxFlex="30">
      <label class="vcenter" for="status" (click)="statusCtl.open()"><span
          class="BC-Gov-15px-blue-text"><b>Status:</b></span></label>
    </div>
    <div fxFlex>
      <div>
        <mat-form-field appearance="outline">
          <mat-select #statusCtl matNativeControl name="status" [ngModel]="dataFilters.status"
            (selectionChange)="onApplyFilter('status', $event.value)">
            <mat-option value="">{{ statusFilterDefaultText }}</mat-option>
            <mat-option [value]="item" *ngFor="let item of statusFilterOptions">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div fxFlex fxFlex.gt-md="30" *ngIf="tableFilterConfigs.team">
    <div fxFlex="30">
      <label class="vcenter" for="team" (click)="teamCtl.open()"><span
          class="BC-Gov-15px-blue-text"><b>Team:</b></span></label>
    </div>
    <div fxFlex>
      <div>
        <mat-form-field appearance="outline">
          <mat-select #teamCtl matNativeControl name="team" [ngModel]="dataFilters.team"
            (selectionChange)="onApplyFilter('team', $event.value)">
            <mat-option value="">-- select --</mat-option>
            <mat-option [value]="team" *ngFor="let team of courthouseTeamNames">Team {{team}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <ng-content select="[recordCount]"></ng-content>
  <ng-content select="[paginationInfo]"></ng-content>
  <div fxFlex fxFlex.gt-md="30" *ngIf="tableFilterConfigs.courthouseLocation">
    <div fxFlex="30">
      <label class="vcenter" for="courthouseLocation"><span class="BC-Gov-15px-blue-text"><b>Courthouse
            Location:</b></span></label>
    </div>
    <div fxFlex>
      <mat-form-field appearance="outline">
        <input id="courthouseLocation" name="courthouseLocation" matInput [(ngModel)]="dataFilters.courthouseLocation"
          type="search" (keyup)="onApplyFilter('courthouseLocation', $event.target.value)" autocomplete="off"
          class="input" />
      </mat-form-field>
    </div>
  </div>
</div>