<app-page>
  <ng-container stickyToolBar>
    <div class="app-width" style="padding-top: 1.5vh; padding-bottom: 1.5vh;" fxLayout="row">
      <div fxFlex>
        <button mat-button (click)="onBackClicked()" color="primary">
          <mat-icon inline="true">arrow_back</mat-icon> Back
        </button>
      </div>
      <div>
        <button mat-raised-button *ngIf="isSupportStaff && !isSSEditMode" (click)="isSSEditMode=true"
          class="form-button">{{ "common.button.edit" | translate }}</button>
        <button mat-raised-button *ngIf="isSSEditMode" (click)="onSupportStaffSave()" class="form-button"
          [disabled]="!ticketInformationForm.valid">{{ "common.button.save" | translate }}</button>
        <button mat-raised-button *ngIf="isSSEditMode" (click)="onSupportStaffCancel()" class="form-button">{{
          "common.button.cancel" | translate }}</button>

        <button mat-raised-button [matMenuTriggerFor]="gotoMenu">Go to</button>
        <mat-menu #gotoMenu="matMenu" yPosition="below">
          <button mat-menu-item (click)="goTo('disputeDetails')">Dispute Details</button>
          <button mat-menu-item (click)="goTo('uploadedDocuments')">Uploaded Documents</button>
          <button mat-menu-item (click)="goTo('fileHistory')">File History</button>
          <button mat-menu-item (click)="goTo('fileRemarks')">File Remarks</button>
        </mat-menu>
        <button mat-raised-button (click)="onPrint()">Print</button>
        <button mat-raised-button [matMenuTriggerFor]="printMenu">Print Options</button>&nbsp;
        <mat-menu #printMenu="matMenu" yPosition="below">
          <button mat-menu-item (click)="printOptions.disputeDetails=!printOptions.disputeDetails"><mat-icon
              *ngIf="printOptions.disputeDetails">check</mat-icon><mat-icon
              *ngIf="!printOptions.disputeDetails">close</mat-icon>Dispute Details</button>
          <button mat-menu-item (click)="printOptions.uploadedDocuments=!printOptions.uploadedDocuments"><mat-icon
              *ngIf="printOptions.uploadedDocuments">check</mat-icon><mat-icon
              *ngIf="!printOptions.uploadedDocuments">close</mat-icon>Uploaded Documents</button>
          <button mat-menu-item (click)="printOptions.fileHistory=!printOptions.fileHistory"><mat-icon
              *ngIf="printOptions.fileHistory">check</mat-icon><mat-icon
              *ngIf="!printOptions.fileHistory">close</mat-icon>File History</button>
          <button mat-menu-item (click)="printOptions.fileRemarks=!printOptions.fileRemarks"><mat-icon
              *ngIf="printOptions.fileRemarks">check</mat-icon><mat-icon
              *ngIf="!printOptions.fileRemarks">close</mat-icon>File Remarks</button>
        </mat-menu>
      </div>
    </div>
  </ng-container>
  <div [ngClass]="{'contact-info' : type === 'ticket'}" style="padding-bottom: 1.5vh;">
    <div *ngIf="retrieving === true">
      <span>
        <h3>Retrieving ticket information...</h3>
      </span>
    </div>

    <span #disputeDetails></span>
    <div *ngIf="lastUpdatedJJDispute && retrieving === false">
      <div style="float:inline">
        <span style="float:left">
          <h1><b>
              <span *ngIf="jjDisputeInfo.hearingType === HearingType.WrittenReasons">Written Reasons
                Dispute&nbsp;</span>
              <span
                *ngIf="jjDisputeInfo.hearingType === HearingType.CourtAppearance && jjDisputeInfo.status !== DisputeStatus.RequireCourtHearing">Hearing
                Ticket Dispute</span>
              <span *ngIf="jjDisputeInfo.status === DisputeStatus.RequireCourtHearing">REQUIRES COURT HEARING</span>
              - {{ lastUpdatedJJDispute.occamDisputantName }} </b></h1>
        </span>
        <span style="float:right">
          <span *ngIf="jjDisputeInfo.multipleOfficersYn===MultipleOfficers.Y"><button class="mo-btn" disabled="true">{{
              "label.multiple_officers_btn" | translate }}</button></span>
          <span *ngIf="jjDisputeInfo.accidentYn===Accident.Y"><button class="accident-btn" disabled="true">{{
              "label.accident_btn" | translate }}</button></span>
          <span class="ticket-number">Ticket Number: {{ lastUpdatedJJDispute.ticketNumber }}</span>
        </span>
      </div> <br /><br />
      <section>
        <ng-container subHeader>
          <span>
            <h3>Violation Ticket Information</h3>
          </span>
        </ng-container>
        <form [formGroup]="ticketInformationForm">
          <div style="display: grid; grid-template-columns: auto auto auto auto">
            <span class="section-grid-cell">
              <p class="section-grid-header">{{ "label.surname" | translate }}</p>
              <p class="section-grid-text" *ngIf="!isSSEditMode">{{ lastUpdatedJJDispute.occamDisputantSurnameNm }}</p>
              <mat-form-field appearance="outline" *ngIf="isSSEditMode">
                <input matInput formControlName="occamDisputantSurnameNm">
                <mat-error *ngIf="ticketInformationForm.controls.occamDisputantSurnameNm.hasError('maxlength')">{{
                  "error.max_length" | translate }}30</mat-error>
              </mat-form-field>
            </span>
            <span class="section-grid-cell">
              <p class="section-grid-header" *ngIf="!isSSEditMode">{{ "label.given_names" | translate }}</p>
              <p class="section-grid-text" *ngIf="!isSSEditMode">{{ lastUpdatedJJDispute.occamDisputantGivenNames }}</p>
              <p class="section-grid-header" *ngIf="isSSEditMode">{{ "label.given_name_1" | translate }}</p>
              <mat-form-field appearance="outline" *ngIf="isSSEditMode">
                <input matInput formControlName="occamDisputantGiven1Nm">
                <mat-error *ngIf="ticketInformationForm.controls.occamDisputantGiven1Nm.hasError('maxlength')">{{
                  "error.max_length" | translate }}30</mat-error>
              </mat-form-field>
              <p class="section-grid-header" *ngIf="isSSEditMode">{{ "label.given_name_2" | translate }}</p>
              <mat-form-field appearance="outline" *ngIf="isSSEditMode">
                <input matInput formControlName="occamDisputantGiven2Nm">
                <mat-error *ngIf="ticketInformationForm.controls.occamDisputantGiven2Nm.hasError('maxlength')">{{
                  "error.max_length" | translate }}30</mat-error>
              </mat-form-field>
              <p class="section-grid-header" *ngIf="isSSEditMode">{{ "label.given_name_3" | translate }}</p>
              <mat-form-field appearance="outline" *ngIf="isSSEditMode">
                <input matInput formControlName="occamDisputantGiven3Nm">
                <mat-error *ngIf="ticketInformationForm.controls.occamDisputantGiven3Nm.hasError('maxlength')">{{
                  "error.max_length" | translate }}30</mat-error>
              </mat-form-field>
            </span>
            <span class="section-grid-cell">
              <p class="section-grid-header">Date of Birth</p>
              <p class="section-grid-text">{{ lastUpdatedJJDispute.disputantBirthdate | date: "dd-MMM-yyyy" : "UTC" }}</p>
            </span>
            <span class="section-grid-cell">
              <p class="section-grid-header">Driver's Licence Number</p>
              <p class="section-grid-text">{{ lastUpdatedJJDispute.driversLicenceNumber }}</p>
            </span>
            <span class="section-grid-cell">
              <p class="section-grid-header">Violation Date</p>
              <p class="section-grid-text">{{ lastUpdatedJJDispute.issuedTs | date: "MMM dd, yyyy HH:mm" : "UTC" }}</p>
            </span>
            <span class="section-grid-cell">
              <p class="section-grid-header">Violation Time</p>
              <p class="section-grid-text">{{ lastUpdatedJJDispute.issuedTs | date: "HH:mm" : "UTC" }}</p>
            </span>
            <span class="section-grid-cell">
              <p class="section-grid-header">Online Submission Date</p>
              <p class="section-grid-text">{{ lastUpdatedJJDispute.submittedTs | date: "MMM dd, yyyy" : "UTC" }}</p>
            </span>
            <span class="section-grid-cell">
              <p class="section-grid-header">Date Received from ICBC</p>
              <p class="section-grid-text">{{ lastUpdatedJJDispute.icbcReceivedDate | date: "MMM dd, yyyy" : "UTC" }}
              </p>
            </span>
            <ng-container *ngIf="type !== 'ticket'">
              <span class="section-grid-cell">
                <p class="section-grid-header">Court Location Code</p>
                <p class="section-grid-text">{{ lastUpdatedJJDispute.courtAgenId }}</p>
              </span>
              <span class="section-grid-cell">
                <p class="section-grid-header">Court Location</p>
                <p class="section-grid-text">{{ lastUpdatedJJDispute.courthouseLocation }}</p>
              </span>
            </ng-container>
            <span class="section-grid-cell">
              <p class="section-grid-header">Location of Offence</p>
              <p class="section-grid-text"> {{ lastUpdatedJJDispute.offenceLocation }}</p>
            </span>
            <span class="section-grid-cell">
              <p class="section-grid-header">Organization/Detachment/Location</p>
              <p class="section-grid-text">{{ lastUpdatedJJDispute.policeDetachment }}</p>
            </span>
          </div>
        </form>
      </section><br />
      <section>
        <ng-container subHeader>
          <span>
            <h3>Contact Information</h3>
          </span>
        </ng-container>
        <form [formGroup]="contactInformationForm">
          <div style="display: grid; grid-template-columns: auto auto auto auto">
            <span class="section-grid-cell">
              <p class="section-grid-header">{{ "label.surname" | translate }}</p>
              <p class="section-grid-text"
                *ngIf="!(isSSEditMode && lastUpdatedJJDispute.contactType !== ContactType.Individual)">{{
                lastUpdatedJJDispute.contactType === ContactType.Individual ?
                lastUpdatedJJDispute.occamDisputantSurnameNm : lastUpdatedJJDispute.contactSurname }}</p>
              <mat-form-field appearance="outline"
                *ngIf="(isSSEditMode && lastUpdatedJJDispute.contactType !== ContactType.Individual)">
                <input matInput formControlName="contactSurname">
                <mat-error *ngIf="contactInformationForm.controls.contactSurname.hasError('maxlength')">{{
                  "error.max_length" | translate }}30</mat-error>
              </mat-form-field>
            </span>
            <span class="section-grid-cell">
              <p class="section-grid-header"
                *ngIf="!(isSSEditMode && lastUpdatedJJDispute.contactType !== ContactType.Individual)">{{
                "label.given_names" | translate }}</p>
              <p class="section-grid-text"
                *ngIf="!(isSSEditMode && lastUpdatedJJDispute.contactType !== ContactType.Individual)">{{
                lastUpdatedJJDispute.contactType === ContactType.Individual ?
                lastUpdatedJJDispute.occamDisputantGivenNames : lastUpdatedJJDispute.contactGivenNames }}</p>
              <p class="section-grid-header"
                *ngIf="(isSSEditMode && lastUpdatedJJDispute.contactType !== ContactType.Individual)">{{
                "label.given_name_1" | translate }}</p>
              <mat-form-field appearance="outline"
                *ngIf="(isSSEditMode && lastUpdatedJJDispute.contactType !== ContactType.Individual)">
                <input matInput formControlName="contactGivenName1">
                <mat-error *ngIf="contactInformationForm.controls.contactGivenName1.hasError('maxlength')">{{
                  "error.max_length" | translate }}30</mat-error>
              </mat-form-field>
              <p class="section-grid-header"
                *ngIf="(isSSEditMode && lastUpdatedJJDispute.contactType !== ContactType.Individual)">{{
                "label.given_name_2" | translate }}</p>
              <mat-form-field appearance="outline"
                *ngIf="(isSSEditMode && lastUpdatedJJDispute.contactType !== ContactType.Individual)">
                <input matInput formControlName="contactGivenName2">
                <mat-error *ngIf="contactInformationForm.controls.contactGivenName2.hasError('maxlength')">{{
                  "error.max_length" | translate }}30</mat-error>
              </mat-form-field>
              <p class="section-grid-header"
                *ngIf="(isSSEditMode && lastUpdatedJJDispute.contactType !== ContactType.Individual)">{{
                "label.given_name_3" | translate }}</p>
              <mat-form-field appearance="outline"
                *ngIf="(isSSEditMode && lastUpdatedJJDispute.contactType !== ContactType.Individual)">
                <input matInput formControlName="contactGivenName3">
                <mat-error *ngIf="contactInformationForm.controls.contactGivenName3.hasError('maxlength')">{{
                  "error.max_length" | translate }}30</mat-error>
              </mat-form-field>
            </span>
            <span class="section-grid-cell" style="grid-column: span 2">
              <p class="section-grid-header">Address</p>
              <p class="section-grid-text">{{ lastUpdatedJJDispute.address }}</p>
            </span>
            <span class="section-grid-cell">
              <p class="section-grid-header">Prov / State of DL</p>
              <p class="section-grid-text">{{ lastUpdatedJJDispute.driversLicenceProvince }}</p>
            </span>
            <span class="section-grid-cell">
              <p class="section-grid-header">Email</p>
              <p class="section-grid-text">{{ lastUpdatedJJDispute.emailAddress }}</p>
            </span>
          </div>
        </form>
      </section><br />
      <section *ngIf="jjDisputeInfo.hearingType === HearingType.CourtAppearance">
        <ng-container subHeader>
          <span>
            <h3>Court Options</h3>
          </span>
        </ng-container>
        <form [formGroup]="courtOptionsForm">
          <div style="display: grid; grid-template-columns: auto auto auto">
            <span class="section-grid-cell">
              <p class="section-grid-header" *ngIf="!isSSEditMode">{{ "label.legal_counsel_name" | translate }}</p>
              <p class="section-grid-text" *ngIf="!isSSEditMode">
                {{ lastUpdatedJJDispute.lawyerGivenName1 }}
                {{ lastUpdatedJJDispute.lawyerGivenName2 }}
                {{ lastUpdatedJJDispute.lawyerGivenName3 }}
                {{ lastUpdatedJJDispute.lawyerSurname }}
              </p>
              <p class="section-grid-header" *ngIf="isSSEditMode">{{ "label.legal_counsel_given_name_1" | translate }}
              </p>
              <mat-form-field appearance="outline" *ngIf="isSSEditMode">
                <input matInput formControlName="lawyerGivenName1">
                <mat-error *ngIf="courtOptionsForm.controls.lawyerGivenName1.hasError('maxlength')">{{
                  "error.max_length" | translate }}30</mat-error>
              </mat-form-field>
              <p class="section-grid-header" *ngIf="isSSEditMode">{{ "label.legal_counsel_given_name_2" | translate }}
              </p>
              <mat-form-field appearance="outline" *ngIf="isSSEditMode">
                <input matInput formControlName="lawyerGivenName2">
                <mat-error *ngIf="courtOptionsForm.controls.lawyerGivenName2.hasError('maxlength')">{{
                  "error.max_length" | translate }}30</mat-error>
              </mat-form-field>
              <p class="section-grid-header" *ngIf="isSSEditMode">{{ "label.legal_counsel_given_name_3" | translate }}
              </p>
              <mat-form-field appearance="outline" *ngIf="isSSEditMode">
                <input matInput formControlName="lawyerGivenName3">
                <mat-error *ngIf="courtOptionsForm.controls.lawyerGivenName3.hasError('maxlength')">{{
                  "error.max_length" | translate }}30</mat-error>
              </mat-form-field>
              <p class="section-grid-header" *ngIf="isSSEditMode">{{ "label.legal_counsel_surname" | translate }}</p>
              <mat-form-field appearance="outline" *ngIf="isSSEditMode">
                <input matInput formControlName="lawyerSurname">
                <mat-error *ngIf="courtOptionsForm.controls.lawyerSurname.hasError('maxlength')">{{ "error.max_length" |
                  translate }}30</mat-error>
              </mat-form-field>
            </span>
            <span class="section-grid-cell">
              <p class="section-grid-header">{{ "label.legal_counsel_firm" | translate }}</p>
              <p class="section-grid-text" *ngIf="!isSSEditMode">{{ lastUpdatedJJDispute.lawFirmName }}</p>
              <mat-form-field appearance="outline" *ngIf="isSSEditMode">
                <input matInput formControlName="lawFirmName">
                <mat-error *ngIf="courtOptionsForm.controls.lawFirmName.hasError('maxlength')">{{ "error.max_length" |
                  translate }}200</mat-error>
              </mat-form-field>
            </span>
            <span class="section-grid-cell">
              <p class="section-grid-header">{{ "label.defence_witness" | translate }}</p>
              <p class="section-grid-text" *ngIf="!isSSEditMode">{{ lastUpdatedJJDispute.witnessNo }}</p>
              <mat-form-field appearance="outline" *ngIf="isSSEditMode">
                <input matInput formControlName="witnessNo" maxlength="10" type="number">
                <mat-error *ngIf="courtOptionsForm.controls.witnessNo.hasError('min')">{{ "error.min_value" | translate
                  }}0</mat-error>
                <mat-error *ngIf="courtOptionsForm.controls.witnessNo.hasError('max')">{{ "error.max_value" | translate
                  }}2147483647</mat-error>
              </mat-form-field>
            </span>
            <span class="section-grid-cell">
              <p class="section-grid-header">{{ "label.interpreter" | translate }}</p>
              <p class="section-grid-text" *ngIf="!isSSEditMode">{{ lastUpdatedJJDispute.interpreterLanguage }}</p>
              <mat-form-field appearance="outline" *ngIf="isSSEditMode">
                <mat-select formControlName="interpreterLanguageCd" placeholder="Language">
                  <mat-option [value]=""></mat-option>
                  <mat-option *ngFor="let lang of languages" [value]="lang.code">{{ lang.description }}</mat-option>
                </mat-select>
              </mat-form-field>
            </span>
            <span class="section-grid-cell">
              <!-- Comment out this field for now as BA thinks it may not be necessary and is not really used. -->
              <!--                
              <p class="section-grid-header">Disputant Attendance Type</p>
              <p class="section-grid-text" *ngIf="!isSSEditMode">{{ lastUpdatedJJDispute.disputantAttendanceType }}</p>
              <mat-form-field appearance="outline" *ngIf="isSSEditMode">
                <mat-select formControlName="disputantAttendanceType" placeholder="Attendance">
                  <mat-option [value]="AttendanceType.InPerson">{{ "attendanceType.in_person" | translate }}</mat-option>
                  <mat-option [value]="AttendanceType.MsteamsAudio">{{ "attendanceType.msteams_audio" | translate }}</mat-option>
                  <mat-option [value]="AttendanceType.MsteamsVideo">{{ "attendanceType.msteams_video" | translate }}</mat-option>
                  <mat-option [value]="AttendanceType.TelephoneConference">{{ "attendanceType.telephone_conference" | translate }}</mat-option>
                  <mat-option [value]="AttendanceType.WrittenReasons">{{ "attendanceType.written_reasons" | translate }}</mat-option>
                  <mat-option [value]="AttendanceType.VideoConference">{{ "attendanceType.video_conference" | translate }}</mat-option>
                </mat-select>
              </mat-form-field>
              -->
            </span>
            <span class="section-grid-cell">
              <p class="section-grid-header">&nbsp;</p>
              <p class="section-grid-text">&nbsp;</p>
            </span>
          </div>
        </form>
      </section><br />
      <section *ngIf="jjDisputeInfo.hearingType === HearingType.CourtAppearance">
        <ng-container subHeader>
          <span>
            <h3>Court Appearance</h3>
          </span>
        </ng-container>
        <form [formGroup]="courtAppearanceForm" novalidate>
          <div
            style="display: grid; grid-template-columns: auto auto auto auto minmax(210px, 1fr) auto auto auto auto auto auto;">
            <span class="section-grid-cell">
              <p class="section-grid-header">Appearance Date/Time</p>
              <p class="section-grid-text">
                {{ lastUpdatedJJDispute.mostRecentCourtAppearance?.appearanceTs | date: "MM/dd/YYYY HH:mm" : "UTC" }}
              </p>
            </span>
            <span class="section-grid-cell">
              <p class="section-grid-header">Room</p>
              <p class="section-grid-text">
                <span>{{ courtAppearanceForm?.value.room }}</span>
              </p>
            </span>
            <span class="section-grid-cell">
              <p class="section-grid-header">Reason</p>
              <p class="section-grid-text">
                <span>{{ courtAppearanceForm?.value.reason }} </span>
            </span>
            <span class="section-grid-cell">
              <p class="section-grid-header">APP (P/N/A)</p>
              <p class="section-grid-text">
                <span *ngIf="isViewOnly && !isSSEditMode">{{ courtAppearanceForm?.value.appCd }}</span>
                <mat-form-field appearance="outline" *ngIf="!isViewOnly || isSSEditMode">
                  <mat-select formControlName="appCd" (selectionChange)="onUpdateAPPCd()">
                    <mat-option [value]="RoPApp.P">{{ RoPApp.P }}</mat-option>
                    <mat-option [value]="RoPApp.N">{{ RoPApp.N }}</mat-option>
                    <mat-option [value]="RoPApp.A">{{ RoPApp.A }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </p>
            </span>
            <span class="section-grid-cell">
              <p class="section-grid-header">No APP</p>
              <p class="section-grid-text">
                <span *ngIf="((isViewOnly && !isSSEditMode) || !isNoAppEnabled) && courtAppearanceForm.value.noAppTs">
                  {{ courtAppearanceForm?.value.noAppTs | date: "yyyy-MM-dd HH:mm" }}
                </span>
                <span *ngIf="(!isViewOnly || isSSEditMode) && isNoAppEnabled">
                  <mat-form-field appearance="outline" class="datetime-picker">
                    <mat-hint>mm/dd/yyyy, hh:mm</mat-hint>
                    <mat-datetimepicker-toggle [for]="datetimePicker" matSuffix></mat-datetimepicker-toggle>
                    <mat-datetimepicker #datetimePicker type="datetime" openOnFocus="true" timeInterval="5">
                    </mat-datetimepicker>
                    <input matInput formControlName="noAppTs" [matDatetimepicker]="datetimePicker"
                      autocomplete="false" />
                  </mat-form-field>
                  <button mat-raised-button class="form-button-secondary" (click)="updateNoAppTsToNow()">Now</button>
                </span>
              </p>
            </span>
            <span class="section-grid-cell">
              <p class="section-grid-header">CLERK REC.</p>
              <p class="section-grid-text">
                <span *ngIf="(isViewOnly && !isSSEditMode)">{{ courtAppearanceForm?.value.clerkRecord }}</span>
                <mat-form-field appearance="outline" *ngIf="(!isViewOnly || isSSEditMode)">
                  <input matInput formControlName="clerkRecord" maxlength="30">
                  <mat-error *ngIf="courtAppearanceForm.controls.clerkRecord.hasError('maxlength')">{{
                    "error.max_length" | translate }}100</mat-error>
                </mat-form-field>
              </p>
            </span>
            <span class="section-grid-cell">
              <p class="section-grid-header">DEF. COUNSEL</p>
              <p class="section-grid-text">
                <span *ngIf="(isViewOnly && !isSSEditMode)">{{ courtAppearanceForm?.value.defenceCounsel }}</span>
                <mat-form-field appearance="outline" *ngIf="(!isViewOnly || isSSEditMode)">
                  <input matInput formControlName="defenceCounsel" maxlength="30">
                  <mat-error *ngIf="courtAppearanceForm.controls.defenceCounsel.hasError('maxlength')">{{
                    "error.max_length" | translate }}100</mat-error>
                </mat-form-field>
              </p>
            </span>
            <span class="section-grid-cell">
              <p class="section-grid-header">Def Att</p>
              <p class="section-grid-text">
                <span *ngIf="isViewOnly">{{ courtAppearanceForm?.value.dattCd }}</span>
                <mat-form-field appearance="outline" *ngIf="!isViewOnly">
                  <mat-select formControlName="dattCd">
                    <mat-option [value]="RoPDatt.A">{{ RoPDatt.A }}</mat-option>
                    <mat-option [value]="RoPDatt.C">{{ RoPDatt.C }}</mat-option>
                    <mat-option [value]="RoPDatt.N">{{ RoPDatt.N }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </p>
            </span>
            <span class="section-grid-cell">
              <p class="section-grid-header">Crown</p>
              <p class="section-grid-text">
                <span *ngIf="isViewOnly && !isSSEditMode">{{ courtAppearanceForm?.value.crown }}</span>
                <mat-form-field appearance="outline" *ngIf="!isViewOnly || isSSEditMode">
                  <mat-select formControlName="crown">
                    <mat-option [value]="RoPCrown.P">{{ RoPCrown.P }}</mat-option>
                    <mat-option [value]="RoPCrown.N">{{ RoPCrown.N }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </p>
            </span>
            <span class="section-grid-cell">
              <p class="section-grid-header">Seized</p>
              <p class="section-grid-text">
                <mat-form-field appearance="outline" *ngIf="!isViewOnly">
                  <mat-select formControlName="jjSeized">
                    <mat-option [value]="RoPSeized.Y">{{ RoPSeized.Y }}</mat-option>
                    <mat-option [value]="RoPSeized.N">{{ RoPSeized.N }}</mat-option>
                  </mat-select>
                </mat-form-field>
                <span *ngIf="isViewOnly">{{ courtAppearanceForm?.value.jjSeized }}</span>
              </p>
            </span>
            <span class="section-grid-cell">
              <p class="section-grid-header">Judicial Justice</p>
              <p class="section-grid-text">
                <span>{{ courtAppearanceForm?.value.adjudicator }}</span>
              </p>
            </span>
            <span class="section-grid-cell" style="grid-column: span 11">
              <p class="section-grid-header">JJ endorsements:</p>
              <p class="section-grid-text">
                <textarea *ngIf="!isViewOnly" formControlName="comments" style="width:100%; background:#fffee6"
                  rows="8"> </textarea>
                <span class="formatComments" *ngIf="isViewOnly">{{ courtAppearanceForm.get('comments').value }}</span>
              </p>
            </span>
          </div>
        </form>
      </section><br />
      <section *ngIf="jjDisputeInfo.hearingType === HearingType.CourtAppearance">
        <ng-container subHeader>
          <span>
            <h3>Court Appearances History</h3>
          </span>
        </ng-container>
        <app-jj-dispute-court-appearances [data]="lastUpdatedJJDispute.jjDisputeCourtAppearanceRoPs">
        </app-jj-dispute-court-appearances>
      </section>
      <section>
        <ng-container subHeader>
          <span>
            <h3>Written Reasons</h3>
          </span>
        </ng-container>
        <!-- Signature Panel -->
        <h4 *ngIf="jjDisputeInfo.hearingType === HearingType.WrittenReasons">{{ "label.signature" | translate }}</h4>
        <div class="container signature-box" *ngIf="jjDisputeInfo.hearingType === HearingType.WrittenReasons">
          <div class="row justify-content-start custom-row">
            <div class="col-2 custom-column">
              <strong>{{ "label.signatory_option_1" | translate }}</strong>
            </div>
            <div class="col-4 custom-column">
              <span *ngIf="lastUpdatedJJDispute.signatoryType === SignatoryType.D" style="font-size: small">{{
                lastUpdatedJJDispute.signatoryName }}</span>
            </div>
          </div>
          <div class="row justify-content-start">
            <div class="col-2 custom-column">
              <strong>{{ "label.signatory_option_2" | translate }}</strong>
            </div>
            <div class="col-4 custom-column">
              <span *ngIf="lastUpdatedJJDispute.signatoryType === SignatoryType.A" style="font-size: small">{{
                lastUpdatedJJDispute.signatoryName }}</span>
            </div>
          </div>
        </div>
        <!-- Signature Panel End -->
        <div>
          <h4><b>Fine Reduction</b>
            <span *ngIf="fineReductionCountsHeading.length>0">&nbsp;-&nbsp;{{ fineReductionCountsHeading }}</span>
          </h4>
          <span style="font-size: small">{{ lastUpdatedJJDispute.fineReductionReason }}</span>
          <br /><br />
        </div>
        <div>
          <h4><b>Time to Pay</b>
            <span *ngIf="timeToPayCountsHeading.length>0">&nbsp;-&nbsp;{{ timeToPayCountsHeading}}</span>
          </h4>
          <span style="font-size: small">{{ lastUpdatedJJDispute.timeToPayReason }}</span>
        </div>
      </section><br />
      <section>
        <ng-container subHeader>
          <span>
            <h3>Count(s)</h3>
          </span>
        </ng-container>
        <div style="display: grid; grid-template-columns: 33% 33% 33%">
          <span *ngFor="let i of [1,2,3]" style="border:1px solid black; ">
            <app-jj-count [count]="i" [jjDisputeInfo]="lastUpdatedJJDispute" [jjDisputedCount]="getJJDisputedCount(i)"
              (jjDisputedCountUpdate)="updateFinalDispositionCount($event)" [type]="type" [isViewOnly]="isViewOnly"
              [isSSEditMode]="isSSEditMode">
            </app-jj-count>
          </span>
        </div>
      </section><br />
      <div fxLayout="row" *ngIf="type === 'ticket'" style="padding-bottom: 2rem;">
        <div fxFlex="40">
          <div fxFlex>
            <h3>Signed By</h3>
            <div>{{ lastUpdatedJJDispute.decisionMadeBy }}</div>
          </div>
          <div fxFlex></div>
          <div fxFlex>
            <h3>Date Signed</h3>
            <div>{{ lastUpdatedJJDispute.jjDecisionDate | date: "MMM dd, yyyy" }}</div>
          </div>
        </div>
      </div>

      <span #uploadedDocuments></span>
      <mat-accordion multi [togglePosition]="'before'" class="info-expansion-panel">
        <mat-expansion-panel [expanded]="true" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span style="color: black;"><b>Documents</b></span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <span><b>JUSTIN Documents</b></span><br />
          <span *ngIf="lastUpdatedJJDispute.electronicTicketYn === ElectronicTicket.N">Electronic Ticket (not
            available)</span>
          <button type="button" class="linkbutton" (click)="onGetJustinDocument(DocumentType.TicketImage)"
            *ngIf="lastUpdatedJJDispute.electronicTicketYn === ElectronicTicket.Y">Electronic Ticket
            Image</button><br />
          <span *ngIf="lastUpdatedJJDispute.noticeOfHearingYn === NoticeOfHearing.N">Notice Of Hearing (not
            available)</span>
          <button type="linkbutton" class="linkbutton" (click)="onGetJustinDocument(DocumentType.NoticeOfDispute)"
            *ngIf="lastUpdatedJJDispute.noticeOfHearingYn === NoticeOfHearing.Y">Notice Of Hearing</button><br /><br />
          <span><b>Uploaded Documents ({{lastUpdatedJJDispute.fileData?.length }})</b></span><br />
          <div *ngFor="let doc of lastUpdatedJJDispute.fileData">
            <button type="button" class="linkbutton" (click)="onGetFile(doc.fileId)"
              *ngIf="doc.virusScanStatus === 'clean'">{{ doc.fileName }}</button>&nbsp;
            <span *ngIf="doc.virusScanStatus !== 'clean'">{{ doc.fileName }} {{ doc.virusScanStatus }}</span>
            <button type="button" style="width:50px !important; border:none; background-color:white"
              (click)="onRemoveFile(doc.fileId, doc.fileName)"><mat-icon style="color:red">delete</mat-icon></button>
          </div>
          <div>
            <label>File type for upload:</label>
            <mat-form-field appearance="outline" style="display: inline-flex;">
              <mat-select [(ngModel)]="fileTypeToUpload">
                <mat-option value="Certified Extract">Certified Extract</mat-option>
                <mat-option value="Adjournment">Adjournment</mat-option>
                <mat-option value="Other">Other</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <button class="large" mat-flat-button type="button" color="primary"
            onclick="document.getElementById('getFile').click()">
            <mat-icon>upload</mat-icon>&nbsp;Upload File
          </button>
          <input type="file" id="getFile" style="display:none" accept="image/*,.pdf"
            (change)="onUpload($event.target.files)">
        </mat-expansion-panel>

        <span #fileHistory></span>
        <mat-expansion-panel [expanded]="true" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span style="color: black;"><b>File History </b></span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <app-jj-file-history [ticketNumber]="lastUpdatedJJDispute.ticketNumber"></app-jj-file-history>
          </div>
        </mat-expansion-panel>

        <span #disputantUpdates></span>
        <mat-expansion-panel [expanded]="true" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span style="color: black;"><b>{{ "label.disputant_updates" | translate }}</b></span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <app-jj-dispute-updates [disputeId]="lastUpdatedJJDispute.occamDisputeId"></app-jj-dispute-updates>
          </div>
        </mat-expansion-panel>

        <span #fileRemarks></span>
        <mat-expansion-panel [expanded]="true" id="file-remarks" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span style="color: black;"><b>File Remarks </b></span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <span class="small-note">
              <i><span style="color:red;">*</span> Remarks are for internal use only and will be visible to everyone who
                views this file</i>
            </span>
          </div>
          <div>
            <app-jj-dispute-remarks [data]="lastUpdatedJJDispute.remarks"></app-jj-dispute-remarks>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <section style="padding-top: 2rem;" *ngIf="!isViewOnly">
        <ng-container subHeader>
          <span>
            <h3>Add Remarks<br />
              <span *ngIf="type !== 'ticket'" class="small-note">
                <i><span style="color:red;">*</span> This is for internal use only</i>
              </span>
            </h3>
          </span>
        </ng-container>
        <textarea matInput [(ngModel)]="remarks" maxlength="1500" rows="6"
          style="background: #fffee6; width: 100%"></textarea>
      </section>
      <div fxLayout="row">
        <div *ngIf="type === 'ticket' && isViewOnly && lastUpdatedJJDispute.status === DisputeStatus.Confirmed"
          fxFlex="40" fxLayout="row">
          <div style="margin-right: 1rem;">
            <mat-form-field appearance="outline">
              <mat-select [(ngModel)]="selectedJJ" placeholder="choose a JJ">
                <mat-option [value]=""></mat-option>
                <mat-option *ngFor="let jj of jjList" [value]="jj.idir"><i>{{ jj.jjDisplayName }}</i>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex>
            <button fxFlex class="large" mat-flat-button type="button" color="primary" (click)="returnToJJ()"
              [disabled]="!selectedJJ">
              Return to JJ
            </button>
          </div>
        </div>
        <div fxFlex>
        </div>
        <button fxFlex="30" class="large" mat-flat-button type="button" color="primary" style="margin-right: 20px;"
          (click)="onRequireCourtHearing()"
          *ngIf="type !== 'ticket' && lastUpdatedJJDispute.status !== DisputeStatus.RequireCourtHearing && lastUpdatedJJDispute.status !== DisputeStatus.Accepted && lastUpdatedJJDispute.status !== DisputeStatus.Cancelled && lastUpdatedJJDispute.status !== DisputeStatus.Concluded && concludeStatusOnly === false && cancelStatusOnly === false">
          {{ lastUpdatedJJDispute.hearingType === HearingType.WrittenReasons ? 'Require Court Hearing' :
          'Adjourn/Continue' }}
        </button>
        <button fxFlex="30" class="large" mat-flat-button type="button" color="primary" style="margin-right: 20px;"
          (click)="onSave()"
          *ngIf="type !== 'ticket' && [DisputeStatus.New, DisputeStatus.InProgress, DisputeStatus.HearingScheduled, DisputeStatus.Review].indexOf(lastUpdatedJJDispute.status) >= 0 && cancelStatusOnly === false && concludeStatusOnly === false">
          Save & Finish Later
        </button>
        <button fxFlex="20" class="large" mat-flat-button type="button" color="primary" (click)="onConfirm()"
          *ngIf="[DisputeStatus.New, DisputeStatus.HearingScheduled, DisputeStatus.InProgress, DisputeStatus.Review].indexOf(lastUpdatedJJDispute.status) >= 0 && concludeStatusOnly === false && cancelStatusOnly === false">
          Confirm
        </button>
        <button fxFlex="20" class="large" mat-flat-button type="button" color="primary" (click)="onConcluded()"
          *ngIf="concludeStatusOnly === true && cancelStatusOnly === false">
          Conclude
        </button>
        <button fxFlex="20" class="large" mat-flat-button type="button" color="primary" (click)="onCancelled()"
          *ngIf="cancelStatusOnly === true && concludeStatusOnly === false">
          Cancel
        </button>
        <button fxFlex="20" class="large" mat-flat-button type="button" color="primary" (click)="onAccept()"
          *ngIf="lastUpdatedJJDispute.status === DisputeStatus.Confirmed && cancelStatusOnly === false && concludeStatusOnly === false">
          Accept
        </button>
        <button fxFlex="20" class="large" mat-flat-button type="button" color="primary" (click)="onBackClicked()"
          *ngIf="lastUpdatedJJDispute.status === DisputeStatus.RequireCourtHearing || lastUpdatedJJDispute.status === DisputeStatus.Cancelled || lastUpdatedJJDispute.status === DisputeStatus.Concluded">
          Back
        </button>
      </div>
    </div>
  </div>
</app-page>