<div [ngClass]="{'contact-info' : type === 'ticket'}" style="padding-top: 2rem;">
  <a (click)="onBackClicked()" style="color: #48afe5">
    <mat-icon inline="true">arrow_back</mat-icon> Back<br /><br />
  </a>
  <div *ngIf="retrieving === true">
    <span>
      <h3>Retrieving ticket information...</h3>
    </span>
  </div>
  <div *ngIf="lastUpdatedJJDispute && retrieving === false">
    <div style="float:inline">
      <span style="float:left">
        <h1><b>
          <span *ngIf="jjDisputeInfo.hearingType === HearingType.WrittenReasons">Written Reasons</span>
          <span *ngIf="jjDisputeInfo.hearingType === HearingType.CourtAppearance">Hearing Ticket</span>
           Dispute - {{ lastUpdatedJJDispute.givenNames }}&nbsp;{{ lastUpdatedJJDispute.surname}}
        </b></h1>
      </span>
      <span style="float:right">
        <h1><b>Ticket Number: {{ lastUpdatedJJDispute.ticketNumber }} </b></h1>
      </span>
    </div> <br /><br />
    <section>
      <ng-container subHeader>
        <span>
          <h3>Ticket Information / Dispute History</h3>
        </span>
      </ng-container>
      <div style="display: grid; grid-template-columns: auto auto auto auto">
        <span class="section-grid-cell">
          <p class="section-grid-header">Surname</p>
          <p class="section-grid-text">{{ lastUpdatedJJDispute.surname }}</p>
        </span>
        <span class="section-grid-cell">
          <p class="section-grid-header">Given Name(s)</p>
          <p class="section-grid-text">{{ lastUpdatedJJDispute.givenNames }}</p>
        </span>
        <span class="section-grid-cell">
          <p class="section-grid-header">Location of Offence</p>
          <p class="section-grid-text"> {{ lastUpdatedJJDispute.offenceLocation }}</p>
        </span>
        <span class="section-grid-cell">
          <p class="section-grid-header">Organization/Detachment/Location</p>
          <p class="section-grid-text">{{ lastUpdatedJJDispute.policeDetachment }}</p>
        </span>
        <span class="section-grid-cell">
          <p class="section-grid-header">Violation Date</p>
          <p class="section-grid-text">{{ violationDate | date: "MMM dd, yyyy" }}</p>
        </span>
        <span class="section-grid-cell">
          <p class="section-grid-header">Violation Time</p>
          <p class="section-grid-text">{{ violationTime }}</p>
        </span>
        <span class="section-grid-cell">
          <p class="section-grid-header">Online Submission Date</p>
          <p class="section-grid-text">{{ lastUpdatedJJDispute.submittedTs | date: "MMM dd, yyyy" }}</p>
        </span>
        <span class="section-grid-cell">
          <p class="section-grid-header">Date Received from ICBC</p>
          <p class="section-grid-text">{{ lastUpdatedJJDispute.icbcReceivedDate | date: "MMM dd, yyyy" }}</p>
        </span>
        <ng-container *ngIf="type !== 'ticket'">
          <span class="section-grid-cell">
            <p class="section-grid-header">Court Location Code</p>
            <p class="section-grid-text">20491</p>
          </span>
          <span class="section-grid-cell">
            <p class="section-grid-header">Court Location</p>
            <p class="section-grid-text">{{ lastUpdatedJJDispute.courthouseLocation }}</p>
          </span>
        </ng-container>
      </div>
    </section><br />
    <section>
      <ng-container subHeader>
        <span>
          <h3>Contact Information</h3>
        </span>
      </ng-container>
      <div style="display: grid; grid-template-columns: auto auto auto auto">
        <span class="section-grid-cell">
          <p class="section-grid-header">Surname</p>
          <p class="section-grid-text">{{ lastUpdatedJJDispute.contactInformation.surname }}</p>
        </span>
        <span class="section-grid-cell">
          <p class="section-grid-header">Given Name(s)</p>
          <p class="section-grid-text">{{ lastUpdatedJJDispute.contactInformation.givenNames }}</p>
        </span>
        <span class="section-grid-cell" style="grid-column: span 2">
          <p class="section-grid-header">Address</p>
          <p class="section-grid-text">{{ lastUpdatedJJDispute.contactInformation.address }}</p>
        </span>
        <span class="section-grid-cell">
          <p class="section-grid-header">Birthdate</p>
          <p class="section-grid-text">{{ lastUpdatedJJDispute.contactInformation.birthdate | date: "MMM dd, yyyy" }}
          </p>
        </span>
        <span class="section-grid-cell">
          <p class="section-grid-header">Prov / State of DL</p>
          <p class="section-grid-text">{{ lastUpdatedJJDispute.contactInformation.province }}</p>
        </span>
        <span class="section-grid-cell">
          <p class="section-grid-header">Driver's Licence #</p>
          <p class="section-grid-text">{{ lastUpdatedJJDispute.contactInformation.driversLicenceNumber }}</p>
        </span>
        <span class="section-grid-cell">
          <p class="section-grid-header">Email</p>
          <p class="section-grid-text">{{ lastUpdatedJJDispute.contactInformation.emailAddress }}</p>
        </span>
      </div>
    </section><br />
    <section *ngIf="jjDisputeInfo.hearingType === HearingType.CourtAppearance">
      <ng-container subHeader>
        <span>
          <h3>Court Options</h3>
        </span>
      </ng-container>
      <div style="display: grid; grid-template-columns: auto auto auto auto">
        <span class="section-grid-cell">
          <p class="section-grid-header">Legal Counsel Name</p>
          <p class="section-grid-text">{{ lastUpdatedJJDispute.lawyerGivenName1 }}&nbsp;{{ lastUpdatedJJDispute.lawyerSurname }}</p>
        </span>
        <span class="section-grid-cell">
          <p class="section-grid-header">Legal Counsel Firm</p>
          <p class="section-grid-text">{{ lastUpdatedJJDispute.lawFirmName }}</p>
        </span>
        <span class="section-grid-cell">
          <p class="section-grid-header">Defence Witnesses</p>
          <p class="section-grid-text">{{ lastUpdatedJJDispute.witnessNo }}</p>
        </span>
        <span class="section-grid-cell">
          <p class="section-grid-header">&nbsp;</p>
          <p class="section-grid-text">&nbsp;</p>
        </span>
        <span class="section-grid-cell">
          <p class="section-grid-header">Interpreter</p>
          <p class="section-grid-text">{{ lastUpdatedJJDispute.interpreterLanguage }}
          </p>
        </span>
        <span class="section-grid-cell">
          <p class="section-grid-header">Disputant Attendance Type</p>
          <p class="section-grid-text">{{ lastUpdatedJJDispute.disputantAttendanceType }}</p>
        </span>
        <span class="section-grid-cell">
          <p class="section-grid-header">&nbsp;</p>
          <p class="section-grid-text">&nbsp;</p>
        </span>
        <span class="section-grid-cell">
          <p class="section-grid-header">&nbsp;</p>
          <p class="section-grid-text">&nbsp;</p>
        </span>
      </div>
    </section><br />
    <section *ngIf="jjDisputeInfo.hearingType === HearingType.CourtAppearance">
      <ng-container subHeader>
        <span>
          <h3>Court Appearance</h3>
        </span>
      </ng-container>
      <form name="courtAppearanceForm" novalidate>
        <div style="display: grid; grid-template-columns: auto auto auto auto auto auto auto auto auto auto">
          <span class="section-grid-cell">
            <p class="section-grid-header">Appearance Date/Time</p>
            <p class="section-grid-text">{{ courtAppearanceForm.get('appearanceTs').value | date: "MM/dd/YYYY HH:mm" }}&nbsp;<button style="background:#fffee6" type="button" (click)="updateAppearanceTs()">Now</button></p>
          </span>
          <span class="section-grid-cell">
            <p class="section-grid-header">Room</p>
            <p class="section-grid-text"><input [formControl]="courtAppearanceForm.get('room')" style="width:75px; background:#fffee6"/></p>
          </span>
          <span class="section-grid-cell">
            <p class="section-grid-header">Reason</p>
            <p class="section-grid-text"><input [formControl]="courtAppearanceForm.get('reason')" style="width:75px; background:#fffee6"/></p>
          </span>
          <span class="section-grid-cell">
            <p class="section-grid-header">APP (P/N/A)</p>
            <p class="section-grid-text">
              <mat-select [formControl]="courtAppearanceForm.get('app')" style="background:#fffee6">
                <mat-option [value]="RoPApp.P">{{ RoPApp.P }}</mat-option>
                <mat-option [value]="RoPApp.N">{{ RoPApp.N }}</mat-option>
                <mat-option [value]="RoPApp.A">{{ RoPApp.A }}</mat-option>
              </mat-select>
            </p>
          </span>
          <span class="section-grid-cell">
            <p class="section-grid-header">No APP</p>
            <p class="section-grid-text">{{ courtAppearanceForm.get('noAppTs').value | date: "MM/dd/YYYY HH:mm" }}&nbsp;<button type="button" style="background:#fffee6" (click)="updateNoAPPTs()">Now</button></p>
          </span>
          <span class="section-grid-cell">
            <p class="section-grid-header">CLERK REC.</p>
            <p class="section-grid-text"><input [formControl]="courtAppearanceForm.get('clerkRecord')" style="width:75px; background:#fffee6"/></p>
          </span>
          <span class="section-grid-cell">
            <p class="section-grid-header">DEF. COUNSEL</p>
            <p class="section-grid-text"><input [formControl]="courtAppearanceForm.get('defenseCounsel')" style="width:75px; background:#fffee6" /></p>
          </span>
          <span class="section-grid-cell">
            <p class="section-grid-header">Crown</p>
            <p class="section-grid-text">
              <mat-select [formControl]="courtAppearanceForm.get('app')" style="background:#fffee6">
                <mat-option [value]="RoPCrown.P">{{ RoPCrown.P }}</mat-option>
                <mat-option [value]="RoPCrown.N">{{ RoPCrown.N }}</mat-option>
              </mat-select>
            </p>
          </span>
          <span class="section-grid-cell">
            <p class="section-grid-header">Seized</p>
            <p class="section-grid-text"><input [formControl]="courtAppearanceForm.get('jjSeized')" style="width:75px; background:#fffee6" /></p>
          </span>
          <span class="section-grid-cell">
            <p class="section-grid-header">Judicial Justice</p>
            <p class="section-grid-text"><input [formControl]="courtAppearanceForm.get('adjudicator')" style="width:150px; background:#fffee6"/></p>
          </span>
          <span class="section-grid-cell" style="grid-column: span 10">
            <p class="section-grid-header">Comments:</p>
            <p class="section-grid-text"><input [formControl]="courtAppearanceForm.get('comments')" style="width:95%; background:#fffee6"/></p>
          </span>
        </div>
      </form>
    </section><br />
    <section *ngIf="jjDisputeInfo.hearingType === HearingType.CourtAppearance">
      <ng-container subHeader>
        <span>
          <h3>Court Appearances History</h3>
        </span>
      </ng-container>
      <app-jj-dispute-court-appearances [data]="lastUpdatedJJDispute.jjDisputeCourtAppearanceRoPs"></app-jj-dispute-court-appearances>
    </section>
    <section>
      <ng-container subHeader>
        <span>
          <h3>Written Reasons</h3>
        </span>
      </ng-container>
      <div>
        <h4><b>Fine Reduction</b><span *ngIf="fineReductionCountsHeading.length>0">&nbsp;-&nbsp;{{
            fineReductionCountsHeading }}</span></h4>
        <span style="font-size: small">{{ lastUpdatedJJDispute.fineReductionReason }}</span>
        <br /><br />
      </div>
      <div>
        <h4><b>Time to Pay</b><span *ngIf="timeToPayCountsHeading.length>0">&nbsp;-&nbsp;{{ timeToPayCountsHeading
            }}</span></h4>
        <span style="font-size: small">{{ lastUpdatedJJDispute.timeToPayReason }}</span>
      </div>
    </section><br />
    <section>
      <ng-container subHeader>
        <span>
          <h3>Count(s)</h3>
        </span>
      </ng-container>
      <div style="display: grid; grid-template-columns: 33% 33% 33%">
        <span *ngFor="let i of [1,2,3]" style="border:1px solid black; ">
          <app-jj-count [count]="i" [jjDisputeInfo]="lastUpdatedJJDispute" [jjDisputedCount]="getJJDisputedCount(i)"
            (jjDisputedCountUpdate)="updateFinalDispositionCount($event)" [type]="type"></app-jj-count>
        </span>
      </div>
    </section><br />
    <div fxLayout="row" *ngIf="type === 'ticket'" style="padding-bottom: 2rem;">
      <div fxFlex="40">
        <div fxFlex>
          <h3>Signed By</h3>
          <div>{{ lastUpdatedJJDispute.jjAssignedTo }}</div>
        </div>
        <div fxFlex></div>
        <div fxFlex>
          <h3>Date Signed</h3>
          <div>{{ lastUpdatedJJDispute.jjDecisionDate | date: "MMM dd, yyyy" }}</div>
        </div>
      </div>
    </div>
    <mat-accordion multi [togglePosition]="'before'" class="info-expansion-panel">
      <mat-expansion-panel *ngIf="type === 'ticket'" [expanded]="true" id="uploaded-documents" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span style="color: black;"><b>Uploaded Documents </b></span>
          </mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="true" id="file-history" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span style="color: black;"><b>File History </b></span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <app-jj-file-history [ticketNumber]="lastUpdatedJJDispute.ticketNumber"></app-jj-file-history>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="true" id="file-remarks" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span style="color: black;"><b>File Remarks </b></span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <span class="small-note">
            <i><span style="color:red;">*</span> Remarks are for internal use only and will be visible to everyone who
              views this file</i>
          </span>
        </div>
        <div>
          <app-jj-dispute-remarks [data]="lastUpdatedJJDispute.remarks"></app-jj-dispute-remarks>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <section style="padding-top: 2rem;">
      <ng-container subHeader>
        <span>
          <h3>Add Remarks<br />
            <span *ngIf="type !== 'ticket'" class="small-note">
              <i><span style="color:red;">*</span> This is for internal use only</i>
            </span>
          </h3>
        </span>
      </ng-container>
      <textarea matInput [(ngModel)]="remarks" maxlength="1500" rows="6"
        style="background: #fffee6; width: 100%"></textarea>
    </section>
    <div fxLayout="row">
      <div *ngIf="type === 'ticket'" fxFlex="40" fxLayout="row">
        <div style="margin-right: 1rem;">
          <mat-form-field class="select-box-only">
            <mat-select [(ngModel)]="selectedJJ" placeholder="choose a JJ">
              <mat-option [value]=""></mat-option>
              <mat-option *ngFor="let jj of jjList" [value]="jj.idir"><i>JJ {{ authService.getFullName(jj) }}</i></mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex>
          <button fxFlex class="large" mat-flat-button type="button" color="primary" (click)="returnToJJ()"
            [disabled]="!selectedJJ">
            Return to JJ
          </button>
        </div>
      </div>
      <div fxFlex>
      </div>
      <button fxFlex="30" *ngIf="type !== 'ticket'" class="large" mat-flat-button type="button" color="primary"
        style="margin-right: 20px;" (click)="onSave()">
        Save & Finish Later
      </button>
      <button fxFlex="20" class="large" mat-flat-button type="button" color="primary" (click)="onSubmit()">
        Submit
      </button>
    </div><br /><br />
  </div>
  <br />
  <div *ngIf="type === 'ticket'" fxLayout="row">

  </div>
</div>
