@import "palette.scss";

.linkbutton {
  background: none !important;
  border: none;
  padding: 0 !important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.form-button {
  color: #fff;
  background-color: #38598a;
  border-color: #38598a;
  font-size: 14px;
  margin: 10px 10px 0px 0px;

  &:hover {
    background-color: #2d476f;
    border-color: #294266;
  }
}

.form-button-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
  font-size: 14px;
  margin: 0px 10px 0px 10px;

  &:hover {
    background-color: #5a6268;
    border-color: #5a6268;
  }
}

.ticket-number {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: bold;
  line-height: 1.2;
  color: inherit;
}

h3 {
  font-weight: bold;
  color: black !important;
}

p {
  line-height: 1.1;
}

label {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  font-family: BCSans, Noto Sans, Verdana, Arial, sans-serif;
}

.text {
  font-weight: 700;
  line-height: 1.5em;
  color: black;
}

.section-grid-cell {
  border: 1px solid black;
  padding: 5px 5px 0px 5px;
  overflow: auto;
}

.section-grid-cell-noshow {
  border: 0px solid black;
  padding-left: 5px;
  padding-bottom: 5px;
}

.section-grid-header {
  font-size: small;
  font-weight: bold;
  margin-bottom: 0px !important;
  color: #707070;
}

.section-grid-text {
  font-size: small;
  margin: 0 0 5px 0 !important;
  color: #003366;
  font-weight: bold;
  padding: 0 !important;

  .formatComments {
    white-space: pre-wrap;
  }
}

.disputre {
  width: 100%;
}

.small-note {
  font-size: small;
  color: #707070;
  margin: 0 !important;
  padding: 0 !important;
}

.count-list {
  border-left: 15px solid #3b6288;
  padding: 15px;
  color: #07396a;
  background-color: #f3f3f3;
}

.button {
  padding: 20px;
  background-color: #c2c2c2;
  color: #fff;
}

.mat-flat-button {
  min-width: 30% !important;
  margin-top: 1em;

  &.large {
    height: 46px;
    font-size: 1.125em;
    font-weight: bold;
  }

  &.light {
    background-color: theme-palette(blue, bg);
    color: white;
  }
}

.mat-flat-button[disabled] {
  background-color: rgba(0, 0, 0, 0.04) !important;
}

.contact-info {
  margin-bottom: 12%;

  .contact-info {

    // margin-bottom: 60px;
    .contact-body {
      margin-top: 20px;
    }

    button {
      width: 167px;
      border-radius: inherit;
    }

    // :host
  }

  .info-expansion-panel {
    mat-expansion-panel {
      box-shadow: none !important;
      border-bottom: 1px solid theme-palette(grey, light);
    }
  }
}

.signature-box {
  display: inline-block;
  margin-bottom: 0.9375rem;
}

.custom-column {
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.12);
}

.mo-btn {
  background: #5a9dff73;
  border: 2px solid #0d6efd;
  border-radius: 0.781rem;
  margin-right: 1rem;
}

.accident-btn {
  background: #dc354566;
  border: 2px solid #dc3545;
  border-radius: 0.781rem;
  margin-right: 1rem;
}

// FIXME: ng-deep applies global styles, not component-specific styles. But these styles should be global anyway. Move to main scss.
::ng-deep {
  .heading-hr {
    width: 700% !important;
  }

  .subheader span {
    font-weight: 600;
    color: #1d4a77;
  }

  .mat-form-field.datetime-picker {
    margin-right: 0px;
    vertical-align: top;

    .mat-form-field-flex {
      margin-right: 0px;

      .mat-form-field-suffix {
        top: -2px;
        height: 36px;
      }
    }
  }

  .mat-form-field {
    width: 100%;
    margin-bottom: 0px !important;

    .mat-form-field-wrapper {
      padding-bottom: 0 !important;
      margin: 0px;

      .mat-form-field-flex {
        margin-top: 0 !important;
        padding-right: 5px;
        border: none !important;

        .mat-form-field-infix {
          padding: 0px 0px 7px 0px !important;
          line-height: 1;

          input {
            line-height: 18px !important;
          }
        }
      }

      .mat-form-field-subscript-wrapper {
        position: relative;
        overflow: unset;
        margin-top: 0px;
      }
    }
  }
}

// FIXME: ng-deep applies global styles, not component-specific styles. But these styles should be global anyway. Move to main scss.
::ng-deep {
  .mat-form-field-type-mat-select {
    margin: 0px !important;
    padding: 0px !important;
    border: none !important;

    .mat-form-field-wrapper {
      .mat-form-field-flex {
        padding: 0px 5px 0px 10px !important;

        .mat-form-field-outline {
          background-color: #ffffff;
        }

        .mat-form-field-infix {
          .mat-select-value {
            line-height: normal;
          }

          .mat-select-arrow-wrapper {
            transform: none;
          }
        }
      }
    }
  }
}