@import "palette.scss";

h3 {
  font-weight: bold;
  color: black !important;
}

p {
  line-height: 1.1;
}

.info-component {
  overflow-y: auto;
  position: fixed;
  top: 120px;
  width:90%;
}

.text {
  font-weight: 700;
  line-height: 1.5em;
  color: black;
}

.section-grid-cell {
  border: 1px solid black;
  padding-left: 5px;
  padding-bottom: 5px;
}

.section-grid-cell-noshow {
  border: 0px solid black;
  padding-left: 5px;
  padding-bottom: 5px;
}

.section-grid-header {
  font-size: small;
  font-weight: bold;
  margin: 5px 0 0 0 !important;
  color: #707070;
  padding: 0 !important;
}

.section-grid-text {
  font-size: small;
  margin: 0 0 5px 0 !important;
  color: #003366;
  font-weight: bold;
  padding: 0 !important;
}

.disputre {
  width: 100%;
}

.small-note {
  font-size: small;
  color: #707070;
  margin: 0 !important;
  padding: 0 !important;
}

.count-list {
  border-left: 15px solid #3b6288;
  padding: 15px;
  color: #07396a;
  background-color: #f3f3f3;
}

.button {
  padding: 20px;
  background-color: #c2c2c2;
  color: #fff;
}

.mat-flat-button {
  min-width: 30% !important;
  margin-top: 1em;

  &.large {
    height: 46px;
    font-size: 1.125em;
    font-weight: bold;
  }

  &.light {
    background-color: theme-palette(blue, bg);
    color: white;
  }
}

.mat-flat-button[disabled] {
  background-color: rgba(0, 0, 0, 0.04) !important;
}

.contact-info {
  margin-bottom: 12%;

  .contact-info {

    // margin-bottom: 60px;
    .contact-body {
      margin-top: 20px;
    }

    button {
      width: 167px;
      border-radius: inherit;
    }

    // :host
  }

  .info-expansion-panel {
    mat-expansion-panel {
      box-shadow: none !important;
      border-bottom: 1px solid theme-palette(grey, light);
    }
  }
}

::ng-deep {
  .heading-hr {
    width: 700% !important;
  }

  .subheader span {
    font-weight: 600;
    color: #1d4a77;
  }

  .select-box-only {
    margin-top: 1em;
    margin-bottom: 0 !important;

    .mat-form-field-wrapper {
      padding-bottom: 0 !important;

      .mat-form-field-flex {
        padding-top: 0 !important;
      }

      .mat-select-trigger .mat-select-arrow-wrapper {
        transform: none !important;
      }
    }

    .mat-form-field-underline {
      bottom: 0;
    }

    .mat-form-field-subscript-wrapper {
      display: none;
    }
  }
}
