<app-busy-overlay [busy]="busy">
  <div class="row">
    <!--
      class="col-sm-12 offset-md-1"
      [ngClass]="{
        'col-md-8 col-xl-6': mode === 'default',
        'col-md-10': mode === 'full'
      }"

      class="col-sm-12"
      [ngClass]="{
        'col-md-10 col-xl-10': mode === 'default',
        'col-md-10': mode === 'full'
      }"
    -->
    <div class="col-sm-12 col-md-12 col-lg-12">
      <ng-content select="app-page-header"></ng-content>

      <ng-content select="app-progress-indicator"></ng-content>

      <ng-content></ng-content>

      <ng-content select="app-page-footer"></ng-content>
    </div>
  </div>
</app-busy-overlay>
