@media print {
  * {
    color: #333333 !important;
    fill: #333333 !important;
    stroke: #333333 !important;
    border-color: #333333 !important;
    background-color: none !important;
    filter: none !important;
  }
  .text-success.text-success {
    color: #333333 !important;
  }
  .pagebreak {
    page-break-before: always;
  }
}
