{{- if .Values.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "arc-dispute-service.fullname" . }}
  labels:
    {{- include "arc-dispute-service.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "arc-dispute-service.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "arc-dispute-service.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "arc-dispute-service.serviceAccountName" . }}
      containers:
        - env:
          - name: ASPNETCORE_URLS
            value: http://*:8080
          - name: SFTP__HOST
            value: "{{ required "A valid .Values.sftp.host required!" .Values.sftp.host }}"
          - name: SFTP__PORT
            value: "{{  required "A valid .Values.sftp.port required!" .Values.sftp.port }}"
          {{- if and .Values.ftp.username (not .Values.privateKeyPath) }}
          - name: SFTP__USERNAME
            value: "{{ .Values.sftp.username }}"
          - name: SFTP__PASSWORD
            value: "{{ .Values.sftp.password }}"
          {{- end }}
          {{- if .Values.privateKeyPath }}
          - name: SFTP__SSHPRIVATEKEYPATH
            value: "{{ .Values.sftp.privateKeyPath }}"
          {{- end }}
          name: {{ .Chart.Name }}
          image: "{{ .Values.image.registry }}/{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}
