<app-page [busy]="busy">
  <app-page-header>
    <ng-container header>Payment confirmation</ng-container>
  </app-page-header>

  <ng-container *ngIf="paymentStatus">
    <section class="mb-2 mt-4 d-print-none" *ngIf="isPaymentSuccess; else paymentCancelled">
      <div class="row">
        <div class="col-lg-12">
          <app-alert type="success" icon="check">
            <ng-container #alertContent class="alert-content">
              <strong>Ticket payment successful</strong><br />
              Payment confirmation #: <strong>{{ paymentConfNo }}</strong>
            </ng-container>
          </app-alert>
        </div>
      </div>



      <div class="d-flex justify-content-between d-print-none">
        <div class="conf-email text-dark" *ngIf="ticket?.disputant?.email_address">
          A confirmation email of the request information has been sent to: <br />
          <strong>{{ ticket?.disputant?.email_address }}</strong>
        </div>
        <div class="d-print-none">
          <a class="print-link"
             (click)="onPrint()">
            <img class="me-2"
                 src="/assets/print-icon.svg" />
            Print confirmation page
          </a>
        </div>
      </div>

      <div class="mt-4 d-print-none"
            *ngIf="countsToResolve">
            <span class="text-dark">If you would like to action your remaining count(s), please use the button below.</span><br />
        <button type="button"
                mat-flat-button
                color="primary"
                class="large mt-3 mb-2"
                style="width: unset"
                (click)="onInitiateResolution()">
          <strong>Initiate resolution</strong>
        </button>
      </div>
    </section>

    <div class="d-none d-print-block">
      <h2>
        <small>Payment confirmation #:</small> <strong>{{ paymentConfNo }}</strong>
      </h2>
    </div>

    <ng-template #paymentCancelled>
      <section class="mb-2 mt-4">
        <div class="row">
          <div class="col-lg-12">
            <app-alert type="danger" icon="error">
              <ng-container #alertContent class="alert-content">
                <div *ngIf="isPaymentCancelled; else paymentFailed">
                  <strong>Ticket payment cancelled</strong><br />
                  The ticket payment was cancelled. No payment has been made.
                </div>

                <ng-template #paymentFailed>
                  <strong>Ticket payment did not complete successfully</strong
                  ><br />
                  Please call the Violation Ticket Centre toll free number.
                </ng-template>
              </ng-container>
            </app-alert>
          </div>
        </div>
      </section>
    </ng-template>
    <hr />
  </ng-container>

  <div *ngIf="ticket">
    <app-count-summary [ticket]="ticket"></app-count-summary>
  </div>

  <app-resolution-footer></app-resolution-footer>
</app-page>
