version: "3.8"

services:
  # #############################################################################################
  # ###                                 TrafficCourt BACKEND                                  ###
  # #############################################################################################
  citizen-api:
    container_name: citizen-api
    build:
      context: ./src/backend/TrafficCourtsApi
    environment:
      DB_CONNECTION_STRING: "host=postgres;port=5432;database=postgres;username=postgres;password=postgres"
      ASPNETCORE_ENVIRONMENT: Development
      SPLUNK__URL: ${SPLUNK_COLLECTOR_URL}
      SPLUNK__TOKEN: ${SPLUNK_HEC_TOKEN}
      TICKETSEARCHAPI__BASEURL: http://ticket-search:8080/
    ports:
      - "5000:8080"
    restart: always
    depends_on: [splunk, rabbitmq]

  ticket-search:
    container_name: ticket-search
    build:
      context: ./src/ticket-search
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      SPLUNK_COLLECTOR_URL: ${SPLUNK_COLLECTOR_URL}
      SPLUNK_TOKEN: ${SPLUNK_HEC_TOKEN}
      OAUTH__OAUTHURL: ${OAUTH__OAUTHURL}
      OAUTH__RESOURCEURL: ${OAUTH__RESOURCEURL}
      OAUTH__CLIENTID: ${OAUTH__CLIENTID}
      OAUTH__SECRET: ${OAUTH__SECRET}
      RSI__BASEADDRESS: ${RSI__BASEADDRESS}
    ports:
      - "5100:8080"
    restart: always
    depends_on: [splunk]

  # #############################################################################################
  # ###                                 TrafficCourt FRONTEND                                 ###
  # #############################################################################################
  citizen-portal:
    container_name: citizen-portal
    build:
      context: ./src/frontend/citizen-portal
      args:
        USE_MOCK_SERVICES: ${USE_MOCK_SERVICES}
        USE_KEYCLOAK: ${USE_KEYCLOAK}
        API_URL: ${API_URL}
        KEYCLOAK_URL: ${KEYCLOAK_URL}
        KEYCLOAK_REALM: ${KEYCLOAK_REALM}
        KEYCLOAK_CLIENT_ID: ${KEYCLOAK_CLIENT_ID}
    environment:
      USE_MOCK_SERVICES: ${USE_MOCK_SERVICES}
      USE_KEYCLOAK: ${USE_KEYCLOAK}
    # command: "nginx -g 'daemon off;'"
    restart: always
    ports:
      - "8080:8080"
    depends_on: [citizen-api, keycloak]

  #############################################################################################
  ###                                  KEYCLOAK                                             ###
  #############################################################################################
  keycloak:
    container_name: keycloak
    image: quay.io/keycloak/keycloak
    environment:
      DB_VENDOR: H2
      KEYCLOAK_USER: admin
      KEYCLOAK_PASSWORD: admin
      KEYCLOAK_IMPORT: /tmp/realm-export.json
      KEYCLOAK_FRONTEND_URL: http://localhost:8081/auth
    volumes:
      - ./infrastructure/keycloak/realm-export.json:/tmp/realm-export.json
    ports:
      - 8081:8080

  # #############################################################################################
  # ###                                  KEYCLOAK CONFIG                                      ###
  # #############################################################################################
  keycloak-config:
    build:
      context: ./infrastructure/keycloak
      args:
        - KEYCLOAK_URL=http://keycloak:8080
    command: sh -c "dockerize -wait http://keycloak:8080 -timeout 300s /tmp/createuser.sh"
    depends_on: [keycloak]

  #############################################################################################
  ###                                  SPLUNK                                               ###
  #############################################################################################
  splunk:
    image: ${SPLUNK_IMAGE:-splunk/splunk:latest}
    container_name: splunk
    environment:
      SPLUNK_START_ARGS: --accept-license
      SPLUNK_HEC_TOKEN: ${SPLUNK_HEC_TOKEN}
      SPLUNK_PASSWORD: ${SPLUNK_PASSWORD}
    ports:
      - 8000:8000
      - 8088:8088

  #############################################################################################
  ###                                  PostgreSQL Database                                  ###
  #############################################################################################
  postgres:
    restart: always
    container_name: disputedb
    image: postgres:10.6
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USERNAME: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - data-postgres:/var/lib/postgresql/data

  #############################################################################################
  ###                           RABBITMQ                                                    ###
  #############################################################################################
  rabbitmq:
    image: rabbitmq:3.7.15-management
    # image: registry.redhat.io/rhosp-rhel8/openstack-rabbitmq:16.1.5-4
    container_name: rabbitmq
    hostname: rabbitmq
    ports:
      - 5671:5672
      - 15671:15672
    volumes:
      - data-rabbit:/var/lib/rabbitmq/mnesia/rabbit@app-rabbitmq:cached
    restart: always
      
  #############################################################################################
  ###                           REDIS & REDIS COMMANDER                                     ###
  #############################################################################################
  redis:
    container_name: redis
    image: redis
    hostname: ${REDIS__HOST}
    command: ["redis-server", "--appendonly", "yes", "--requirepass", "${REDIS__PASSWORD}"]
    ports:
      - "6379:6379"
    environment: 
      - REDIS_PASSWORD="${REDIS__PASSWORD}"
    volumes:
      - data-redis:/data
    restart: always

  redis-commander:
    container_name: redis-commander
    hostname: redis-commander
    image: rediscommander/redis-commander
    restart: always
    depends_on: [redis]
    ports:
      - "8082:8081"
    environment:
      - REDIS_HOST=${REDIS__HOST}
      - REDIS_PASSWORD="${REDIS__PASSWORD}"
  
networks:
  default:
    driver: "bridge"
    name: traffic-court-net

volumes:
  data-rabbit:
  data-redis:
  data-postgres:
