<div class="contact-info info-component" [ngStyle]="{'height.px': infoHeight}">
  <a (click)="onBack()" style="color: #48afe5">
    <mat-icon inline="true">arrow_back</mat-icon> Back to TRM home
  </a>
  <app-ticket-status [dispute]="lastUpdatedDispute" *ngIf="lastUpdatedDispute"></app-ticket-status>
  <div *ngIf="conflict === true">
    <span>
      <h3>This ticket is already assigned.</h3>
    </span>
  </div>
  <div *ngIf="conflict === false && !initialDisputeValues && retrieving === false">
    <span>
      <h3>Error retrieving ticket information.</h3>
    </span>
  </div>
  <div *ngIf="conflict === false && retrieving === true">
    <span>
      <h3>Retrieving ticket information...</h3>
    </span>
  </div>
  <div class="contact-info" *ngIf="initialDisputeValues && conflict === false">
    <mat-expansion-panel [expanded]="true" *ngIf="lastUpdatedDispute.emailAddressVerified === true || !(lastUpdatedDispute.emailAddress)">
      <mat-expansion-panel-header (click)="handleCollapse('contactInformation')">
        <app-page-header>
          <ng-container subHeader>
            <span>Ticket Information </span>
            <i *ngIf="collapseObj?.ticketInformation" class="fa fa-minus-circle"
              style="font-size:18px; color:#009cde"></i>
            <i *ngIf="!collapseObj?.ticketInformation" class="fa fa-plus-circle"
              style="font-size:18px; color:#009cde"></i>
          </ng-container>
        </app-page-header>
      </mat-expansion-panel-header>
      <!-- Ticket number, violation date, time-->
      <br />
      <div class="row">
        <div class="col md-3">
          <span class="BC-Gov-15px-black-text">Ticket #:</span>&nbsp;<span class="text">{{
            lastUpdatedDispute.ticketNumber }}</span>
        </div>
        <div class="col md-3">
          <span class="BC-Gov-15px-black-text">Ticket type:</span>&nbsp;<span class="text">{{
            lastUpdatedDispute.ticketNumber.substring(0,1) === 'E' ? "Electronic Ticket" : "Intersection safety camera
            ticket" }}</span>
        </div>
        <div class="col md-3">
          <span class="BC-Gov-15px-black-text">Violation time:</span>&nbsp;<span class="text">{{ violationTime }}</span>
        </div>
        <div class="col md-3">
          <span class="BC-Gov-15px-black-text">Violation date:</span>&nbsp;<span class="text">{{ violationDate }}</span>
        </div>
      </div>
      <!-- Counts -->
      <ng-container *ngFor="let violationCount of lastUpdatedDispute.violationTicket.violationTicketCounts">
        <div class="contact-body">
          <div class="row mt-2 count-list">
            <div class="col-lg-2 pe-0">
              <div style="display: flex">
                <span class="h2">
                  <strong>Count {{ violationCount.countNo }}</strong>
                </span>
              </div>
            </div>
            <div class="col-lg-6">
              <small class="d-block"> Description of offence </small>
              <div class="text">{{ violationCount.description }}</div>
            </div>
            <div class="col-lg-2">
              <small class="d-block">Offence amount</small>
              <div class="text">{{ violationCount.ticketedAmount | currency }}</div>
            </div>
          </div>
          <hr />
        </div>
      </ng-container>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header (click)="handleCollapse('contactInformation')">
        <app-page-header>
          <ng-container subHeader>
            <span *ngIf="lastUpdatedDispute.emailAddressVerified === true || !(lastUpdatedDispute.emailAddress)">Contact Information </span>
            <span *ngIf="lastUpdatedDispute.emailAddressVerified === false && lastUpdatedDispute.emailAddress">Contact Information -- Email Address Not Verified </span>
            <i *ngIf="collapseObj?.contactInformation" class="fa fa-minus-circle"
              style="font-size:18px; color:#009cde"></i>
            <i *ngIf="!collapseObj?.contactInformation" class="fa fa-plus-circle"
              style="font-size:18px; color:#009cde"></i>
          </ng-container>
        </app-page-header>
      </mat-expansion-panel-header>
      <div class="contact-body">
        <form (ngSubmit)="onSubmit()" [formGroup]="form" novalidate>
          <section class="mb-2" style="width: 66%;">
            <div class="row">

              <h4>Name on Ticket</h4>
              <!-- Notice of Dispute surname -->
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>Disputant surname</mat-label>
                  <input matInput formControlName="disputantSurname" />
                  <mat-error *ngIf="form.controls.disputantSurname.hasError('required')">{{ "error.required" | translate }}</mat-error>
                  <mat-error *ngIf="form.controls.disputantSurname.hasError('maxlength')">{{ "error.max_length" | translate }}30</mat-error>
                </mat-form-field>
              </div>

              <!-- Notice of dispute given names -->
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>Disputant given name(s)</mat-label>
                  <input matInput formControlName="disputantGivenNames" />
                  <mat-error *ngIf="form.controls.disputantGivenNames.hasError('required')">{{ "error.required" | translate }}</mat-error>
                  <mat-error *ngIf="form.controls.disputantGivenNames.hasError('maxlength')">{{ "error.max_length" | translate }}30 per name</mat-error>
                </mat-form-field>
              </div>
            </div>

            <section>
              <div class="row">
                <h4>Who are we contacting?</h4>
                <div class="col-md-6">
                  <mat-form-field class="w-100">
                    <mat-label>Contact Type</mat-label>
                    <mat-select formControlName="contactTypeCd" (selectionChange)="onSelectContactType($event.value)">
                      <mat-option [value]="ContactType.Individual">Individual on the ticket</mat-option>
                      <mat-option [value]="ContactType.Lawyer">Lawyer</mat-option>
                      <mat-option [value]="ContactType.Other">Other</mat-option>
                    </mat-select>
                    <mat-error>{{ "error.required" | translate }}</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-6" *ngIf="form.get('contactTypeCd').value === ContactType.Lawyer">
                  <mat-form-field class="w-100">
                    <mat-label>Name of law firm</mat-label>
                    <input matInput formControlName="contactLawFirmNm" />
                    <mat-error *ngIf="form.controls.contactLawFirmNm.hasError('required')">{{ "error.required" | translate }}</mat-error>
                    <mat-error *ngIf="form.controls.contactLawFirmNm.hasError('maxlength')">{{ "error.max_length" | translate }}200</mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row"  *ngIf="form.get('contactTypeCd').value !== ContactType.Individual">

                <!--Contact surname -->
                <div class="col-md-6">
                  <mat-form-field class="w-100">
                    <mat-label>Contact Surname</mat-label>
                    <input matInput formControlName="contactSurnameNm" />
                    <mat-error *ngIf="form.controls.contactSurnameNm.hasError('required')">{{ "error.required" | translate }}</mat-error>
                    <mat-error *ngIf="form.controls.contactSurnameNm.hasError('maxlength')">{{ "error.max_length" | translate }}30</mat-error>
                  </mat-form-field>
                </div>

                <!-- Contact given names -->
                <div class="col-md-6">
                  <mat-form-field class="w-100">
                    <mat-label>Contact Given name(s)</mat-label>
                    <input matInput formControlName="contactGivenNames" />
                    <mat-error *ngIf="form.controls.contactGivenNames.hasError('required')">{{ "error.required" | translate }}</mat-error>
                    <mat-error *ngIf="form.controls.contactGivenNames.hasError('maxlength')">{{ "error.max_length" | translate }}30 per name</mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">

                <!-- Notice of dispute mailing address -->
                <div class="col-md-6">
                  <mat-form-field class="w-100">
                    <mat-label>Mailing address</mat-label>
                    <input matInput formControlName="address" />
                    <mat-error *ngIf="form.controls.address.hasError('required')">{{ "error.required" | translate }}</mat-error>
                    <mat-error *ngIf="form.controls.address.hasError('maxlength')">{{ "error.max_length" | translate }}100 per line</mat-error>
                  </mat-form-field>
                </div>

                <!-- Notice of dispute Country -->
                <div class="col-md-6">
                  <mat-form-field class="w-100">
                    <mat-label>Country</mat-label>
                    <mat-select formControlName="addressCountryId" (selectionChange)="onCountryChange($event.value)">
                      <mat-option [value]="canada.ctryId">{{ canada.ctryLongNm }}</mat-option>
                      <mat-option [value]="usa.ctryId">{{ usa.ctryLongNm }}</mat-option>
                      <mat-option *ngFor="let country of config.countries" [value]="country.ctryId">{{ country.ctryLongNm }}</mat-option>
                    </mat-select>
                    <mat-error>{{ "error.required" | translate }}</mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">


                <!-- Notice of dispute City -->
                <div class="col-md-6">
                  <mat-form-field class="w-100">
                    <mat-label>City</mat-label>
                    <input matInput formControlName="addressCity" />
                    <mat-error *ngIf="form.controls.addressCity.hasError('required')">{{ "error.required" | translate }}</mat-error>
                    <mat-error *ngIf="form.controls.addressCity.hasError('maxlength')">{{ "error.max_length" | translate }}30</mat-error>
                  </mat-form-field>
                </div>


                <!-- Notice of dispute province/state -->
                <div class="col-md-6">
                  <mat-form-field class="w-100">
                    <mat-label *ngIf="form.get('addressCountryId').value===canada.ctryId">Province</mat-label>
                    <mat-label *ngIf="form.get('addressCountryId').value===usa.ctryId">State</mat-label>
                    <mat-select formControlName="addressProvinceProvId" (selectionChange)="onAddressProvinceChange($event.value)"
                      *ngIf="form.get('addressCountryId').value === canada.ctryId || form.get('addressCountryId').value === usa.ctryId">
                      <div *ngIf="form.get('addressCountryId').value === canada.ctryId">
                        <mat-option [value]="bc.provId">{{ bc.provNm }}</mat-option>
                        <mat-option *ngFor="let province of provinces" [value]="province.provId">{{ province.provNm }}
                        </mat-option>
                      </div>
                      <div *ngIf="form.get('addressCountryId').value === usa.ctryId">
                        <mat-option *ngFor="let state of states" [value]="state.provId">{{ state.provNm }}
                        </mat-option>
                      </div>
                    </mat-select>
                    <mat-label
                      *ngIf="form.get('addressCountryId').value!==usa.ctryId && form.get('addressCountryId').value !== canada.ctryId">
                      Province/State</mat-label>
                    <input matInput formControlName="addressProvince"
                      *ngIf="form.get('addressCountryId').value !== usa.ctryId && form.get('addressCountryId').value !== canada.ctryId"/>
                    <mat-error *ngIf="form.controls.addressProvinceProvId.hasError('required') || form.controls.addressProvince.hasError('required')">{{ "error.required" | translate }}</mat-error>
                    <mat-error *ngIf="form.controls.addressProvince.hasError('maxlength')">{{ "error.max_length" | translate }}30</mat-error>
                  </mat-form-field>
                </div>
              </div>
            </section>

            <div class="row">

              <!-- Notice of dispute postal code -->
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label *ngIf="form.get('addressCountryId').value ===canada.ctryId">Postal code</mat-label>
                  <input matInput mask="S0S 0S0" oninput="this.value = this.value.toUpperCase()" minlength="6"
                    formControlName="postalCode" [showMaskTyped]="true" *ngIf="form.get('addressCountryId').value===canada.ctryId" />
                  <mat-label *ngIf="form.get('addressCountryId').value===usa.ctryId">Zip Code</mat-label>
                  <input matInput mask="00000" oninput="this.value = this.value.toUpperCase()"
                    formControlName="postalCode" [showMaskTyped]="true"
                    *ngIf="form.get('addressCountryId').value===usa.ctryId" />
                  <mat-label *ngIf="form.get('addressCountryId').value!==usa.ctryId && form.get('addressCountryId').value!==canada.ctryId">
                    Postal/Zip Code</mat-label>
                  <input matInput maxLength="6" oninput="this.value = this.value.toUpperCase()"
                    formControlName="postalCode"
                    *ngIf="form.get('addressCountryId').value!==usa.ctryId && form.get('addressCountryId').value !== canada.ctryId" />
                  <mat-error *ngIf="form.get('postalCode').hasError('required')">{{ "error.required" | translate
                    }}</mat-error>
                  <mat-error *ngIf="form.get('postalCode').hasError('pattern') || form.get('postalCode').hasError('minlength') || form.get('postalCode').hasError('maxlength')">Must be a valid postal/zip code
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">

              <!--- Notice of dispute phone number -->
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>Phone number</mat-label>
                  <input matInput formControlName="homePhoneNumber" mask="(000) 000-0000"
                    *ngIf="form.get('addressCountryId').value === canada.ctryId || form.get('addressCountryId').value === usa.ctryId"
                    [showMaskTyped]="true" />
                  <input matInput formControlName="homePhoneNumber" mask="00000000000000000000"
                    *ngIf="form.get('addressCountryId').value !== canada.ctryId && form.get('addressCountryId').value !== usa.ctryId" />
                  <mat-error *ngIf="form.get('homePhoneNumber')?.hasError('required')">{{"error.required" |
                    translate}}
                  </mat-error>
                  <mat-error *ngIf="form.get('homePhoneNumber')?.hasError('phone')">Must be a valid phone number
                  </mat-error>
                </mat-form-field>
              </div>

              <!-- Notice of dispute email address -->
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>Email address</mat-label>
                  <input matInput formControlName="emailAddress" autocomplete="off" />
                  <mat-hint *ngIf="lastUpdatedDispute.emailAddressVerified === false && lastUpdatedDispute.emailAddress" style="color:red">
                    The contact email address has not been verified by the disputant.  To opt them out of email communications, set the email address to blank and Save.  Alternatively you can resend the email verification to the disputant.
                  </mat-hint>
                  <mat-error *ngIf="form.get('emailAddress').hasError('email')">{{
                    "error.email_address" | translate
                    }}</mat-error>
                  <mat-error *ngIf="form.get('emailAddress').hasError('maxlength')">{{
                    "error.max_length" | translate
                    }}100</mat-error>
                  </mat-form-field>
              </div>
            </div>
            <br /><br />
            <div class="row">

              <!-- Notice of dispute drivers licence province -->
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>Prov/State of DL</mat-label>
                  <mat-select formControlName="driversLicenceProvinceProvId"
                    (selectionChange)="onDLProvinceChange($event.value)">
                    <mat-option [value]="bc.provId">{{bc.provNm}}</mat-option>
                    <mat-option *ngFor="let province of provinces" [value]="province.provId">{{ province.provNm }}
                    </mat-option>
                    <mat-option *ngFor="let state of states" [value]="state.provId">{{ state.provNm }}</mat-option>
                  </mat-select>
                  <mat-error>{{ "error.required" | translate }}</mat-error>
                </mat-form-field>
              </div>

              <!-- Notice of dispute drivers licence number -->
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>DL number</mat-label>
                  <input matInput formControlName="driversLicenceNumber" (keypress)="($event.charCode >= 48 && $event.charCode < 58)" minlength="7" maxlength="9"
                    *ngIf="form.get('driversLicenceProvinceProvId').value === bc.provId" />
                  <input matInput formControlName="driversLicenceNumber" maxlength="20"
                    *ngIf="form.get('driversLicenceProvinceProvId').value !== bc.provId" />
                  <mat-error *ngIf="form.get('driversLicenceNumber').hasError('required')">{{ "error.required" |
                    translate }}</mat-error>
                  <mat-error *ngIf="
                         form.get('driversLicenceNumber')?.errors?.minlength ||
                         form.get('driversLicenceNumber').hasError('maxlength')">
                    Must be a valid BC driver's licence number of seven to nine digits
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div style="float: right; width: 100%;">
              <button class="large" mat-flat-button type="button" color="primary" (click)="resendEmailVerification()" *ngIf="lastUpdatedDispute.emailAddressVerified === false && lastUpdatedDispute.emailAddress">
                Resend Email Verify
              </button>
              <button class="large" mat-flat-button type="submit" color="primary"
                [disabled]="!form.touched || form.invalid">
                Save
              </button>
            </div>
          </section>
        </form>
      </div>
    </mat-expansion-panel>
    <app-ticket-request [disputeInfo]="lastUpdatedDispute" *ngIf="lastUpdatedDispute.emailAddressVerified === true || !(lastUpdatedDispute.emailAddress)"></app-ticket-request>
    <div style="float: right; width: 100%;" *ngIf="lastUpdatedDispute.emailAddressVerified === true || !(lastUpdatedDispute.emailAddress)">
      <button class="large" mat-flat-button type="button" color="primary"
        [disabled]="(lastUpdatedDispute.status !== DispStatus.New && lastUpdatedDispute.status !== DispStatus.Rejected) || this.form.invalid || this.form.touched"
        (click)="approve()" style="background-color:  #2ba242;">
        Approve and submit to ARC
      </button>
      <button class="large" mat-flat-button type="button" color="primary" style="background-color: red;"
        [disabled]="lastUpdatedDispute.status !== DispStatus.New || this.form.invalid || this.form.touched" (click)="reject()">
        Reject
      </button>
      <button class="large" mat-flat-button type="button" color="primary" (click)="cancel()">
        Cancel
      </button>
    </div>
  </div>

  <ng-template #noTicket>
    <h2>No current ticket</h2>
  </ng-template>
</div>
