<!-- filter by teams -->
<div class="row" style="width:97%">
  <mat-button-toggle-group style="border: 0px" (change)="filterByTeam($event.value)" [value]="currentTeam">
    <mat-button-toggle *ngFor="let teamCount of teamCounts" [value]="teamCount.team" class="teamFilterButton">
      <span style="float: left; margin-right: 20px !important; vertical-align: middle; color: #003366"><h2>TEAM {{ teamCount.team }}</h2></span>
      <span style="float: right; color: black; vertical-align: middle;"><h1><b>{{ teamCount.unassignedCount}}</b></h1></span>
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>
<br /><br />

<!-- bulk assignments -->
&nbsp;<mat-label><b>Bulk Assignments:</b></mat-label>
<div style="display: flex; flex-direction: row; justify-content: space-between; vertical-align: top; width:97%">
  <div style="display: flex; flex-direction: row; flex-direction: flex-start;">
    <mat-select [(ngModel)]="bulkjjAssignedTo" style="width:250px; background-color: #f2f2f2;">
      <mat-option value="unassigned"><i>choose a jj</i></mat-option>
      <mat-option *ngFor="let jj of jjDisputeService.jjList" [value]="jj.idir"><i>JJ {{ jj.fullName }}</i></mat-option>
    </mat-select>
    &nbsp;<button mat-raised-button [disabled]="getBulkButtonDisabled()" (click)="onBulkAssign()" style="width: 100px"><b>Submit</b></button>
  </div>
  <div>
    <button mat-button style="background-color: #fcba19" readonly="true"><mat-icon>check_circle_outline</mat-icon>&nbsp;<i>Assigned: <b>{{ getCurrentTeamCounts()?.assignedCount }}</b></i> </button>&nbsp;
    <button mat-button style="background-color: #c5c5c5" readonly="true"><mat-icon>query_builder</mat-icon>&nbsp;<i>Unassigned: <b>{{ getCurrentTeamCounts()?.unassignedCount }}</b></i></button>
  </div>
</div>
<br/>

<!--- table of unassigned results -->
<div class="row" style="width:97%">
  <table mat-table [dataSource]="unassignedDataSource" class="mat-elevation-z8" matSort (matSortChange)="sortData($event)" *ngIf="unassignedDataSource.data">
    <ng-container matColumnDef="assignedIcon">
      <th mat-header-cell *matHeaderCellDef style="width: 50px !important;">
      </th>
      <td mat-cell *matCellDef="let element" style="width: 50px !important; background-color: #c5c5c5;">
        <span class="material-symbols-outlined" style="color: #494949"><mat-icon style="margin-left:10px;">query_builder</mat-icon></span>
      </td>
    </ng-container>

    <ng-container matColumnDef="jjAssignedTo">
      <th mat-header-cell *matHeaderCellDef style="width:200px !important" mat-sort-header>
        <div>
          ASSIGNED TO
        </div>
      </th>
      <td mat-cell *matCellDef="let element" style="width:200px !important">
        <mat-select [(ngModel)]="element.jjAssignedTo" (selectionChange)="onAssign(element)" *ngIf="bulkjjAssignedTo==='' || bulkjjAssignedTo === 'unassigned'">
          <mat-option value="unassigned">unassigned</mat-option>
          <mat-option *ngFor="let jj of jjDisputeService.jjList" [value]="jj.idir">JJ {{ jj.fullName }}</mat-option>
        </mat-select>
        <div *ngIf="bulkjjAssignedTo !== '' && bulkjjAssignedTo !== 'unassigned'">
          <span *ngIf="element.jjAssignedTo !== null && element.jjAssignedTo !== 'unassigned'">JJ {{ element.jjAssignedToName }}</span>
          <span *ngIf="element.jjAssignedTo === null || element.jjAssignedTo === 'unassigned'">unassigned</span>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="bulkAssign">
      <th mat-header-cell *matHeaderCellDef style="width:50px !important">
        <div *ngIf="bulkjjAssignedTo=== '' || bulkjjAssignedTo === 'unassigned'">
          &nbsp;
        </div>
        <div style="display: flex !important; flex-direction: row !important; justify-content: space-between !important" *ngIf="bulkjjAssignedTo !== '' && bulkjjAssignedTo !== 'unassigned'">
          <mat-checkbox (change)="onSelectAll($event)"></mat-checkbox>
        </div>
      </th>
      <td mat-cell *matCellDef="let element" style="width:50px !important">
        <div *ngIf="bulkjjAssignedTo=== '' || bulkjjAssignedTo === 'unassigned'">
          &nbsp;
        </div>
        <div style="display: flex; flex-direction: row; justify-content: space-between" *ngIf="bulkjjAssignedTo !== '' && bulkjjAssignedTo !== 'unassigned'">
          <mat-checkbox [(ngModel)]="element.bulkAssign"></mat-checkbox>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="ticketNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:125px !important">
        VT NUMBER
      </th>
      <td mat-cell *matCellDef="let element" style="width:125px !important">
        <span><a (click)="backWorkbench(element)"  href="javascript:void()">{{ element.ticketNumber }}</a></span>
      </td>
    </ng-container>

    <ng-container matColumnDef="submittedTs">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:150px !important">
        SUBMITTED DATE
      </th>
      <td mat-cell *matCellDef="let element" style="width:150px !important">
        <span>{{ element.submittedTs | date: "dd-MMM-yyyy" }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="fullName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:150px !important">
        SURNAME, GIVEN NAME(S)
      </th>
      <td mat-cell *matCellDef="let element" style="width:150px !important">
        <span>{{ element.fullName }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="courthouseLocation">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:125px !important">
        COURT HOUSE
      </th>
      <td mat-cell *matCellDef="let element" style="width:125px !important">
        <span>{{ element.courthouseLocation }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="policeDetachment">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:200px !important">
        ENFORCEMENT AGENCY
      </th>
      <td mat-cell *matCellDef="let element" style="width:200px !important">
        <span>{{ element.policeDetachment }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="timeToPayReason">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:200px !important">
        TYPE
      </th>
      <td mat-cell *matCellDef="let element" style="width:200px !important">
        <span>{{ getType(element) }}</span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <!--- table of assigned results -->
  <table mat-table [dataSource]="assignedDataSource" class="mat-elevation-z8" matSort (matSortChange)="sortData($event)" *ngIf="assignedDataSource.data">
    <ng-container matColumnDef="assignedIcon">
      <th mat-header-cell *matHeaderCellDef style="width: 50px !important;">
      </th>
      <td mat-cell *matCellDef="let element" style="width: 50px !important; background-color: #fcba19;">
        <span class="material-symbols-outlined;"><mat-icon style="margin-left: 10px;">check_circle_outline</mat-icon></span>
      </td>
    </ng-container>

    <ng-container matColumnDef="jjAssignedTo">
      <th mat-header-cell *matHeaderCellDef style="width:200px !important" mat-sort-header>
        <div>
          ASSIGNED TO
        </div>
      </th>
      <td mat-cell *matCellDef="let element" style="width:200px !important">
        <mat-select [(ngModel)]="element.jjAssignedTo" (selectionChange)="onAssign(element)" *ngIf="bulkjjAssignedTo==='' || bulkjjAssignedTo=== 'unassigned'">
          <mat-option value="unassigned">unassigned</mat-option>
          <mat-option *ngFor="let jj of jjDisputeService.jjList" [value]="jj.idir">JJ {{ jj.fullName }}</mat-option>
        </mat-select>
        <div *ngIf="bulkjjAssignedTo !== '' && bulkjjAssignedTo !== 'unassigned'">
          <span *ngIf="element.jjAssignedTo !== null && element.jjAssignedTo !== 'unassigned'">JJ {{ element.jjAssignedToName }}</span>
          <span *ngIf="element.jjAssignedTo === null || element.jjAssignedTo === 'unassigned'">unassigned</span>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="bulkAssign">
      <th mat-header-cell *matHeaderCellDef style="width:50px !important">
        <div *ngIf="bulkjjAssignedTo=== '' || bulkjjAssignedTo === 'unassigned'">
          &nbsp;
        </div>
        <div style="display: flex !important; flex-direction: row !important; justify-content: space-between !important" *ngIf="bulkjjAssignedTo !== '' && bulkjjAssignedTo !== 'unassigned'">
          <mat-checkbox (change)="onSelectAll($event)"></mat-checkbox>
        </div>
      </th>
      <td mat-cell *matCellDef="let element" style="width:50px !important">
        <div *ngIf="bulkjjAssignedTo=== '' || bulkjjAssignedTo === 'unassigned'">
          &nbsp;
        </div>
        <div style="display: flex; flex-direction: row; justify-content: space-between" *ngIf="bulkjjAssignedTo !== '' && bulkjjAssignedTo !== 'unassigned'">
          <mat-checkbox [(ngModel)]="element.bulkAssign"></mat-checkbox>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="ticketNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:125px !important">
        VT NUMBER
      </th>
      <td mat-cell *matCellDef="let element" style="width:125px !important">
        <span><a (click)="backWorkbench(element)" href="javascript:void()">{{ element.ticketNumber }}</a></span>
      </td>
    </ng-container>

    <ng-container matColumnDef="submittedTs">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:150px !important">
        SUBMITTED DATE
      </th>
      <td mat-cell *matCellDef="let element" style="width:150px !important">
        <span>{{ element.submittedTs | date: "dd-MMM-yyyy" }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="fullName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:150px !important">
        SURNAME, GIVEN NAME(S)
      </th>
      <td mat-cell *matCellDef="let element" style="width:150px !important">
        <span>{{ element.fullName }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="courthouseLocation">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:125px !important">
        COURT HOUSE
      </th>
      <td mat-cell *matCellDef="let element" style="width:125px !important">
        <span>{{ element.courthouseLocation }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="policeDetachment">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:200px !important">
        ENFORCEMENT AGENCY
      </th>
      <td mat-cell *matCellDef="let element" style="width:200px !important">
        <span>{{ element.policeDetachment }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="timeToPayReason">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:200px !important">
        TYPE
      </th>
      <td mat-cell *matCellDef="let element" style="width:200px !important">
        <span>{{ getType(element) }}</span>
      </td>
    </ng-container>

    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
