<app-page [busy]="busy">
  <app-page-header>
    <ng-container header>Violation ticket lookup</ng-container>
    <ng-container subHeader>
      <strong>Ticket found.</strong> Please confirm ticket details below.
    </ng-container>
  </app-page-header>

  <div *ngIf="ticket">
    <app-count-summary [ticket]="ticket"></app-count-summary>

    <div class="row mt-4">
      <div class="col-md-4">
        <button id="secondaryButton"
                mat-stroked-button
                type="button"
                color="primary"
                class="large"
                routerLink="/ticket/find">
          Cancel and search again
        </button>
      </div>
      <div class="offset-md-2 col-md-6"
           *ngIf="ticket._outstandingBalanceDue > 0 || useMockServices">
        <div class="row">
          <!--  [ngClass]="{ 'offset-md-6': ticket._requestSubmitted && !useMockServices }" -->
          <div class="col-md-6">
            <button mat-flat-button
                    color="accent"
                    class="large"
                    (click)="onPayTicket()">
              Pay ticket
            </button>
          </div>
          <!--  *ngIf="!ticket._requestSubmitted || useMockServices" -->
          <div class="col-md-6">
            <button mat-flat-button
                    color="primary"
                    class="large"
                    (click)="onDisputeTicket()">
              Initiate dispute
            </button>
          </div>
        </div>
      </div>
    </div>

    <app-resolution-footer></app-resolution-footer>
  </div>
</app-page>
