<app-page>
  <app-page-header>
    <ng-container header>{{
      "stepper.overview.heading" | translate
    }}</ng-container>
    <ng-container subHeader>{{
      "stepper.overview.sub_heading" | translate
    }}</ng-container>
  </app-page-header>

  <section class="mb-2" *ngIf="disputantInfo && disputantInfo.surname">
    <div class="page-subheader">
      <h2 class="title">
        {{ "stepper.overview.disputant_information" | translate }}
      </h2>
    </div>
    <div class="row">
      <div class="col-6 mb-2">Surname of the Disputant</div>
      <div class="col-6 text-right mb-2">
        {{ disputantInfo.surname | default }}
      </div>
    </div>
    <div class="row">
      <div class="col-6 mb-2">Given Names</div>
      <div class="col-6 text-right">
        {{ disputantInfo.givenNames | default }}
      </div>
    </div>
    <div class="row">
      <div class="col-6 mb-2">Driver's License Number</div>
      <div class="col-6 text-right">
        {{ disputantInfo.license | default }}
      </div>
    </div>
    <div class="row">
      <div class="col-6 mb-2">Province</div>
      <div class="col-6 text-right">
        {{ disputantInfo.provLicense | default }}
      </div>
    </div>
    <div class="row">
      <div class="col-6 mb-2">Home Phone Number</div>
      <div class="col-6 text-right">
        {{ disputantInfo.homePhone | phone | default }}
      </div>
    </div>
    <div class="row">
      <div class="col-6 mb-2">Work Phone Number</div>
      <div class="col-6 text-right">
        {{ disputantInfo.workPhone | phone | default }}
      </div>
    </div>
    <div class="row">
      <div class="col-6 mb-2">Email Address</div>
      <div class="col-6 text-right">
        {{ disputantInfo.emailAddress | default }}
      </div>
    </div>
    <div class="row">
      <div class="col-6 mb-2">Birthdate</div>
      <div class="col-6 text-right">
        {{ disputantInfo.birthdate | formatDate | default }}
      </div>
    </div>
    <div class="page-subheader mt-2 mb-0">
      <strong class="title">Address</strong>
    </div>
    <div class="row">
      <div class="col-6 mb-2">Mailing Address</div>
      <div class="col-6 text-right">
        {{ disputantInfo.mailingAddress | default }}
      </div>
    </div>
    <div class="row">
      <div class="col-6 mb-2">City</div>
      <div class="col-6 text-right">
        {{ disputantInfo.city | default }}
      </div>
    </div>
    <div class="row">
      <div class="col-6 mb-2">Province</div>
      <div class="col-6 text-right">
        {{ disputantInfo.province | default }}
      </div>
    </div>
    <div class="row">
      <div class="col-6 mb-2">Postal Code</div>
      <div class="col-6 text-right">
        {{ disputantInfo.postal | postal | default }}
      </div>
    </div>
  </section>

  <section>
    <div class="page-subheader">
      <h2 class="title">
        {{ "stepper.overview.count_information" | translate }}
      </h2>
    </div>
    <ng-container *ngFor="let offence of offenceFormsList; let i = index">
      <ng-container *ngIf="offence.offenceNumber">
        <div class="row">
          <div class="col-5 text-left mb-2">
            {{ "stepper.overview.count" | translate }} #{{
              offence.offenceNumber
            }}
          </div>
          <small class="col-7 text-right mb-2">{{
            offence.offenceDescription
          }}</small>
        </div>

        <div class="row">
          <div class="col">
            <ul>
              <li *ngIf="offence.includeOffenceInDispute === false">
                {{ "stepper.overview.offence_not_included" | translate }}
              </li>
              <li *ngIf="offence.offenceAgreementStatus === '1'">
                {{ "stepper.count.offence_agreement_1" | translate }}
              </li>
              <li *ngIf="offence.offenceAgreementStatus === '2'">
                {{ "stepper.count.offence_agreement_2" | translate }}
              </li>
              <li *ngIf="offence.offenceAgreementStatus === '3'">
                {{ "stepper.count.offence_agreement_3" | translate }}
              </li>
              <li *ngIf="offence.offenceAgreementStatus === '4'">
                {{ "stepper.overview.offence_dispute" | translate }}
              </li>
              <ng-container
                *ngIf="
                  offence.offenceAgreementStatus === '1' ||
                  offence.offenceAgreementStatus === '2'
                "
              >
                <li *ngIf="offence.requestReduction">
                  {{ "stepper.count.requestReduction" | translate }}
                </li>
                <div *ngIf="offence.requestReduction">
                  {{ offence.reductionReason }}
                </div>
                <li *ngIf="offence.requestMoreTime">
                  {{ "stepper.count.requestMoreTime" | translate }}
                </li>
                <div *ngIf="offence.requestMoreTime">
                  {{ offence.moreTimeReason }}
                </div>
              </ng-container>
            </ul>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </section>

  <section class="mb-2" *ngIf="additionalInfo">
    <div class="page-subheader">
      <h2 class="title">
        {{ "stepper.overview.additional_information" | translate }}
      </h2>
    </div>
    <div class="row">
      <div class="col mb-2">
        <ul>
          <li *ngIf="additionalInfo.lawyerPresent">
            {{ "stepper.additional.lawyer" | translate }}
          </li>
          <li *ngIf="additionalInfo.interpreterRequired">
            {{ "stepper.additional.interpreter" | translate }} -
            {{
              additionalInfo.interpreterLanguage
                | configCode: "languages"
                | default
            }}
          </li>
          <li *ngIf="additionalInfo.witnessPresent">
            {{ "stepper.additional.witness" | translate }}
          </li>
        </ul>
      </div>
    </div>
  </section>

  <form (ngSubmit)="onSubmit()" [formGroup]="form" novalidate>
    <section class="mb-2">
      <div class="row">
        <div class="col">
          <mat-checkbox
            class="mr-4 mb-2"
            color="primary"
            formControlName="informationCertified"
          >
            {{ "stepper.overview.certify" | translate }}
            <mat-error
              *ngIf="
                (informationCertified.dirty || informationCertified.touched) &&
                informationCertified.invalid &&
                informationCertified.errors.required
              "
            >
              Required
            </mat-error>
          </mat-checkbox>
        </div>
      </div>
    </section>
  </form>

  <section class="mb-2">
    <div class="row">
      <div class="col">
        <app-alert type="warning" icon="warning">
          <ng-container #alertContent class="alert-content">
            <strong>{{ "stepper.overview.note_heading" | translate }}</strong
            ><br />
            {{ "stepper.overview.note_detail" | translate }}
          </ng-container>
        </app-alert>
      </div>
    </div>
  </section>

  <!--
    [saveButtonLabel]="nextBtnLabel" -->
  <app-page-footer
    [secondaryActionButtonIcon]="previousButtonIcon"
    [secondaryActionButtonKey]="previousButtonKey"
    [saveButtonKey]="saveButtonKey"
    [hasSecondaryAction]="true"
    (save)="onSubmit()"
    (back)="onBack()"
  ></app-page-footer>
</app-page>
