<div style="height:40px; vertical-align: middle">
  <p style="text-align:left;">
  <span style="vertical-align:middle;font-size:larger"><a (click)="onBack()" style="height:100%; vertical-align:middle">&nbsp;&nbsp;< Back</a></span>
  <span style="float:right;">
    <button mat-raised-button [matMenuTriggerFor]="printMenu">Print Options</button>&nbsp;
      <mat-menu #printMenu="matMenu" yPosition="below">
        <button mat-menu-item (click)="printDispute=!printDispute"><mat-icon *ngIf="printDispute">check</mat-icon><mat-icon *ngIf="!printDispute">close</mat-icon>Dispute Details</button>
        <button mat-menu-item (click)="printUploadedDocuments=!printUploadedDocuments"><mat-icon *ngIf="printUploadedDocuments">check</mat-icon><mat-icon *ngIf="!printUploadedDocuments">close</mat-icon>Uploaded Documents</button>
        <button mat-menu-item (click)="printFileHistory=!printFileHistory"><mat-icon *ngIf="printFileHistory">check</mat-icon><mat-icon *ngIf="!printFileHistory">close</mat-icon>File History</button>
        <button mat-menu-item (click)="printFileRemarks=!printFileRemarks"><mat-icon *ngIf="printFileRemarks">check</mat-icon><mat-icon *ngIf="!printFileRemarks">close</mat-icon>File Remarks</button>
      </mat-menu>
    <button mat-raised-button>Print</button>&nbsp;
    <button mat-raised-button [matMenuTriggerFor]="gotoMenu">Go to</button>
      <mat-menu #gotoMenu="matMenu" yPosition="below">
        <button mat-menu-item (click)="goTo('dispute-details')">Dispute Details</button>
        <button mat-menu-item (click)="goTo('uploaded-documents')">Uploaded Documents</button>
        <button mat-menu-item (click)="goTo('file-history')">File History</button>
        <button mat-menu-item (click)="goTo('file-remarks')">File Remarks</button>
    </mat-menu>
  </span>
  </p>
</div><br />
<div class="contact-info">
    <section>
      <a id="dispute-details">Dispute Details</a>
      <app-jj-dispute (onBack)="onBack()" [jjDisputeInfo]="jjDisputeInfo" [type]="'ticket'" [isViewOnly]="true"></app-jj-dispute>
    </section>
    <br /><br />
    <br /><br />
</div>
