@import "palette.scss";

h3 {
  font-weight: bold;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

a {
  color: theme-palette(blue, light);
  white-space: nowrap;

  &:hover {
    text-decoration: none;
  }
}

label {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

mat-icon {
  vertical-align: middle;
}

button.mat-flat-button .mat-icon {
  vertical-align: top;
  font-size: 1.25em;
}

small {
  color: theme-palette(grey, dark);
  line-height: 1.3em;
  padding-top: 10px;
}

.card-section {
  background-color: #ededed !important;
  border-left: 3px solid theme-palette(blue);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 0, 0.12);
}

hr {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
