<div *ngIf="ticket">
  <section class="mb-2">
    <app-resolution-header [ticket]="ticket"></app-resolution-header>
  </section>

  <div class="col mb-2 p-0"
       *ngIf="ticket._within30days">
    <app-alert type="success"
               icon="info">
      <ng-container #alertContent
                    class="alert-content">
        <strong>You are within 30 days of your violation date.</strong><br />
        If you pay your ticket by
        <strong>{{ ticket.discountDueDate | formatDate }}</strong>, you will pay
        <strong>{{
          ticket._outstandingBalanceDue
            | currency: "CAD":"symbol-narrow":"1.2-2":defaultLanguage
        }}</strong>, if paid after this date the amount due will be
        <strong>
          {{
            ticket._totalBalanceDue
              | currency: "CAD":"symbol-narrow":"1.2-2":defaultLanguage
          }}</strong>.
      </ng-container>
    </app-alert>
  </div>

  <div class="row mt-2 mb-2"
       *ngIf="selectView">
    <div class="col">
      <mat-checkbox (change)="onSelectAllChange($event)"
                    class="me-4 mb-2"
                    color="primary">
        I agree I committed this offence and I would like to pay all counts for
        this ticket.
      </mat-checkbox>
    </div>
  </div>

  <div class="mb-2">
    <section class="px-4 py-2 mb-3 card-section"
             *ngFor="let row of ticket.offences; let i = index">
      <app-count-item-summary #countitem
                              [count]="row"
                              [selectView]="selectView"></app-count-item-summary>
    </section>

    <ng-container *ngIf="ticket._within30days; else notWithin30days">
      <section class="px-4 py-2 mb-3 card-section">
        <div class="row mt-2">
          <div class="offset-lg-5 col-lg-5 text-success">
            Balance due if paid <strong>on or before</strong>
            {{ ticket.discountDueDate | formatDate }}
          </div>
          <div class="col-lg-2 text-success">
            <strong class="accent-header">{{
              ticket._outstandingBalanceDue
                | currency: "CAD":"symbol-narrow":"1.2-2":defaultLanguage
            }}</strong>
          </div>
        </div>
      </section>

      <section class="px-4 py-2 mb-3 card-section">
        <div class="row mt-2">
          <div class="offset-lg-5 col-lg-5">
            Balance due if paid <strong>after</strong>
            {{ ticket.discountDueDate | formatDate }}
          </div>
          <div class="col-lg-2">
            <strong>{{
              ticket._totalBalanceDue
                | currency: "CAD":"symbol-narrow":"1.2-2":defaultLanguage
            }}</strong>
          </div>
        </div>
      </section>
    </ng-container>

    <ng-template #notWithin30days>
      <section class="px-4 py-2 mb-3 card-section">
        <div class="row mt-2">
          <div class="offset-lg-6 col-lg-4 text-success">
            <strong>Balance due</strong>
          </div>
          <div class="col-lg-2 text-success">
            <strong>{{
              ticket._outstandingBalanceDue
                | currency: "CAD":"symbol-narrow":"1.2-2":defaultLanguage
            }}</strong>
          </div>
        </div>
      </section>
    </ng-template>
  </div>
</div>
