<div class="row mt-2">
  <div class="col-lg-2 pe-0">
    <div class="count-text-container">
      <mat-checkbox #selectCountCheckbox *ngIf="showCheckbox" [checked]="selectCount"
        (change)="onSelectCountChanged(selectCountCheckbox.checked)" color="primary" class="me-4 mb-2"></mat-checkbox>
      <span class="h2 count-text">
        <strong>Count {{ count.count }}</strong>
      </span>
    </div>
  </div>
  <div class="col-lg-8">
    <small class="d-block"> Description of offence </small>
    <div class="text">{{ count.description | titlecase }}</div>
  </div>
  <div class="col-lg-2">
    <small class="d-block">Offence amount</small>
    <div class="text">{{ count.ticketed_amount | currency }}</div>
  </div>
</div>