<div class="row mt-2">
  <div class="col-lg-2 pe-0">
    <div style="display: flex">
      <mat-checkbox #selectCountCheckbox
                    *ngIf="showCheckbox"
                    [checked]="selectCount"
                    (change)="onSelectCountChanged(selectCountCheckbox.checked)"
                    color="primary"
                    class="me-4 mb-2"></mat-checkbox>
      <mat-chip-list>
        <mat-chip selected
                  class="p-3">Count {{ count.offenceNumber }}</mat-chip>
      </mat-chip-list>
    </div>
  </div>
  <div class="col-lg-8">
    <small class="d-block"> Description of offence </small>
    <div class="text">{{ count.offenceDescription | titlecase }}</div>
  </div>
  <div class="col-lg-2">
    <small class="d-block">Amount due</small>
    <div class="text">{{ count._amountDue | currency }}</div>
  </div>
</div>
<hr />

<div class="row mb-2">
  <div class="offset-lg-2 col-lg-4">
    <small class="d-block">Status</small>
    <span [ngClass]="{
        'text-danger':
          count._offenceStatus === 'Owe' ||
          count._offenceStatus === 'InProgress',
        'text-primary':
          count._offenceStatus === 'New' ||
          count._offenceStatus === 'Submitted' ||
          count._offenceStatus === 'Rejected' ||
          count._offenceStatus === 'Unknown',
        'text-success':
          count._offenceStatus === 'Paid' || count._offenceStatus === 'Complete'
      }">
      <div class="text">{{ count._offenceStatusDesc }}</div>
    </span>
  </div>
  <div class="col-lg-4">
    <small class="d-block">Offence amount</small>
    <div class="text">{{ count.ticketedAmount | currency }}</div>
  </div>
</div>
