<div class="row mt-2">
  <div class="col-lg-2 pe-0">
    <div style="display: flex">
      <mat-checkbox
        #selectCountCheckbox
        *ngIf="showCheckbox"
        [checked]="selectCount"
        (change)="onSelectCountChanged(selectCountCheckbox.checked)"
        color="primary"
        class="me-4 mb-2"
      ></mat-checkbox>
      <mat-chip-list>
        <mat-chip selected class="p-3"
          >Count {{ count.offenceNumber }}</mat-chip
        >
      </mat-chip-list>
    </div>
  </div>
  <div class="col-lg-8">
    <small class="d-block"> Description of offence </small>
    <strong>{{ count.offenceDescription | titlecase }}</strong>
  </div>
  <div class="col-lg-2">
    <small class="d-block">Amount due</small>
    <strong>{{ count._amountDue | currency }}</strong>
  </div>
</div>
<hr />

<div class="row">
  <div class="offset-lg-2 col-lg-4">
    <small class="d-block">Status</small>
    {{ count._offenceStatusDesc }}
  </div>
  <div class="col-lg-4">
    <small class="d-block">Offence amount</small>
    {{ count.ticketedAmount | currency }}
  </div>
</div>
