<div mat-dialog-title class="d-flex justify-content-between">
  <h2>Image Requirements</h2>
  <button mat-icon-button mat-dialog-close color="primary">
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <p>Image upload information and requirementsYou can upload an image of any ticket type to see if it already exists in the system.</p>

  <p class="my-2 text-bold">If you do not get a ticket search result</p>
  <p>If you have a blue handwritten ticket that starts with an A, you may need to create your online ticket. Upload your ticket image to start the process and follow the prompts to create your ticket.</p>
  <p>If you have an Intersection Safety Camera or eTicket and you  do not get a result with the information on your ticket, contact the Violation Ticket Centre at <a href="tel:1-888-661-8026">1-888-661-8026</a>.</p>

  <p class="my-2 text-bold">For best ticket photo scanning results, follow these  instructions:</p>
  <ul>
    <li>Use a brightly lit area</li>
    <li>Take photo on plain, untextured background</li>
    <li>Try and crop image as close to edges as possible</li>
    <li>Ensure image is legible (no blurry text)</li>
  </ul>

  <p class="my-2 text-bold">Image specifications</p>
  <ul>
    <li>Acceptable formats: JPG, PNG or PDF</li>
    <li>Maximum size: 2 MB</li>
    <li>Try and crop image as close to edges as possible</li>
  </ul>
  <p><strong class="text-error">NOTE:</strong> If your image does not meet the criteria above there may be processing issues during reconciliation. Please ensure your image meets requirements.</p>
</mat-dialog-content>
<mat-dialog-actions>
  <span class="flex-grow-1"></span>
  <button mat-button mat-dialog-close color="primary" class="my-2 me-1">
    Close window &#215;
  </button>
</mat-dialog-actions>
