<div mat-dialog-title class="d-flex justify-content-between">
  <span class="text-center">
    Ticket #: <b>{{ params?.ticketNumber }}</b>
  </span>
  <button mat-icon-button mat-dialog-close color="primary">
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <mat-stepper class="status-stepper" labelPosition="bottom" [linear]="true" [disableRipple]="true">
    <mat-step *ngFor="let step of steps;" [completed]="step.isCompleted" editable="false">
      <ng-template matStepLabel>{{ step.type }}</ng-template>
    </mat-step>
  </mat-stepper>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="p-2 text-center">
    <div class="text-center">
      <img class="icon" src="/assets/support-icon.svg" />
      <strong>Looking for more support?</strong>
    </div>
    <div class="mt-2 text-body text-center">
      Contact 
      <a href="mailto:Courts.TCO@gov.bc.ca" style="text-decoration: underline;">Courts.TCO@gov.bc.ca</a>.
      Please note emails will be processed and responded to Monday - Friday (excluding statutory holidays) 
      from 9:00 AM to 4:00 PM.
    </div>
  </div>
</mat-dialog-actions>
