<div mat-dialog-title class="d-flex justify-content-between">
  <span>
    Ticket #: <h2><b>{{ params?.ticketNumber }}</b></h2>
  </span>
  <button mat-icon-button mat-dialog-close color="primary">
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="p-2">
    <div>
      <img class="icon-size2" src="/assets/support-icon.svg" />
      <strong>Looking for more support?</strong>
    </div>
    <div class="mt-2 text-body">
      Contact the Violation Ticket Centre toll free
      <a href="tel:+18776618026">1-877-661-8026</a>.
      <strong>Open weekdays 9 AM to 4 PM.</strong>
    </div>
  </div>
</mat-dialog-actions>