@import "../bootstrap/bootstrap-variables";
//
// MATERIAL OVERRIDES
//

// NOTE: Used to fix issues OR augment Material components
// that are not theme related

// Remove all outlines from all elements.  This is very aggressive! and should
// be removed once supported by Angular Material.
* {
  outline: none !important;
}

mat-label {
  color: theme-palette(grey, dark);
}

//
// Forms
//

.mat-checkbox-layout,
.mat-slide-toggle-content {
  // Force checkbox and slide labels to line wrap if required
  // instead of overflowing their container
  white-space: normal !important;
}

.mat-form-field {
  // Provide a bit more spacing under form fields so error
  // messages are not resting on underlying field labels
  margin-bottom: 0.3rem;
}

.mat-checkbox label,
.mat-radio-button label {
  color: theme-palette(blue);
}

.mat-drawer-container {
  color: $body-color;
}

.mat-vertical-content {
  padding: 0 !important;
}

.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
  background-color: #155724 !important;
  color: #fff !important;
}

.mat-step-icon-state-error .mat-icon {
  font-size: 28px !important;
  height: 28px !important;
  width: 28px !important;
}

.mat-step-label-selected {
  font-weight: bold;
  font-size: 1.2em;
}

.mat-step-text-label {
  white-space: normal;
  font-size: 16px;
  font-weight: 400;
}

.mat-form-field .mat-form-field-label-wrapper label {
  line-height: 21px;
}

.mat-form-field .mat-form-field-infix input {
  line-height: 21px;
}

.mat-vertical-content {
  padding: 0 24px 0px 24px !important;
}

.mat-form-field-appearance-fill .mat-form-field-underline::before {
  background-color: theme-palette(blue);
}

.mat-form-field-ripple {
  background-color:  theme-palette(blue);
}

@media (max-width: 767px) {
  .mat-vertical-content {
    padding: 0 0 0px 14px !important;
  }

  .mat-vertical-content-container {
    margin-left: 10px !important;
  }

  .mat-stepper-label-position-bottom .mat-horizontal-stepper-header,
  .mat-vertical-stepper-header {
    padding: 24px 0;
  }

  mat-radio-button .mat-radio-label-content {
    white-space: normal;
    line-height: 1.3em;
  }

  mat-radio-button .mat-radio-label {
    align-items: normal;
  }

  .mat-radio-container {
    top: 5px;
  }
}
