// ---
// MATERIAL
// ---

@import "./material-variables";
@import "./material-core";
@import "./material-palette";
@import "./material-theme";
@import "./material-overrides";
@import "./components/mat-button";
@import "./components/mat-forms";
@import "./components/mat-progress";
@import "./components/mat-sidenav";
@import "./components/mat-snackbar";
@import "./components/mat-expansion-panel";

mat-label {
  color: #003366;
}

.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
  background-color: #155724 !important;
  color: #fff !important;
}
