@import "../bootstrap/bootstrap-variables";
//
// MATERIAL OVERRIDES
//

// NOTE: Used to fix issues OR augment Material components
// that are not theme related

// Remove all outlines from all elements.  This is very aggressive! and should
// be removed once supported by Angular Material.
* {
  outline: none !important;
}

mat-label {
  color: theme-palette(blue);
}

//
// Forms
//

.mat-checkbox-layout,
.mat-slide-toggle-content {
  // Force checkbox and slide labels to line wrap if required
  // instead of overflowing their container
  white-space: normal !important;
}

.mat-form-field {
  // Provide a bit more spacing under form fields so error
  // messages are not resting on underlying field labels
  margin-bottom: 0.3rem;
}

.mat-checkbox label,
.mat-radio-button label {
  color: theme-palette(blue);
}

.mat-drawer-container {
  color: $body-color;
}

.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
  background-color: #155724 !important;
  color: #fff !important;
}

.mat-step-text-label {
  font-weight: bold;
  font-size: 1.2em;
}
