<app-page>
  <app-page-header>
    <ng-container header>
      Update Contact Information
    </ng-container>
    <ng-container subHeader>
      Enter changes to your contact information. All the fields are mandatory, so please enter information for each box and click the 'Update Contact Information' button.
Your current contact information on file is not being displayed to protect your privacy.
    </ng-container>
  </app-page-header>
  <section style="padding-bottom: 1rem;">
    <app-resolution-header></app-resolution-header>
  </section>

  <app-disputant-form *ngIf="form" [form]="form" [mode]="mode" [preferEmail]="preferEmail"></app-disputant-form>

  <div fxLayout="row" class="my-4 d-print-none">
    <button fxFlex="25" mat-stroked-button color="primary" class="large" (click)="back()">
      Cancel request
    </button>
    <div fxFlex></div>
    <button fxFlex="35" mat-flat-button color="primary" class="large" (click)="updateContact()"
      [disabled]="!form?.valid">
      <strong>Update contact Information</strong>
    </button>
  </div>
</app-page>
