<mat-card>
  <span>
    <span><b>Home Phone Number ({{ disputantUpdateRequest.status }})</b></span>
    <span style="float:right">
      {{ disputantUpdateRequest.createdTs | date: "MMMM dd, yyyy" }}
    </span>
  </span><br /><br />
  <div style="display: grid; grid-template-columns: auto auto auto" *ngIf="requestReadable === true && disputantUpdateRequest.status === 'PENDING'">
    <span class="section-grid-cell">
      <p class="section-grid-header">&nbsp;</p>
    </span>
    <span class="section-grid-cell">
      <p class="section-grid-header">Current</p>
    </span>
    <span class="section-grid-cell">
      <p class="section-grid-header">Requested Update</p>
    </span>
    <span class="section-grid-cell">
      <p class="section-grid-header">Home Phone Number</p>
    </span>
    <span class="section-grid-cell">
      <p class="section-grid-text" *ngIf="disputeInfo.addressCountryId === 1 || disputeInfo.addressCountryId === 2">{{ disputeInfo.homePhoneNumber | phone}}</p>
      <p class="section-grid-text" *ngIf="disputeInfo.addressCountryId !== 1 && disputeInfo.addressCountryId !== 2">{{ disputeInfo.homePhoneNumber }}</p>
    </span>
    <span class="section-grid-cell">
      <p class="section-grid-text" *ngIf="disputeInfo.addressCountryId === 1 || disputeInfo.addressCountryId === 2">{{ updateRequested.home_phone_number | phone }}</p>
      <p class="section-grid-text" *ngIf="disputeInfo.addressCountryId !== 1 && disputeInfo.addressCountryId !== 2">{{ updateRequested.home_phone_number }}</p>
    </span>
    <br />
  </div>
  <div style="display: grid; grid-template-columns: auto auto" *ngIf="requestReadable === true && disputantUpdateRequest.status !== 'PENDING'">
    <span class="section-grid-cell">
      <p class="section-grid-header">&nbsp;</p>
    </span>
    <span class="section-grid-cell">
      <p class="section-grid-header">Requested Update</p>
    </span>
    <span class="section-grid-cell">
      <p class="section-grid-header">Home Phone Number</p>
    </span>
    <span class="section-grid-cell">
      <p class="section-grid-text" *ngIf="disputeInfo.addressCountryId === 1 || disputeInfo.addressCountryId === 2">{{ updateRequested.home_phone_number | phone }}</p>
      <p class="section-grid-text" *ngIf="disputeInfo.addressCountryId !== 1 && disputeInfo.addressCountryId !== 2">{{ updateRequested.home_phone_number }}</p>
    </span>
    <br />
  </div>
  <div>
    <span style="float:right" *ngIf="disputantUpdateRequest.status === 'PENDING'">
      <mat-button-toggle-group [(ngModel)]="disputantUpdateRequest.newStatus" aria-label="Decision" (change)="statusChange($event)">
        <mat-button-toggle value="ACCEPTED" *ngIf="requestReadable === true">Accept</mat-button-toggle>
        <mat-button-toggle value="REJECTED">Reject</mat-button-toggle>
        <mat-button-toggle value="PENDING">Pending</mat-button-toggle>
      </mat-button-toggle-group>
    </span>
  </div>
  <div *ngIf="requestReadable === false">Update Request Unreadable {{ disputantUpdateRequest.updateJson }}</div>
  <br /><br />
</mat-card>
