@if (disputantUpdateRequest.status === 'PENDING' && updateRequested.HomePhoneNumber !== disputeInfo.homePhoneNumber) {
  <mat-card appearance="outlined">
    <span>
      <span><b>Home Phone Number ({{ disputantUpdateRequest.status }})</b></span>
      <span style="float:right">
        {{ disputantUpdateRequest.createdTs | date: "dd-MMM-yyyy" }}
      </span>
    </span><br /><br />
    @if (requestReadable === true) {
      <div style="display: grid; grid-template-columns: auto auto auto">
        <span class="section-grid-cell">
          <p class="section-grid-header">&nbsp;</p>
        </span>
        <span class="section-grid-cell">
          <p class="section-grid-header">Current</p>
        </span>
        <span class="section-grid-cell">
          <p class="section-grid-header">Requested Update</p>
        </span>
        <span class="section-grid-cell">
          <p class="section-grid-header">Home Phone Number</p>
        </span>
        <span class="section-grid-cell">
          @if (disputeInfo.addressCountryId === 1 || disputeInfo.addressCountryId === 2) {
            <p class="section-grid-text">{{ disputeInfo.homePhoneNumber | phone}}</p>
          }
          @if (disputeInfo.addressCountryId !== 1 && disputeInfo.addressCountryId !== 2) {
            <p class="section-grid-text">{{ disputeInfo.homePhoneNumber }}</p>
          }
        </span>
        <span class="section-grid-cell">
          @if (disputeInfo.addressCountryId === 1 || disputeInfo.addressCountryId === 2) {
            <p class="section-grid-text">{{ updateRequested.HomePhoneNumber | phone }}</p>
          }
          @if (disputeInfo.addressCountryId !== 1 && disputeInfo.addressCountryId !== 2) {
            <p class="section-grid-text">{{ updateRequested.HomePhoneNumber }}</p>
          }
        </span>
        <br />
      </div>
    }
    <div>
      @if (disputantUpdateRequest.status === 'PENDING') {
        <span style="float:right">
          <mat-button-toggle-group [(ngModel)]="disputantUpdateRequest.newStatus" aria-label="Decision" (change)="statusChange($event)">
            @if (requestReadable === true) {
              <mat-button-toggle value="ACCEPTED">Accept</mat-button-toggle>
            }
            <mat-button-toggle value="REJECTED">Reject</mat-button-toggle>
            <mat-button-toggle value="PENDING">Pending</mat-button-toggle>
          </mat-button-toggle-group>
        </span>
      }
    </div>
    @if (requestReadable === false) {
      <div>Update Request Unreadable {{ disputantUpdateRequest.updateJson }}</div>
    }
    <br /><br />
  </mat-card>
}
