<h3 mat-dialog-title class="d-flex align-items-stretch">
  <mat-icon *ngIf="options.icon && !options.imageSrc" [color]="options.actionType">{{ options.icon }}</mat-icon>&nbsp;
  <img *ngIf="options.imageSrc" [attr.src]="options.imageSrc" alt="" />
  <strong style="color: red;" *ngIf="options.titleKey">{{ options.titleKey | translate }}</strong>
</h3>
<mat-dialog-content>
  <p *ngIf="options.messageKey">{{ options.messageKey | translate }}</p>
  <ng-template appDialogContent></ng-template>
  <mat-form-field style="width:100%">
    <textarea matInput maxlength="256"
       [formControl]="reasonForm.get('reason')">
    </textarea>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button *ngIf="!options.cancelHide" mat-stroked-button color="primary" [mat-dialog-close]="false" cdkFocusInitial
    class="my-2 me-2">
    {{ options.cancelTextKey }}
  </button>

  <span class="flex-grow-1"></span>

  <button *ngIf="!options.actionHide" mat-flat-button color="primary" (click)="onConfirm()"
    class="my-2 me-1" [disabled]="reasonForm.valid == false">
    {{ options.actionTextKey }}
  </button>
  <a *ngIf="options.actionLink" [attr.href]="options.actionLink.href" [attr.target]="options.actionLink.target">
    {{ options.actionLink.text }}
  </a>
</mat-dialog-actions>
