<h2 mat-dialog-title>Ticket Payment</h2>
<mat-dialog-content>
  <p>Enter your credit card information...</p>
  <!--
  <form class="mt-4" novalidate>
    <section class="mb-2">
      <div class="row">
        <div class="col-md-4 pb-4">
          <mat-form-field class="w-100 mb-2">
            <mat-label>Violation ticket number</mat-label>
            <input
              formControlName="violationTicketNumber"
              matInput
              type="text"
              autocomplete="off"
            />
            <mat-hint>
              <strong>A ticket number is 2 letters and 8 numbers</strong>
            </mat-hint>
          </mat-form-field>
        </div>
      </div>
    </section>
  </form>
  -->
</mat-dialog-content>
<mat-dialog-actions>
  <button
    type="button"
    mat-button
    mat-flat-button
    color="primary"
    class="my-2 mr-1"
    cdkFocusInitial
    (click)="onProceedWithPayment()"
  >
    Proceed with payment
  </button>
  <button
    type="button"
    mat-button
    mat-stroked-button
    mat-dialog-close
    class="my-2 mr-1"
  >
    Cancel
  </button>
</mat-dialog-actions>
