<app-header></app-header>

Authorizing...
<!-- <div class="login"> -->
    <!-- <div class="container">
      <mat-card class="example-card" style="background-color: #ebe9e9;">
        <mat-card-header class="card-header-section">
            <mat-card-title> Log in with IDIR</mat-card-title>
        </mat-card-header>
        <mat-card-content class="card-content">
         <div class="row">
             <h3>User ID IDIR </h3>
             <input type="input" #fileNumber value="" class="font_bold"/>
         </div>
         <div class="row">
          <h3>Password</h3>
          <input type="input" #fileNumber value="" class="font_bold"/>
      </div>
        </mat-card-content>
        <mat-card-actions>
          <button class="btn-primary" mat-button>continue</button>
         <div>
          <a href="">Forget your User ID or Password</a>
         </div>
       
        </mat-card-actions>
      </mat-card> -->
      <!-- <section>
      <div class="row">
        <mat-form-field appearance="fill">
          <mat-label>Input</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="fill">
          <mat-label>Input</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
    </section> -->
    <!-- </div>
  </div> -->


<app-footer></app-footer>
