
.example-card{
  margin-top: 35px;
  width: 600px;

}
.card-header-section{
  background-color: #003366;
  margin-left: -16px;
  margin-right: -16px;
  margin-top: -16px !important;
  margin-bottom: 20px;
  color: white;
  height: 44px;
  padding-top: 6px;
  border-radius: 3px 3px 0px 0px;
}

.card-content{
  h3{
    color: black;
  }
  .row{
    margin-top: 5px;
  }
  input{
    width: 180px;
    margin-left: 10px;
  }
 
}

mat-card-actions{
  button {
    background-color: #003366;
    color: white;
  }
}