<app-page>
  <app-page-header>
    <ng-container header>Additional Information</ng-container>
    <ng-container subHeader
      >The following questions apply to all offences for this ticket that are
      currently under dispute.</ng-container
    >
  </app-page-header>

  <form (ngSubmit)="onSubmit()" [formGroup]="form" novalidate>
    <!--  *ngIf="isCourtRequired" -->
    <section>
      <h3>Please indicate if the following apply:</h3>
      <div class="row">
        <div class="col">
          <mat-checkbox
            class="mr-4 mb-2"
            color="primary"
            formControlName="lawyerPresent"
          >
            I intend to be represented at the hearing by a lawyer.
          </mat-checkbox>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-checkbox
            class="mr-4 mb-2"
            color="primary"
            formControlName="interpreterRequired"
          >
            I require a speaking interpreter at the hearing.
          </mat-checkbox>
          <!--
          <mat-error *ngIf="formStepCourt.hasError('requiredIfTrue')">
            Required
          </mat-error>-->
        </div>
      </div>

      <div class="row" *ngIf="interpreterRequired.value">
        <div class="col">
          <mat-form-field class="w-100">
            <mat-label>Interpreter Language</mat-label>
            <mat-select formControlName="interpreterLanguage">
              <mat-option
                *ngFor="let language of languages"
                [value]="language.code"
              >
                {{ language.name }}
              </mat-option>
            </mat-select>
            <mat-error>Required</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-checkbox
            class="mr-4 mb-2"
            color="primary"
            formControlName="witnessPresent"
          >
            I intend to call a witness.
          </mat-checkbox>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <app-alert type="warning" icon="warning">
            <ng-container #alertContent class="alert-content">
              <strong>Note:</strong> If the disputant or the disputant’s agent
              does not attend the court hearing, the court will treat the
              violation ticket as not disputed, the conviction(s) to the
              allegation(s) will be recorded against the record of the
              disputant, and the prescribed ticketed amount(s) will become
              immediately due and payable.
            </ng-container>
          </app-alert>
        </div>
      </div>
    </section>
  </form>

  <app-page-footer (save)="onSubmit()" (back)="onBack()"></app-page-footer>
</app-page>
