.mat-flat-button,
.mat-stroked-button {
  width: 100%;
  margin-bottom: 1em;

  &.large {
    height: 46px;
    font-size: 1rem;
  }
}

@media screen and (max-width: 960px) {
  img {
    width: 100% !important;
    height: 100% !important;
  }
}

.mat-icon-form-data {
  font-size: 30px;
  height: 30px;
  width: 30px;
}
