td, th {
    vertical-align: middle !important;
    padding-left: 10px !important;
}

h3, h2 {
  font-weight: bold;
}

th {
  color: white;
  background-color: #65799e;
}

.mat-button-toggle-appearance-standard {
  background-color: white;
  color: #003366;
  border: 1px solid #65799e !important;
  box-shadow: 0px 0px 10px 0px #65799e,
  0 1px 1px 0 #65799e,
  0 1px 3px 0 #65799e;
  opacity: 0.7;
}

.mat-button-toggle-checked {
  background-image: linear-gradient(#1a5a96, #1a5a96);
  background-size: 10px;
  background-repeat: no-repeat;
  color: #003366;
  border: 1px solid #003366 !important;
  box-shadow: 0px 0px 10px 0px #003366,
  0 1px 1px 0 #003366,
  0 1px 3px 0 #003366;
}

.teamFilterButton {
  padding-top: 10px; height: 50px; width: 230px !important; border-radius: 5px; margin-right: 20px; margin-bottom: 5px; margin-top: 5px; margin-left: 2px;
}

.mat-row:nth-child(2n+1){
  background-color: #f2f2f2;
}
.mat-row:nth-child(2n){
  background-color:#ffffff;
}

.inputContainer {
    display: flex;
    align-items: center;
    position: relative;
  }

  .input[name="searchInput"] {
    width: 100%;
    padding-right: 40px;
  }

  .inputIcon {
    position: absolute;
    right: 10px;
  }

  .centerColumn {
    text-align: center !important;
  }

  .centerColumn.mat-sort-header-container {
    justify-content: center !important;
}

::ng-deep .mat-sort-header-arrow {
  color: #fff;
}
