<div class="flex-wrapper">
  <div class="flex-header d-print-none">
    <app-header></app-header>

    <div class="header-summary">
      <div class="summary-header mb-3">
        <div class="container">
          <ul class="header-summary-links">
            <li>
              <a [routerLink]="['/']"
                 class="primary-navigation understand-your-ticket"
                 rel="noopener">
                Home
              </a>
            </li>
            <span class="divider">|</span>
            <li>
              <a [routerLink]="['/ticket/']"
                 [routerLinkActive]="['is-active']"
                 class="primary-navigation payment-options"
                 rel="noopener">
                Ticket Resolution
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-footer">
    <app-footer></app-footer>
  </div>
</div>
