@import "palette";
@import "bootstrap/bootstrap-imports";

.is-active {
  text-decoration: underline;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}

.flex-footer {
  margin-top: auto;
}

.header-summary-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;

  li {
    margin-bottom: 0;
    margin-left: 1em;
    margin-right: 1em;
    line-height: unset;

    &:first-child {
      margin-left: 0;
    }
  }

  a {
    font-size: 1.125em;
    color: #fff !important;
    font-weight: 400;
  }
}

.divider {
  color: #fff;
}

div.summary-header {
  background-color: theme-palette(blue, bg);
  width: 100%;
  min-height: 60px;
  padding: 20px 0;
  opacity: 0.8;
}

div.container {
  opacity: unset;

  button a {
    color: theme-palette(blue);
  }

  a {
    color: theme-palette(blue, link);
    white-space: nowrap;
  }
}
