@import "../bootstrap/bootstrap-variables";
//
// MATERIAL OVERRIDES
//

// NOTE: Used to fix issues OR augment Material components
// that are not theme related

// Remove all outlines from all elements.  This is very aggressive! and should
// be removed once supported by Angular Material.
* {
  outline: none !important;
}

mat-label {
  color: theme-palette(grey, dark);
}

mat-error {
  font-weight: bold;
}

//
// Forms
//


.mat-mdc-form-field {
  // Provide a bit more spacing under form fields so error
  // messages are not resting on underlying field labels
  margin-bottom: 0.3rem;
}

.mat-mdc-form-field {
  --mat-form-field-container-height: auto;
  --mat-form-field-container-vertical-padding: 8px;
  --mat-form-field-outlined-label-text-populated-size: 12px;
  --mat-form-field-container-text-line-height: 18px;

  width: 100%;
  margin-bottom: 0px;
  padding: 0.5rem 0.5rem 0.5rem 0;

  & .mat-mdc-text-field-wrapper {
    --mat-form-field-filled-container-color: white;

    border: 1px solid #ddd;
    border-radius: 4px;
  }

  & [matformfieldlineripple] {
    display:none;
  }
}

.mat-mdc-form-field.mat-form-field-invalid {
  & .mat-mdc-text-field-wrapper {
    border-color: red;
  }
}

.mat-mdc-form-field-type-mat-select {
  --mat-form-field-container-vertical-padding: 4px;
}

.mat-mdc-checkbox-checked label,
.mat-mdc-radio-checked label {
  font-weight: 700;
}

.mat-drawer-container {
  color: $body-color;
}

.mat-vertical-content {
  padding: 0 !important;
}

.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
  background-color: #155724 !important;
  color: #fff !important;
}

.mat-step-icon-state-error .mat-icon {
  font-size: 28px !important;
  height: 28px !important;
  width: 28px !important;
}

.mat-step-label-selected {
  font-weight: bold;
  font-size: 1.2em;
}

.mat-step-text-label {
  white-space: normal;
  font-size: 16px;
  font-weight: 400;
}

.mat-step-icon-selected {
  transform: scale(1.5);
}

.mat-step-label-selected .mat-step-text-label {
  color: theme-palette(blue);
  font-weight: 700;
  font-size: 24px;
}

.mat-vertical-content {
  padding: 0 24px 0px 24px !important;
}

/*TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
.mat-form-field-appearance-fill .mat-form-field-underline::before {
  background-color: theme-palette(blue);
}

/*TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
.mat-form-field-ripple {
  background-color: theme-palette(blue);
}

/*TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
.mat-form-field-wrapper .mat-form-field-flex {
  border: 2px transparent solid;
}

/*TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
.mat-checkbox-label.mat-checkbox-label,
.wrap-mat-radio-label.wrap-mat-radio-label {
  color: #333333;
}

.mat-form-field-invalid {
  & mat-icon {
    color: theme-palette(red);
  }

  /*TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
  & .mat-form-field-wrapper .mat-form-field-flex {
    border: 2px theme-palette(red) solid;
    border-radius: 0;
  }
}

.mat-mdc-tooltip {
  font-size: 1em;
}

// Prevents scrolling on smaller option dropdowns
.mat-mdc-select-panel.mat-select-panel {
  max-height: 290px;
}

@media (max-width: 767px) {
  .mat-vertical-content {
    padding: 0 0 0px 14px !important;
  }

  .mat-vertical-content-container {
    margin-left: 10px !important;
  }

  .mat-stepper-label-position-bottom .mat-horizontal-stepper-header,
  .mat-vertical-stepper-header {
    padding: 24px 0;
  }
}
