<h2 mat-dialog-title class="d-flex align-items-stretch">Ticket example</h2>
<mat-dialog-content>
  <p>
    See the top right for your ticket number, the correct format is 2 letters
    followed by 8 numbers: <strong>XX00000000</strong>
  </p>
  <img
    src="/assets/violation_ticket_sample.jpg"
    style="max-width: 550px"
    alt="Ticket"
  />
  <h2>Ticket types</h2>
  <p>
    What letters does your ticket start with? That will tell you your ticket
    type:
  </p>
  <p>
    <strong>A</strong> or <strong>E</strong> is a
    <i>Motor Vehicle Act - Violation Ticket</i>
  </p>
  <p>
    <strong>ST</strong> or <strong>SG</strong> is a
    <i
      >Motor Vehicle Act - Intersection Safety Violation Ticket (Red light and
      Speed)</i
    >
  </p>
</mat-dialog-content>
<!--
<mat-dialog-actions>
  <button mat-flat-button mat-dialog-close color="primary" class="my-2 mr-1">
    Close
  </button>
</mat-dialog-actions>
-->
