.contact-info{
    margin-bottom: 12%;
    .contact-info{
        // margin-bottom: 60px;
        .subheader{
            font-weight: 600;
            color: #003366;
        }
        button{
            width: 167px;
            border-radius: inherit;
        }
    }
}