@import "palette.scss";

h3 {
  font-weight: bold;
}

.disputre {
  width: 100%;
}

.button {
  padding: 20px;
  background-color: #c2c2c2;
  color: #fff;
}

.mat-flat-button {
  width: 30% !important;
  float: right;
  margin-top: 1em;
  margin-right: 20px;

  &.large {
    height: 46px;
    font-size: 1.125em;
    font-weight: bold;
  }

  &.light {
    background-color: theme-palette(blue, bg);
    color: white;
  }
}

.mat-flat-button[disabled] {
  background-color: rgba(0, 0, 0, 0.04) !important;
}

.contact-info {
  margin-bottom: 12%;
  .contact-info {
    // margin-bottom: 60px;
    .contact-body{
        margin-top: 20px;
    }
    button {
      width: 167px;
      border-radius: inherit;
    }
    // :host
  }
  
  mat-expansion-panel {
    box-shadow: none !important;
    padding-bottom: 1em;
    border-bottom: 1px solid theme-palette(grey, light);
  }

  mat-expansion-panel-header {
    padding-left: 0;
    padding-right: 0.5em;
  }
}
::ng-deep {
  .mat-expansion-indicator {
    display: none !important;
  }
  .heading-hr {
    width: 700% !important;
  }
  .subheader span{
    font-weight: 600;
    color: #1d4a77;
  }
}
