.contact-info {
  margin-bottom: 12%;
  .contact-info {
    // margin-bottom: 60px;
    .contact-body{
        margin-top: 20px;
    }
    button {
      width: 167px;
      border-radius: inherit;
    }
    // :host
  }
  mat-expansion-panel {
    box-shadow: none !important;
    padding-bottom: 1em;
    border-bottom: 1px solid theme-palette(grey, light);
  }

  mat-expansion-panel-header {
    padding-left: 0;
    padding-right: 0.5em;
  }
}
::ng-deep {
  .mat-expansion-indicator {
    display: none !important;
  }
  .heading-hr {
    width: 700% !important;
  }
  .subheader span{
    font-weight: 600;
    color: #1d4a77;
  }
}
