<div class="contact-info">
  <a (click)="onBack()" style="color: #48afe5">
    <mat-icon inline="true">arrow_back</mat-icon> Back to TRM home
  </a>
  <div class="contact-info">

    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header (click)="handleCollapse('contactInformation')">
        <app-page-header>
          <ng-container subHeader>
            <span>Contact Information </span>
            <i *ngIf="collapseObj?.contactInformation" class="fa fa-minus-circle"
              style="font-size:18px; color:#009cde"></i>
            <i *ngIf="!collapseObj?.contactInformation" class="fa fa-plus-circle"
              style="font-size:18px; color:#009cde"></i>
          </ng-container>
        </app-page-header>

      </mat-expansion-panel-header>
      <div class="contact-body">
        <form (ngSubmit)="onSubmit()" [formGroup]="form" novalidate>
          <section class="mb-2" style="width: 66%;">
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>Surname</mat-label>
                  <input matInput [readonly]="disableForm" formControlName="surname" />
                  <!-- <mat-error>{{ "error.required" | translate }}</mat-error> -->
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>Given names</mat-label>
                  <input matInput [readonly]="disableForm" formControlName="givenNames" />
                  <!-- <mat-error>{{ "error.required" | translate }}</mat-error> -->
                </mat-form-field>
              </div>
            </div>

            <section>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="w-100">
                    <mat-label>Mailing address</mat-label>
                    <input matInput [readonly]="disableForm" formControlName="mailingAddress" />
                    <!-- <mat-error>{{ "error.required" | translate }}</mat-error> -->
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="w-100">
                    <mat-label>Country</mat-label>
                    <input matInput [readonly]="disableForm" formControlName="country" />
                    <!-- <mat-error>{{ "error.required" | translate }}</mat-error> -->
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="w-100">
                    <mat-label>City</mat-label>
                    <input matInput [readonly]="disableForm" formControlName="city" />
                    <!-- <mat-error>{{ "error.required" | translate }}</mat-error> -->
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="w-100">
                    <mat-label>Province</mat-label>
                    <input matInput [readonly]="disableForm" formControlName="province" />
                    <!-- <mat-error>{{ "error.required" | translate }}</mat-error> -->
                  </mat-form-field>
                </div>
              </div>
            </section>

            <div class="row">

              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>Postal code</mat-label>
                  <input matInput [readonly]="disableForm" mask="S0S 0S0"
                    oninput="this.value = this.value.toUpperCase()" formControlName="postalCode"
                    [showMaskTyped]="true" />
                  <!-- <mat-error>{{ "error.required" | translate }}</mat-error> -->
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>Birthdate</mat-label>
                  <input matInput [readonly]="disableForm" [matDatepicker]="picker"
                    formControlName="birthdate" readonly (click)="picker.open()" />
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker [touchUi]="isMobile" startView="multi-year"></mat-datepicker>
                  <!-- <mat-error *ngIf="form.get('birthdate').hasError('required')">{{
                "error.required" | translate
                }}</mat-error> -->
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>Phone number</mat-label>
                  <input matInput [readonly]="disableForm" formControlName="phoneNumber" mask="(000) 000-0000"
                    [showMaskTyped]="true" />
                  <!-- <mat-error *ngIf="phoneNumber.hasError('required')">{{
                "error.required" | translate
                }}</mat-error>
              <mat-error *ngIf="phoneNumber.hasError('phone')">Must be a valid phone number</mat-error> -->
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>Email address</mat-label>
                  <input matInput [readonly]="disableForm" formControlName="emailAddress" autocomplete="off" />
                  <!-- <mat-error *ngIf="emailAddress.hasError('required')">{{
                "error.required" | translate
                }}</mat-error>
              <mat-error *ngIf="emailAddress.hasError('email')">{{
                "error.email_address" | translate -->
                  <!-- }}</mat-error> -->
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>Driver's licence number</mat-label>
                  <input matInput [readonly]="disableForm" formControlName="driverLicenceNumber" mask="0000000"
                    [showMaskTyped]="false" />
                  <!-- <mat-error>{{ "error.required" | translate }}</mat-error> -->
                </mat-form-field>
              </div>

              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>Province or state of driver's licence</mat-label>
                  <input matInput [readonly]="disableForm" formControlName="driverLicenceProvince" />
                  <!-- <mat-error>{{ "error.required" | translate }}</mat-error> -->
                </mat-form-field>
              </div>
            </div>
          </section>
        </form>
        <div class="col offset-lg-6 col-lg-4">
          <button id="primaryButton" mat-flat-button type="button" color="primary" class="large" (click)="editForm()">
            <strong>Edit Fields</strong>

          </button>
        </div>
      </div>
    </mat-expansion-panel>

  </div>

  <ng-template #noTicket>
    <h2>No current ticket</h2>
  </ng-template>

  <!--  
      <div class="flex-footer">
        <app-footer></app-footer>
      </div> -->

</div>