<div class="flex-wrapper">
  <div class="flex-header d-print-none">
    <app-header></app-header>

    <div class="header-summary" [ngClass]="{ 'header-summary-background': isLanding$ | async }">
      <div class="summary-header mb-3">
        <div class="container">
          <ul class="header-summary-links">
            <ng-container *ngIf="isLanding$ | async; else homeLink">
              <li>
                <a [attr.href]="understandYourTicketLink" class="primary-navigation understand-your-ticket"
                  target="_blank" rel="noopener">
                  Understand Your Ticket
                </a>
              </li>
              <span class="divider">|</span>
              <li>
                <a [attr.href]="paymentOptionsLink" class="primary-navigation payment-options" target="_blank"
                  rel="noopener">
                  Pay Options
                </a>
              </li>
            </ng-container>
            <ng-template #homeLink>
              <li>
                <a [routerLink]="['/']" class="primary-navigation understand-your-ticket" rel="noopener">
                  Home
                </a>
              </li>
            </ng-template>
            <span class="divider">|</span>
            <li>
              <a [routerLink]="['/ticket/']" [routerLinkActive]="['is-active']"
                class="primary-navigation payment-options" rel="noopener">
                Dispute Ticket
              </a>
            </li>
            <span class="divider">|</span>
            <li>
              <a [routerLink]="['/dispute']" [routerLinkActive]="['is-active']"
                class="primary-navigation payment-options" rel="noopener">
                Update Dispute
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div *ngIf="isLanding$ | async" class="container">
        <section class="summary-section">
          <div class="summary-content">
            <div>
              <h1 class="summary-content-title">Ticket information in British Columbia</h1>
              <p class="lead">
                Looking for information on your violation or traffic ticket?
                Understand your ticket options and find out how to pay fines or
                dispute.
              </p>
            </div>
          </div>
        </section>
      </div>
    </div>

  </div>
  <div class="flex-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-footer">
    <app-footer></app-footer>
  </div>
</div>