<div class="contact-info">
  <a (click)="onBack()" style="color: #48afe5">
    <mat-icon inline="true">arrow_back</mat-icon> Back
  </a>
  <div *ngIf="retrieving === true">
    <span>
      <h3>Retrieving ticket information...</h3>
    </span>
  </div>
  <div class="contact-info" *ngIf="lastUpdatedJJDispute && retrieving === false">
    <h1>Written Reasons Dispute - {{ lastUpdatedJJDispute.disputantName }}</h1>
    <div style="float: right; width: 100%;">
      <button class="large" mat-flat-button type="button" color="primary" (click)="onSave()">
        Save
      </button>
      <button class="large" mat-flat-button type="button" color="primary" style="background-color: red;" (click)="onReject()">
        Reject
      </button>
      <button class="large" mat-flat-button type="button" color="primary" (click)="onSubmit()" style="background-color:  #2ba242;">
        Submit
      </button>
    </div>
  </div>
</div>