<div class="contact-info">
  <a (click)="onBack()" style="color: #48afe5">
    <mat-icon inline="true">arrow_back</mat-icon> Back<br /><br />
  </a>
  <div *ngIf="retrieving === true">
    <span>
      <h3>Retrieving ticket information...</h3>
    </span>
  </div>
  <div *ngIf="lastUpdatedJJDispute && retrieving === false">
    <div style="float:inline">
      <span style="float:left"><h1><b>Written Reasons Dispute - {{ lastUpdatedJJDispute.disputantName }}</b></h1></span>
      <span style="float:right"><h1><b>Ticket Number: {{ lastUpdatedJJDispute.ticketNumber }} </b></h1></span>
    </div> <br /><br /> 
    <section>
      <ng-container subHeader>
        <span>
          <h3>Ticket Information</h3>
        </span>
      </ng-container>
      <div style="display: grid; grid-template-columns: auto auto auto auto">
        <span class="section-grid-cell">
          <span class="section-grid-header">Surname<br/></span>
          <span>{{ lastUpdatedJJDispute.violationTicket.surname }}</span>
        </span>
        <span class="section-grid-cell">
          <span class="section-grid-header">Given Name(s)<br/></span>
          <span>{{ lastUpdatedJJDispute.violationTicket.givenNames }}</span>
        </span>
        <span>
          <span class="section-grid-header">&nbsp;<br/></span>
          <span>&nbsp;</span>
        </span>
        <span>
          <span class="section-grid-header">&nbsp;<br/></span>
          <span>&nbsp;</span>
        </span>
        <span class="section-grid-cell">
          <span class="section-grid-header">Violation Date<br/></span>
          <span>{{ violationDate | date: "MMM dd, yyyy" }}</span>
        </span>
        <span class="section-grid-cell">
          <span class="section-grid-header">Violation Time<br/></span>
          <span>{{ violationTime }}</span>
        </span>
        <span class="section-grid-cell">
          <span class="section-grid-header">Location of Offence<br/></span>
          <span>{{ lastUpdatedJJDispute.violationTicket.address }}</span>
        </span>
        <span class="section-grid-cell">
          <span class="section-grid-header">Organization/Detachment/Location<br/></span>
          <span>{{ lastUpdatedJJDispute.violationTicket.organizationLocation }}</span>
        </span>
      </div>
    </section><br />
    <section>
      <ng-container subHeader>
        <span>
          <h3>Contact Information</h3>
        </span>
      </ng-container>
      <div style="display: grid; grid-template-columns: auto auto auto auto">
        <span class="section-grid-cell">
          <span class="section-grid-header">Surname<br/></span>
          <span>{{ lastUpdatedJJDispute.surname }}</span>
        </span>
        <span class="section-grid-cell">
          <span class="section-grid-header">Given Name(s)<br/></span>
          <span>{{ lastUpdatedJJDispute.givenNames }}</span>
        </span>
        <span class="section-grid-cell">
          <span class="section-grid-header">City<br/></span>
          <span>{{ lastUpdatedJJDispute.city }}</span>
        </span>
        <span class="section-grid-cell">
          <span class="section-grid-header">Address<br/></span>
          <span>{{ lastUpdatedJJDispute.address }}</span>
        </span>
        <span class="section-grid-cell">
          <span class="section-grid-header">Prov / State of DL<br/></span>
          <span>{{ lastUpdatedJJDispute.driversLicenceProvince }}</span>
        </span>
        <span class="section-grid-cell">
          <span class="section-grid-header">Postal Code<br/></span>
          <span>{{ lastUpdatedJJDispute.postalCode }}</span>
        </span>
        <span class="section-grid-cell">
          <span class="section-grid-header">Birthdate<br/></span>
          <span>{{ lastUpdatedJJDispute.birthdate | date: "MMM dd, yyyy" }}</span>
        </span>
        <span class="section-grid-cell">
          <span class="section-grid-header">Driver's Licence #<br/></span>
          <span>{{ lastUpdatedJJDispute.driversLicenceNumber }}</span>
        </span>
      </div>
    </section><br />
    <section>
      <ng-container subHeader>
        <span>
          <h3>Written Reasons</h3>
        </span>
      </ng-container>
      <div>
        <h4><b>Fine Reduction</b><span *ngIf="fineReductionCountsHeading.length>0">&nbsp;-&nbsp;{{ fineReductionCountsHeading }}</span></h4>
        <span style="font-size: small">{{ lastUpdatedJJDispute.fineReductionReason }}</span>
        <br /><br />
      </div>
      <div>
        <h4><b>Time to Pay</b><span *ngIf="timeToPayCountsHeading.length>0">&nbsp;-&nbsp;{{ timeToPayCountsHeading }}</span></h4>
        <span style="font-size: small">{{ lastUpdatedJJDispute.timeToPayReason }}</span>
    </div>
    </section><br />
    <section>
      <ng-container subHeader>
        <span>
          <h3>Count(s)</h3>
        </span>
      </ng-container>
      <div style="display: grid; grid-template-columns: auto auto auto">
        <span *ngFor="let violationTicketCount of lastUpdatedJJDispute.violationTicket.violationTicketCounts">
          <app-jj-count 
            [violationTicketCount]="violationTicketCount"
            [jjDisputeInfo]="lastUpdatedJJDispute"></app-jj-count>
        </span>
      </div>
    </section><br />
    <section>
      <ng-container subHeader>
        <span>
          <h3>Add Remarks</h3>
        </span>
      </ng-container>
      <mat-form-field style="width:100%">
        <textarea matInput [(ngModel)]="lastUpdatedJJDispute.jjRemarks"></textarea>
      </mat-form-field>
    </section><br />
    <div style="float: right; width: 100%;">
      <button class="large" mat-flat-button type="button" color="primary" (click)="onSave()">
        Save
      </button>
      <button class="large" mat-flat-button type="button" color="primary" style="background-color: red;" (click)="onReject()">
        Reject
      </button>
      <button class="large" mat-flat-button type="button" color="primary" (click)="onSubmit()" style="background-color:  #2ba242;">
        Submit
      </button>
    </div>
  </div>
</div>