<div class="contact-info">
  <a (click)="onBack()" style="color: #48afe5">
    <mat-icon inline="true">arrow_back</mat-icon> Back<br /><br />
  </a>
  <div *ngIf="retrieving === true">
    <span>
      <h3>Retrieving ticket information...</h3>
    </span>
  </div>
  <div *ngIf="lastUpdatedJJDispute && retrieving === false">
    <div style="float:inline">
      <span style="float:left"><h1><b>Written Reasons Dispute - {{ lastUpdatedJJDispute.disputantName }}</b></h1></span>
      <span style="float:right"><h1><b>Ticket Number: {{ lastUpdatedJJDispute.ticketNumber }} </b></h1></span>
    </div> <br /><br /> 
    <section>
      <ng-container subHeader>
        <span>
          <h3>Ticket Information</h3>
        </span>
      </ng-container>
      <div style="display: grid; grid-template-columns: auto auto auto auto">
        <span class="section-grid-cell">
          <p class="section-grid-header">Surname</p>
          <p class="section-grid-text">{{ lastUpdatedJJDispute.violationTicket.surname }}</p>
        </span>
        <span class="section-grid-cell">
          <p class="section-grid-header">Given Name(s)</p>
          <p class="section-grid-text">{{ lastUpdatedJJDispute.violationTicket.givenNames }}</p>
        </span>
        <span>
          <p class="section-grid-header">&nbsp;</p>
          <p class="section-grid-text">&nbsp;</p>
        </span>
        <span>
          <p class="section-grid-header">&nbsp;</p>
          <p class="section-grid-text">&nbsp;</p>
        </span>
        <span class="section-grid-cell">
          <p class="section-grid-header">Violation Date</p>
          <p class="section-grid-text">{{ violationDate | date: "MMM dd, yyyy" }}</p>
        </span>
        <span class="section-grid-cell">
          <p class="section-grid-header">Violation Time</p>
          <p class="section-grid-text">{{ violationTime }}</p>
        </span>
        <span class="section-grid-cell">
          <p class="section-grid-header">Location of Offence</p>
          <p class="section-grid-text">{{ lastUpdatedJJDispute.violationTicket.address }}</p>
        </span>
        <span class="section-grid-cell">
          <p class="section-grid-header">Organization/Detachment/Location</p>
          <p class="section-grid-text">{{ lastUpdatedJJDispute.violationTicket.organizationLocation }}</p>
        </span>
      </div>
    </section><br />
    <section>
      <ng-container subHeader>
        <span>
          <h3>Contact Information</h3>
        </span>
      </ng-container>
      <div style="display: grid; grid-template-columns: auto auto auto auto">
        <span class="section-grid-cell">
          <p class="section-grid-header">Surname</p>
          <p class="section-grid-text">{{ lastUpdatedJJDispute.surname }}</p>
        </span>
        <span class="section-grid-cell">
          <p class="section-grid-header">Given Name(s)</p>
          <p class="section-grid-text">{{ lastUpdatedJJDispute.givenNames }}</p>
        </span>
        <span class="section-grid-cell">
          <p class="section-grid-header">City</p>
          <p class="section-grid-text">{{ lastUpdatedJJDispute.city }}</p>
        </span>
        <span class="section-grid-cell">
          <p class="section-grid-header">Address</p>
          <p class="section-grid-text">{{ lastUpdatedJJDispute.address }}</p>
        </span>
        <span class="section-grid-cell">
          <p class="section-grid-header">Prov / State of DL</p>
          <p class="section-grid-text">{{ lastUpdatedJJDispute.driversLicenceProvince }}</p>
        </span>
        <span class="section-grid-cell">
          <p class="section-grid-header">Postal Code</p>
          <p class="section-grid-text">{{ lastUpdatedJJDispute.postalCode }}</p>
        </span>
        <span class="section-grid-cell">
          <p class="section-grid-header">Birthdate</p>
          <p class="section-grid-text">{{ lastUpdatedJJDispute.birthdate | date: "MMM dd, yyyy" }}</p>
        </span>
        <span class="section-grid-cell">
          <p class="section-grid-header">Driver's Licence #</p>
          <p class="section-grid-text">{{ lastUpdatedJJDispute.driversLicenceNumber }}</p>
        </span>
      </div>
    </section><br />
    <section>
      <ng-container subHeader>
        <span>
          <h3>Written Reasons</h3>
        </span>
      </ng-container>
      <div>
        <h4><b>Fine Reduction</b><span *ngIf="fineReductionCountsHeading.length>0">&nbsp;-&nbsp;{{ fineReductionCountsHeading }}</span></h4>
        <span style="font-size: small">{{ lastUpdatedJJDispute.fineReductionReason }}</span>
        <br /><br />
      </div>
      <div>
        <h4><b>Time to Pay</b><span *ngIf="timeToPayCountsHeading.length>0">&nbsp;-&nbsp;{{ timeToPayCountsHeading }}</span></h4>
        <span style="font-size: small">{{ lastUpdatedJJDispute.timeToPayReason }}</span>
    </div>
    </section><br />
    <section>
      <ng-container subHeader>
        <span>
          <h3>Count(s)</h3>
        </span>
      </ng-container>
      <div style="display: grid; grid-template-columns: 33% 33% 33%">
        <span *ngFor="let violationTicketCount of lastUpdatedJJDispute.violationTicket.violationTicketCounts" style="border:1px solid black; ">
          <app-jj-count 
            [count]="violationTicketCount.count"
            [jjDisputeInfo]="lastUpdatedJJDispute"
            [finalDispositionCount]="getFinalDispositionCount(violationTicketCount.count)"
            (finalDispositionCountUpdate)="updateFinalDispositionCount($event)"></app-jj-count>
        </span>
      </div>
    </section><br />
    <section>
      <ng-container subHeader>
        <span>
          <h3>Add Remarks</h3>
        </span>
      </ng-container>
      <mat-form-field style="width:100%">
        <textarea matInput [(ngModel)]="lastUpdatedJJDispute.jjRemarks" maxlength="1500" rows="6"></textarea>
      </mat-form-field>
    </section><br />
    <div style="float: right; width: 100%;">
      <button class="large" mat-flat-button type="button" color="primary" (click)="onSave()">
        Save
      </button>
      <button class="large" mat-flat-button type="button" color="primary" style="background-color: red;" (click)="onReject()">
        Reject
      </button>
      <button class="large" mat-flat-button type="button" color="primary" (click)="onSubmit()" style="background-color:  #2ba242;">
        Submit
      </button>
    </div>
  </div>
</div>