<app-page>
  <div style="margin-top: 8rem;">
    <h1><b>What would you like to do?</b></h1>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between">
    <div fxFlex="32">
      <div class="option" role="button" (click)="checkStatus()">
        <div class="option-content">
          <h2><b>Check Status</b></h2>
          <div>Track the status of your dispute from start to finish</div>
        </div>
      </div>
    </div>
    <ng-container *ngIf="isEditable | async">
      <div fxFlex="32">
        <div class="option" role="button" (click)="goToUpdateDisputeContact()">
          <div class="option-content">
            <h2><b>Change Address</b></h2>
            <div>Update your content name, email, mailing address or phone number</div>
          </div>
        </div>
      </div>
      <div fxFlex="32">
        <div class="option">
          <div class="option-content">
            <div style="padding-bottom: 1rem;" role="button" (click)="goToUpdateDispute()">
              <h2><b>Change Dispute</b></h2>
              <div>Change your contact information, plea or court options, or upload additional supporting documents to
                your dispute</div>
            </div>
          </div>
          <app-alert type="warning" icon="info">
            <ng-container #alertContent class="alert-content">
              A BC Services Card Is Required. Learn more about the
              <a target="_blank" href="{{bcServicesCardInfoLink}}" style="text-decoration: underline;">
                BC Services Card app
              </a>
            </ng-container>
          </app-alert>
        </div>
      </div>
    </ng-container>
  </div>
</app-page>
