.option {
  outline: #fcba19 solid 1px !important;
  width: 100%;
  padding: 8px 16px;
  margin-bottom: 1.2rem;
  cursor: pointer;

  &:hover .option-content {
    text-decoration: underline;
  }

  h2 {
    margin-bottom: 0.5rem;
  }
}