<app-page>
  <div style="margin-top: 8rem;">
    <h1><b>What would you like to do?</b></h1>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between">
    <div fxFlex="48">
      <div class="option">
        <button type="button" mat-flat-button color="primary" class="large" (click)="checkStatus()">
          <h2><b>Check Status</b></h2>
        </button>
        <div>Track the status of your dispute from start to finish</div>
      </div>
    </div>
    <ng-container *ngIf="isEditable | async">
      <div *ngIf="isPleaEditable | async" fxFlex="48">
        <div class="option">
          <button type="button" mat-flat-button color="primary" class="large" (click)="goToUpdateDispute()" 
              [disabled]="isEmailVerified === false" title="{{ isEmailVerified ? '' : 'Email address not yet verified' }}">
            <h2><b>Change Dispute</b></h2>
          </button>
          <div>Change your contact information, plea or court options, or upload additional supporting documents to
            your dispute<br /></div>
        </div>
      </div>
    </ng-container>
  </div>
</app-page>
