@import "palette";
@import "bootstrap/bootstrap-imports";

div.landing {
  font-family: "Myriad Pro", Calibri, Arial, sans-serif;
  color: #494949;
  background: #bdd3e8;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#bdd3e8),
    to(#ffffff)
  );
  background: -o-linear-gradient(top, #bdd3e8 0%, #ffffff 100%);
  background: linear-gradient(to bottom, #bdd3e8 0%, #ffffff 100%);
}

div.container {
  a {
    color: theme-palette(blue, light);
    white-space: nowrap;

    &:hover {
      text-decoration: none;
    }
  }
}

.main-button {
  color: black;
  background-color: #ffb200;

  height: 46px;
  font-size: 1rem;
  margin-bottom: 1.2rem;
}

.mat-flat-button {
  min-width: 300px;

  @include media-breakpoint-down(md) {
    width: 100%;
  }

  &.large {
    height: 46px;
    font-size: 1rem;
    margin-bottom: 1.2rem;
  }

  &.light {
    background-color: theme-palette(blue, light);
    color: white;
  }
}

.mat-stroked-button {
  min-width: 300px;
  background-color: white;
  color: theme-palette(blue, light);

  &.large {
    height: 46px;
    font-size: 1rem;
    margin-bottom: 1.2rem;
  }
}

img {
  width: 100%;
}

p {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 20px;
}

h1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

h2 {
  font-size: 24px;
  font-weight: normal;
}

h3 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}

@media (min-width: 992px) {
  h1 {
    font-size: 45px;
    line-height: 49px;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 45px;
  }

  h3 {
    font-size: 28px;
    margin-bottom: 16px;
  }
}

.center {
  text-align: center;
}

.site-header {
  background-color: #003366;
  width: 100%;
  height: 64px;
  border-bottom: 2px solid #fcba19;
}

.site-header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 64px;
}

.site-logo {
  max-width: 154px;
  width: 100%;
}

.summary-content {
  padding: 30px 0 10px 0;
}

@media (min-width: 992px) {
  .summary-content {
    background: url("/assets/images/mtn.jpg") no-repeat top right;
    padding: 54px 0;
    height: 320px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

.tco-logo {
  max-width: 100px;
}

@media (min-width: 768px) {
  .tco-logo {
    max-width: 144px;
    margin-left: 30px;
    margin-right: 30px;
  }
}

.tco-main p {
  font-size: 17px;
  line-height: 22px;
  max-width: 800px;
  text-align: center;
  margin: 15px auto;
}

.tco-main-content {
  max-width: 1222px;
  width: 100%;
  margin-bottom: 30px;
  padding: 30px;
  color: #fff; /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#245079),
    to(#4b96ae)
  );
  background: -o-linear-gradient(left, #245079 0%, #4b96ae 100%);
  background: linear-gradient(
    to right,
    #245079 0%,
    #4b96ae 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  -webkit-box-shadow: 0px 5px 8px 2px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 5px 8px 2px rgba(0, 0, 0, 0.09);
}

.tco-main-content {
  font-size: 17px;
}

.cards {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.cards .cards-content {
  max-width: 1122px;
  margin: 0 auto;
}

.cards-content {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.card {
  background: #fff;
  border: 1px solid #d7d7d7;
  -webkit-box-shadow: 0px 5px 8px 2px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 5px 8px 2px rgba(0, 0, 0, 0.09);
  padding: 20px;
  width: 100%;
  margin-bottom: 20px;
}

.card__image {
  margin-bottom: 20px;
  max-height: 113px;
}

@media (min-width: 768px) {
  .card__image {
    margin-bottom: 40px;
  }
}

@media (min-width: 992px) {
  .card {
    max-width: 32%;
    min-height: 480px;
  }

  .cards-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 768px) {
  .card {
    padding-top: 40px;
  }
}

.card--isdark {
  background-color: #245079;
  color: #fff !important;

  h3 {
    color: white;
  }
}

.card--isblue {
  background-color: #56aeca;
  color: #fff;

  h3 {
    color: white;
  }
}

.step1 {
  max-width: 108px;
}

.step2 {
  max-width: 113px;
}

.step3 {
  max-width: 157px;
}

.btn {
  display: inline-block;
  background-color: #fcba19;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}

.btn--strong {
  font-size: 22px;
  height: 49px;
  display: inline-block;
  font-weight: 600;
  line-height: 49px;
  max-width: 581px;
  width: 100%;
  position: relative;
}

.btn--strong:before {
  content: "";
  position: absolute;
  z-index: 400;
  right: 10px;
  background: url("/assets/images/right-arrow.svg") no-repeat;
  display: inline-block;
  width: 20px;
  height: 20px;
  top: 15px;
}

@media (min-width: 992px) {
  .btn--strong {
    font-size: 33px;
    height: 69px;
    display: inline-block;
    line-height: 69px;
    max-width: 400px;
    width: 100%;
    position: relative;
  }

  .btn--strong:before {
    content: "";
    vertical-align: center;
    position: absolute;
    z-index: 400;
    right: 15px;
    background: url("/assets/images/right-arrow.svg") no-repeat;
    display: inline-block;
    width: 33px;
    height: 33px;
    top: 20px;
  }
}

.btn--strong:hover {
  background-color: #003366;
}

.btn--white {
  color: #38598a;
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 8px 2px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 5px 8px 2px rgba(0, 0, 0, 0.09);
}

.btn--white:hover {
  color: #fff;
  background-color: #fcba19;
}

.btn--orange {
  color: #fff;
  background-color: #ff6625;
  -webkit-box-shadow: 0px 5px 8px 2px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 5px 8px 2px rgba(0, 0, 0, 0.09);
}

.btn--orange:hover {
  background-color: #fcba19;
}
.alert--orange {
  color: #d90000;
  padding: 8px;
  font-weight: bold;
}
.btn--user {
  width: 100%;
  max-width: 217px;
  padding: 8px;
  margin-bottom: 12px;
}

.link--strong {
  color: #38598a;
  font-weight: bold;
}

.link--strong:hover {
  color: #fcba19;
}

.link--strongwhite {
  color: #ffffff;
  font-weight: bold;
}

.link--strongwhite:hover {
  color: #fcba19;
}

.contact-cta__content {
  max-width: 1120px;
  border: 4px solid #fcba19;
  margin: 0 auto;
  padding: 20px;
  position: relative;
}

.contact-cta__content p {
  margin: 0 auto;
  max-width: 350px;
}

.contact-cta__icon {
  max-width: 120px;
}

@media (min-width: 992px) {
  .contact-cta__icon {
    max-width: 160px;
    position: absolute;
    left: 8%;
    top: 8%;
  }

  .contact-cta__content {
    padding: 40px;
  }
}

@media (min-width: 992px) {
  .lead {
    font-size: 19px;
    line-height: 29px;
    max-width: 540px;
    margin-bottom: 20px;
    font-weight: 300;
  }
}
