<app-header></app-header>

<div class="landing-summary">
  <div class="summary-header">
    <div class="container">
      <ul class="summary-header-links">
        <li>
          <a [attr.href]="understandYourTicketLink" target="_blank">
            Understand Your Ticket
          </a>
        </li>
        <span class="divider">|</span>
        <li>
          <a [attr.href]="paymentOptionsLink" target="_blank">
            Payment Options
          </a>
        </li>
        <span class="divider">|</span>
        <li>
          <a [attr.href]="resolutionOptionsLink" target="_blank">
            Resolution Options
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="container">
    <section class="summary-section">
      <div class="summary-content">
        <div>
          <h1>Ticket information in British Columbia</h1>
          <p class="lead">
            Looking for information on your violation or traffic ticket?
            Understand your ticket options and find out how to pay or dispute.
          </p>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="container">
  <section class="cards">
    <div class="cards-content">
      <div class="card center">
        <a [attr.href]="understandYourTicketLink" target="_blank">
          <div class="card__image">
            <img class="icon-size1" src="/assets/understand-icon.png" />
          </div>
          <h3>Understand<br />Your Ticket</h3>

          <span class="flex-fill"></span>
          <button mat-flat-button type="button" class="large" color="accent">
            Explore ticket options
          </button>
        </a>
      </div>

      <div class="card center">
        <a [attr.href]="paymentOptionsLink" target="_blank">
          <div class="card__image">
            <img class="icon-size2" src="/assets/pay-icon.png" />
          </div>
          <h3>Payment<br />Options</h3>

          <span class="flex-fill"></span>
          <button mat-flat-button type="button" class="large" color="accent">
            Find the ways to pay
          </button>
        </a>
      </div>

      <div class="card center">
        <a [attr.href]="resolutionOptionsLink" target="_blank">
          <div class="card__image">
            <img class="icon-size1" src="/assets/dispute-icon.png" />
          </div>
          <h3>Resolution<br />Options</h3>

          <span class="flex-fill"></span>
          <button mat-flat-button type="button" class="large" color="accent">
            Learn resolution options
          </button>
        </a>
      </div>
    </div>
  </section>

  <section class="cards">
    <div class="cards-content">
      <div class="card info">
        <h4>Did you know?</h4>

        <div class="bullet-list">
          <ul>
            <li class="pt-0">
              Minor errors on the ticket, such as a misspelled word, may not be
              grounds for dismissing a ticket.
            </li>
            <li>The officer does not need to write the speed on the ticket.</li>
            <li>You do not need to sign the ticket.</li>
            <li>
              Officers (including RCMP, Municipal detachment, and Integrated
              Road Safety Unit members) can issue tickets across different
              municipalities.
            </li>
            <li>
              Court hearings are set taking into account the availability of the
              officer, who is the prosecutor.
            </li>
          </ul>
        </div>
      </div>

      <div class="card info">
        <h4>Useful links</h4>

        <mat-expansion-panel class="pt-0">
          <mat-expansion-panel-header>
            <mat-panel-title> RoadSafetyBC </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="card-text my-2">
            RoadSafetyBC is responsible for road safety in the province. We
            govern drivers, put in place road safety policies, and work with our
            partners to help reach our goal of zero traffic fatalities.
            <div class="text-right pt-2">
              <a
                href="https://www2.gov.bc.ca/gov/content/transportation/driving-and-cycling/roadsafetybc/intersection-safety-cameras"
                target="_blank"
                rel="noopener noreferrer"
                class="text-align:right;"
              >
                <mat-icon inline="true"> play_arrow</mat-icon>
                Visit site
              </a>
            </div>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Insurance Corporation of BC (ICBC)
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="card-text my-2">
            Learn how to pay or dispute a ticket. And find out more about
            penalties, including points, prohibitions, impoundments,
            suspensions, and more.
            <div class="text-right pt-2">
              <a
                href="https://www.icbc.com/driver-licensing/tickets/Pages/default.aspx"
                target="_blank"
                rel="noopener noreferrer"
                class="text-align:right;"
              >
                <mat-icon inline="true"> play_arrow</mat-icon>
                Visit site
              </a>
            </div>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Provincial Court of BC </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="card-text my-2">
            Deals with three types of tickets: Provincial Violation Tickets
            (including traffic tickets), Federal Contravention Tickets and
            Municipal Tickets.
            <div class="text-right pt-2">
              <a
                href="https://www.provincialcourt.bc.ca/types-of-cases/traffic-and-bylaw-matters"
                target="_blank"
                rel="noopener noreferrer"
                class="text-align:right;"
              >
                <mat-icon inline="true"> play_arrow</mat-icon>
                Visit site
              </a>
            </div>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Courthouse Services of BC </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="card-text my-2">
            Pay or dispute provincial violation or federal contravention
            violation tickets.
            <div class="text-right pt-2">
              <a
                href="https://www2.gov.bc.ca/gov/content/justice/courthouse-services/fines-payments"
                target="_blank"
                rel="noopener noreferrer"
                class="text-align:right;"
              >
                <mat-icon inline="true"> play_arrow</mat-icon>
                Visit site
              </a>
            </div>
          </div>
        </mat-expansion-panel>
      </div>
    </div>
  </section>
</div>

<app-footer></app-footer>
