<app-header></app-header>

<div class="container">
  <div class="row mt-4">
    <div class="col-md-2 logo d-none d-md-block">
      <img
        src="/assets/tco_ticket_types_small.png"
        style="width: 150px"
        alt="Traffic Court Logo"
      />
    </div>
    <div class="col-md-7">
      <div class="col-sm-12 header">
        <h1 translate>app_heading</h1>
      </div>
      <div class="col-sm-12">
        <p translate>landing.description1</p>
        <p translate>landing.description2</p>
      </div>
      <div class="col-sm-12 mt-4">
        <div class="row actions">
          <div class="col col-md-6">
            <button
              mat-flat-button
              color="primary"
              class="large"
              routerLink="/dispute/find"
            >
              {{ "label.initiate_dispute" | translate }}
            </button>
          </div>
          <!--
          <div class="col col-md-6">
            <button
              mat-flat-button
              color="primary"
              class="large light"
              routerLink="/dispute/find"
            >
              Update Dispute Information
            </button>
          </div>
          -->
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="col col-md-auto">
        <button mat-flat-button color="accent" class="large">
          <a
            href="https://pay.gov.bc.ca"
            target="_blank"
            rel="noopener noreferrer"
          >
            {{ "label.pay_now" | translate }}
          </a>
        </button>
        <!--
        <button
          mat-flat-button
          color="primary"
          class="large light"
          routerLink="/survey/home"
        >
          SurveyJS
        </button>
        <button
          mat-flat-button
          color="primary"
          class="large light"
          routerLink="/dispute/find"
        >
          Find Ticket
        </button>
        <button
          mat-flat-button
          color="primary"
          class="large light"
          routerLink="/dispute/list"
        >
          Ticket Listing
        </button>
      --></div>
    </div>
    <div class="col-sm-12 col-md-4 steps step-1">
      <div class="step-container">
        <section class="content has-step-background mr-4 ml-4">
          <h2>
            <a routerLink="/dispute/find" class="step-anchor">{{
              "landing.step_1.heading" | translate
            }}</a>
          </h2>
          <p translate>landing.step_1.detail</p>
        </section>

        <div class="info-graphic clickable" (click)="onStep1()">
          <img src="/assets/step_1_image.svg" alt="Step 1" />
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 steps step-2">
      <div class="step-container">
        <section class="content has-step-background mr-4 ml-4">
          <h2>{{ "landing.step_2.heading" | translate }}</h2>
          <p translate>landing.step_2.detail</p>
        </section>

        <div class="info-graphic">
          <img src="/assets/step_2_image.svg" alt="Step 2" />
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 steps step-3">
      <div class="step-container">
        <section class="content has-step-background mr-4 ml-4">
          <h2>{{ "landing.step_3.heading" | translate }}</h2>
          <p translate>landing.step_3.detail</p>
        </section>

        <div class="info-graphic">
          <img src="/assets/step_3_image.svg" alt="Step 3" />
        </div>
      </div>
    </div>
    <div class="col-md-12 steps">
      <hr />
      <section class="content mt-4 mr-4 ml-4">
        <h2>
          <a
            href="https://www2.gov.bc.ca/gov/content/justice/courthouse-services/fines-payments/pay-dispute-ticket/prov-violation-tickets/dispute-ticket"
            target="_blank"
            rel="noopener noreferrer"
            >{{ "landing.self_resolution.heading" | translate }}</a
          >
        </h2>

        <div class="row actions">
          <div class="col col-md-8">
            <p translate>landing.self_resolution.detail</p>
          </div>
          <div class="col-md-4">
            <button mat-flat-button color="primary" class="large light">
              <a
                class="anchor-button"
                href="https://www2.gov.bc.ca/gov/content/justice/courthouse-services/fines-payments/pay-dispute-ticket/prov-violation-tickets/dispute-ticket"
                target="_blank"
                rel="noopener noreferrer"
                >{{ "landing.self_resolution.explore" | translate }}</a
              >
            </button>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
