<app-header></app-header>

<div class="landing-summary">
  <div class="summary-header">
    <div class="container">
      <ul class="summary-header-links">
        <li>
          <a href="https://www2.gov.bc.ca/gov/content/about-gov-bc-ca">
            Understand Your Ticket
          </a>
        </li>
        <span class="divider">|</span>
        <li>
          <a href="https://www2.gov.bc.ca/gov/content/about-gov-bc-ca">
            Payment Options
          </a>
        </li>
        <span class="divider">|</span>
        <li>
          <a href="https://www2.gov.bc.ca/gov/content/about-gov-bc-ca">
            Resolution Options
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="container">
    <section class="summary-section">
      <div class="summary-content">
        <div>
          <h1>Ticket Information in British Columbia</h1>
          <p class="lead">
            Looking for information on your violation or traffic ticket?
            Understand your ticket options and find out how to pay or dispute.
          </p>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="container">
  <!--

      <div class="card center d-block d-lg-none">
        <div class="card__image">
          <img class="icon-size2" src="/assets/images/laptop-user.svg" />
        </div>
        <h3>Payment Options</h3>

        <button mat-flat-button type="button" class="large" color="accent">
          <a
            href="https://pay.gov.bc.ca"
            target="_blank"
            rel="noopener noreferrer"
          >
            Find the ways to pay
          </a>
        </button>
      </div>

      <div class="card center d-none d-lg-block">
   -->
  <section class="cards">
    <div class="cards-content">
      <div class="card center">
        <div class="card__image">
          <img class="icon-size1" src="/assets/understand-icon.png" />
        </div>
        <h3>Understand<br />Your Ticket</h3>

        <button mat-flat-button type="button" class="large" color="accent">
          <a href="http://www.google.ca">Explore ticket options</a>
        </button>
      </div>

      <div class="card center">
        <div class="card__image">
          <img class="icon-size2" src="/assets/pay-icon.png" />
        </div>
        <h3>Payment<br />Options</h3>

        <button mat-flat-button type="button" class="large" color="accent">
          <a
            href="https://pay.gov.bc.ca"
            target="_blank"
            rel="noopener noreferrer"
          >
            Find the ways to pay
          </a>
        </button>
      </div>

      <div class="card center">
        <div class="card__image">
          <img class="icon-size1" src="/assets/dispute-icon.png" />
        </div>
        <h3>Resolution<br />Options</h3>

        <button mat-flat-button type="button" class="large" color="accent">
          <a
            href="https://www2.gov.bc.ca/gov/content/justice/courthouse-services/fines-payments/pay-dispute-ticket/prov-violation-tickets/dispute-ticket"
            target="_blank"
            rel="noopener noreferrer"
            >Learn resolution options</a
          >
        </button>
      </div>
    </div>
  </section>

  <section class="cards">
    <div class="cards-content">
      <div class="card card-2">
        <h4>Things your should know</h4>

        <div class="card-text pb-2">
          Thinking of going to court? Here are some questions to keep in mind:
        </div>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              If I dispute a ticket, will it be thrown out if the officer
              doesn't appear at the hearing?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="card-text my-2">
            The court hearing will be scheduled at a time the officer can
            attend.
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Do errors on the ticket will make it invalid?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="card-text my-2">
            Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Does the officer have to write the spped on the ticket?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="card-text my-2">
            Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              If I didn't sign my ticket when I received it, is it invalid?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="card-text my-2">
            Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              I thought police officers could only issues tickets in the
              jurisdiction where they work?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="card-text my-2">
            Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
          </div>
        </mat-expansion-panel>
      </div>

      <div class="card card-2">
        <h4>Useful Links</h4>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> RoadSafetyBC </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="card-text my-2">
            RoadSafetyBC is responsible for road safety in the province. We
            govern drivers, put in place road safety policies, and work with our
            partners to help reach our goal of zero traffic fatalities.
            <a
              href="https://www2.gov.bc.ca/gov/content/justice/courthouse-services/fines-payments/pay-dispute-ticket/prov-violation-tickets/dispute-ticket"
              target="_blank"
              rel="noopener noreferrer"
              class="text-align:right;"
            >
              Visit Site >>
            </a>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Insurance Corporation of BC (ICBC)
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="card-text my-2">
            Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Provincial Courts of British Columbia
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="card-text my-2">
            Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Court Services Branch of British Columbia
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="card-text my-2">
            Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Attorney General of British Columbia
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="card-text my-2">
            Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
          </div>
        </mat-expansion-panel>
      </div>
    </div>
  </section>
</div>

<app-footer></app-footer>
