@import "palette";
@import "bootstrap/bootstrap-imports";

div.landing-summary {
  background: url("/assets/landing-page-background.jpg") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.summary-header-links {
  list-style: none;
  margin-bottom: 0;
  text-align: center;
  padding: 0;

  li {
    line-height: 2em;
  }

  a {
    font-size: 1.3em;
    color: #fff !important;
    text-decoration: none;
    font-weight: 400;
  }
}

.divider {
  color: #fff;
  display: none;
}

@media (min-width: 768px) {
  .divider {
    display: inline-block;
  }
}

@media (min-width: 768px) {
  .summary-header-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;

    li {
      margin-bottom: 0;
      margin-left: 1em;
      margin-right: 1em;
      line-height: unset;
    }

    a {
      font-size: 1.1em;
      color: #fff !important;
      text-decoration: none;
      font-weight: 400;
    }
  }
}

div.summary-header {
  background-color: theme-palette(blue, bg);
  width: 100%;
  min-height: 60px;
  padding: 20px 0;
  opacity: 0.7;
}

section.summary-section {
  min-height: 300px;
  margin-bottom: 3em;
}

div.container {
  opacity: unset;

  button a {
    color: theme-palette(blue);
  }

  a {
    color: theme-palette(blue, link);
    white-space: nowrap;

    &:hover {
      text-decoration: none;
    }
  }
}

.mat-flat-button {
  min-width: 200px;
  margin-top: 1em;

  @include media-breakpoint-down(md) {
    width: 100%;
  }

  &.large {
    height: 46px;
    font-size: 1.2em;
    margin-bottom: 1.2rem;
  }

  &.light {
    background-color: theme-palette(blue, bg);
    color: white;
  }
}

.mat-stroked-button {
  min-width: 200px;
  background-color: white;
  color: theme-palette(blue, light);

  &.large {
    height: 46px;
    font-size: 1rem;
    margin-bottom: 1.2rem;
  }
}

img {
  width: 100%;
}

h1 {
  font-size: 2.8em;
  line-height: 1.3em;
  margin-bottom: 1em;
  font-weight: bold;
}

h3 {
  font-size: 2em;
  line-height: 1.4em;
  font-weight: 600;
  margin-bottom: 10px;
}

h4 {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 20px;
}

.card-text {
  font-size: 1.2em;
  font-weight: 500;
}

.center {
  text-align: center;
}

.site-header {
  background-color: theme-palette(blue);
  width: 100%;
  height: 64px;
  border-bottom: 2px solid theme-palette(yellow);
}

.site-header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 64px;
}

.summary-content {
  padding: 30px 0 10px 0;
  color: #fff;
}

@media (min-width: 992px) {
  .summary-content {
    padding-top: 54px;
    padding-bottom: 32px;
    height: 220px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

@media (max-width: 768px) {
  .card {
    display: block;
    width: 100%;
  }
}
.cards .cards-content {
  margin-bottom: 2em;
}

.cards-content {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-items: stretch;
  align-content: space-between;
}

.card {
  padding-left: 20px;
  padding-right: 20px;
  // flex: 1 1 auto;
  border: none;
  flex: 1;
}

.card__image {
  margin-bottom: 20px;
  // max-height: 113px;
}

@media (min-width: 768px) {
  .card__image {
    margin-bottom: 40px;
  }
}

@media (min-width: 992px) {
  .card {
    min-height: 280px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .card {
    border-right: solid 1px theme-palette(grey, light);
  }
  .card:last-child {
    border-right: none;
  }

  .cards-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 768px) {
  .card {
    padding-top: 40px;
  }
}

@media (max-width: 991px) {
  .card {
    padding-bottom: 40px;
    padding-top: 40px;
  }

  .card + .card {
    border-left: none;
    border-top: solid 1px theme-palette(grey, light);
  }

  .card:last-child {
    border-bottom: solid 1px theme-palette(grey, light);
  }
}

.icon-size1 {
  max-width: 130px;
}

.icon-size2 {
  max-width: 200px;
}

.lead {
  font-size: 1.5em;
  margin-bottom: 20px;
  font-weight: 500;
}

.bullet-list ul {
  padding-left: 1em;

  li {
    font-size: 1.2em;
    font-weight: 500;
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid theme-palette(grey, light);
  }
}

mat-expansion-panel {
  box-shadow: none !important;
  padding-bottom: 1em;
  border-bottom: 1px solid theme-palette(grey, light);
}

mat-expansion-panel-header {
  padding: 0;
}
