@import "palette";
@import "bootstrap/bootstrap-imports";

// div.landing {
//   font-family: "Myriad Pro", Calibri, Arial, sans-serif;
//   color: #494949;
//   background: #bdd3e8;
//   background: -webkit-gradient(
//     linear,
//     left top,
//     left bottom,
//     from(#bdd3e8),
//     to(#ffffff)
//   );
//   background: -o-linear-gradient(top, #bdd3e8 0%, #ffffff 100%);
//   background: linear-gradient(to bottom, #bdd3e8 0%, #ffffff 100%);
// }

div.landing-summary {
  background: url("/assets/images/drive.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.summary-header-links {
  list-style: none;
  margin-bottom: 0;
}

.summary-header-links a {
  font-size: 14px;
  color: #fff !important;
  text-decoration: none;
  font-weight: 200;
}

.divider {
  color: #fff;
  display: none;
}

@media (min-width: 768px) {
  .divider {
    display: inline-block;
  }
}

@media (min-width: 768px) {
  .summary-header-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    // justify-content: space-between;
  }

  .summary-header-links li {
    margin-bottom: 0;
    margin-left: 1em;
    margin-right: 1em;
  }
}
div.summary-header {
  background-color: theme-palette(blue, light);
  width: 100%;
  min-height: 60px;
  padding: 20px 0;
  opacity: 0.5;
}
// div.summary-header {
//   color: white;
//   background-color: theme-palette(blue, light);
//   min-height: 50px;
//   opacity: 0.5;
// }

section.summary-section {
  min-height: 300px;
  margin-bottom: 3em;
}

div.container {
  opacity: unset;
  a {
    color: theme-palette(blue, light);
    white-space: nowrap;

    &:hover {
      text-decoration: none;
    }
  }
}

// .main-button {
//   color: black;
//   background-color: #ffb200;

//   height: 46px;
//   font-size: 1rem;
//   margin-bottom: 1.2rem;
// }

.mat-flat-button {
  min-width: 200px;
  margin-top: 1em;

  @include media-breakpoint-down(md) {
    width: 100%;
  }

  &.large {
    height: 46px;
    font-size: 1.2em;
    margin-bottom: 1.2rem;
  }

  &.light {
    background-color: theme-palette(blue, light);
    color: white;
  }
}

.mat-stroked-button {
  min-width: 200px;
  background-color: white;
  color: theme-palette(blue, light);

  &.large {
    height: 46px;
    font-size: 1rem;
    margin-bottom: 1.2rem;
  }
}

img {
  width: 100%;
}

// p {
//   font-size: 15px;
//   line-height: 22px;
//   margin-bottom: 20px;
// }

// h1 {
//   font-size: 2em;
//   font-weight: bold;
//   margin-bottom: 10px;
// }
h1 {
  font-size: 3em;
  line-height: 1em;
  margin-bottom: 1em;
  font-weight: bold;
}

// h2 {
//   font-size: 24px;
//   font-weight: normal;
// }

h3 {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 10px;
}

// @media (min-width: 992px) {
//   h1 {
//     font-size: 3em;
//     line-height: 49px;
//     margin-bottom: 10px;
//   }

//   //   h2 {
//   //     font-size: 45px;
//   //   }

//   // h3 {
//   //   font-size: 28px;
//   //   margin-bottom: 16px;
//   // }
// }

.center {
  text-align: center;
}

.site-header {
  background-color: #003366;
  width: 100%;
  height: 64px;
  border-bottom: 2px solid #fcba19;
}

.site-header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 64px;
}

// .site-logo {
//   max-width: 154px;
//   width: 100%;
// }

.summary-content {
  padding: 30px 0 10px 0;
}

@media (min-width: 992px) {
  .summary-content {
    // background: url("/assets/images/mtn.jpg") no-repeat top right;
    padding-top: 54px;
    padding-bottom: 32px;
    height: 220px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

// .tco-logo {
//   max-width: 100px;
// }

// @media (min-width: 768px) {
//   .tco-logo {
//     max-width: 144px;
//     margin-left: 30px;
//     margin-right: 30px;
//   }
// }

// .tco-main p {
//   font-size: 17px;
//   line-height: 22px;
//   max-width: 800px;
//   text-align: center;
//   margin: 15px auto;
// }

.tco-main-content {
  max-width: 1222px;
  width: 100%;
  margin-bottom: 30px;
  padding: 30px;
  color: #fff; /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#245079),
    to(#4b96ae)
  );
  background: -o-linear-gradient(left, #245079 0%, #4b96ae 100%);
  background: linear-gradient(
    to right,
    #245079 0%,
    #4b96ae 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  -webkit-box-shadow: 0px 5px 8px 2px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 5px 8px 2px rgba(0, 0, 0, 0.09);
}

// .tco-main-content {
//   font-size: 17px;
// }

.cards {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.cards .cards-content {
  max-width: 1122px;
  // margin: 0 auto;
  margin-bottom: 2em;
}

.cards-content {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.card {
  background: #fff;
  border: 1px solid theme-palette(blue);
  // border: 1px solid #d7d7d7;
  -webkit-box-shadow: 0px 5px 8px 2px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 5px 8px 2px rgba(0, 0, 0, 0.09);
  padding: 20px;
  width: 100%;
  margin-bottom: 20px;
}

.card__image {
  margin-bottom: 20px;
  max-height: 113px;
}

@media (min-width: 768px) {
  .card__image {
    margin-bottom: 40px;
  }
}

@media (min-width: 992px) {
  .card {
    max-width: 29%;
    min-height: 280px;
  }

  .cards-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 768px) {
  .card {
    padding-top: 40px;
  }
}

// .card--isdark {
//   background-color: #245079;
//   color: #fff !important;

//   h3 {
//     color: white;
//   }
// }

// .card--isblue {
//   background-color: #56aeca;
//   color: #fff;

//   h3 {
//     color: white;
//   }
// }

.step1 {
  max-width: 108px;
}

.step2 {
  max-width: 113px;
}

.step3 {
  max-width: 157px;
}

// .btn {
//   display: inline-block;
//   background-color: #fcba19;
//   text-decoration: none;
//   font-weight: bold;
//   color: #fff;
// }

// .btn--strong {
//   font-size: 22px;
//   height: 49px;
//   display: inline-block;
//   font-weight: 600;
//   line-height: 49px;
//   max-width: 581px;
//   width: 100%;
//   position: relative;
// }

// .btn--strong:before {
//   content: "";
//   position: absolute;
//   z-index: 400;
//   right: 10px;
//   background: url("/assets/images/right-arrow.svg") no-repeat;
//   display: inline-block;
//   width: 20px;
//   height: 20px;
//   top: 15px;
// }

// @media (min-width: 992px) {
//   .btn--strong {
//     font-size: 33px;
//     height: 69px;
//     display: inline-block;
//     line-height: 69px;
//     max-width: 400px;
//     width: 100%;
//     position: relative;
//   }

//   .btn--strong:before {
//     content: "";
//     vertical-align: center;
//     position: absolute;
//     z-index: 400;
//     right: 15px;
//     background: url("/assets/images/right-arrow.svg") no-repeat;
//     display: inline-block;
//     width: 33px;
//     height: 33px;
//     top: 20px;
//   }
// }

// .btn--strong:hover {
//   background-color: #003366;
// }

// .btn--white {
//   color: #38598a;
//   background-color: #fff;
//   -webkit-box-shadow: 0px 5px 8px 2px rgba(0, 0, 0, 0.09);
//   box-shadow: 0px 5px 8px 2px rgba(0, 0, 0, 0.09);
// }

// .btn--white:hover {
//   color: #fff;
//   background-color: #fcba19;
// }

// .btn--orange {
//   color: #fff;
//   background-color: #ff6625;
//   -webkit-box-shadow: 0px 5px 8px 2px rgba(0, 0, 0, 0.09);
//   box-shadow: 0px 5px 8px 2px rgba(0, 0, 0, 0.09);
// }

// .btn--orange:hover {
//   background-color: #fcba19;
// }
// .alert--orange {
//   color: #d90000;
//   padding: 8px;
//   font-weight: bold;
// }
// .btn--user {
//   width: 100%;
//   max-width: 217px;
//   padding: 8px;
//   margin-bottom: 12px;
// }

// .link--strong {
//   color: #38598a;
//   font-weight: bold;
// }

// .link--strong:hover {
//   color: #fcba19;
// }

// .link--strongwhite {
//   color: #ffffff;
//   font-weight: bold;
// }

// .link--strongwhite:hover {
//   color: #fcba19;
// }

// .contact-cta__content {
//   max-width: 1120px;
//   border: 4px solid #fcba19;
//   background: #fff;
//   margin: 0 auto;
//   padding: 20px;
//   position: relative;
// }

// .contact-cta__content p {
//   margin: 0 auto;
//   max-width: 350px;
// }

// .contact-cta__icon {
//   max-width: 120px;
// }

// @media (min-width: 992px) {
//   .contact-cta__icon {
//     max-width: 160px;
//     position: absolute;
//     left: 8%;
//     top: 8%;
//   }

//   .contact-cta__content {
//     padding: 40px;
//   }
// }

// @media (min-width: 992px) {
//   .lead {
//     font-size: 23px;
//     line-height: 29px;
//     // max-width: 540px;
//     margin-bottom: 20px;
//     font-weight: 500;
//   }
// }

.lead {
  font-size: 1.5em;
  // line-height: 29px;
  // max-width: 540px;
  margin-bottom: 20px;
  font-weight: 500;
}

mat-expansion-panel {
  box-shadow: none !important;
  padding-bottom: 1em;
  border-bottom: 1px solid #d7d7d7;
}

mat-expansion-panel-header {
  padding: 0;
}

// .question-main {
//   font-size: 1.2em;
//   // line-height: 29px;
//   // max-width: 540px;
//   // margin-bottom: 20px;
//   font-weight: 500;
//   color: #4b96ae;
// }

// @media (max-width: 991px) {
//   .lead {
//     font-size: 23px;
//     line-height: 29px;
//     font-weight: 500;
//   }
//   // .lead-question {
//   //   font-size: 23px;
//   //   line-height: 29px;
//   //   font-weight: 500;
//   //   color: #4b96ae;
//   // }
// }

.cards-two {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.cards-two .cards-two-content {
  max-width: 1122px;
  margin: 0 auto;
}

.cards-two-content {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

@media (min-width: 992px) {
  .card-half {
    max-width: 47%;
    min-height: 280px;
  }

  .cards-two-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.card-half {
  // background: #fff;
  // border: 1px solid #d7d7d7;
  // -webkit-box-shadow: 0px 5px 8px 2px rgba(0, 0, 0, 0.09);
  // box-shadow: 0px 5px 8px 2px rgba(0, 0, 0, 0.09);
  padding: 20px;
  width: 100%;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .cards-two-content > .card-half {
    padding-top: 40px;
    border-right: 1px solid #d7d7d7;
  }

  // Select all but the first child
  .cards-two-content > .card-half ~ .card-half {
    border: none;
  }
}
