@import "palette";
@import "bootstrap/bootstrap-imports";

h1 {
  font-size: 3em;
  line-height: 1.1em;
  margin-bottom: 50px;
  font-weight: bold;
  text-shadow: 2px 2px 4px #000;
}

h3 {
  font-size: 2em;
  line-height: 1.4em;
  font-weight: bold;
  margin-bottom: 10px;
  color: theme-palette(blue);
}

h4 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;
  color: theme-palette(blue);
}

.lead {
  font-size: 1.5em;
  margin-bottom: 20px;
  line-height: 1.5em;
  text-shadow: 2px 2px 4px #000;
}

div.landing-summary {
  background: url("/assets/landing-page-background.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.summary-header-links {
  list-style: none;
  margin-bottom: 0;
  text-align: center;
  padding: 0;

  li {
    line-height: 2em;
  }

  a {
    font-size: 1.125em;
    color: #fff !important;
    text-decoration: none;
    font-weight: 400;

    &:hover {
      text-decoration: underline;
    }
  }
}

.divider {
  color: #fff;
  display: none;
}

@media (min-width: 768px) {
  .divider {
    display: inline-block;
  }

  .summary-header-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;

    li {
      margin-bottom: 0;
      margin-left: 1em;
      margin-right: 1em;
      line-height: unset;

      &:first-child {
        margin-left: 0;
      }
    }

    a {
      font-size: 1.125em;
      color: #fff !important;
      text-decoration: none;
      font-weight: 400;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

div.summary-header {
  background-color: theme-palette(blue, bg);
  width: 100%;
  min-height: 60px;
  padding: 20px 0;
  opacity: 0.9;
}

section.summary-section {
  min-height: 300px;
  margin-bottom: 3em;
}

@media (min-width: 992px) {
  section.summary-section {
    margin-bottom: 3em;
  }
}

div.container {
  opacity: unset;

  button a {
    color: theme-palette(blue);
  }

  a {
    color: theme-palette(blue, link);
    white-space: nowrap;
  }

  .main-link:hover {
    text-decoration: none;
  }
}

.mat-flat-button {
  min-width: 250px;
  margin-top: 1em;
  color: theme-palette(blue);

  &:hover {
    background-color: theme-palette(blue);
    color: #fff;
  }

  @include media-breakpoint-down(md) {
    // width: 100%;
    max-width: 300px;
  }

  &.large {
    height: 46px;
    font-size: 1.125em;
    font-weight: bold;
  }

  &.light {
    background-color: theme-palette(blue, bg);
    color: white;
  }
}

.mat-stroked-button {
  min-width: 200px;
  background-color: white;
  color: theme-palette(blue, light);

  &.large {
    height: 46px;
    font-size: 1.125rem;
    margin-bottom: 1.2rem;
  }
}

img {
  width: 100%;
}

.landing-card-text {
  color: theme-palette(blue);
  font-size: 1.125em;
  line-height: 1.4em;
  font-weight: 500;
}

.center {
  text-align: center;
}

.site-header {
  background-color: theme-palette(blue);
  width: 100%;
  height: 64px;
  border-bottom: 2px solid theme-palette(yellow);
}

.site-header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 64px;
}

.summary-content {
  padding: 30px 0 10px 0;
  color: #fff;
}

@media (min-width: 992px) {
  .summary-content {
    padding-top: 54px;
    padding-bottom: 32px;
    height: 220px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 2em;
  }

  .lead {
    font-size: 1.125em;
  }
}

@media (max-width: 768px) {
  .landing-card {
    display: block;
    width: 100%;
  }

  .landing-card:first-child {
    padding-top: 0;
  }
}

.landing-cards .landing-cards-content {
  margin-bottom: 2em;
}

.landing-cards-content {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-items: stretch;
  align-content: space-between;
}

.landing-card {
  padding-left: 10px;
  padding-right: 10px;
  // flex: 1 1 auto;
  border: none;
  flex: 1;
}

.landing-card__image {
  margin-bottom: 20px;
  // max-height: 113px;
}

@media (min-width: 768px) {
  .landing-card__image {
    margin-bottom: 40px;
  }
}

@media (min-width: 992px) {
  .landing-card {
    border-right: solid 1px theme-palette(grey, light);
    min-height: 280px;
    padding-left: 50px;
    padding-right: 50px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      border-right: none;
      padding-right: 0;
    }
  }

  .landing-cards-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 768px) {
  .landing-card {
    padding-top: 2em;
  }
}
@media (max-width: 991px) {
  .landing-card {
    padding-bottom: 2em;
    padding-top: 2em;
  }

  .landing-card + .landing-card {
    border-left: none;
    border-top: solid 1px theme-palette(grey, light);
  }

  .landing-card:last-child {
    border-bottom: solid 1px theme-palette(grey, light);
  }

  .landing-card.info {
    padding-top: 0;
    border: none !important;
  }
}

.icon-size1 {
  max-width: 130px;
}

.icon-size2 {
  max-width: 200px;
}

.bullet-list ul {
  padding-left: 0;
  list-style-position: inside;

  li {
    font-size: 1.125em;
    line-height: 1.4em;
    font-weight: 500;
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid theme-palette(grey, light);
  }
}

mat-expansion-panel {
  box-shadow: none !important;
  padding-bottom: 1em;
  border-bottom: 1px solid theme-palette(grey, light);
}

mat-expansion-panel-header {
  padding-left: 0;
  padding-right: 0.5em;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 2em;

  &-2-col {
    width: 50%;
    display: flex;
    flex-direction: column;
    // border: 1px solid red;
  }

  &-3-col {
    width: 33.3333%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    // border: 1px solid red;
    // border-right: solid 1px theme-palette(grey, light);
    // border: 1px solid red;

    // &:last-child {
    //   border-right: none;
    // }
  }

  &-2-col + &-2-col {
    padding-left: 30px;
    // border-left: none;
    border-left: solid 1px theme-palette(grey, light);
  }

  &-2-col:first-child {
    padding-right: 30px;
  }

  &-3-col + &-3-col {
    // border-left: none;
    border-left: solid 1px theme-palette(grey, light);
  }

  // &-3-col:last-child {
  //   border-left: none;
  // }
}

@media (max-width: 991px) {
  .flex {
    flex-direction: column !important;
    align-items: center;
    justify-content: center;

    &-2-col {
      width: 100%;
    }

    &-3-col {
      width: 100%;
      border-right: none;
      // border-top: 1px solid black;
    }

    &-2-col + &-2-col {
      border-left: none;
      margin-top: 30px;
      padding-top: 30px;
      border-top: none;
    }

    &-3-col + &-3-col {
      border-left: none;
      margin-top: 30px;
      padding-top: 30px;
      border-top: solid 1px theme-palette(grey, light);
    }

    &-3-col:last-child {
      padding-bottom: 30px;
      border-bottom: solid 1px theme-palette(grey, light);
    }
  }
}

.flex-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;

  &__content {
    max-width: 100%;
  }
  p {
    margin: 20px 0;
  }

  &__link {
    width: 100%;
    align-self: flex-end;
    margin-top: 20px;
  }
}

.button {
  padding: 20px;
  background-color: #c2c2c2;
  color: #fff;
}
