<app-page [busy]="busy">
  <section class="mb-3">
    <div class="row">
      <div class="col-6 mb-3">Violation Ticket Number</div>
      <div class="col-6 text-right mb-3">
        {{ ticket?.violationTicketNumber }}
      </div>
    </div>
    <div class="row">
      <div class="col-6 mb-3">Court Location named on the VT</div>
      <div class="col-6 text-right mb-3">{{ ticket?.courtLocation }}</div>
    </div>
    <div class="row">
      <div class="col-6 mb-3">Violation Date</div>
      <div class="col-6 text-right">
        {{ ticket?.violationDate | formatDate | default }}
      </div>
    </div>
    <div class="row">
      <div class="col-6 mb-3">Violation Time</div>
      <div class="col-6 text-right">
        {{ ticket?.violationTime | default }}
      </div>
    </div>
  </section>

  <form (ngSubmit)="onSubmit()" [formGroup]="formStep1" novalidate></form>

  <app-page-footer
    (save)="onSubmit()"
    [hasSecondaryAction]="false"
    [saveButtonLabel]="nextBtnLabel"
  ></app-page-footer>
</app-page>
