<div class="overflow-hidden mb-3">
  <!-- Filter -->
  <div style="display: flex; flex-direction: row; justify-content: space-between; vertical-align: top; padding-bottom: 10px;">
    <div style="display: flex; flex-direction: row; flex-direction: flex-start;">
      <h3><b>Hearing Inbox</b> ({{dataSource.filteredData.length}} results)</h3>
    </div>

    <!-- Temp fix for DatetimePicker styles -->
    <mat-form-field style="display: none">
      <input matInput [matDatepicker]="fauxPicker" />
      <mat-datepicker-toggle matIconSuffix [for]="fauxPicker"></mat-datepicker-toggle>
      <mat-datepicker #fauxPicker></mat-datepicker>
    </mat-form-field>
    <!-- Temp fix for DatetimePicker styles -->
  </div>

  <div class="row">
    <div class="col">
      <div style="display:flex; flex-direction: row; justify-content: left; gap: 12px;">
        <mat-form-field fxFlex="200px" appearance="outline" class="me-0">
          <input matInput [matDatepicker]="picker" [formControl]="appearanceDateFilter" (click)="picker.open()" placeholder="Hearing date" />
        </mat-form-field>
        <mat-datepicker-toggle matSuffix [for]="picker" class="me-2"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-form-field fxFlex="400px" appearance="outline" class="me-0">
          <mat-select [formControl]="courthouseLocationFilter" placeholder="Courthouse location">
            @for (location of lookupsService.courthouseAgencies; track location.id) {
              <mat-option [value]="location.id">{{ location.name }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex="400px" appearance="outline" class="me-0">
          <mat-select [formControl]="appearanceRoomCodeFilter" placeholder="Courtroom">
            @for (room of appearanceRoomCodes; track room) {
              <mat-option [value]="room">{{ room }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="col-auto" [hidden]="!appearanceRoomCodeFilter.value">
      <app-paging [currentPage]="currentPage" [totalPages]="totalPages" (pageChanged)="onPageChange($event)"></app-paging>
    </div>
  </div>
</div>
<app-jj-hearing-table [dataSource]="dataSource" [displayedColumns]="displayedColumns" (sort)="sortData($event)" (openDispute)="backWorkbench($event)" />
