.round1 {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 40px;

  }
  .full-width {
    width: 100%;
  }
  .tabHeader{
    font-weight: bolder;
    color: #003366;
  }

  .round2 {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
  }
  .round4 {
    border: 2px solid orange;
    border-radius: 0px;
    padding: 40px;
    background-color: white;
  }
  .icon-size5 {
    max-width: 90px;
  }
  .text-left-inside-grid {
    padding-top: 20px;
    margin-bottom: 0px;
    position: absolute;
    text-align: left;
    left: 5px;
  }
  .font_size_24_bolder {
    font-size: 24px;
    font-weight:bolder;
  }
  .font_size_18_lighter {
    color:black;
    font-size: 18px;
    font-weight:lighter;
  }
  .large {
    height: 46px;
    font-size: 1.125em;
    font-weight: bold;
    width: 100%;
  }


  .file_name_icon {
    margin-left: 1.2em;
    margin-right: 1.2em;
  }

  .file_name {
    font-size: 1.3em;
    color: black;
    cursor: pointer;
    font-weight: 500;
  }
  .asterick {
    color: red;
  }

  .font_normal {
    font-weight: normal;
    color: #009cde;
  }

  .font_bold {
    font-weight:bold;
    color:black
  }

  .border_dialog{
    border-width: 2px;
    border-color: orange;
  }
  table {
    width: 100%;
  }

  table th {
    font-size: 15px;
    color: #003366;
    font-weight: 600;
    padding: 10px;
  }
  table td {
   padding: 10px;
  }
  .message-data{
    background-color: white;
    color: gray;
    padding: 15px;
  }
  .message-data h2{
    color: black;
  }
  .footer {
    width:100%;
    padding-top: 24px;
    margin-left:15px;
    border: 3px solid #facc00;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .back-to-messages{
    cursor: pointer;
    color: #009cde;
  }
.BC-Gov-SecondaryButton {
  background: none;
  border-radius: 4px;
  border: 2px solid #003366;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 18px;
  font-family: ‘BCSans’, ‘Noto Sans’, Verdana, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  color: #003366;
}

.BC-Gov-SecondaryButton:hover {
  opacity: 0.80;
  text-decoration: underline;
  background-color: #003366;
  color: #FFFFFF;
}

:focus {
  outline-offset: 1px;
  outline: 4px solid #3B99FC;
}

.BC-Gov-SecondaryButton:active {
  opacity: 1;
}

.BC-Gov-PrimaryButton {
  background-color: #003366;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 18px;
  font-family: ‘BCSans’, ‘Noto Sans’, Verdana, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
}

.BC-Gov-PrimaryButton:hover {
  text-decoration: underline;
  opacity: 0.80;
}

:focus {
  outline: 4px solid #3B99FC;
  outline-offset: 1px;
}

.BC-Gov-PrimaryButton:active {
  opacity: 1;
}

.BC-Gov-PrimaryButton-disabled {
  background-color: #003366;
  opacity: 0.3;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 18px;
  font-family: ‘BCSans’, ‘Noto Sans’, Verdana, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: not-allowed;
}

.BC-Gov-SecondaryButton-disabled {
  background-color: white;
  opacity: 0.3;
  border: 2px solid #003366;
  border-radius: 4px;
  color: #003366;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 18px;
  font-family: ‘Noto Sans’, Verdana, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: not-allowed;
}

.BC-Gov-32px-blue-text {
    color: #003366;
    font-size: 32px;
}

.BC-Gov-15px-black-text {
    color: #313132;
    font-size: 15px;
}

.BC-Gov-15px-blue-text {
  color: #003366;
  font-size: 15px;
}

.BC-Gov-15px-blue-bold-text {
  color: #003366;
  font-size: 15px;
  font-weight: 600;
}