<div class="row mt-2">
  <div class="col-lg-2">
    <div style="display: flex">
      <span class="h2">
        <strong>Count {{ ticketCount.count_no }}</strong>
      </span>
    </div>
  </div>

  <div class="col-lg-7">
    <small class="d-block">For this count I would like to</small>
    <strong>
      <div *ngIf="disputeCount.__skip || (disputeCount.plea_cd === Plea.G && disputeCount.request_reduction === RequestReduction.N && disputeCount.request_time_to_pay === RequestTimeToPay.N)">
        No action at this time
      </div>
      <div *ngIf="disputeCount.request_reduction === RequestReduction.Y && disputeCount.plea_cd === Plea.G">
        Request a fine reduction
      </div>
      <div *ngIf="disputeCount.request_time_to_pay === RequestTimeToPay.Y && disputeCount.plea_cd === Plea.G">
        Request more time to pay
      </div>
      <div *ngIf="disputeCount.plea_cd === Plea.N">
        Dispute the charge
      </div>
    </strong>
  </div>
</div>

<div class="row mb-2 justify-content-end">
  <hr class="d-print-none col-lg-10 pull-right" />
</div>

<div class="row mb-2">
  <div class="offset-lg-2 col-lg-7">
    <small class="d-block">Description of offence</small>
    <div class="text">{{ ticketCount.description | titlecase }}</div>
  </div>
  <div class="col-lg-3">
    <small class="d-block">Offence amount</small>
    <div class="text">{{ ticketCount.ticketed_amount | currency }}</div>
  </div>
</div>
