<div class="row">
  <div class="col-lg-12">
    <app-page [busy]="busy">
      <app-tco-page-header>
        <ng-container header>Start ticket resolution</ng-container>
        <ng-container subHeader>
          Enter your contact information, then <strong>choose the
          action you would like to take for each ticket count.</strong>
        </ng-container>
      </app-tco-page-header>

      <section class="mb-2">
        <app-resolution-header [ticket]="ticket"></app-resolution-header>
      </section>

      <mat-vertical-stepper #disputeStepper linear (selectionChange)="onSelectionChange($event)">
        <ng-template matStepperIcon="edit">
          <mat-icon>done</mat-icon>
        </ng-template>

        <mat-step [stepControl]="disputantForm">
          <ng-template matStepLabel>Contact information</ng-template>
          <app-step-disputant id="stepDisputant" [stepper]="disputeStepper" (stepCancel)="onStepCancel()"
            (stepSave)="onStepSave($event)"></app-step-disputant>
        </mat-step>

        <mat-step [stepControl]="offence1Form" *ngIf="offence1Exists">
          <ng-template matStepLabel>Count 1: Review</ng-template>
          <app-step-count
            id="stepCount"
            [showDoNothingOption]="offence2Exists"
            [stepControl]="offence1Form"
            [stepper]="disputeStepper"
            [offenceCount]="offenceCount"
            [ticketName]="ticketName"
            [isSelectedChekcError]='isErrorCheckMsg1'
            (stepSave)="onStepSave($event)"></app-step-count>
        </mat-step>

        <mat-step [stepControl]="offence2Form" *ngIf="offence2Exists">
          <ng-template matStepLabel>Count 2: Review</ng-template>
          <app-step-count
            id="stepCount"
            [stepControl]="offence2Form"
            [stepper]="disputeStepper"
            [ticketName]="ticketName"
            [offenceCount]="offenceCount"
            [isSelectedChekcError]='isErrorCheckMsg1'
            (stepSave)="onStepSave($event)"></app-step-count>
        </mat-step>

        <mat-step [stepControl]="offence3Form" *ngIf="offence3Exists">
          <ng-template matStepLabel>Count 3: Review</ng-template>
          <app-step-count
            id="stepCount"
            [stepControl]="offence3Form"
            [ticketName]="ticketName"
            [stepper]="disputeStepper"
            [offenceCount]="offenceCount"
            (stepSave)="onStepSave($event)"></app-step-count>
        </mat-step>

        <mat-step [stepControl]="additionalForm">
          <ng-template matStepLabel>Additional information</ng-template>
          <app-step-additional 
          id="stepCourt" 
          [stepper]="disputeStepper" 
          [isShowCheckbox]="isCheckBoxSelected"
          (stepSave)="onStepSave($event)"
          (countEmit)="getCountData($event)">
          </app-step-additional>
        </mat-step>

        <mat-step [stepControl]="overviewForm">
          <ng-template matStepLabel>Ticket request overview</ng-template>
          <app-step-overview id="stepOverview" [stepper]="disputeStepper" [overviewTicket]="overviewTicket"
            (busy)="(busy)" (stepSave)="onStepSave($event)" [countDataList]="countDataList"></app-step-overview>
        </mat-step>
      </mat-vertical-stepper>

      <app-resolution-footer></app-resolution-footer>
    </app-page>
  </div>
</div>
