<div class="container">
  <div class="row mt-4">
    <div class="col-md-2 logo">
      <img
        src="/assets/traffic-light.jpg"
        style="width: 120px"
        alt="Traffic Court Logo"
      />
    </div>
    <div class="col-md-7">
      <div class="col-sm-12 header">
        <h1>Traffic Court Online</h1>
        <p>The tool for resolving your Violation Ticket issues</p>
      </div>
      <div class="col-sm-12">
        <p>
          Begin the process by initiating a dispute. You will be guided by a
          self resolution wizard.
        </p>
        <p>
          If you are not currently signed in with your BC Services card, you
          will first be asked sign in or register.
        </p>
        <br />
      </div>
      <div class="col-sm-12">
        <div class="row actions">
          <div class="col col-md-auto">
            <button
              mat-flat-button
              color="primary"
              class="large"
              routerLink="/survey/home"
            >
              Initiate Dispute
            </button>
          </div>
          <div class="col col-md-auto">
            <button
              mat-flat-button
              color="primary"
              class="large light"
              routerLink="/survey/home"
            >
              Update Dispute Information
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="col col-md-auto">
        <button
          mat-flat-button
          color="accent"
          class="large"
          routerLink="/auth/find"
        >
          <a
            href="https://pay.gov.bc.ca"
            target="_blank"
            rel="noopener noreferrer"
          >
            Pay Ticket (PayBC)
          </a>
        </button>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 steps step-1">
      <div class="step-container">
        <section class="content has-step-background">
          <h2>BC Services Card</h2>

          <p>
            Set up your BC Services Card if you haven't done so already (this is
            a one-time process).
          </p>
        </section>

        <div class="info-graphic">
          <img src="/assets/step_1_image.svg" alt="Step 1" />
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 steps step-2">
      <div class="step-container">
        <section class="content has-step-background">
          <h2>Self Resolution Wizard</h2>

          <p>
            Once your BC Services Card is setup, understand the process by
            following the self resolution wizard.
          </p>
        </section>

        <div class="info-graphic">
          <img src="/assets/step_2_image.svg" alt="Step 2" />
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 steps step-3">
      <div class="step-container">
        <section class="content has-step-background">
          <h2>Violation Ticket Resolution</h2>

          <p>
            Upon finishing the self resolution wizard, your ticket should be
            resolved or ready to be disputed in court.
          </p>
        </section>

        <div class="info-graphic">
          <!--
          <mat-icon class="icon-display">festival</mat-icon>
          -->

          <img src="/assets/step_3_image.svg" alt="Step 3" />
        </div>
      </div>
    </div>
  </div>
</div>
