<div class="container">
  <div class="row mt-4">
    <div class="col-md-2 logo">
      <img
        src="/assets/traffic_light.jpg"
        style="width: 120px"
        alt="Traffic Court Logo"
      />
    </div>
    <div class="col-md-7">
      <div class="col-sm-12 header">
        <h1>BC Traffic Court Online</h1>
      </div>
      <div class="col-sm-12">
        <p>
          The online tool for submitting and resolving your BC Violation Ticket
          disputes
        </p>
        <p>
          If you are not currently signed in with your BC Services card, you
          will first be asked sign in or go through the BC Services card
          registration process.
        </p>
        <p>
          If you would like to simply pay for your ticket, please click on the
          'Pay Now' button.
        </p>
      </div>
      <div class="col-sm-12 mt-4">
        <div class="row actions">
          <div class="col col-md-6">
            <button
              mat-flat-button
              color="primary"
              class="large"
              routerLink="/survey/home"
            >
              Initiate Dispute
            </button>
          </div>
          <div class="col col-md-6">
            <button
              mat-flat-button
              color="primary"
              class="large light"
              routerLink="/dispute/find"
            >
              Update Dispute Information
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="col col-md-auto">
        <button mat-flat-button color="accent" class="large">
          <a
            href="https://pay.gov.bc.ca"
            target="_blank"
            rel="noopener noreferrer"
          >
            Pay Now
          </a>
        </button>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 steps step-1">
      <div class="step-container">
        <section class="content has-step-background mr-4 ml-4">
          <h2>
            <a routerLink="/survey/home" class="step-anchor"
              >Initiate Dispute</a
            >
          </h2>

          <p>
            Login using your BC Services card and initiate the online resolution
            process.
          </p>
        </section>

        <div class="info-graphic clickable" (click)="onStep1()">
          <img src="/assets/step_1_image.svg" alt="Step 1" />
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 steps step-2">
      <div class="step-container">
        <section class="content has-step-background mr-4 ml-4">
          <h2>Violation Ticket Lookup</h2>

          <p>
            Find your Violation Ticket and ensure that the specifics of the
            ticket are correct. Through our step-by-step process, you can
            indicate your preferences and how you would like the ticket to be
            disputed.
          </p>
        </section>

        <div class="info-graphic">
          <img src="/assets/step_2_image.svg" alt="Step 2" />
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 steps step-3">
      <div class="step-container">
        <section class="content has-step-background mr-4 ml-4">
          <h2>Violation Ticket Resolution</h2>

          <p>
            Submit your resolution or save the details until you are ready to
            proceed with the resolution process. You have 365 days to dispute
            your ticket from the date the ticket was issued.
          </p>
        </section>

        <div class="info-graphic">
          <img src="/assets/step_3_image.svg" alt="Step 3" />
        </div>
      </div>
    </div>
    <div class="col-md-12 steps">
      <hr />
      <section class="content mt-4 mr-4 ml-4">
        <h2>
          <a
            href="https://www2.gov.bc.ca/gov/content/justice/courthouse-services/fines-payments/pay-dispute-ticket/prov-violation-tickets/dispute-ticket"
            target="_blank"
            rel="noopener noreferrer"
            >Self Resolution Wizard</a
          >
        </h2>

        <div class="row actions">
          <div class="col col-md-8">
            <p>
              Interact with an online wizard and explore reasons behind your
              ticket. The online wizard will take you through multiple options
              demonstrated through text, videos and images.
            </p>
          </div>
          <div class="col-md-4">
            <button mat-flat-button color="primary" class="large light">
              <a
                class="anchor-button"
                href="https://www2.gov.bc.ca/gov/content/justice/courthouse-services/fines-payments/pay-dispute-ticket/prov-violation-tickets/dispute-ticket"
                target="_blank"
                rel="noopener noreferrer"
                >Explore My Options</a
              >
            </button>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
