@import "palette.scss";

.request-info {
  .contact-body {
    margin-top: 1.25rem;
  }

  button {
    width: 10.438rem;
    border-radius: inherit;
  }

  .count-list {
    border-left: 0.938rem solid #3b6288;
    padding: 0.938rem;
    color: #07396a;
    background-color: #f3f3f3;
  }

  .d-block {
    color: #515151;
  }

  section {
    margin-top: 1.25rem;
  }

  .fa-minus-circle, .fa-plus-circle{
    font-size: 1.125rem;
    color: #009cde;
  }
}

.additional-info {
  color: #07396a;
}

h3 {
  font-weight: bold;
}

.disputre {
  width: 100%;
}

a {
  color: theme-palette(blue, light);
  white-space: nowrap;

  &:hover {
    text-decoration: none;
  }
}

small {
  color: theme-palette(grey, dark);
  line-height: 1.3rem;
}

label {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

mat-icon {
  vertical-align: middle;
}

button.mat-flat-button .mat-icon {
  vertical-align: top;
  font-size: 1.25rem;
}

.mat-flat-button,
.mat-stroked-button {
  width: 100%;
  margin-bottom: 1rem;

  &.large {
    height: 46px;
    font-size: 1rem;
  }
}

.card-section {
  background-color: #ededed !important;
  border-left: 3px solid theme-palette(blue);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 0, 0.12);
}

hr {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.count-heading {
  font-size: 0.813rem;
  color: theme-palette(grey, light);
}

.count-data {
  font-size: 0.813rem;
  color: theme-palette(blue, light);
}

.additional-info-desc {
  color: #003366;
}

mat-expansion-panel {
  box-shadow: none !important;
  padding-bottom: 1rem;
  border-bottom: 1px solid theme-palette(grey, light);
}

mat-expansion-panel-header {
  padding-left: 0;
  padding-right: 0.5rem;
}

::ng-deep {
  .mat-expansion-indicator {
    display: none !important;
  }

  .heading-hr {
    width: 700% !important;
  }

  .subheader span {
    font-weight: 600;
    color: #1d4a77;
  }
}

small {
  color: theme-palette(grey, dark);
  line-height: 1.3rem;
}

.h2 {
  line-height: 1rem;
}

.text {
  font-weight: 700;
  line-height: 1.5rem;
}
  