<div class="request-info">

  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header (click)="handleCollapse('contactInformation')">
      <app-page-header>
        <ng-container subHeader>
          <span>Ticket Request Information </span>
          <i *ngIf="collapseObj?.contactInformation" class="fa fa-minus-circle"
            style="font-size:18px; color:#009cde"></i>
          <i *ngIf="!collapseObj?.contactInformation" class="fa fa-plus-circle"
            style="font-size:18px; color:#009cde"></i>
        </ng-container>
      </app-page-header>

    </mat-expansion-panel-header>

    <!-- Counts -->
    
    <ng-container *ngFor="let disputeCount of disputeCounts.controls; let i = index">
      <div class="row mt-2 card-section py-2 px-4 mb-3 pt-3 col-9">
        <div class="col-lg-2">
          <div style="display: flex">
            <span class="h2">
              <strong>Count {{ disputeCount.get('count').value }}</strong>
            </span>
          </div>
        </div>
        
        <div class="col-lg-7">
          <small class="d-block">For this count I would like to</small>
          <strong><div>{{ disputeCount.get('requestType').value }}</div></strong>
        </div>

        <div class="row mb-2 justify-content-end">
          <hr class="d-print-none col-lg-10 pull-right" />
        </div>

        <div class="row mb-2">
          <div class="offset-lg-2 col-lg-7">
            <small class="d-block">Description of offence</small>
            <div>{{ disputeCount.get('description').value | titlecase }}</div>
          </div>
          <div class="col-lg-3">
            <small class="d-block">Offence amount</small>
            <div>{{ disputeCount.get('ticketedAmount').value | currency }}</div>
          </div>
        </div>
      </div>
    </ng-container>

    <!-- Additional Information -->
    <div class="row mt-2 card-section py-2 px-4 mb-3 pt-3 col-9">
      <div class="page-subheader pagebreak additional-info">
        <strong><span class="contact-body">Additional information</span></strong>
        <div *ngIf="disputeInfo.requestCourtAppearanceYn === RequestCourtAppearance.N">
          <ng-container *ngIf="countsActions?.requestReduction?.length > 0">
            <hr />
            <strong class="fs-5">
              <div>{{ countsActions?.requestReduction }}</div>
            </strong>
            <h3 class="mb-0 additional-info-desc">I do not want to attend a court hearing and want to plead guilty and supply written
              reasons.</h3>
            <small>Written reasons for <strong>fine reduction</strong> request</small>
            <div>{{ disputeInfo.fineReductionReason }}</div>
          </ng-container>
          <ng-container *ngIf="countsActions?.requestReduction !== countsActions.requestTimeToPay">
            <hr />
            <strong class="fs-5">
              <div>{{ countsActions?.requestTimeToPay }}</div>
            </strong>
          </ng-container>
          <ng-container *ngIf="countsActions?.requestTimeToPay?.length > 0">
            <h3 class="mb-0 additional-info-desc">I do not want to attend a court hearing and want to plead guilty and supply written
              reasons.</h3>
            <small>Written reasons for <strong>time to pay</strong> request</small>
            <div>{{ disputeInfo.timeToPayReason }}</div>
          </ng-container>
        </div>
        
        <div *ngIf="disputeInfo.requestCourtAppearanceYn === RequestCourtAppearance.Y">
          <hr />
          <div *ngIf="countsActions?.Guilty.length > 0">
            <strong class="fs-5 mb-3">
              <div>{{ countsActions?.Guilty }}</div>
            </strong>
            <h3 class="mb-2 additional-info-desc">
              I want to attend a court hearing to plead guilty and request a fine reduction and/or time to pay.
            </h3>
            <br />
          </div>
          <div *ngIf="countsActions?.NotGuilty.length > 0">
            <strong class="fs-5 mb-3">
              <div>{{ countsActions?.NotGuilty }}</div>
            </strong>
            <h3 class="mb-2 additional-info-desc">
              I want to attend a court hearing and dispute the charge.
            </h3>
            <br />
          </div>
          <div class="row mb-2" *ngIf="disputeInfo.representedByLawyer === RepresentedByLawyer.Y">
            <div class="row mb-3">
              <small>Action</small>
              <div><strong>I intend to be represented by a lawyer in court</strong></div>
            </div>
            <div class="row mb-3">
              <div class="col">
                <small>Name of law firm</small>
                <div><strong>{{ disputeInfo.lawFirmName }}</strong></div>
              </div>
              <div class="col">
                <small>Full name of lawyer</small>
                <div><strong>{{ disputeInfo.lawyerFullName }}</strong></div>
              </div>
              <div class="col">
                <small>Contact Email</small>
                <div><strong>{{ disputeInfo.lawyerEmail }}</strong></div>
              </div>
              <div class="col">
                <small>Phone Number</small>
                <div><strong>{{ disputeInfo.lawyerPhoneNumber }}</strong></div>
              </div>
            </div>
            <div class="row">
              <small>Address of the law firm</small>
              <div><strong>{{ disputeInfo.lawyerAddress }}</strong></div>
            </div>
          </div>
          <div class="row mb-2" *ngIf="disputeInfo.interpreterLanguageCd">
            <div class="row">
              <div class="col-lg-8">
                <small>Action</small>
                <div><strong>I require a language interpreter at the hearing</strong></div>
              </div>
              <div class="col">
                <small>Language</small>
                <div><strong>{{ lookups.getLanguageDescription(disputeInfo.interpreterLanguageCd)}}</strong></div>
              </div>
            </div>
          </div>
          <div class="row mb-2" *ngIf="disputeInfo.witnessNo > 0">
            <div class="row">
              <div class="col-lg-8">
                <small>Action</small>
                <div><strong>I intend to call witness(es)</strong></div>
              </div>
              <div class="col">
                <small># of witness(es)</small>
                <div><strong>{{disputeInfo.witnessNo}}</strong></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </mat-expansion-panel>
</div>
