<div class="container">
  <div class="row mt-4">
    <div class="col-lg-2">
      <div class="logo">
        <img
          src="/assets/traffic-light.jpg"
          style="width: 100px"
          alt="Traffic Court Logo"
        />
      </div>
    </div>

    <div class="col-lg-3">
      <section>
        <h1>Traffic Court Online</h1>
        <p>Let's find your violation ticket.</p>

        <div class="row mb-4">
          <div class="col">
            <p>First, enter your Violation Ticket Number:</p>
            <mat-form-field class="w-100">
              <input
                matInput
                type="text"
                oninput="this.value =
              this.value.toUpperCase()"
                mask="SS00000000"
                autocomplete="off"
              />
              <button mat-button matSuffix mat-icon-button aria-label="Clear">
                <mat-icon>close</mat-icon>
              </button>
              <mat-hint>
                <small
                  >A Violation Ticket Number is 2 letters and 8 numbers
                </small></mat-hint
              >
            </mat-form-field>
          </div>
        </div>
        <!--
        <div class="row">
          <div class="col">
            <p>Then enter your Violation Date:</p>
            <mat-form-field class="w-100">
              <input
                matInput
                [matDatepicker]="myDatepicker"
                (click)="myDatepicker.open()"
                readonly
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="myDatepicker"
              ></mat-datepicker-toggle>
              <mat-datepicker
                #myDatepicker
                startView="multi-year"
                disabled="false"
              ></mat-datepicker>
              <mat-error>Required</mat-error>
            </mat-form-field>
          </div>
        </div>
        -->
        <div class="row">
          <div class="col">
            <p>Then enter your Violation Time:</p>
            <mat-form-field class="w-100">
              <input matInput type="time" />
              <mat-error>Required</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button
              mat-flat-button
              color="primary"
              class="large"
              routerLink="/dispute/home"
            >
              Search
            </button>
          </div>
        </div>
      </section>
    </div>
    <div class="col-lg-6">
      <div class="info-graphic pl-4">
        <img src="/assets/ticket1.jpg" alt="Ticket" />
      </div>
    </div>
  </div>
</div>
