<app-table-filters [tabIndex]="tabIndex" [tableFilterKeys]="tableFilterKeys" [statusFilterOptions]="statusFilterOptions"
  [defaultStatusFilter]="defaultStatusFilter" (onFilterChanged)="onApplyFilter($event)">
  <ng-container pagination>
    <div>
      <div class="vcenter">
        <app-paging [currentPage]="currentPage" [totalPages]="totalPages" (pageChanged)="onPageChange($event)">
        </app-paging>
      </div>
    </div>
  </ng-container>
</app-table-filters>

<div class="table-responsive">
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">

    <ng-container matColumnDef="__RedGreenAlert">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell  *matCellDef="let element">
        @if (element.__RedGreenAlert ==='Red') {
          <mat-icon [ngStyle]="{ 'color':'red' }">cancel</mat-icon>
        }
        @if (element.__RedGreenAlert ==='Green' && (element.emailAddressVerified === false && element.emailAdddress)) {
          <mat-icon [ngStyle]="{ 'color':'grey' }">check_circle</mat-icon>
        }
        @if (element.__RedGreenAlert ==='Green' && (element.emailAddressVerified === true || !(element.emailAdddress))) {
          <mat-icon [ngStyle]="{ 'color':'green' }">check_circle</mat-icon>
        }
      </td>
    </ng-container>

    <ng-container matColumnDef="updateRequest_OldestDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Update Submitted
      </th>
      <td mat-cell *matCellDef="let element">
        <span>{{ element.updateRequest_OldestDate | date: 'dd-MMM-yyyy' }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="ticketNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Ticket
      </th>
      <td mat-cell *matCellDef="let element">
        @if (!element.userAssignedTo || element.userAssignedTo === userProfile.idir) {
          <span><a (click)="backWorkbench(element)" href="javascript:void(0)">{{ element.ticketNumber }}</a></span>
        }
        @if (element.userAssignedTo && element.userAssignedTo !== userProfile.idir) {
          <span>{{ element.ticketNumber }}</span>
        }
      </td>
    </ng-container>

    <ng-container matColumnDef="disputantSurname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Surname
      </th>
      <td mat-cell *matCellDef="let element">
        <span>{{ element.disputantSurname }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="disputantGivenName1">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Given Name(s)
      </th>
      <td mat-cell *matCellDef="let element">
        <span>{{element.disputantGivenNames}} </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="hearingDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Hearing Date
      </th>
      <td mat-cell *matCellDef="let element">
        <span>{{ element.hearingDate ? (element.hearingDate | date: "dd-MMM-yyyy") : "" }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="changeOfPlea">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="centerColumn">
        Change of Plea
      </th>
      <td mat-cell *matCellDef="let element" class="centerColumn">
        <mat-checkbox [checked]="element.changeOfPlea === true" [disabled]="true"></mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="adjournmentDocument">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="centerColumn">
        Adjournment Document
      </th>
      <td mat-cell *matCellDef="let element" class="centerColumn">
        <mat-checkbox [checked]="checkModelFieldValue(element, 'updateRequest_HasAdjournmentDocument', 'Y')" [disabled]="true"></mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Status
      </th>
      <td mat-cell *matCellDef="let element">
        @if (element.emailAddressVerified === true || !(element.emailAddress)) {
          <span>{{ element.status }}</span>
        }
        @if (element.emailAddressVerified === false && element.emailAddress) {
          <span>Email Address Not Verified</span>
        }
      </td>
    </ng-container>

    <ng-container matColumnDef="courthouseLocation">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Courthouse Location
      </th>
      <td mat-cell *matCellDef="let element">
        <span>{{ element.courtAgenName }} </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="userAssignedTo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Assigned
      </th>
      <td mat-cell *matCellDef="let element">
        <span>{{ element.userAssignedTo ? element.userAssignedTo : "Unassigned" }}</span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</div>
