<app-page [busy]="busy">
  <app-tco-page-header>
    <ng-container header>Pay ticket</ng-container>
    <ng-container subHeader>
      Please enter a contact email for receipt and confirmation, then select
      each count you would like to pay for and follow the instructions provided.
    </ng-container>
  </app-tco-page-header>

  <section>
    <div class="row">
      <div class="col-md-6">
        <form [formGroup]="form" novalidate>
          <mat-form-field class="w-100">
            <mat-label>Contact email</mat-label>
            <input matInput formControlName="emailAddress" autocomplete="off" />
            <mat-error *ngIf="emailAddress.hasError('required')">{{
              "error.required" | translate
            }}</mat-error>
            <mat-error *ngIf="emailAddress.hasError('email')">{{
              "error.email_address" | translate
            }}</mat-error>
          </mat-form-field>
        </form>
      </div>
    </div>
  </section>

  <hr class="mt-0" />

  <div *ngIf="ticket">
    <app-count-summary
      [ticket]="ticket"
      [selectView]="true"
    ></app-count-summary>
  </div>

  <div class="row mt-4">
    <div class="col-md-4">
      <button
        id="secondaryButton"
        mat-stroked-button
        type="button"
        color="primary"
        class="large"
        routerLink="/ticket/find"
      >
        Cancel and search again
      </button>
    </div>
    <div class="offset-md-4 col-md-4">
      <button
        mat-flat-button
        color="accent"
        class="large"
        (click)="onMakePayment()"
      >
        Make payment
      </button>
    </div>
  </div>

  <app-resolution-footer></app-resolution-footer>
</app-page>
