<app-page [busy]="busy">
  <app-tco-page-header>
    <ng-container header>Pay ticket</ng-container>
    <ng-container subHeader>
      Please select each count you would like to pay for, then follow the
      instructions provided.
    </ng-container>
  </app-tco-page-header>

  <div *ngIf="ticket">
    <app-count-summary [ticket]="ticket" [payView]="true"></app-count-summary>
  </div>

  <div class="row mt-4">
    <div class="col-md-4">
      <button
        id="secondaryButton"
        mat-stroked-button
        type="button"
        color="primary"
        class="large"
        routerLink="/ticket/find"
      >
        Cancel and search again
      </button>
    </div>
    <div class="offset-md-4 col-md-4">
      <button
        mat-flat-button
        color="accent"
        class="large"
        (click)="onPayTicket()"
      >
        Pay ticket
      </button>
    </div>
  </div>

  <app-dispute-footer></app-dispute-footer>
</app-page>
