<mat-dialog-content>
  <p><strong>{{ "ticket_information_dialog.text_1" | translate }}</strong></p>
  <p>{{ "ticket_information_dialog.text_2" | translate }}</p>
  <p>{{ "ticket_information_dialog.text_3" | translate }} <a href="mailto:Courts.TCO@gov.bc.ca">Courts.TCO@gov.bc.ca</a></p>
  <p><strong>{{ "ticket_information_dialog.text_4" | translate }}</strong></p>
  <p>{{ "ticket_information_dialog.text_5" | translate }}</p>
</mat-dialog-content>
<mat-dialog-actions>
  <span class="flex-grow-1"></span>
  <button class="close-button" type="submit" mat-flat-button mat-dialog-close color="primary">
    {{ "label.close" | translate }}
  </button>
</mat-dialog-actions>
