<table fxFlex mat-table [dataSource]="dataSource" style="margin-bottom:30px;" class="mat-elevation-z8" matSort>
  <ng-container matColumnDef="createdTs">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      DATE
    </th>
    <td mat-cell *matCellDef="let element">
      <span>{{ element.createdTs | date: "dd-MMM-yyyy hh:ss" }}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="recordType">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      TYPE
    </th>
    <td mat-cell *matCellDef="let element">
      <span>{{ element.recordType }}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="eventDescription">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      DESCRIPTION
    </th>
    <td mat-cell *matCellDef="let element">
      <span>{{ element.eventDescription }}</span>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
