<div class="request-info">

    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header (click)="handleCollapse('contactInformation')">
            <app-page-header>
                <ng-container subHeader>
                    <span>Ticket Request Information </span>
                    <i *ngIf="collapseObj?.contactInformation" class="fa fa-minus-circle"
                        style="font-size:18px; color:#009cde"></i>
                    <i *ngIf="!collapseObj?.contactInformation" class="fa fa-plus-circle"
                        style="font-size:18px; color:#009cde"></i>
                </ng-container>
            </app-page-header>

        </mat-expansion-panel-header>
        <div class="contact-body">
            <div class="row mt-2 count-list">
                <div class="col-lg-2 pe-0">
                    <div style="display: flex">
                        <span class="h2">
                            <strong>Count1</strong>
                        </span>
                    </div>
                </div>
                <div class="col-lg-1">
                    <small class="d-block"> section</small>
                    <div class="text">114.2(1)</div>
                </div>
                <div class="col-lg-7">
                    <small class="d-block"> Description of offence </small>
                    <div class="text">Load or porjection over 1M in front without requiring red flag or cloth</div>
                </div>
                <div class="col-lg-2">
                    <small class="d-block">Offence amount</small>
                    <div class="text">13212</div>
                </div>
            </div>

            <section>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="w-100">
                            <mat-label>Request type</mat-label>
                            <input matInput />
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="w-100">
                            <mat-label>Court hearing?</mat-label>
                            <input matInput />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="w-100">
                            <mat-label>Time to pay written reasons</mat-label>
                            <input matInput />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="w-100">
                            <mat-label>Fine reduction written reasons</mat-label>
                            <input matInput />
                        </mat-form-field>
                    </div>
                    
                </div>
            </section>
        </div>


    </mat-expansion-panel>
</div>