td, th {
    vertical-align: middle !important;
}

.container {
  overflow: hidden;
}

.dashBody {
  padding-left: 5%;
  padding-right: 5%;
  position: fixed;
  top: 30px;
}

h2 {
  font-weight: bold;
  color: black !important;
}

.inputContainer {
    display: flex;
    align-items: center;
    position: relative;
  }

  .input[name="searchInput"] {
    width: 100%;
    padding-right: 40px;
  }

  .inputIcon {
    position: absolute;
    right: 10px;
  }

  .centerColumn {
    text-align: center !important;
  }

  .centerColumn.mat-sort-header-container {
    justify-content: center !important;
}
