@if (!showTicket && !showManualEntry) {
  <app-page>
    <ng-container stickyToolBar>
      <div class="app-width">
        <div class="content">
          <mat-tab-group class="dashTabs" mat-align-tabs="start" mat-stretch-tabs="false" [selectedIndex]="tabSelected.value"
            (selectedIndexChange)="tabSelected.setValue($event)">
            @if (hasTicketValidationPermission) {
              <mat-tab>
                <ng-template mat-tab-label>
                  <h2>Ticket Validation</h2>
                </ng-template>
              </mat-tab>
            }
            @if (hasDecisionValidationPermission) {
              <mat-tab>
                <ng-template mat-tab-label>
                  <h2>Decision Validation</h2>
                </ng-template>
              </mat-tab>
            }
            @if (hasUpdateRequestsPermission) {
              <mat-tab>
                <ng-template mat-tab-label>
                  <h2>Update Requests</h2>
                </ng-template>
              </mat-tab>
            }
            @if (hasDCFPermission) {
              <mat-tab #DCF>
                <ng-template mat-tab-label>
                  <h2>DCF</h2>
                </ng-template>
              </mat-tab>
            }
          </mat-tab-group>
        </div>
      </div>
    </ng-container>
    @if (tabSelected?.value === 0) {
      <app-ticket-inbox [tabIndex]="0" (disputeInfo)="changeDispute($event, tabTypes.TICKET_VALIDATION)"></app-ticket-inbox>
    }
    @if (tabSelected?.value === 1) {
      <app-dispute-decision-inbox [tabIndex]="1" (tcoDisputeInfo)="changeTCODispute($event, tabTypes.DECISION_VALIDATION)"></app-dispute-decision-inbox>
    }
    @if (tabSelected?.value === 2) {
      <app-update-request-inbox [tabIndex]="2" (disputeInfo)="changeDispute($event, tabTypes.UPDATE_REQUESTS)"></app-update-request-inbox>
    }
    @if (tabSelected?.value === 3) {
      <app-jj-dispute-digital-case-file [tabIndex]="3" (tcoDisputeInfo)="changeTCODispute($event, tabTypes.DCF)"></app-jj-dispute-digital-case-file>
    }
  </app-page>
}
@if (showManualEntry) {
  <app-manual-dispute-entry (backInbox)="backInbox()"></app-manual-dispute-entry>
}
@if (showTicket) {
  @if (decidePopup === 'A' && tabSelected.value === 0) {
    <app-contact-info (backInbox)="backInbox()"
    [disputeInfo]="disputeInfo"></app-contact-info>
  }
  @if (decidePopup === 'E' && tabSelected.value === 0) {
    <app-ticket-info (backInbox)="backInbox()"
    [disputeInfo]="disputeInfo"></app-ticket-info>
  }
  @if (tabSelected.value === 2) {
    <app-update-request-info (backInbox)="backInbox()"
    [disputeInfo]="disputeInfo"></app-update-request-info>
  }
  @if (tabSelected.value === 1 || tabSelected.value === 3) {
    <app-jj-dispute (backInbox)="backInbox()"
    [tcoDisputeInfo]="tcoDisputeInfo" [type]="tabTypeSelected" [isViewOnly]="true" [enableStaffSupport]="true"></app-jj-dispute>
  }
}
