<app-page [busy]="busy">
  <div class="flex-wrapper">
    <div class="flex-header d-print-none mb-40">
      <app-header></app-header>
    </div>
    <div *ngIf="!showTicket" style="padding-left:5%; padding-right:5%">
      <br /><br />
      <mat-tab-group mat-align-tabs="start" [selectedIndex]="tabSelected.value" (selectedIndexChange)="tabSelected.setValue($event)" >
        <mat-tab>
          <ng-template mat-tab-label><h2>Ticket Validation</h2></ng-template>
          <br/>
          <app-ticket-inbox [IDIR]="staffIDIR" (disputeInfo)="changeDispute($event)"></app-ticket-inbox>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label><h2>Decision Validation</h2></ng-template>
          <br/>
          <app-dispute-decision-inbox [IDIR]="staffIDIR" (jjDisputeInfo)="changeJJDispute($event)"></app-dispute-decision-inbox>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div *ngIf="showTicket" style="padding-left:5%; padding-right:5%">
      <app-contact-info *ngIf="decidePopup == 'A' && tabSelected.value === 0" (backInbox)="backInbox()" [disputeInfo]="disputeInfo"></app-contact-info>
      <app-ticket-info *ngIf="decidePopup == 'E' && tabSelected.value === 0" (backInbox)="backInbox()" [disputeInfo]="disputeInfo"></app-ticket-info>
      <app-dispute-decision-info *ngIf="tabSelected.value === 1" (backInbox)="backInbox()" [jjDisputeInfo]="jjDisputeInfo"></app-dispute-decision-info>
    </div>
    <div class="flex-footer d-print-none mb-40">
      <app-footer></app-footer>
    </div>
  </div>
</app-page>
