<app-page>
  <app-page-header>
    <ng-container header>Disputant Information</ng-container>
    <ng-container subHeader
      >Please fill in the following information.</ng-container
    >
  </app-page-header>

  <div *ngIf="ticketDispute; else noTicketDispute">
    <form (ngSubmit)="onSubmit()" [formGroup]="form" novalidate>
      <section class="mb-2">
        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="w-100">
              <input
                matInput
                placeholder="Surname of Disputant"
                formControlName="surname"
              />
              <mat-error>Required</mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-6">
            <mat-form-field class="w-100">
              <input
                matInput
                placeholder="Given Names"
                formControlName="given"
              />
              <mat-error>Required</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-form-field class="w-100">
              <input
                matInput
                placeholder="Mailing Address"
                formControlName="mailing"
              />
              <mat-error>Required</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-form-field class="w-100">
              <input matInput placeholder="City" formControlName="city" />
              <mat-error>Required</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="w-100">
              <input
                matInput
                placeholder="Province"
                formControlName="province"
              />
              <mat-error>Required</mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-6">
            <mat-form-field class="w-100">
              <input
                matInput
                placeholder="Postal Code"
                mask="S0S 0S0"
                oninput="this.value = this.value.toUpperCase()"
                formControlName="postal"
                [showMaskTyped]="true"
              />
              <mat-error>Required</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <mat-form-field class="w-100">
              <input
                matInput
                placeholder="Home Phone Number"
                formControlName="homePhone"
                mask="(000) 000-0000"
                [showMaskTyped]="true"
              />
              <mat-error *ngIf="homePhone.hasError('required')"
                >Required</mat-error
              >
              <mat-error *ngIf="homePhone.hasError('phone')"
                >Must be a valid phone number</mat-error
              >
            </mat-form-field>
          </div>

          <div class="col-sm-6">
            <mat-form-field class="w-100">
              <input
                matInput
                placeholder="Work Phone Number"
                formControlName="workPhone"
                mask="(000) 000-0000"
                [showMaskTyped]="true"
              />
              <mat-error *ngIf="workPhone.hasError('phone')"
                >Must be a valid phone number</mat-error
              >
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <mat-form-field class="w-100">
              <input
                matInput
                placeholder="Driver's License Number"
                formControlName="license"
                mask="0000000"
                [showMaskTyped]="false"
              />
              <mat-error>Required</mat-error>
            </mat-form-field>
          </div>

          <div class="col-sm-6">
            <mat-form-field class="w-100">
              <input
                matInput
                placeholder="Province or State of Driver's License"
                formControlName="provLicense"
              />
              <mat-error>Required</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-form-field class="w-100">
              <input
                matInput
                placeholder="Birthdate"
                [max]="maxDateOfBirth"
                [matDatepicker]="picker"
                formControlName="birthdate"
                readonly
                (click)="picker.open()"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <!--[touchUi]="isMobile"-->
              <mat-datepicker #picker startView="multi-year"></mat-datepicker>
              <mat-error *ngIf="form.get('birthdate').hasError('required')"
                >Required</mat-error
              >
            </mat-form-field>
          </div>
        </div>

        <app-alert type="info" icon="warning">
          <ng-container #alertContent class="alert-content">
            A notice of hearing will be mailed to the above address. You MUST
            notify the Violation Ticket Centre of any new address of change of
            address in writing.
          </ng-container>
        </app-alert>
      </section>
    </form>
  </div>

  <ng-template #noTicketDispute>
    <h2>No current ticket/dispute</h2>
  </ng-template>

  <app-page-footer
    (save)="onSubmit()"
    (back)="onBack()"
    [secondaryActionButtonLabel]="prevBtnLabel"
    [secondaryActionButtonIcon]="prevBtnIcon"
    [hasSecondaryAction]="true"
  ></app-page-footer>
</app-page>
