.ticket-info{
    margin-bottom: 12%;
    .ticket-body{
     margin-top: 20px;
    }
    .img-section{
        button {
            width: 200%;
            border: none;
            background: none;
            color: #009cde;
        }
    }
    .ticket-info-section{
        // margin-bottom: 60px;
        .subheader{
            font-weight: 600;
            color: #003366;
        }
        .dangerButton{
            background-color: #df3e13;
            color: white !important;
            border-radius: inherit;
            font-size: large;
        }
    }
    .systemFlagList{
    color: black;
    font-size: 12px;
    margin-bottom: 0px;

    }
    .dot {
        height: 12px;
        width: 12px;
        background-color: #2ba242;
        border-radius: 50%;
        display: inline-block;
        margin-right: 5px;
      }
      .dot-fail {
        height: 12px;
        width: 12px;
        background-color: #df3e13;
        border-radius: 50%;
        display: inline-block;
        margin-right: 5px;
      }
      .success{
        color: #2ba242;
      }
      .fail{
          color: red;
      }

.footer{
    text-align: center;
    button{
        padding-left: 20px;
    }
}
mat-expansion-panel {
    box-shadow: none !important;
    padding-bottom: 1em;
    border-bottom: 1px solid theme-palette(grey, light);
  }

  mat-expansion-panel-header {
    padding-left: 0;
    padding-right: 0.8em;
  }
  .ticket-section-form .col-lg-4{
      padding-right: 0px;
  }

  .ticket-section-form .col-lg-6{
    padding-right: 0px;
}

}

::ng-deep {
    .mat-expansion-indicator {
      display: none !important;
    }
    .heading-hr {
      width: 700% !important;
    }
    .subheader span{
      font-weight: 600;
      padding-right: 2px;
      color: #1d4a77 !important;
    }

    // border around input mat field
    // .ng-valid .mat-form-field-wrapper .mat-form-field-flex {
    //     border: 2px #62809d solid;
    //     border-radius: 0;
    // }
  }
  