.ticket-info{
    margin-bottom: 12%;
    .img-section{
        button {
            width: 200%;
            border: none;
            background: none;
            color: #009cde;
        }
    }
    .ticket-info-section{
        // margin-bottom: 60px;
        .subheader{
            font-weight: 600;
            color: #003366;
        }
        .dangerButton{
            background-color: #df3e13;
            color: white !important;
            border-radius: inherit;
            font-size: large;
        }
    }
}