<div class="ticket-info">
  <a (click)="onBack()" style="color: #48afe5">
    <mat-icon inline="true">arrow_back</mat-icon> Back to TRM home
  </a>
  <app-ticket-status [dispute]="disputeInfo" *ngIf="disputeInfo"></app-ticket-status>
  <div *ngIf="conflict == true">
    <span>
      <h3>This ticket is already assigned.</h3>
    </span>
  </div>
  <div *ngIf="conflict == false && !initialDisputeValues && retrieving == false">
    <span>
      <h3>Error retrieving ticket information.</h3>
    </span>
  </div>
  <div *ngIf="conflict == false && retrieving == true">
    <span>
      <h3>Retrieving ticket information...</h3>
    </span>
  </div>
  <div class="ticket-info-section" *ngIf="initialDisputeValues && conflict == false">
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header (click)="handleCollapse('ticketInformation')">
        <app-page-header>
          <ng-container subHeader>
            <span>Ticket Information </span>
            <i *ngIf="collapseObj?.ticketInformation" class="fa fa-minus-circle"
              style="font-size:18px; color:#009cde"></i>
            <i *ngIf="!collapseObj?.ticketInformation" class="fa fa-plus-circle"
              style="font-size:18px; color:#009cde"></i>
          </ng-container>
        </app-page-header>
      </mat-expansion-panel-header>
      <div class="ticket-body">
        <div style="display: flex; justify-content: space-evenly">
          <section class="mb-2 img-section" style="width: 20%">
            <ng-container subHeader>
              <h3>Ticket Image</h3>
            </ng-container>
            <div data-toggle="modal" data-target="#exampleModal" width="150 !important">
              <img [src]="imageToShow" width="150" height="200"><br />
              <span style="font-size:10px; color:#009cde; align-content: center;" width="150">
                <i class="fa fa-plus-circle" style="font-size:18px; color:#009cde"></i>
                <strong> Click to expand ticket image</strong>
              </span>
            </div>
          </section>
          <section class="ticket-section-form" class="mb-2" style="width:48%">
            <form (ngSubmit)="onSubmitViolationTicket()" [formGroup]="form" novalidate>
              <div formGroupName="violationTicket">
                <div class="row">
                  <ng-container subHeader>
                    <span>
                      <h3>Violation Ticket Details</h3>
                    </span>
                  </ng-container>
                  <section>
                    <div class="row">
                      <!-- Violation Ticket Number -->
                      <div class="col-lg-4">
                        <mat-form-field class="border-form" class="w-100 mb-2">
                          <mat-label>Ticket number</mat-label>
                          <input formControlName="ticketNumber" matInput type="text"
                            oninput="this.value = this.value.toUpperCase()" mask="SS00000000" autocomplete="off" />
                          <mat-error *ngIf="form.get('violationTicket').get('ticketNumber').hasError('required')">
                            {{ "error.required" | translate }}
                          </mat-error>
                          <mat-error
                            *ngIf="form.get('violationTicket').get('ticketNumber').value && form.get('violationTicket').get('ticketNumber').hasError('mask')">
                            This ticket number is not valid. It must be 2 letters and 8 numbers.
                          </mat-error>
                        </mat-form-field>
                      </div>

                      <!-- Violation Date -->
                      <div class="col-lg-4">
                        <mat-form-field class="border-form" class="w-100">
                          <mat-label>Date</mat-label>
                          <input matInput type="date" placeholder="yyyy-MM-DD" formControlName="violationDate"
                            [max]="todayDate" />
                          <mat-error *ngIf="form.get('violationTicket').get('violationDate').hasError('required')">
                            {{ "error.required" | translate }}
                          </mat-error>
                        </mat-form-field>
                      </div>

                      <!-- Violation Time -->
                      <div class="col-lg-4">
                        <mat-form-field class="border-form" class="w-100">
                          <mat-label>Time</mat-label>
                          <input matInput type="text" mask="00:00" formControlName="violationTime" />
                          <mat-error *ngIf="form.get('violationTicket').get('violationTime').hasError('required')">
                            {{ "error.required" | translate }}</mat-error>
                          <mat-error *ngIf="form.get('violationTicket').get('violationTime').hasError('pattern')">
                            Invalid time. Use 24hr format.
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  </section>
                  <section>
                    <ng-container subHeader>
                      <span>
                        <h3>Personal Information</h3>
                      </span>
                    </ng-container>
                    <div class="row">

                      <!-- Violation Ticket Surname -->
                      <div class="col-lg-6">
                        <mat-form-field class="border-form" class="w-100">
                          <mat-label>Surname</mat-label>
                          <input matInput formControlName="surname" />
                          <mat-error>{{ "error.required" | translate }}</mat-error>
                        </mat-form-field>
                      </div>

                      <!-- Violation Ticket Given names -->
                      <div class="col-lg-6">
                        <mat-form-field class="border-form" class="w-100">
                          <mat-label>Given names</mat-label>
                          <input matInput formControlName="givenNames" />
                          <mat-error>{{ "error.required" | translate }}</mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <!-- Violation Ticket Province/State of driver's licence -->
                      <div class="col-lg-6">
                        <mat-form-field class="border-form" class="w-100">
                          <mat-label>Province/State of driver's licence</mat-label>
                          <mat-select formControlName="driversLicenceProvince"
                            (selectionChange)="onViolationTicketDLProvinceChange($event.value)">
                            <mat-optgroup label="Canada">
                              <mat-option *ngFor="let province of provinces" [value]="province.code">{{ province.name }}
                              </mat-option>
                            </mat-optgroup>
                            <mat-optgroup label="United States">
                              <mat-option *ngFor="let state of states" [value]="state.name">{{ state.name }}
                              </mat-option>
                            </mat-optgroup>
                          </mat-select>
                          <mat-error>{{ "error.required" | translate }}</mat-error>
                        </mat-form-field>
                      </div>

                      <!-- Violation Ticket Drivers Licence Number -->
                      <div class="col-lg-6">
                        <mat-form-field class="border-form" class="w-100"
                          *ngIf="form.get('violationTicket').get('driversLicenceProvince').value == 'British Columbia'">
                          <mat-label>Driver's licence number</mat-label>
                          <input matInput formControlName="driversLicenceNumber" minlength="7" maxlength="9"
                            (keypress)="onKeyPressNumbers($event, form.get('violationTicket').get('driversLicenceProvince').value=='British Columbia')"
                            autocomplete="off" />
                          <mat-error
                            *ngIf="form.get('violationTicket').get('driversLicenceNumber').hasError('required')">{{
                            "error.required" |
                            translate }}</mat-error>
                          <mat-error *ngIf="
                            form.get('violationTicket').get('driversLicenceNumber').hasError('pattern') ||
                            form.get('violationTicket').get('driversLicenceNumber').hasError('minlength') ||
                            form.get('violationTicket').get('driversLicenceNumber').hasError('maxlength')">
                            Must be a valid BC driver's license number of seven to nine digits
                          </mat-error>
                        </mat-form-field>
                        <mat-form-field class="border-form" class="w-100"
                          *ngIf="form.get('violationTicket').get('driversLicenceProvince').value != 'British Columbia'">
                          <mat-label>Driver's licence number</mat-label>
                          <input matInput formControlName="driversLicenceNumber" autocomplete="off" />
                          <mat-error
                            *ngIf="form.get('violationTicket').get('driversLicenceNumber').hasError('required')">{{
                            "error.required" |
                            translate }}</mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  </section>
                  <section>
                    <ng-container subHeader>
                      <span>
                        <h3>Count 1</h3>
                      </span>
                    </ng-container>
                    <div class="row" formGroupName="violationTicketCount1">
                      <!-- Violation Ticket Count 1 Description -->
                      <div class="col-lg-8">
                        <mat-form-field class="border-form" class="w-100">
                          <mat-label>Section / Act / Description </mat-label>
                          <input matInput formControlName="fullDescription" [matAutocomplete]="auto"
                            (keyup)="onFullDescription1Keyup()"
                            [matTooltip]="form.get('violationTicket').get('violationTicketCount1').get('fullDescription').value" />
                          <mat-autocomplete #auto="matAutocomplete" panelWidth="750">
                            <mat-option [value]="getCountLegalParagraphing(1, initialDisputeValues.violationTicket)">{{
                              getCountLegalParagraphing(1, initialDisputeValues.violationTicket) }}</mat-option>
                            <mat-option *ngFor="let statute of filteredCount1Statutes"
                              [value]="statute.__statuteString">
                              {{ statute.__statuteString }}</mat-option>
                          </mat-autocomplete>
                          <mat-error>{{ "error.required" | translate }}</mat-error>
                        </mat-form-field>
                      </div>
                      <!-- Violation Ticket Count 1 Fine Amount -->
                      <div class="col-lg-4">
                        <mat-form-field class="border-form" class="w-100">
                          <mat-label>Fine amount ($)</mat-label>
                          <input matInput formControlName="ticketedAmount" />
                          <mat-error>{{ "error.required" | translate }}</mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  </section>
                  <section>
                    <ng-container subHeader>
                      <span>
                        <h3>Count 2</h3>
                      </span>
                    </ng-container>
                    <div class="row" formGroupName="violationTicketCount2">
                      <!-- Violation Ticket Count 2 Full Description -->
                      <div class="col-lg-8">
                        <mat-form-field class="border-form" class="w-100">
                          <mat-label>Section / Act / Description </mat-label>
                          <input matInput formControlName="fullDescription" [matAutocomplete]="auto2"
                            [matTooltip]="form.get('violationTicket').get('violationTicketCount2').get('fullDescription').value" />
                          <mat-autocomplete #auto2="matAutocomplete" panelWidth="750">
                            <mat-option [value]="getCountLegalParagraphing(2, initialDisputeValues.violationTicket)">{{
                              getCountLegalParagraphing(2, initialDisputeValues.violationTicket) }}</mat-option>
                            <mat-option *ngFor="let statute of filteredCount2Statutes"
                              [value]="statute.__statuteString">
                              {{ statute.__statuteString }}</mat-option>
                          </mat-autocomplete>
                          <mat-error>{{ "error.required" | translate }}</mat-error>
                        </mat-form-field>
                      </div>
                      <!-- Violation Ticket Count 2 Fine Amount -->
                      <div class="col-lg-4">
                        <mat-form-field class="border-form" class="w-100">
                          <mat-label>Fine amount ($)</mat-label>
                          <input matInput formControlName="ticketedAmount" />
                          <mat-error>{{ "error.required" | translate }}</mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  </section>
                  <section>
                    <ng-container subHeader>
                      <span>
                        <h3>Count 3</h3>
                      </span>
                    </ng-container>
                    <div class="row" formGroupName="violationTicketCount3">
                      <!-- ViolationTicket Count 3 Full Description -->
                      <div class="col-lg-8">
                        <mat-form-field class="border-form" class="w-100">
                          <mat-label>Section / Act / Description </mat-label>
                          <input matInput formControlName="fullDescription" [matAutocomplete]="auto3"
                            [matTooltip]="form.get('violationTicket').get('violationTicketCount3').get('fullDescription').value" />
                          <mat-autocomplete #auto3="matAutocomplete" panelWidth="750">
                            <mat-option [value]="getCountLegalParagraphing(3, initialDisputeValues.violationTicket)">{{
                              getCountLegalParagraphing(3, initialDisputeValues.violationTicket) }}</mat-option>
                            <mat-option *ngFor="let statute of filteredCount3Statutes"
                              [value]="statute.__statuteString">
                              {{ statute.__statuteString }}</mat-option>
                          </mat-autocomplete>
                          <mat-error>{{ "error.required" | translate }}</mat-error>
                        </mat-form-field>
                      </div>
                      <!-- Violation Ticket Count 3 Ticketed Amount -->
                      <div class="col-lg-4">
                        <mat-form-field class="border-form" class="w-100">
                          <mat-label>Fine amount ($)</mat-label>
                          <input matInput formControlName="ticketedAmount" />
                          <mat-error>{{ "error.required" | translate }}</mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  </section>
                  <section>
                    <ng-container subHeader>
                      <span>
                        <h3>Court Location</h3>
                      </span>
                    </ng-container>
                    <div class="row">
                      <!-- Provincial Court Hearing Location -->
                      <div class="col-lg-9">
                        <mat-form-field class="border-form" class="w-100">
                          <mat-select [formControl]="form.get('violationTicket').get('provincialCourtHearingLocation')">
                            <mat-option [value]="initialDisputeValues.provincialCourtHearingLocation">{{
                              initialDisputeValues.provincialCourtHearingLocation }}</mat-option>
                            <mat-option *ngFor="let courtLocation of courtLocations" [value]="courtLocation.name">{{
                              courtLocation.name }}</mat-option>
                          </mat-select>
                          <mat-error>{{ "error.required" | translate }}</mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
              <div style="float: right; width: 100%;" class="row">
                <button class="large" mat-flat-button type="button" color="primary" (click)="validate()"
                  style="background-color: #2ba242;" [disabled]="form.get('violationTicket').invalid">
                  Validate
                </button>
                <button class="large" mat-flat-button type="submit" color="primary"
                  [disabled]="!(form.get('violationTicket').touched) || form.get('violationTicket').invalid">
                  Save
                </button>
              </div>
            </form>
          </section>
          <section class="mb-2" style="width:20%">
            <form [formGroup]="flagsForm" novalidate>
              <ng-container subHeader>
                <h3>Citizen flags</h3>
              </ng-container>
              <div class="col-lg-12 mat-form-field-flex.ng" style="background-color: rgba(0,0,0,0.04)">
                {{ flagsForm.get('disputantOcrIssuesDescription').value }}
              </div>
              <ng-container subHeader>
                <h3>System flags</h3>
              </ng-container>
              <div class="col-lg-12">
                <p class="systemFlagList"><span class="dot"></span><span class="success">95%</span>-Violation ticket
                  number </p>
                <p class="systemFlagList"><span class="dot"></span><span class="success">95%</span>-Violation date
                </p>
                <p class="systemFlagList"><span class="dot"></span><span class="success">95%</span>-Violation time
                </p>
                <p class="systemFlagList"><span class="dot"></span><span class="success">95%</span>-Surname </p>
                <p class="systemFlagList"><span class="dot"></span><span class="success">95%</span>-Given Name </p>
                <p class="systemFlagList"><span class="dot"></span><span class="success">95%</span>-Province/State
                  of
                  driver's licence </p>
                <p class="systemFlagList"><span class="dot-fail"></span><span class="fail">75%</span>-Driver's
                  licence
                  number</p>
              </div>
            </form>
          </section>
        </div>
      </div>
    </mat-expansion-panel>
    <div class="contact-info">
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header (click)="handleCollapse('contactInformation')">
          <app-page-header>
            <ng-container subHeader>
              <span>Contact Information </span>
              <i *ngIf="collapseObj?.contactInformation" class="fa fa-minus-circle"
                style="font-size:18px; color:#009cde"></i>
              <i *ngIf="!collapseObj?.contactInformation" class="fa fa-plus-circle"
                style="font-size:18px; color:#009cde"></i>
            </ng-container>
          </app-page-header>
        </mat-expansion-panel-header>
        <div class="contact-body">
          <br />
          <form (ngSubmit)="onSubmitNoticeOfDispute()" [formGroup]="form" novalidate>
            <section class="mb-2" style="width: 66%;">
              <div class="row">

                <!-- Notice of Dispute surname -->
                <div class="col-md-6">
                  <mat-form-field class="w-100">
                    <mat-label>Surname</mat-label>
                    <input matInput formControlName="surname" />
                    <mat-error>{{ "error.required" | translate }}</mat-error>
                  </mat-form-field>
                </div>

                <!-- Notice of dispute given names -->
                <div class="col-md-6">
                  <mat-form-field class="w-100">
                    <mat-label>Given names</mat-label>
                    <input matInput formControlName="givenNames" />
                    <mat-error>{{ "error.required" | translate }}</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <section>
                <div class="row">

                  <!-- Notice of dispute mailing address -->
                  <div class="col-md-6">
                    <mat-form-field class="w-100">
                      <mat-label>Mailing address</mat-label>
                      <input matInput formControlName="address" />
                      <mat-error>{{ "error.required" | translate }}</mat-error>
                    </mat-form-field>
                  </div>

                  <!-- Notice of dispute Country -->
                  <div class="col-md-6">
                    <mat-form-field class="w-100">
                      <mat-label>Country</mat-label>
                      <mat-select formControlName="country">
                        <mat-option value="Canada">Canada</mat-option>
                        <mat-option value="USA">USA</mat-option>
                      </mat-select>
                      <mat-error>{{ "error.required" | translate }}</mat-error>
                    </mat-form-field>
                  </div>
                </div>

                <div class="row">

                  <!-- Notice of dispute City -->
                  <div class="col-md-6">
                    <mat-form-field class="w-100">
                      <mat-label>City</mat-label>
                      <input matInput formControlName="city" />
                      <mat-error>{{ "error.required" | translate }}</mat-error>
                    </mat-form-field>
                  </div>

                  <!-- Notice of dispute province/state -->
                  <div class="col-md-6">
                    <mat-form-field class="w-100">
                      <mat-label *ngIf="form.get('country').value=='Canada'">Province</mat-label>
                      <mat-label *ngIf="form.get('country').value=='USA'">State</mat-label>
                      <mat-select formControlName="province" *ngIf="form.get('country').value == 'Canada'">
                        <mat-option *ngFor="let province of provinces" [value]="province.name">{{ province.name }}
                        </mat-option>
                      </mat-select>
                      <mat-select formControlName="province" *ngIf="form.get('country').value == 'USA'">
                        <mat-option *ngFor="let state of states" [value]="state.name">{{ state.name }}</mat-option>
                      </mat-select>
                      <mat-error>{{ "error.required" | translate }}</mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </section>

              <div class="row">

                <!-- Notice of dispute postal code -->
                <div class="col-md-6">
                  <mat-form-field class="w-100">
                    <mat-label>Postal code</mat-label>
                    <input matInput mask="S0S 0S0" oninput="this.value = this.value.toUpperCase()"
                      formControlName="postalCode" [showMaskTyped]="true" />
                    <mat-error>{{ "error.required" | translate }}</mat-error>
                  </mat-form-field>
                </div>

                <!-- Notice of dispute birthdate -->
                <div class="col-md-6">
                  <mat-form-field class="w-100">
                    <mat-label>Birthdate</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="birthdate" (click)="picker.open()"
                      [max]="todayDate" />
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker [touchUi]="isMobile" startView="multi-year"></mat-datepicker>
                    <mat-error *ngIf="form.get('birthdate').hasError('required')">Valid birthdate required</mat-error>
                    <mat-error *ngIf="form.get('birthdate').hasError('matDatepickerMax')">No future birthdate
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <!--- Notice of dispute phone number -->
                <div class="col-md-6">
                  <mat-form-field class="w-100">
                    <mat-label>Phone number</mat-label>
                    <input matInput formControlName="homePhoneNumber" mask="(000) 000-0000" [showMaskTyped]="true" />
                    <mat-error *ngIf="form.get('homePhoneNumber').hasError('required')">{{"error.required" |
                      translate }}</mat-error>
                    <mat-error *ngIf="form.get('homePhoneNumber').hasError('mask')">Must be a valid phone number
                    </mat-error>
                  </mat-form-field>
                </div>

                <!-- Notice of dispute email address -->
                <div class="col-md-6">
                  <mat-form-field class="w-100">
                    <mat-label>Email address</mat-label>
                    <input matInput formControlName="emailAddress" autocomplete="off" />
                    <mat-error *ngIf="form.get('emailAddress').hasError('required')">{{ "error.required" | translate
                      }}</mat-error>
                    <mat-error *ngIf="form.get('emailAddress').hasError('email')">{{"error.email_address" |
                      translate }}</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <!-- Notice of dispute drivers licence province -->
                <div class="col-md-6">
                  <mat-form-field class="border-form" class="w-100">
                    <mat-label>Province/State of driver's licence</mat-label>
                    <mat-select formControlName="driversLicenceProvince"
                      (selectionChange)="onNoticeOfDisputeDLProvinceChange($event.value)">
                      <mat-optgroup label="Canada">
                        <mat-option *ngFor="let province of provinces" [value]="province.name">{{ province.name }}
                        </mat-option>
                      </mat-optgroup>
                      <mat-optgroup label="United States">
                        <mat-option *ngFor="let state of states" [value]="state.name">{{ state.name }}</mat-option>
                      </mat-optgroup>
                    </mat-select>
                    <mat-error>{{ "error.required" | translate }}</mat-error>
                  </mat-form-field>
                </div>

                <!-- Notice of dispute drivers licence number -->
                <div class="col-md-6">
                  <mat-form-field class="border-form" class="w-100"
                    *ngIf="form.get('driversLicenceProvince').value == 'British Columbia'">
                    <mat-label>Driver's licence number</mat-label>
                    <input matInput formControlName="driversLicenceNumber" minlength="7" maxlength="9"
                      (keypress)="onKeyPressNumbers($event, form.get('driversLicenceProvince').value == 'British Columbia')"
                      autocomplete="off" />
                    <mat-error *ngIf="form.get('driversLicenceNumber').hasError('required')">{{ "error.required" |
                      translate }}</mat-error>
                    <mat-error *ngIf="
                         form.get('driversLicenceNumber').hasError('pattern') ||
                         form.get('driversLicenceNumber').hasError('minlength') ||
                         form.get('driversLicenceNumber').hasError('maxlength')">
                      Must be a valid BC driver's license number of seven to nine digits
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field class="border-form" class="w-100"
                    *ngIf="form.get('driversLicenceProvince').value != 'British Columbia'">
                    <mat-label>Driver's licence number</mat-label>
                    <input matInput formControlName="driversLicenceNumber" autocomplete="off" />
                    <mat-error *ngIf="form.get('driversLicenceNumber').hasError('required')">{{ "error.required" |
                      translate }}</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div style="float: right; width: 100%;">
                <button class="large" mat-flat-button type="submit" color="primary"
                  [disabled]="!enableNoticeOfDisputeSave()">
                  Save
                </button>
              </div>
            </section>
          </form>
        </div>
      </mat-expansion-panel>
      <app-ticket-request></app-ticket-request>
      <button (click)="showForm()">Show Form</button>
      <div style="float: right; width: 100%;">
        <button class="large" mat-flat-button type="button" color="primary"
          [disabled]="lastUpdatedDispute.status != 'VALIDATED' || this.form.invalid || this.form.touched" (click)="approve()"
          style="background-color:  #2ba242;">
          Approve and submit to ARC
        </button>
        <button class="large" mat-flat-button type="button" color="primary" style="background-color: red;"
          [disabled]="lastUpdatedDispute.status != 'VALIDATED' || this.form.invalid || this.form.touched" (click)="reject()">
          Reject
        </button>
        <button class="large" mat-flat-button type="button" color="primary" (click)="cancel()">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="exampleModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="justify-content: flex-end;">
        <h1></h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="height: 800px; text-align: center;">
        <img [src]="imageToShow" width="450" height="750">
      </div>
    </div>
  </div>
</div>