//
// Theme Colours
//

//
// Colour Palettes
//

$palettes: (
  blue: (
    bg: #38598a,
    link: #009cde,
    lightest: #f8f9fb,
    lighter: #d6ddec,
    light: #0f48ae,
    base: #003366,
    // BC Gov. Primary
    dark: #001b4a,
  ),
  yellow: (
    base: #fcba19,
    // BC Gov. Secondary,,,
    dark: #df9f03,
  ),
  red: (
    base: #ed202a,
  ),
  green: (
    base: green,
  ),
  grey: (
    lightest: #eeeeee,
    lighter: #e1e1e1,
    light: #9e9e9e,
    // divider colour
    base: #575757,
    // secondary text colour
    dark: #333333 // primary text colour,,,,,,,,
  ),
);

//
// Palette Mapping Extractor
// Gets the colour and tone from the theme palette.
// @use theme-palette( colour, tone );
//
@function theme-palette($palette, $tone: "base") {
  @return map-get(map-get($palettes, $palette), $tone);
}
