// Load the applications palette and theme
@import "./palette";
@import "./font";
@import "./variables";

// ---
// MATERIAL
// ---

// Material provides a API and default theming for typography and associated
// material components, which are used throughout the application. Material
// represents the backbone of application theming.
@import "./material/material";

// ---
// BOOTSTRAP
// ---

// Bootstrap is used to apply structure to native HTML elements and associated
// components, which include responsive images, grids, and tables, as well as
// including normalize, and utilities. Nav, and navbar for components are
// included for prototyping, but will be removed.
@import "./bootstrap/bootstrap";

// ---
// VENDORS
// ---

// Vendors is used to include customized vendor styles into the application.
@import "./vendors/vendors";

.mat-tooltip {
  font-size: 1em;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

// Prevents scrolling on smaller option dropdowns
.mat-select-panel.mat-select-panel {
  max-height: 290px;
}

.mat-step-label-selected .mat-step-text-label {
  font-weight: bold;
}

.hide-address {
  height: 0;
  overflow: hidden;
}
