// Load the applications palette, font, and theme
@import "./palette";
@import "./font";
@import "./variables";

// ---
// MATERIAL
// ---

// Material provides a API and default theming for typography and associated
// material components, which are used throughout the application. Material
// represents the backbone of application theming.
@import "./material/material";

// ---
// BOOTSTRAP
// ---

// Bootstrap is used to apply structure to native HTML elements and associated
// components, which include responsive images, grids, and tables, as well as
// including normalize, and utilities. Nav, and navbar for components are
// included for prototyping, but will be removed.
@import "./bootstrap/bootstrap";

// ---
// VENDORS
// ---

// Vendors is used to include customized vendor styles into the application.
@import "./vendors/vendors";

// ---
// APPLICATION
// ---

// Import application overridden styles
@import './overrides/index.scss';

.app-width {
  max-width: 1920px;
  padding: 0 5vw;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}

body.mat-typography {
  overflow: hidden;
}

.dashTabs .mat-tab-label {
  height: auto !important;

  .mat-tab-label-content h2 {
    margin: 1rem 0;
  }
}

.mat-step-label-selected .mat-step-text-label {
  font-weight: bold;
}

.hide-address {
  height: 0;
  overflow: hidden;
}

.large {
  height: 46px;
  font-size: 1.125em;
  font-weight: bold;
  width: 100%;
}

table {
  width: 100%;
}

table th {
  font-size: 15px;
  color: #003366;
  font-weight: 600;
  padding: 10px;
}

table td {
  padding: 10px;
}

.BC-Gov-32px-blue-text {
  color: #003366;
  font-size: 32px;
}

.BC-Gov-15px-black-text {
  color: #313132;
  font-size: 15px;
}

.BC-Gov-15px-blue-text {
  color: #003366;
  font-size: 15px;
}