<div class="mb-4">
  <div class="row">
    <div class="col-sm-9">
      <h1 class="mb-1">
        <ng-content select="[header]"></ng-content>
      </h1>

      <div class="my-2">
        <ng-content select="[subHeader]"></ng-content>
      </div>
    </div>

    <!--
    <div class="col-sm-3 text-right">
      <button mat-flat-button color="accent" class="large">
        <a
          href="https://pay.gov.bc.ca"
          target="_blank"
          rel="noopener"
        >
          {{ "label.pay_now" | translate }}
        </a>
      </button>
    </div>
  --></div>
  <hr class="heading-hr m-0" />
</div>
