@import "palette";
@import "variables";

h1 {
  font-weight: bold;
}

button a {
  color: theme-palette(blue, light);
  white-space: nowrap;

  &:hover {
    text-decoration: none;
  }
}

.heading-hr {
  border: 1px solid theme-palette(yellow);
  background: #fcba19;
  opacity: 1;
  margin: 16px 0 !important;
}

.mat-flat-button {
  width: 100%;

  &.large {
    height: 46px;
    font-size: 1rem;
    margin-bottom: 1.2rem;
  }

  &.light {
    background-color: theme-palette(blue, light);
    color: white;
  }
}

.subheader {
  color: theme-palette(grey, dark);
  line-height: 1.3em;
}
