<div class="flex-wrapper">
  <div class="flex-header d-print-none mb-40" style="margin-bottom: 100px">
    <app-header></app-header>

    <div class="container">
      <section>
        <div>
          <h1 class="mb-1">Welcome, User</h1>
          <p style="color: black;">Court Registries Clerk, Abbotsford</p>
          <hr style="opacity: 1; color: #fcba19" />
        </div>
      </section>
      <section>
        <div class="flex-6-col ">
 
            <div>
              <ng-template mat-tab-label>
                <h1 class="mb-1 tabHeader">Inbox (1)</h1>
              </ng-template>
              <div class="step1" style="border: 1px solid black;margin-bottom: 150px" >
                <div class="">
                  <div class="container">
                    <div class="row" >
                      <div class="col-md-2">
                        <h4 style="color: green;" >5 NEW ticket records</h4> 
                      </div>
                      <div class="col-md-1">|</div>
                      <div class="col-md-3">
                       <select style="width: 200px;"><option>Fraser Valley Region</option></select>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3">
                        <h2 >Ticket number search: </h2>
                      </div>
                      <div class="col-md-3">
                        <input type="input" #fileNumber value="" class="font_bold"/>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="mt-0 mb-4" style="opacity: 0.5">
              
               <table mat-table [dataSource]="dataSource" style="margin-bottom:30px;">
              
                  <ng-container   matColumnDef="DateSubmitted">
                    <th mat-header-cell *matHeaderCellDef style="font-weight: bold;"> 
                      <div style="display: flex;">
                        <div style="width: 80%;">
                          Date Submitted 
                        </div>
                        <div  style="width: 10%;">
                          <span class='table-sort-icon'>
                            <span
                            class='sort-icon sort-by-asc'
                             (click)="sort('asc','DateSubmitted')"
                            ></span>
                            <span
                            class='sort-icon sort-by-desc'
                            (click)="sort('desc','DateSubmitted')"
                            ></span>
                        </span>
                        </div>
                      </div>
                        </th>
                    <td mat-cell  *matCellDef="let element"> {{element.DateSubmitted}} </td>
                  </ng-container>
              
                  <ng-container matColumnDef="Ticket">
                    <th mat-header-cell *matHeaderCellDef> 
                      <div style="display: flex;">
                        <div  style="width: 80%;">
                          Ticket #  
                        </div>
                        <div style="width: 10%;">
                          <span class='table-sort-icon'>
                            <span
                            class='sort-icon sort-by-asc'
                             (click)="sort('asc','Ticket')"
                            ></span>
                            <span
                            class='sort-icon sort-by-desc'
                            (click)="sort('desc','Ticket')"
                            ></span>
                        </span>
                        </div>
                      </div>
                </th>
                    <td mat-cell *matCellDef="let element"> {{element.Ticket}}</td>
                  </ng-container>
              
                  <ng-container matColumnDef="Surname">
                    <th mat-header-cell *matHeaderCellDef>  
                      
                      <div  style="display: flex;">
                        <div style="width: 80%;">
                          Surname
                        </div>
                      
                        <div  style="width: 10%;">
                          <span class='table-sort-icon'>
                            <span
                            class='sort-icon sort-by-asc'
                             (click)="sort('asc','Surname')"
                            ></span>
                            <span
                            class='sort-icon sort-by-desc'
                            (click)="sort('desc','Surname')"
                            ></span>
                        </span>
                        </div>
                      </div>
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.Surname}}</td>
                  </ng-container>
              
                  <ng-container matColumnDef="GivenName">
                    <th mat-header-cell *matHeaderCellDef> 
                      <div  style="display: flex;">
                        <div style="width: 80%;">
                          Given Name(s)  
                        </div>
                      
                        <div  style="width: 10%;">
                          <span class='table-sort-icon'>
                            <span
                            class='sort-icon sort-by-asc'
                             (click)="sort('asc','GivenName')"
                            ></span>
                            <span
                            class='sort-icon sort-by-desc'
                            (click)="sort('desc','GivenName')"
                            ></span>
                        </span>
                        </div>
                      </div>  
                    </th>
                    <td mat-cell *matCellDef="let element">  {{element.GivenName}} </td>
                  </ng-container>
                  <ng-container matColumnDef="RequestType">
                    <th mat-header-cell *matHeaderCellDef> 
                      <div  style="display: flex;">
                        <div style="width: 80%;">
                          Request Type  
                        </div>
                      
                        <div  style="width: 10%;">
                          <span class='table-sort-icon'>
                            <span
                            class='sort-icon sort-by-asc'
                             (click)="sort('asc','RequestType')"
                            ></span>
                            <span
                            class='sort-icon sort-by-desc'
                            (click)="sort('desc','RequestType')"
                            ></span>
                        </span>
                        </div>
                      </div>
                    
                    </th>
                    <td mat-cell *matCellDef="let element">  {{element.RequestType}} </td>
                  </ng-container>
                  <ng-container matColumnDef="Status">
                    <th mat-header-cell *matHeaderCellDef>   
                      <div  style="display: flex;">
                        <div style="width: 80%;">
                          Status
                        </div>
                      
                        <div  style="width: 10%;">
                          <span class='table-sort-icon'>
                            <span
                            class='sort-icon sort-by-asc'
                             (click)="sort('asc','Status')"
                            ></span>
                            <span
                            class='sort-icon sort-by-desc'
                            (click)="sort('desc','Status')"
                            ></span>
                        </span>
                        </div>
                      </div>
                    </th>
                    <td mat-cell *matCellDef="let element">  {{element.Status}} </td>
                  </ng-container>
                  <ng-container matColumnDef="FilingDate">
                    <th mat-header-cell *matHeaderCellDef> 
                      <div  style="display: flex;">
                        <div style="width: 80%;">
                          Filing Date  
                        </div>
                      
                        <div  style="width: 10%;">
                          <span class='table-sort-icon'>
                            <span
                            class='sort-icon sort-by-asc'
                             (click)="sort('asc','FilingDate')"
                            ></span>
                            <span
                            class='sort-icon sort-by-desc'
                            (click)="sort('desc','FilingDate')"
                            ></span>
                        </span>
                        </div>
                      </div>
                    </th>
                    <td mat-cell *matCellDef="let element">  {{element.FilingDate}} </td>
                  </ng-container>
                  <ng-container matColumnDef="CourtHearing">
                    <th mat-header-cell *matHeaderCellDef> Court Hearing? </th>
                    <td mat-cell *matCellDef="let element">  {{element.CourtHearing}} </td>
                  </ng-container>
                  <ng-container matColumnDef="CitizenFlag">
                    <th mat-header-cell *matHeaderCellDef> Citizen Flag </th>
                    <td mat-cell *matCellDef="let element">  {{element.CitizenFlag}} </td>
                  </ng-container>
                  <ng-container matColumnDef="SystemFlag">
                    <th mat-header-cell *matHeaderCellDef> System Flag</th>
                    <td mat-cell *matCellDef="let element">  {{element.SystemFlag}} </td>
                  </ng-container>
                  <ng-container matColumnDef="AssignedTo">
                    <th mat-header-cell *matHeaderCellDef> 
                      <div  style="display: flex;">
                        <div style="width: 80%;">
                          Assigned to  
                        </div>
                      
                        <div  style="width: 10%;">
                          <span class='table-sort-icon'>
                            <span
                            class='sort-icon sort-by-asc'
                             (click)="sort('asc','AssignedTo')"
                            ></span>
                            <span
                            class='sort-icon sort-by-desc'
                            (click)="sort('desc','AssignedTo')"
                            ></span>
                        </span>
                        </div>
                      </div>  
                    </th>
                    <td mat-cell *matCellDef="let element">  {{element.AssignedTo}} </td>
                  </ng-container>
              
          
                  <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              
                </table> 
              </div>
    
          
            </div>


        </div>
      </section>

    </div>
    
    
  </div>

  <!-- <div class="flex-footer">
    <app-footer></app-footer>
  </div> -->
</div>
