<div class="flex-wrapper">
  <div class="flex-header d-print-none mb-40" style="margin-bottom: 100px">
    <app-header></app-header>

    <div class="container">
      <section>
        <div>
          <h1 class="mb-1">Welcome, User</h1>
          <p style="color: black;">Court Registries Clerk, Abbotsford</p>
          <hr style="opacity: 1; color: #fcba19" />
        </div>
      </section>
      <section>
        <div class="flex-6-col ">
 
            <div>
              <ng-template mat-tab-label>
                <h1 class="mb-1 tabHeader">Inbox (1)</h1>
              </ng-template>
              <div class="step1" style="border: 1px solid black;margin-bottom: 150px" >
                <div class="">
                  <div class="container">
                    <div class="row" >
                      <div class="col-md-2">
                        <h4 style="color: green;" >5 NEW ticket records</h4> 
                      </div>
                      <div class="col-md-1">|</div>
                      <div class="col-md-3">
                       <select style="width: 200px;"><option>Fraser Valley Region</option></select>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3">
                        <h2 >Ticket number search: </h2>
                      </div>
                      <div class="col-md-3">
                        <input type="input" #fileNumber value="" class="font_bold"/>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="mt-0 mb-4" style="opacity: 0.5">
             
              <table mat-table [dataSource]="dataSource" style="margin-bottom:30px;" matSort #tickTbSort="matSort">
              
                  <ng-container [matColumnDef]="DateSubmitted">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> 
                      Date Submitted 
                    </th>
                    <td mat-cell  *matCellDef="let row">
                      {{ row.DateSubmitted }} 
                    </td>
                  </ng-container>
              
                  <ng-container [matColumnDef]="Ticket">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> 
                      Ticket #  
                    </th>
                    <td mat-cell *matCellDef="let row"> 
                      {{ row.Ticket }}
                    </td>
                  </ng-container>
              
                  <ng-container [matColumnDef]="Surname">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>  
                      Surname
                    </th>
                    <td mat-cell *matCellDef="let row">
                      {{ row.Surname }} 
                    </td>
                  </ng-container>
              
                  <ng-container [matColumnDef]="GivenName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> 
                      Given Name(s)  
                    </th>
                    <td mat-cell *matCellDef="let row">
                      {{ row.GivenName}} 
                    </td>
                  </ng-container>
                  
                  <ng-container [matColumnDef]="RequestType">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> 
                      Request Type  
                    </th>
                    <td mat-cell *matCellDef="let row">  
                      {{ row.RequestType }} 
                    </td>
                  </ng-container>
                  
                  <ng-container [matColumnDef]="Status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>   
                      Status
                    </th>
                    <td mat-cell *matCellDef="let row">  
                      {{ row.Status }} 
                    </td>
                  </ng-container>
                  
                  <ng-container [matColumnDef]="FilingDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> 
                      Filing Date  
                    </th>
                    <td mat-cell *matCellDef="let row">  
                      {{ row.FilingDate}} 
                    </td>
                  </ng-container>
                  
                  <ng-container [matColumnDef]="CourtHearing">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> 
                      Court Hearing? 
                    </th>
                    <td mat-cell *matCellDef="let row">  
                      {{ row.CourtHearing }} 
                    </td>
                  </ng-container>
                  
                  <ng-container [matColumnDef]="CitizenFlag">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> 
                      Citizen Flag 
                    </th>
                    <td mat-cell *matCellDef="let row">  
                      {{ row.CitizenFlag }} 
                    </td>
                  </ng-container>
                  
                  <ng-container [matColumnDef]="SystemFlag">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> 
                      System Flag
                    </th>
                    <td mat-cell *matCellDef="let row">  
                      {{ row.SystemFlag }} 
                    </td>
                  </ng-container>
                  
                  <ng-container [matColumnDef]="AssignedTo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> 
                      Assigned to  
                    </th>
                    <td mat-cell *matCellDef="let row">  
                      {{ row.AssignedTo }} 
                    </td>
                  </ng-container>
          
                  <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              
              </table> 
              </div>
    
          
            </div>


        </div>
      </section>

    </div>
    
    
  </div>

  <!-- <div class="flex-footer">
    <app-footer></app-footer>
  </div> -->
</div>
