<app-page>
  <app-page-header>
    <ng-container header>Do you want to dispute your traffic ticket?</ng-container>
  </app-page-header>

  <div fxLayout="row" fxLayoutAlign="space-between">
    <div fxFlex="32">
      <div style="margin-bottom: 1.2rem;">
        <button type="button" style="width: 100%; padding: 8px 16px;" mat-flat-button color="primary"
          routerLink="/ticket/find">
          Traffic Ticket
        </button>
      </div>
      <div>
        Start a dispute for a Motor Vehicle Act/Regulation traffic violation ticket issued with the new online dispute option (ticket has online instructions on the back and ticket number starts with A, E or S)
      </div>
      <br/>
      <h3 class="mb-1"><strong>Check the format of your ticket</strong></h3>
      <p class="mb=0">New online format tickets have the "Dispute Online" section on the back:</p>
    </div>
    <div fxFlex="32">
      <div style="margin-bottom: 1.2rem;">
        <a type="button" style="width: 100%; padding: 8px 16px;" mat-stroked-button
          href="https://www2.gov.bc.ca/gov/content/justice/courthouse-services/fines-payments/pay-dispute-ticket/prov-violation-tickets/dispute-ticket"
          target="_blank" rel="noopener">
          Other Tickets
        </a>
      </div>
      <div>
        Instructions on how to dispute all other types of violation tickets (e.g. Liquor/Cannabis Control and Licensing Act, Commercial Transport Act)  and Motor Vehicle Act/Regulation violation tickets issued with the non-online dispute options
      </div>
    </div>
    <div fxFlex="32">
      <div style="margin-bottom: 1.2rem;">
        <a type="button" style="width: 100%; padding: 8px 16px;" mat-stroked-button
          href="https://understandmyticket.gov.bc.ca/" target="_blank" rel="noopener">
          Not Sure
        </a>
      </div>
      <div>
        Understand types of violation tickets and explore options on how to resolve them
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-10 col-md-8 col-lg-5">
      <img
        class="img-fluid"
        src="/assets/how to dispute the ticket.png"
        alt="Dispute Online Example"
      />
    </div>
  </div>

</app-page>