<app-page>
  <app-page-header>
    <ng-container header>Do you want to dispute your traffic ticket?</ng-container>
  </app-page-header>

  <div fxLayout="row" fxLayoutAlign="space-between">
    <div fxFlex="32">
      <div style="margin-bottom: 1.2rem;">
        <button type="button" style="width: 100%; padding: 8px 16px;" mat-flat-button color="primary"
          routerLink="/ticket/find">
          Traffic Ticket
        </button>
      </div>
      <div>
        Start a dispute for a violation ticket that <u>only</u> includes charges under the Motor Vehicle Act/Regulation and was issued with the online dispute option (the back of the ticket has online dispute instructions and the ticket number starts with A, E or S)
      </div>
      <br/>
    </div>
    <div fxFlex="32">
      <div style="margin-bottom: 1.2rem;">
        <a type="button" style="width: 100%; padding: 8px 16px;" mat-stroked-button
          href="https://www2.gov.bc.ca/gov/content/justice/courthouse-services/fines-payments/pay-dispute-ticket/prov-violation-tickets/dispute-ticket"
          target="_blank" rel="noopener">
          Other Tickets
        </a>
      </div>
      <div>
        Instructions on how to dispute all other types of violation tickets (e.g. Liquor/Cannabis Control and Licensing Act, Commercial Transport Act, tickets that include charges under <u>both</u> the Motor Vehicle Act/Regulation and another Act/Regulation, and Motor Vehicle Act/Regulation violation tickets issued with the non-online dispute options)
      </div>
    </div>
    <div fxFlex="32">
      <div style="margin-bottom: 1.2rem;">
        <a type="button" style="width: 100%; padding: 8px 16px;" mat-stroked-button
          href="https://understandmyticket.gov.bc.ca/" target="_blank" rel="noopener">
          Not Sure
        </a>
      </div>
      <div>
        Understand types of violation tickets and explore options on how to resolve them
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-10 col-md-8 col-lg-5">
      <img
        class="img-fluid"
        src="/assets/how to dispute the ticket.png"
        alt="Dispute Online Example"
      />
    </div>
  </div>

</app-page>