<app-page>
  <app-page-header>
    <ng-container header>{{ "submit.heading" | translate }}</ng-container>
    <ng-container subHeader>{{
      "submit.sub_heading" | translate
    }}</ng-container>
  </app-page-header>

  <section class="mb-2 mt-4">
    <div class="row">
      <div class="col-lg-12">
        <app-alert type="success" icon="check">
          <ng-container #alertContent class="alert-content">
            <strong>{{ "submit.note_heading" | translate }}</strong
            ><br />
            {{ "submit.note_detail" | translate }}
          </ng-container>
        </app-alert>
      </div>
    </div>
  </section>

  <section class="mb-2 mt-4">
    <h3 class="mt-4">{{ "submit.next_steps" | translate }}</h3>
    <p>
      {{ "submit.next_steps_detail_1" | translate }}
    </p>
    <p>
      {{ "submit.next_steps_detail_2" | translate }}: <br />
      {{ "submit.next_steps_detail_3" | translate }}:
      <a href="tel:+18776618026">1-877-661-8026</a>
    </p>
  </section>

  <section class="mb-4 mt-4">
    <div class="row">
      <div class="col-md-4 col-xs-12">
        <button
          mat-flat-button
          color="primary"
          class="large light"
          (click)="onViewYourTicket()"
        >
          <mat-icon inline="true">text_snippet</mat-icon>

          {{ "submit.view_your_ticket" | translate }}
        </button>
      </div>

      <div class="offset-md-4 col-md-4 col-xs-12 text-right">
        <button
          mat-stroked-button
          type="button"
          color="primary"
          class="large light"
          (click)="onExitTicket()"
        >
          <mat-icon inline="true">home</mat-icon>

          {{ "submit.exit" | translate }}
        </button>
      </div>
    </div>
  </section>

  <!--
  <section class="mb-4 mt-4">
    <button
      mat-flat-button
      color="primary"
      class="large light"
      routerLink="/ticket/list"
    >
      View Your Ticket Listing
    </button>
  </section>
  -->
</app-page>
