<app-page>
  <app-tco-page-header>
    <ng-container header>Ticket Listing</ng-container>
    <ng-container subHeader>Here are your active tickets</ng-container>
  </app-tco-page-header>

  <section class="mt-4 mb-4">
    <table>
      <tr class="d-flex p-2" *ngFor="let row of disputes; let i = index">
        <th scope="row" class="col-sm-4">
          {{ row.ticket?.violationTicketNumber | default }}
          <small class="d-block ml-2"
            >Received: {{ row.ticket?.violationDate | formatDate | default }} at
            {{ row.ticket?.violationTime | default }} - {{ row.ticketType }}
          </small>
        </th>
        <td class="col">
          <small class="d-block text-muted">Status</small>
          <small
            [ngClass]="{
              'text-danger': row.statusCode === 'INP',
              'text-primary': row.statusCode === 'NEW',
              'text-success': row.statusCode === 'ACT',
              'text-info': row.statusCode === 'PAID'
            }"
            >{{ row.status }}
            <mat-icon *ngIf="row.statusCode === 'INP'">warning</mat-icon></small
          >
        </td>
        <td class="col">
          <small class="d-block text-muted" *ngIf="row.note">Note</small>
          <small
            [ngClass]="{
              'text-danger': row.statusCode === 'INP',
              'text-primary': row.statusCode === 'NEW',
              'text-success': row.statusCode === 'ACT',
              'text-info': row.statusCode === 'PAID'
            }"
            >{{ row.note }}</small
          >
        </td>
        <td class="col text-right">
          <button
            mat-stroked-button
            color="primary"
            *ngIf="row.statusCode === 'ACT'"
            (click)="onSelect(row)"
          >
            View
            <mat-icon inline="true">preview</mat-icon>
          </button>
          <button
            mat-stroked-button
            color="primary"
            *ngIf="row.statusCode === 'INP'"
            (click)="onSelect(row)"
          >
            Continue
            <mat-icon inline="true">read_more</mat-icon>
          </button>
          <button
            mat-stroked-button
            color="primary"
            *ngIf="row.statusCode === 'NEW'"
            (click)="onSelectSurvey(row)"
          >
            Start
            <mat-icon inline="true">read_more</mat-icon>
          </button>
        </td>
      </tr>
    </table>
  </section>
</app-page>
