<app-page>
  <app-page-header>
    <ng-container header
      >Count #{{ offenceNumber.value }} Review and Action</ng-container
    >
    <ng-container subHeader>
      <div class="row">
        <div class="col-4 mb-2">Offence Description</div>
        <div class="col-8 text-right mb-2">
          {{ offenceDescription.value }}
        </div>
      </div>
      <div class="row">
        <div class="col-6 mb-2">Ticket Amount</div>
        <div class="col-6 text-right mb-2">
          {{ ticketedAmount.value | currency }}
        </div>
      </div>
      <div class="row">
        <div class="col-6 mb-2">Amount Due</div>
        <div class="col-6 text-right mb-2">
          {{ amountDue.value | currency }}
        </div>
      </div>
      <div class="row" *ngIf="discountAmount.value > 0">
        <div class="col-6 mb-2">
          Ticket Discount (if paid by
          {{ discountDueDate.value | formatDate }})
        </div>
        <div class="col-6 text-right mb-2">
          {{ discountAmount.value | currency }}
        </div>
      </div>
    </ng-container>
  </app-page-header>

  <form (ngSubmit)="onSubmit()" [formGroup]="form" novalidate>
    <section class="mb-2">
      <div class="row">
        <div class="col">
          <label>For this offence:</label>
          <mat-radio-group
            formControlName="offenceAgreementStatus"
            class="w-100"
          >
            <mat-radio-button value="1"
              ><span class="wrap-mat-radio-label"
                >I agree that I committed this offence, and I do not want to
                appear in court</span
              ></mat-radio-button
            >
            <mat-radio-button value="2"
              ><span class="wrap-mat-radio-label"
                >I agree that I committed this offence, and I want to appear in
                court</span
              ></mat-radio-button
            >
            <mat-radio-button value="3">
              <span class="wrap-mat-radio-label">
                I do not agree that I committed this offence (allegation)
              </span>
            </mat-radio-button>

            <mat-error
              *ngIf="
                (offenceAgreementStatus.dirty ||
                  offenceAgreementStatus.touched) &&
                offenceAgreementStatus.invalid &&
                offenceAgreementStatus.errors.required
              "
            >
              Required
            </mat-error>
          </mat-radio-group>
        </div>
      </div>

      <div
        class="row"
        *ngIf="
          offenceAgreementStatus.value === '1' ||
          offenceAgreementStatus.value === '2'
        "
      >
        <div class="col">
          <label>Which requests would you like to make?</label>
          <mat-checkbox
            formControlName="requestReduction"
            color="primary"
            class="w-100"
            >I request a reduction of the ticketed amount: and/or</mat-checkbox
          >
          <mat-checkbox
            formControlName="requestMoreTime"
            color="primary"
            class="w-100"
            >I request time to pay the ticketed amount</mat-checkbox
          >
        </div>
      </div>

      <div
        class="row"
        *ngIf="offenceAgreementStatus.value === '1' && requestReduction.value"
      >
        <div class="col">
          <mat-form-field class="w-100">
            <label>
              What are your reasons for a reduction in the ticketed amount(s)?
            </label>
            <textarea
              matInput
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="5"
              formControlName="reductionReason"
            ></textarea>
            <mat-error *ngIf="reductionReason.hasError('required')">
              Required
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div
        class="row"
        *ngIf="offenceAgreementStatus.value === '1' && requestMoreTime.value"
      >
        <div class="col">
          <mat-form-field class="w-100">
            <label>
              What are your reasons for requiring more time to pay the ticketed
              amount(s)?
            </label>
            <textarea
              matInput
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="5"
              formControlName="moreTimeReason"
            ></textarea>
            <mat-error *ngIf="moreTimeReason.hasError('required')">
              Required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </section>
  </form>

  <app-page-footer
    (save)="onSubmit()"
    (back)="onBack()"
    [secondaryActionButtonLabel]="prevBtnLabel"
    [secondaryActionButtonIcon]="prevBtnIcon"
    [hasSecondaryAction]="true"
  ></app-page-footer>
</app-page>
