<app-header></app-header>

<div class="container">
  <div class="row mt-4">
    <div class="col-lg-2 d-none d-lg-block">
      <div class="logo mt-4">
        <img
          src="/assets/tco_ticket_types_small.png"
          style="width: 150px"
          alt="Traffic Court Logo"
        />
      </div>
    </div>

    <div class="col-lg-10">
      <app-page [busy]="busy">
        <app-tco-page-header>
          <ng-container header>{{
            "offence_dispute.heading" | translate
          }}</ng-container>

          <ng-container subHeader>
            <h2 class="mb-2" *ngIf="ticket">
              {{ "summary.ticket_number" | translate
              }}{{ ticket.violationTicketNumber }}
              <span class="ml-4">
                {{ ticket.violationTime }}
              </span>
            </h2>
          </ng-container>
        </app-tco-page-header>

        <mat-vertical-stepper
          #disputeStepper
          linear
          (selectionChange)="onSelectionChange($event)"
        >
          <mat-step [stepControl]="offenceForm">
            <ng-template matStepLabel>Count Review and Action</ng-template>
            <app-step-single-count
              id="stepCount"
              [stepControl]="offenceForm"
              [stepper]="disputeStepper"
              (stepSave)="onStepSave($event)"
              (stepCancel)="onStepCancel()"
            ></app-step-single-count>
          </mat-step>

          <mat-step
            label="Additional Information"
            [stepControl]="additionalForm"
          >
            <app-step-additional
              id="stepCourt"
              [stepper]="disputeStepper"
              (stepSave)="onStepSave($event)"
            ></app-step-additional>
          </mat-step>

          <mat-step label="Dispute Overview" [stepControl]="overviewForm">
            <app-step-overview
              id="stepOverview"
              [stepper]="disputeStepper"
              (busy)="(busy)"
              (stepSave)="onStepSave($event)"
            ></app-step-overview>
          </mat-step>
        </mat-vertical-stepper>
      </app-page>
    </div>
  </div>
</div>
