.vertical-align {
  vertical-align: middle;
}

.w-33 {
  width: 33% !important;
}

.mat-flat-button,
.mat-stroked-button {
  width: 100%;
  margin-bottom: 1em;

  &.large {
    height: 46px;
    font-size: 1rem;
  }
}
