.vertical-align {
  vertical-align: middle;
}

.w-33 {
  width: 33% !important;
}

.mat-flat-button,
.mat-stroked-button {
  width: 100%;

  &.large {
    height: 46px;
    font-size: 1rem;
  }
}

.upload-link {
  display: inline-flex;
}

.new-image-icon {
  padding-top: 2px;
}

@media (max-width: 991px) {
  .mat-flat-button,
  .mat-stroked-button {
    margin-bottom: 1em;
  }
}
