<app-page [busy]="busy">
  <app-page-header>
    <ng-container header>Create your Shell Ticket</ng-container>
    <ng-container subHeader>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit et dolore magna
      aliqua.
    </ng-container>
  </app-page-header>

  <app-alert type="info" icon="info">
    <ng-container #alertContent class="alert-content">
      <strong>Note:</strong>
      you can now upload an image or take a photo of your paper ticket if you
      have it available. If you cannot upload an image or take a photo, please
      manually enter the fields below:
    </ng-container>
  </app-alert>

  <form class="mt-4" (ngSubmit)="onSubmit()" [formGroup]="form" novalidate>
    <section class="mb-2">
      <div class="row">
        <div class="col-md-4 pb-4">
          <mat-form-field class="w-100 mb-2">
            <mat-label>Violation ticket number</mat-label>
            <input
              formControlName="ticketNumber"
              matInput
              type="text"
              oninput="this.value = this.value.toUpperCase()"
              mask="SS00000000"
              autocomplete="off"
            />
            <mat-hint>
              <strong>A ticket number is 2 letters and 8 numbers</strong>
            </mat-hint>
            <mat-error *ngIf="ticketNumber.hasError('required')">
              {{ "error.required" | translate }}
            </mat-error>
            <mat-error *ngIf="ticketNumber.hasError('mask')">
              This ticket number is not valid. It must be 2 letters and 8
              numbers.
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-4">
          <mat-form-field class="w-100">
            <mat-label>Violation date</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="offenceDate"
              [max]="todayDate"
              readonly
              (click)="picker.open()"
            />
            <mat-datepicker-toggle matSuffix [for]="picker">
            </mat-datepicker-toggle>
            <mat-datepicker
              #picker
              [touchUi]="isMobile"
              startView="multi-year"
            ></mat-datepicker>
            <mat-error *ngIf="form.get('offenceDate').hasError('required')">
              {{ "error.required" | translate }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-4">
          <mat-form-field class="w-100">
            <mat-label>Violation time</mat-label>
            <input matInput type="time" formControlName="offenceTime" />
            <mat-error>{{ "error.required" | translate }}</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <mat-form-field class="w-100">
            <mat-label>Surname</mat-label>
            <input matInput formControlName="lastName" />
            <mat-error>{{ "error.required" | translate }}</mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-3">
          <mat-form-field class="w-100">
            <mat-label>Given names</mat-label>
            <input matInput formControlName="givenNames" />
            <mat-error>{{ "error.required" | translate }}</mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-2">
          <mat-form-field class="w-100">
            <mat-label>Driver's license #</mat-label>
            <input
              matInput
              formControlName="driverLicense"
              mask="0000000"
              [showMaskTyped]="false"
            />
            <mat-error>{{ "error.required" | translate }}</mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-2">
          <mat-form-field class="w-100">
            <mat-label>Birthdate</mat-label>
            <input
              matInput
              [matDatepicker]="picker2"
              formControlName="birthdate"
              [max]="maxDateOfBirth"
              readonly
              (click)="picker2.open()"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker2"
            ></mat-datepicker-toggle>

            <mat-datepicker
              #picker2
              [touchUi]="isMobile"
              startView="multi-year"
            ></mat-datepicker>
            <mat-error *ngIf="form.get('birthdate').hasError('required')">{{
              "error.required" | translate
            }}</mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-2">
          <mat-form-field class="w-100">
            <mat-label>Gender</mat-label>
            <mat-select formControlName="gender">
              <mat-option value="F">Female</mat-option>
              <mat-option value="M">Male</mat-option>
              <mat-option value="O">Other</mat-option>
            </mat-select>
            <mat-error>{{ "error.required" | translate }}</mat-error>
          </mat-form-field>
        </div>
      </div>

      <!--
      <div class="row">
        <div class="col-md-2"><strong>Count</strong></div>
        <div class="col-md-7"><strong>Act / reg / section</strong></div>
        <div class="col-md-3"><strong>Fine amount ($)</strong></div>
      </div>
      -->

      <div class="row">
        <div class="col-md-2" style="text-align: right">
          <strong>Count 1</strong>
        </div>
        <div class="col-md-7">
          <mat-form-field class="table-cell w-100">
            <mat-label>Count 1 Act / reg / section</mat-label>
            <input matInput formControlName="givenNames" />
            <mat-error>{{ "error.required" | translate }}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="table-cell w-100">
            <mat-label>Count 1 Fine Amount ($)</mat-label>
            <input
              matInput
              formControlName="givenNames"
              style="text-align: right"
            />
            <mat-error>{{ "error.required" | translate }}</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2" style="text-align: right">
          <strong>Count 2</strong>
        </div>
        <div class="col-md-7">
          <mat-form-field class="table-cell w-100">
            <mat-label>Count 3 Act / reg / section</mat-label>
            <input matInput formControlName="givenNames" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="table-cell w-100">
            <mat-label>Count 2 Fine Amount ($)</mat-label>
            <input
              matInput
              formControlName="givenNames"
              style="text-align: right"
            />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2" style="text-align: right">
          <strong>Count 3</strong>
        </div>
        <div class="col-md-7">
          <mat-form-field class="table-cell w-100">
            <mat-label>Count 3 Act / reg / section</mat-label>
            <input matInput formControlName="givenNames" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="table-cell w-100">
            <mat-label>Count 3 Fine Amount ($)</mat-label>
            <input
              matInput
              formControlName="givenNames"
              style="text-align: right"
            />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">&nbsp;</div>
        <div class="col-md-7" style="text-align: right">
          <strong>Amount owing</strong>
        </div>
        <div class="col-md-3">
          <mat-form-field class="w-100">
            <input
              matInput
              formControlName="amountOwing"
              style="text-align: right"
              readonly
            />
          </mat-form-field>
        </div>
      </div>

      <!--
      <table class="table table-sm table-striped mb-4">
        <thead>
          <tr>
            <th scope="col">Count</th>
            <th scope="col">Act / reg / section</th>
            <th scope="col">Fine amount ($)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th class="vertical-align">1</th>
            <td>
              <mat-form-field class="w-100">
                <input matInput formControlName="givenNames" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <input matInput formControlName="givenNames" />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <th class="vertical-align">2</th>
            <td>
              <mat-form-field class="w-100">
                <input matInput formControlName="givenNames" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <input matInput formControlName="givenNames" />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <th class="vertical-align">3</th>
            <td>
              <mat-form-field class="w-100">
                <input matInput formControlName="givenNames" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <input matInput formControlName="givenNames" />
              </mat-form-field>
            </td>
          </tr>
        </tbody>
      </table>
    -->

      <div class="row mt-4">
        <div class="col-md-3">
          <!--
          <label id="charge_count" class="w-100"
            >Number of counts on your ticket</label
          >
          <mat-radio-group
            aria-labelledby="charge_count"
            formControlName="chargeCount"
            class="w-100"
          >
            <mat-radio-button [value]="1" class="w-33">1</mat-radio-button>
            <mat-radio-button [value]="2" class="w-33">2</mat-radio-button>
            <mat-radio-button [value]="3" class="w-33 mb-4">
              3
            </mat-radio-button>
          </mat-radio-group>

          <app-count-form-field
            [parentForm]="form"
            [parentFormControlName]="'test'"
            [fieldLabel]="'Count 1 Act Regulation'"
          ></app-count-form-field>
-->
          <!--
          <app-count-form-field
            [parentForm]="form"
            [parentFormControlName]="'tonk'"
            [fieldLabel]="'Count 2 Act Regulation'"
          ></app-count-form-field>

          <app-count-form-field
            [parentForm]="form"
            [parentFormControlName]="'tink'"
            [fieldLabel]="'Count 3 Act Regulation'"
          ></app-count-form-field>
          -->

          <!--
          {{ chargeCount.value }}<br />
          -->
          <!---------------------------------------------------------->
          <!---------------------------------------------------------->
          <!--
          <label class="w-100">Count 1</label>
          <mat-form-field class="w-100">
            <input
              type="text"
              matInput
              placeholder="Count 1 Act Regulation"
              formControlName="count1"
              [matAutocomplete]="auto"
              (click)="$event.target.select()"
            />
            <mat-autocomplete
              autoActiveFirstOption
              #auto="matAutocomplete"
              [displayWith]="onDisplayWithStatute"
              (optionSelected)="onStatuteSelected($event)"
            >
              <mat-option
                *ngFor="let option of filteredStatutes | async"
                [value]="option"
              >
                {{ option.name }}
              </mat-option>
            </mat-autocomplete>

            <mat-error *ngIf="count1.hasError('required')">
              {{ "error.required" | translate }}
            </mat-error>
            <mat-error *ngIf="count1.hasError('invalidAutocompleteObject')">
              Statute is not recognized. Select one from the list of options.
            </mat-error>
          </mat-form-field>

          <mat-form-field class="w-100">
            <input
              matInput
              type="number"
              placeholder="Count 1 Fine Amount"
              formControlName="count1FineAmount"
            />
            <mat-error>{{ "error.required" | translate }}</mat-error>
          </mat-form-field>
-->
          <!---------------------------------------------------------->
          <!---------------------------------------------------------->
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="w-100">
            <mat-label>Provincial court hearing location</mat-label>
            <mat-select formControlName="courtHearingLocation">
              <mat-option
                *ngFor="let locn of courtLocations"
                [value]="locn.code"
              >
                {{ locn.name }}
              </mat-option>
            </mat-select>
            <mat-error>{{ "error.required" | translate }}</mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field class="w-100">
            <mat-label>Organization / detachment / location</mat-label>
            <mat-select formControlName="orgDetachmentLocation">
              <mat-option
                *ngFor="let locn of policeLocations"
                [value]="locn.code"
              >
                {{ locn.name }}
              </mat-option>
            </mat-select>
            <mat-error>{{ "error.required" | translate }}</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <button
            id="secondaryButton"
            mat-stroked-button
            type="button"
            color="primary"
            routerLink="/ticket/find"
          >
            <mat-icon inline="true">keyboard_arrow_left</mat-icon>
            Back
          </button>
        </div>
        <div class="col-md-6 text-right">
          <button
            type="submit"
            mat-flat-button
            color="primary"
            class="large mt-2"
          >
            <mat-icon inline="true">save</mat-icon>
            Validate
          </button>
        </div>
      </div>
    </section>
  </form>
</app-page>
