<app-page [busy]="busy">
    <app-page-header>Traffic Court Online</app-page-header>
    <mat-horizontal-stepper #disputeStepper linear>
        <mat-step label="Step 1" >
            <app-home [stepper]="disputeStepper"></app-home>
        </mat-step>

        <mat-step label="Step 2">
            <app-part-a [stepper]="disputeStepper" ></app-part-a>
        </mat-step>

        <mat-step label="Step 3">
            <app-part-b [stepper]="disputeStepper"></app-part-b>
        </mat-step>

        <mat-step label="Step 4" optional >
            <app-part-c [stepper]="disputeStepper"></app-part-c>
        </mat-step>

        <mat-step label="Step 5" >
            <app-part-d [stepper]="disputeStepper"></app-part-d>
        </mat-step>
    </mat-horizontal-stepper>
</app-page>