 <app-page [busy]="busy" [mode]="pageMode"> 
    <app-page-header>Traffic Court Online</app-page-header>
    <mat-horizontal-stepper #disputeStepper linear>
        <mat-step label="Step 1" [stepControl]="home.formStep1">
            <app-home #home [stepper]="disputeStepper"></app-home>
        </mat-step>

        <mat-step label="Step 2" [stepControl]="partA.formStep2">
            <app-part-a #partA [stepper]="disputeStepper" ></app-part-a>
        </mat-step>

        <mat-step label="Step 3"  [stepControl]="partB.formStep3">
            <app-part-b #partB [stepper]="disputeStepper"></app-part-b>
        </mat-step>

        <mat-step label="Step 4" optional >
            <app-part-c #partC [stepper]="disputeStepper"></app-part-c>
        </mat-step>

        <mat-step label="Step 5" >
            <app-part-d [stepper]="disputeStepper"></app-part-d>
        </mat-step>
    </mat-horizontal-stepper>
</app-page> 