# global values
global:
  namespace: 0198bb-test
  vault:
    role: 0198bb-nonprod
    path: test/

arc-dispute-api:
  replicaCount: 3
  pdb:
    create: true
  image:
    tag: "2.3.15"
    pullPolicy: Always
  env: 
    "Swagger__Enabled": "true"

citizen-api:
  replicaCount: 3
  pdb:
    create: true
  image:
    tag: "2.3.15"
    pullPolicy: Always
  env:
    "FormRecognizer__ApiVersion": "2022-08-31"
    "FormRecognizer__ModelId": "ViolationTicket"
    "FormRecognizer__Endpoint": "https://acs-forms-recognizer-0198bb-test.apps.silver.devops.gov.bc.ca/"
    "TicketSearch__SearchType": "RoadSafety"
    "MassTransit__Transport": "RabbitMq"
    "RabbitMq__UseQuorumQueues": "true"
    "COMS__BASEURL": "http://common-object-management-service:3000"
    "JWT__AUTHORITY": "https://idtest.gov.bc.ca/login"  
    "JWT__AUDIENCE": "ca.bc.gov.ag.tco.test"
    "OAuth__USERINFOENDPOINT": "https://idtest.gov.bc.ca/oauth2/userinfo"

citizen-web:
  replicaCount: 3
  pdb:
    create: true
  image:
    tag: "2.3.15"
    pullPolicy: Always
  route:
    # https://test.justice.gov.bc.ca 
    allowedIPs: "142.34.44.68 142.34.44.69"
  appConfig: |
    {
        "production": false,
        "environment": "Test",
        "version": "2.3.15",
        "useMockServices": false,
        "apiBaseUrl": "/api",
        "understandYourTicketLink": "https://bcmoag--staging.sandbox.my.salesforce-sites.com/?tn=BCTC",
        "paymentOptionsLink": "https://www2.gov.bc.ca/gov/content/justice/courthouse-services/fines-payments/pay-dispute-ticket/prov-violation-tickets/pay-ticket",
        "resolutionOptionsLink": "https://www2.gov.bc.ca/gov/content/justice/courthouse-services/fines-payments/pay-dispute-ticket/prov-violation-tickets/dispute-ticket",
        "features": {
          "dispute":true
        }
      }
  authConfig: |
    {
      "authority": "https://idtest.gov.bc.ca/login",
      "clientId": "ca.bc.gov.ag.tco.test",
      "scope": "openid profile address email",
      "responseType": "code",
      "silentRenew": true,
      "useRefreshToken": true,
      "renewTimeBeforeTokenExpiresInSeconds": 30,
      "unauthorizedRoute": "/"
    }
  oidcConfig: |
    {
    	"request_parameter_supported": false,
    	"introspection_endpoint": "https://idtest.gov.bc.ca/oauth2/introspect",
    	"claims_parameter_supported": false,
    	"scopes_supported": [
    		"openid",
    		"profile",
    		"email",
    		"address"
    	],
    	"issuer": "https://idtest.gov.bc.ca/oauth2/",
    	"id_token_encryption_enc_values_supported": [
    		"A256CBC+HS512",
    		"A256GCM",
    		"A192GCM",
    		"A128GCM",
    		"A128CBC-HS256",
    		"A192CBC-HS384",
    		"A256CBC-HS512",
    		"A128CBC+HS256"
    	],
    	"userinfo_encryption_enc_values_supported": [
    		"A256CBC+HS512",
    		"A256GCM",
    		"A192GCM",
    		"A128GCM",
    		"A128CBC-HS256",
    		"A192CBC-HS384",
    		"A256CBC-HS512",
    		"A128CBC+HS256"
    	],
    	"authorization_endpoint": "https://idtest.gov.bc.ca/login/oidc/authorize/",
    	"userinfo_signing_alg_values_supported": [
    		"PS384",
    		"RS384",
    		"RS256",
    		"none",
    		"PS256",
    		"PS512",
    		"RS512"
    	],
    	"claims_supported": [
    		"sub",
    		"street_address",
    		"country",
    		"age_19_or_over",
    		"birthdate",
    		"gender",
    		"given_names",
    		"client_id",
    		"user_type",
    		"transaction_identifier",
    		"identification_level",
    		"email",
    		"authoritative_party_name",
    		"address",
    		"locality",
    		"sector_identifier_uri",
    		"transaction_type",
    		"given_name",
    		"display_name",
    		"identity_assurance_level3",
    		"identity_assurance_level2",
    		"identity_assurance_level1",
    		"authoritative_party_identifier",
    		"identity_assurance_level",
    		"region",
    		"postal_code",
    		"family_name",
    		"age",
    		"authentication_zone_identifier"
    	],
    	"claim_types_supported": [
    		"normal"
    	],
    	"token_endpoint_auth_methods_supported": [
    		"client_secret_post",
    		"client_secret_basic",
    		"client_secret_jwt",
    		"private_key_jwt"
    	],
    	"token_endpoint": "https://idtest.gov.bc.ca/oauth2/token",
    	"response_types_supported": [
    		"code"
    	],
    	"request_uri_parameter_supported": false,
    	"userinfo_encryption_alg_values_supported": [
    		"RSA-OAEP",
    		"RSA-OAEP-256",
    		"RSA1_5"
    	],
    	"grant_types_supported": [
    		"authorization_code"
    	],
    	"revocation_endpoint": "https://idtest.gov.bc.ca/oauth2/revoke",
    	"userinfo_endpoint": "https://idtest.gov.bc.ca/oauth2/userinfo",
    	"token_endpoint_auth_signing_alg_values_supported": [
    		"PS384",
    		"ES384",
    		"RS384",
    		"HS256",
    		"HS512",
    		"ES256",
    		"RS256",
    		"HS384",
    		"ES512",
    		"PS256",
    		"PS512",
    		"RS512"
    	],
    	"id_token_encryption_alg_values_supported": [
    		"RSA-OAEP",
    		"RSA-OAEP-256",
    		"RSA1_5"
    	],
    	"jwks_uri": "https://idtest.gov.bc.ca/oauth2/jwk",
    	"subject_types_supported": [
    		"pairwise"
    	],
    	"id_token_signing_alg_values_supported": [
    		"PS384",
    		"RS384",
    		"RS256",
    		"none",
    		"PS256",
    		"PS512",
    		"RS512"
    	]
    }

oracle-data-api:
  replicaCount: 3
  pdb:
    create: true
  image:
    tag: "2.3.15"
    pullPolicy: Always
  env:
    "JAVA_OPTS": ""
    "TZ": "America/Vancouver"
    "LOOKUP_REPOSITORY_SRC": "ords"
    "DISPUTE_REPOSITORY_SRC": "ords"
    "JJDISPUTE_REPOSITORY_SRC": "ords"
    "HISTORY_REPOSITORY_SRC": "ords"
    "ORDS_API_AUTH_ENABLED": "true"
    "REDIS_CLUSTER_NODES": "redis-headless:6379"
    "REDIS_PORT": "6379"
staff-api:
  replicaCount: 3
  pdb:
    create: true
  image:
    tag: "2.3.15"
    pullPolicy: Always
  env:    
    "Jwt__Audience": "staff-api"
    "Jwt__Authority": "https://oidc-0198bb-test.apps.silver.devops.gov.bc.ca/realms/traffic-court"
    "KeycloakAdminApi__BaseUri": "https://oidc-0198bb-test.apps.silver.devops.gov.bc.ca/admin/realms/"
    "KeycloakAdminApi__Realm": "traffic-court"
    "OAuth__TokenEndpoint": "https://oidc-0198bb-test.apps.silver.devops.gov.bc.ca/realms/traffic-court/protocol/openid-connect/token"
    "Swagger__Enabled": "true"
    "MassTransit__Transport": "RabbitMq"
    "RabbitMq__UseQuorumQueues": "true"
    "COMS__BASEURL": "http://common-object-management-service:3000"
    "TicketSearch__SearchType": "RoadSafety"
staff-web:
  replicaCount: 3
  pdb:
    create: true
  image:
    tag: "2.3.15"
    pullPolicy: Always
  route:
    # https://test.jag.gov.bc.ca
    allowedIPs: "142.34.91.133 142.34.91.132"
  keycloakConfig: |
    {
      "config": {
        "url": "https://oidc-0198bb-test.apps.silver.devops.gov.bc.ca/",
        "realm": "traffic-court",
        "clientId": "staff-portal"
      },
      "initOptions": {
      }
    }
  appConfig: |
    {
        "production": false,
        "environment": "Test",
        "version": "2.3.15",
        "useMockServices": false,
        "apiBaseUrl": "/api",
        "features": {
          "dispute":true
        }
      }
  courtHouseDataConfig: |
    {
      "courthouses": [
        { "id": "9393.0007", "name": "Abbotsford Law Courts", "typeCode": "CTH", "__team": "C" },
        { "id": "50764.0009", "name": "Anvil Centre", "typeCode": "CTH", "__team": "D" },
        { "id": "10244.0007", "name": "Bella Bella Provincial Court", "typeCode": "CTH", "__team": "C" },
        { "id": "10245.0007", "name": "Bella Coola Provincial Court", "typeCode": "CTH", "__team": "C" },
        { "id": "9067.0007", "name": "Campbell River Law Courts", "typeCode": "CTH", "__team": "D" },
        { "id": "19640.0999", "name": "Chilliwack Law Courts", "typeCode": "CTH", "__team": "C" },
        { "id": "29.0007", "name": "Cranbrook Law Courts", "typeCode": "CTH", "__team": "D" },
        { "id": "110.0007", "name": "Dawson Creek Law Courts", "typeCode": "CTH", "__team": "D" },
        { "id": "19585.0103", "name": "Downtown Community Court", "typeCode": "CTH", "__team": "D" },
        { "id": "10231.0007", "name": "Duncan Law Courts", "typeCode": "CTH", "__team": "D" },
        { "id": "50814.0009", "name": "Evergreen Hall", "typeCode": "CTH", "__team": "D" },
        { "id": "10232.0007", "name": "Ganges Provincial Court", "typeCode": "CTH", "__team": "D" },
        { "id": "10233.0007", "name": "Gold River Provincial Court", "typeCode": "CTH", "__team": "D" },
        { "id": "19574.0103", "name": "Justice Centre", "typeCode": "CTH", "__team": "D" },
        { "id": "83.0007", "name": "Kelowna Law Courts", "typeCode": "CTH", "__team": "D" },
        { "id": "118.0007", "name": "Kitimat Law Courts", "typeCode": "CTH", "__team": "D" },
        { "id": "16960.0002", "name": "Klemtu Provincial Court", "typeCode": "CTH", "__team": "D" },
        { "id": "87.0007", "name": "Merritt", "typeCode": "CTH", "__team": "D" },
        { "id": "8805.0007", "name": "Nanaimo Law Courts", "typeCode": "CTH", "__team": "D" },
        { "id": "8839.0007", "name": "New Westminster Law Courts", "typeCode": "CTH", "__team": "C" },
        { "id": "10246.0007", "name": "Pemberton Provincial Court", "typeCode": "CTH", "__team": "B" },
        { "id": "10235.0007", "name": "Port Alberni Law Courts", "typeCode": "CTH", "__team": "D" },
        { "id": "8834.0007", "name": "Port Coquitlam Provincial Court", "typeCode": "CTH", "__team": "C" },
        { "id": "10236.0007", "name": "Port Hardy Provincial Court", "typeCode": "CTH", "__team": "D" },
        { "id": "10237.0007", "name": "Powell River", "typeCode": "CTH", "__team": "D" },
        { "id": "9075.0007", "name": "Prince Rupert", "typeCode": "CTH", "__team": "D" },
        { "id": "92.0007", "name": "Princeton Law Courts", "typeCode": "CTH", "__team": "D" },
        { "id": "10250.0007", "name": "Robson Square Provincial Court", "typeCode": "CTH", "__team": "A" },
        { "id": "94.0007", "name": "Rossland Law Courts", "typeCode": "CTH", "__team": "D" },
        { "id": "95.0007", "name": "salmon Arm law", "typeCode": "CTH", "__team": "D" },
        { "id": "9073.0007", "name": "Smithers Law Courts", "typeCode": "CTH", "__team": "D" },
        { "id": "8841.0007", "name": "Surrey Provincial Court", "typeCode": "CTH", "__team": "B" },
        { "id": "9072.0007", "name": "Terrace Law Courts", "typeCode": "CTH", "__team": "D" },
        { "id": "10240.0007", "name": "Tofino Provincial Court", "typeCode": "CTH", "__team": "D" },
        { "id": "10241.0007", "name": "Ucluelet Provincial Court", "typeCode": "CTH", "__team": "D" },
        { "id": "8816.0007", "name": "Vancouver Law Courts", "typeCode": "CTH", "__team": "A" },
        { "id": "8813.0007", "name": "Vancouver Provincial Court", "typeCode": "CTH", "__team": "A" },
        { "id": "96.0007", "name": "Vernon Law Courts", "typeCode": "CTH", "__team": "D" },
        { "id": "8807.0007", "name": "Victoria Law Courts", "typeCode": "CTH", "__team": "D" },
        { "id": "19577.0103", "name": "Violation Ticket Centre", "typeCode": "CTH", "__team": "A" }
      ]
    }

workflow-service:
  replicaCount: 3
  pdb:
    create: true
  image:
    tag: "2.3.15"
    pullPolicy: Always
  env:
    "EmailConfiguration__Sender": "DoNotReply@gov.bc.ca"
    "EmailConfiguration__AllowList": ""
    "EmailConfiguration__EmailVerificationURL": "https://test.tickets.gov.bc.ca/email/verify"
    "MassTransit__Transport": "RabbitMq"
    "RabbitMq__UseQuorumQueues": "true"
    "COMS__BASEURL": "http://common-object-management-service:3000"
    "VIRUSSCAN__BASEURL": "http://virus-scan:8080"
  saga:
    db:
      secretName: "postgres-app-pguser-masstransit"
      keys:
        host: "pgbouncer-host"
        port: "pgbouncer-port"
