# global values
global:
  namespace: 0198bb-prod
  vault:
    role: 0198bb-prod
    path: /

arc-dispute-api:
  replicaCount: 3
  pdb:
    create: true
  image:
    tag: "2.1.7"
    pullPolicy: Always
  env: 
    "Swagger__Enabled": "false"

citizen-api:
  replicaCount: 3
  pdb:
    create: true
  image:
    tag: "2.1.7"
    pullPolicy: Always
  env:
    "FormRecognizer__ApiVersion": "2022-08-31"
    "FormRecognizer__ModelId": "ViolationTicket"
    "FormRecognizer__Endpoint": "http://acs-form-recognizer-proxy.0198bb-prod.svc.cluster.local:5000/"
    "TicketSearch__SearchType": "RoadSafety"
    "MassTransit__Transport": "RabbitMq"
    "RabbitMq__UseQuorumQueues": "true"
    "COMS__BASEURL": "http://common-object-management-service:3000"
    "JWT__AUTHORITY": "https://id.gov.bc.ca/login"  
    "JWT__AUDIENCE": "ca.bc.gov.ag.tco"
    "OAuth__USERINFOENDPOINT": "https://id.gov.bc.ca/oauth2/userinfo"

citizen-web:
  replicaCount: 3
  pdb:
    create: true
  image:
    tag: "2.1.7"
    pullPolicy: Always
  appConfig: |
    {
        "production": true,
        "environment": "prod",
        "version": "2.1.7",
        "useMockServices": false,
        "apiBaseUrl": "/api",
        "understandYourTicketLink": "https://understandmyticket.gov.bc.ca/",
        "paymentOptionsLink": "https://www2.gov.bc.ca/gov/content/justice/courthouse-services/fines-payments/pay-dispute-ticket/prov-violation-tickets/pay-ticket",
        "resolutionOptionsLink": "https://www2.gov.bc.ca/gov/content/justice/courthouse-services/fines-payments/pay-dispute-ticket/prov-violation-tickets/dispute-ticket",
        "features": {
          "dispute":true
        }
      }
  authConfig: |
    {
      "authority": "https://id.gov.bc.ca/login",
      "clientId": "ca.bc.gov.ag.tco.prod",
      "scope": "openid profile address email",
      "responseType": "code",
      "silentRenew": true,
      "useRefreshToken": true,
      "renewTimeBeforeTokenExpiresInSeconds": 30,
      "unauthorizedRoute": "/"
    }
  oidcConfig: |
    {
        "request_parameter_supported": true,
        "claims_parameter_supported": false,
        "introspection_endpoint": "https://id.gov.bc.ca/oauth2/introspect",
        "scopes_supported": [
            "openid",
            "subscriptions-update",
            "subscriptions-delete",
            "subscriptions-read",
            "profile",
            "subscriptions-write",
            "email",
            "address"
        ],
        "issuer": "https://id.gov.bc.ca/oauth2/",
        "userinfo_encryption_enc_values_supported": [
            "A256CBC+HS512",
            "A256GCM",
            "A192GCM",
            "A128GCM",
            "A128CBC-HS256",
            "A192CBC-HS384",
            "A256CBC-HS512",
            "A128CBC+HS256"
        ],
        "id_token_encryption_enc_values_supported": [
            "A256CBC+HS512",
            "A256GCM",
            "A192GCM",
            "A128GCM",
            "A128CBC-HS256",
            "A192CBC-HS384",
            "A256CBC-HS512",
            "A128CBC+HS256"
        ],
        "authorization_endpoint": "https://id.gov.bc.ca/login/oidc/authorize",
        "request_object_encryption_enc_values_supported": [
            "A256CBC+HS512",
            "A256GCM",
            "A192GCM",
            "A128GCM",
            "A128CBC-HS256",
            "A192CBC-HS384",
            "A256CBC-HS512",
            "A128CBC+HS256"
        ],
        "userinfo_signing_alg_values_supported": [
            "HS256",
            "HS384",
            "HS512",
            "RS256",
            "RS384",
            "RS512",
            "ES256",
            "ES384",
            "ES512",
            "PS256",
            "PS384",
            "PS512"
        ],
        "token_endpoint_auth_methods_supported": [
            "client_secret_post",
            "client_secret_basic",
            "client_secret_jwt",
            "private_key_jwt",
            "none"
        ],
        "token_endpoint": "https://id.gov.bc.ca/oauth2/token",
        "response_types_supported": [
            "code",
            "token"
        ],
        "request_uri_parameter_supported": false,
        "userinfo_encryption_alg_values_supported": [
            "RSA-OAEP",
            "RSA-OAEP-256",
            "RSA1_5"
        ],
        "grant_types_supported": [
            "authorization_code",
            "implicit",
            "urn:ietf:params:oauth:grant-type:jwt-bearer",
            "client_credentials",
            "urn:ietf:params:oauth:grant_type:redelegate"
        ],
        "revocation_endpoint": "https://id.gov.bc.ca/oauth2/revoke",
        "userinfo_endpoint": "https://id.gov.bc.ca/oauth2/userinfo",
        "token_endpoint_auth_signing_alg_values_supported": [
            "HS256",
            "HS384",
            "HS512",
            "RS256",
            "RS384",
            "RS512",
            "ES256",
            "ES384",
            "ES512",
            "PS256",
            "PS384",
            "PS512"
        ],
        "require_request_uri_registration": false,
        "id_token_encryption_alg_values_supported": [
            "RSA-OAEP",
            "RSA-OAEP-256",
            "RSA1_5"
        ],
        "jwks_uri": "https://id.gov.bc.ca/oauth2/jwk",
        "subject_types_supported": [
            "public",
            "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
            "HS256",
            "HS384",
            "HS512",
            "RS256",
            "RS384",
            "RS512",
            "ES256",
            "ES384",
            "ES512",
            "PS256",
            "PS384",
            "PS512",
            "none"
        ],
        "registration_endpoint": "https://id.gov.bc.ca/oauth2/register",
        "request_object_signing_alg_values_supported": [
            "HS256",
            "HS384",
            "HS512",
            "RS256",
            "RS384",
            "RS512",
            "ES256",
            "ES384",
            "ES512",
            "PS256",
            "PS384",
            "PS512"
        ],
        "request_object_encryption_alg_values_supported": [
            "RSA-OAEP",
            "RSA-OAEP-256",
            "RSA1_5"
        ]
    }

oracle-data-api:
  replicaCount: 3
  pdb:
    create: true
  image:
    tag: "2.1.7"
    pullPolicy: Always
  env:
    "JAVA_OPTS": ""
    "TZ": "America/Vancouver"
    "LOOKUP_REPOSITORY_SRC": "ords"
    "DISPUTE_REPOSITORY_SRC": "ords"
    "JJDISPUTE_REPOSITORY_SRC": "ords"
    "HISTORY_REPOSITORY_SRC": "ords"
    "ORDS_API_AUTH_ENABLED": "true"
    "REDIS_CLUSTER_NODES": "redis-headless:6379"
    "REDIS_PORT": "6379"
staff-api:
  replicaCount: 3
  pdb:
    create: true
  image:
    tag: "2.1.7"
    pullPolicy: Always
  env:    
    "Jwt__Audience": "staff-api"
    "Jwt__Authority": "https://keycloak-0198bb-prod.apps.silver.devops.gov.bc.ca/realms/traffic-court"
    "KeycloakAdminApi__BaseUri": "https://keycloak-0198bb-prod.apps.silver.devops.gov.bc.ca/admin/realms/"
    "KeycloakAdminApi__Realm": "traffic-court"
    "OAuth__TokenEndpoint": "https://keycloak-0198bb-prod.apps.silver.devops.gov.bc.ca/realms/traffic-court/protocol/openid-connect/token"
    "Swagger__Enabled": "false"
    "MassTransit__Transport": "RabbitMq"
    "RabbitMq__UseQuorumQueues": "true"
    "COMS__BASEURL": "http://common-object-management-service:3000"

staff-web:
  replicaCount: 3
  pdb:
    create: true
  image:
    tag: "2.1.7"
    pullPolicy: Always
  route:
    # https://test.jag.gov.bc.ca
    allowedIPs: "142.34.134.88 142.34.134.89 142.34.134.90"
  keycloakConfig: |
    {
      "config": {
        "url": "https://keycloak-0198bb-prod.apps.silver.devops.gov.bc.ca/",
        "realm": "traffic-court",
        "clientId": "staff-portal"
      },
      "initOptions": {
      }
    }
  appConfig: |
    {
        "production": true,
        "environment": "prod",
        "version": "2.1.7",
        "useMockServices": false,
        "apiBaseUrl": "/api",
        "features": {
          "dispute":true
        }
      }

workflow-service:
  replicaCount: 3
  pdb:
    create: true
  image:
    tag: "2.1.7"
    pullPolicy: Always
  env:
    "EmailConfiguration__Sender": "DoNotReply@gov.bc.ca"
    "EmailConfiguration__AllowList": ""
    "EmailConfiguration__EmailVerificationURL": "https://tickets.gov.bc.ca/email/verify"
    "MassTransit__Transport": "RabbitMq"
    "RabbitMq__UseQuorumQueues": "true"
    "COMS__BASEURL": "http://common-object-management-service:3000"
    "VIRUSSCAN__BASEURL": "http://virus-scan:8080"
  saga:
    db:
      secretName: "postgres-app-pguser-masstransit"
      keys:
        host: "pgbouncer-host"
        port: "pgbouncer-port"
  resources:
    limits:
      cpu: 500m
      memory: 1Gi
    requests:
      cpu: 100m
      memory: 512Mi
