<app-header></app-header>

<div class="container">
  <div class="row mt-4">
    <div class="col-lg-2 d-none d-lg-block">
      <div class="logo mt-4">
        <img
          src="/assets/tco_ticket_types_small.png"
          style="width: 150px"
          alt="Traffic Court Logo"
        />
      </div>
    </div>

    <div class="col-lg-10">
      <app-page [busy]="busy">
        <app-tco-page-header>
          <ng-container header>{{
            "ticket_dispute.heading" | translate
          }}</ng-container>

          <ng-container subHeader>
            <h2 class="mb-2" *ngIf="ticket">
              Ticket #{{ ticket.violationTicketNumber }}
              <span class="ml-4">
                {{ ticket.violationTime }}
              </span>
            </h2>
          </ng-container>
        </app-tco-page-header>

        <mat-vertical-stepper
          #disputeStepper
          linear
          (selectionChange)="onSelectionChange($event)"
        >
          <mat-step [stepControl]="disputantForm">
            <ng-template matStepLabel>{{
              "stepper.disputant.heading" | translate
            }}</ng-template>
            <app-step-disputant
              id="stepDisputant"
              [stepper]="disputeStepper"
              (stepCancel)="onStepCancel()"
              (stepSave)="onStepSave($event)"
            ></app-step-disputant>
          </mat-step>

          <mat-step [stepControl]="offence1Form" *ngIf="offence1Exists">
            <ng-template matStepLabel
              >{{ "stepper.count.sub_heading_1" | translate }} #1
              {{ "stepper.count.sub_heading_2" | translate }}</ng-template
            >
            <app-step-count
              id="stepCount"
              [stepControl]="offence1Form"
              [stepper]="disputeStepper"
              (stepSave)="onStepSave($event)"
            ></app-step-count>
          </mat-step>

          <mat-step [stepControl]="offence2Form" *ngIf="offence2Exists">
            <ng-template matStepLabel
              >{{ "stepper.count.sub_heading_1" | translate }} #2
              {{ "stepper.count.sub_heading_2" | translate }}</ng-template
            >
            <app-step-count
              id="stepCount"
              [stepControl]="offence2Form"
              [stepper]="disputeStepper"
              (stepSave)="onStepSave($event)"
            ></app-step-count>
          </mat-step>

          <mat-step [stepControl]="offence3Form" *ngIf="offence3Exists">
            <ng-template matStepLabel
              >{{ "stepper.count.sub_heading_1" | translate }} #3
              {{ "stepper.count.sub_heading_2" | translate }}</ng-template
            >
            <app-step-count
              id="stepCount"
              [stepControl]="offence3Form"
              [stepper]="disputeStepper"
              (stepSave)="onStepSave($event)"
            ></app-step-count>
          </mat-step>

          <mat-step [stepControl]="additionalForm">
            <ng-template matStepLabel>{{
              "stepper.additional.heading" | translate
            }}</ng-template>
            <app-step-additional
              id="stepCourt"
              [stepper]="disputeStepper"
              (stepSave)="onStepSave($event)"
            ></app-step-additional>
          </mat-step>

          <mat-step [stepControl]="overviewForm">
            <ng-template matStepLabel>{{
              "stepper.overview.heading" | translate
            }}</ng-template>
            <app-step-overview
              id="stepOverview"
              [stepper]="disputeStepper"
              (busy)="(busy)"
              (stepSave)="onStepSave($event)"
            ></app-step-overview>
          </mat-step>
        </mat-vertical-stepper>
      </app-page>
    </div>
  </div>
</div>
