<h2 *ngIf="ticket">
  <div class="row">
    <div class="col-md-4 col-lg-3">
      <small class="me-2 text-nowrap">Ticket #:</small>
      <strong class="text-nowrap">{{ ticket.violationTicketNumber }}</strong>
    </div>
    <div class="col-md-4 col-lg-3">
      <small class="me-2 text-nowrap">Violation time:</small>
      <strong class="text-nowrap">{{ ticket.violationTime }}</strong>
    </div>
    <div class="col-md-4 col-lg-6 violation-time">
      <small class="me-2 text-nowrap">Violation date:</small>
      <strong class="text-nowrap">{{
        ticket.violationDate | formatDate
      }}</strong>
    </div>
  </div>
</h2>
