<app-page [busy]="busy" [mode]="pageMode">
  <mat-vertical-stepper #disputeStepper linear>
    <mat-step *ngFor="let step of disputeSteps; let i = index">
      <ng-template matStepLabel>{{ step.title }}</ng-template>

      <div *ngIf="step.pageName === 1">
        <app-step-review-ticket
          [stepper]="disputeStepper"
          (stepSave)="onStepSave($event)"
        ></app-step-review-ticket>
      </div>

      <div *ngIf="step.pageName === 2">
        <app-step-count
          [stepper]="disputeStepper"
          [step]="step"
          (stepSave)="onStepSave($event)"
        ></app-step-count>
      </div>

      <div *ngIf="step.pageName === 3">
        <app-step-court
          [stepper]="disputeStepper"
          (stepSave)="onStepSave($event)"
        ></app-step-court>
      </div>

      <div *ngIf="step.pageName === 5">
        <app-step-overview
          [stepper]="disputeStepper"
          (busy)="(busy)"
          (stepSave)="onStepSave($event)"
        ></app-step-overview>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</app-page>
