<app-page [busy]="busy" [mode]="pageMode">
  <app-page-header>BC Traffic Court Online</app-page-header>
  <mat-horizontal-stepper #disputeStepper linear>
    <mat-step *ngFor="let step of newSteps; let i = index">
      <ng-template matStepLabel>{{ step.title }}</ng-template>

      <div *ngIf="step.pageName === 1">
        <app-step-review-ticket
          [stepper]="disputeStepper"
        ></app-step-review-ticket>
      </div>

      <div *ngIf="step.pageName === 2">
        <app-step-count
          [stepper]="disputeStepper"
          [step]="step"
        ></app-step-count>
      </div>

      <div *ngIf="step.pageName === 3">
        <app-step-court [stepper]="disputeStepper"></app-step-court>
      </div>

      <div *ngIf="step.pageName === 5">
        <app-step-overview [stepper]="disputeStepper"></app-step-overview>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</app-page>
