<div class="flex-wrapper">
  <div class="flex-header">
    <app-header></app-header>

    <div class="header-summary">
      <div class="summary-header">
        <div class="container">
          <ul class="header-summary-links">
            <li>
              <a
                [routerLink]="['/']"
                class="primary-navigation understand-your-ticket"
                rel="noopener"
              >
                Home
              </a>
            </li>
            <span class="divider">|</span>
            <li>
              <a
                [routerLink]="['/ticket/find']"
                class="primary-navigation payment-options"
                rel="noopener"
              >
                Ticket Services
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="container">
        <section class="summary-section">
          <div class="summary-content">
            <div>
              <h1>Ticket services in British Columbia</h1>
              <p class="lead">
                Use this service to pay fines, and discuss or dispute your
                traffic and violation tickets online. Options include paying a
                portion of your fine, paying multiple tickets, early resolution
                and more.
              </p>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  <div class="flex-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-footer">
    <app-footer></app-footer>
  </div>
</div>
