<div class="contact-info">
  <!-- Count Information -->
  <section class="section-sticky">
    <ng-container subHeader>
      <span class="count-text">
        <h3>Count {{ count }} <span class="medium-note"><i>(source Ticket & ICBC)</i></span></h3>
      </span>
    </ng-container>
    <form>
      <div style="display: grid; grid-template-columns: auto auto">
        <span class="section-grid-cell">
          <p class="section-grid-header">Offence Date</p>
          <p class="section-grid-text">{{ jjDisputedCount ? (jjDisputeInfo.issuedTs | date: "dd-MMM-yyyy" : "UTC") : '&nbsp;' }}</p>
        </span>
        <span class="section-grid-cell" style="grid-column: span 2">
          <p class="section-grid-header">Description of offence</p>
          <p class="section-grid-text">{{ jjDisputedCount ? (isEmpty(jjDisputedCount.description) ? '&nbsp;' : jjDisputedCount.description) : '&nbsp;' }}</p>
        </span>
        <span class="section-grid-cell">
          <p class="section-grid-header">Deadline to Dispute</p>
          <p class="section-grid-text">{{ jjDisputedCount ? (jjDisputedCount.dueDate ? (jjDisputedCount.dueDate | date: "dd-MMM-yyyy" : "UTC") : '&nbsp;' ) : '&nbsp;' }}</p>
        </span>
        <span class="section-grid-cell">
          <p class="section-grid-header">Fine amount</p>
          <p class="section-grid-text">{{ jjDisputedCount?.ticketedFineAmount | currency:'CAD':'symbol-narrow':'1.0-0' }}</p>
        </span>
      </div>
    </form>
  </section>

  <!-- Disputant Request -->
  <section class="section-sticky">
    <ng-container subHeader>
      <span class="count-text">
        <h3>Disputant Request <span class="medium-note"><i>(source Online Portal)</i></span></h3>
      </span>
    </ng-container>
    <form [formGroup]="countForm">
      <div style="display: grid; grid-template-columns: auto auto">
        <span class="section-grid-cell" style="grid-column: span 2">
          <p class="section-grid-header">{{ "label.disputant_statement" | translate }}</p>
          <p class="section-grid-text" *ngIf="!jjDisputedCount">&nbsp;</p>
          <p class="section-grid-text" *ngIf="jjDisputedCount && jjDisputedCount.plea === Plea.G">{{ 'label.plea_guilty'
            | translate }}</p>
          <p class="section-grid-text" *ngIf="jjDisputedCount && jjDisputedCount.plea !== Plea.G">{{
            'label.plea_not_guilty' | translate }}</p>
        </span>
        <span class="section-grid-cell" style="grid-column: span 2">
          <p class="section-grid-header">{{ "label.appearInCourt" | translate }}</p>
          <p class="section-grid-text" *ngIf="!isSSEditMode && jjDisputedCount?.appearInCourt === AppearInCourt.Y">
            I want to appear in court</p>
          <p class="section-grid-text" *ngIf="!isSSEditMode && jjDisputedCount?.appearInCourt === AppearInCourt.N">
            I do not want to appear in court</p>
          <p class="section-grid-text" *ngIf="!isSSEditMode && !jjDisputedCount">&nbsp;</p>
          <mat-form-field appearance="outline" *ngIf="jjDisputedCount && isSSEditMode">
            <mat-select formControlName="appearInCourt">
              <mat-option [value]="AppearInCourt.Y">{{ "appearInCourtType.yes" | translate }}</mat-option>
              <mat-option [value]="AppearInCourt.N">{{ "appearInCourtType.no" | translate }}</mat-option>
            </mat-select>
          </mat-form-field>
        </span>
        <span class="section-grid-cell mr-10px">
          <p class="section-grid-header">Request fine reduction</p>
          <p class="section-grid-text" *ngIf="!isSSEditMode && !jjDisputedCount">&nbsp;</p>
          <p class="section-grid-text"
            *ngIf="!isSSEditMode && jjDisputedCount?.requestReduction === RequestReduction.Y">
            yes</p>
          <p class="section-grid-text"
            *ngIf="!isSSEditMode && jjDisputedCount && jjDisputedCount?.requestReduction !== RequestReduction.Y">
            no</p>
          <mat-form-field appearance="outline" *ngIf="jjDisputedCount && isSSEditMode">
            <mat-select formControlName="requestReduction">
              <mat-option [value]="RequestReduction.Y">{{ "yesNo.yes" | translate }}</mat-option>
              <mat-option [value]="RequestReduction.N">{{ "yesNo.no" | translate }}</mat-option>
            </mat-select>
          </mat-form-field>
        </span>
        <span class="section-grid-cell">
          <p class="section-grid-header">Request time to pay</p>
          <p class="section-grid-text" *ngIf="!isSSEditMode && !jjDisputedCount">&nbsp;</p>
          <p class="section-grid-text"
            *ngIf="!isSSEditMode && jjDisputedCount?.requestTimeToPay === RequestTimeToPay.Y">
            yes</p>
          <p class="section-grid-text"
            *ngIf="!isSSEditMode && jjDisputedCount && jjDisputedCount?.requestTimeToPay !== RequestTimeToPay.Y">
            no</p>
          <mat-form-field appearance="outline" *ngIf="jjDisputedCount && isSSEditMode">
            <mat-select formControlName="requestTimeToPay">
              <mat-option [value]="RequestTimeToPay.Y">{{ "yesNo.yes" | translate }}</mat-option>
              <mat-option [value]="RequestTimeToPay.N">{{ "yesNo.no" | translate }}</mat-option>
            </mat-select>
          </mat-form-field>
        </span>
      </div>
    </form>
  </section>

  <!-- JJ Latest Change Plea -->
  <section [formGroup]="form" *ngIf="(jjDisputeInfo.hearingType === HearingType.CourtAppearance || jjDisputeInfo.hearingType === HearingType.WrittenReasons) && !(isSSEditMode && jjDisputedCount)">
    <ng-container subHeader>
      <span class="count-text">
        <h3>{{ "label.jj_decision" | translate }} - Count {{ count }}</h3>
      </span>
    </ng-container>
    <div class="row">
      <div class="col-md-4">
        <span class="section-grid-header">{{ "label.plea" | translate }}</span>

      </div>
      <div class="col-md-8" *ngIf="jjDisputedCount">
        <mat-select class="section-grid-text" formControlName="latestPlea"
          *ngIf="type !== 'ticket' && !isViewOnly; else view_plea_content" style="width:75%; background:#fffee6">
          <mat-option [value]="LatestPlea.G">Guilty</mat-option>
          <mat-option [value]="LatestPlea.N">Not guilty</mat-option>
        </mat-select>
        <ng-template #view_plea_content>
          <span class="section-grid-text" *ngIf="jjDisputedCount?.latestPlea === LatestPlea.G">Guilty</span>
          <span class="section-grid-text" *ngIf="jjDisputedCount?.latestPlea === LatestPlea.N">Not guilty</span>
        </ng-template>
      </div>
    </div>
    <div class="row mt-1">
      <div class="col-md-4">
        <span class="section-grid-header">Date/Time</span>
      </div>
      <div class="col-md-8" *ngIf="jjDisputedCount">
        <div *ngIf="type !== 'ticket' && !isViewOnly; else view_plea_date_content ">
          <input type="text" formControlName="latestPleaUpdateTs" class="section-grid-text latest-plea-text"
            bsDatepicker placeholder="DD-MMM-YYYY HH:mm" [bsConfig]="{ withTimepicker: true, keepDatepickerOpened: true, 
            dateInputFormat: 'DD-MMM-YYYY HH:mm', containerClass: 'theme-dark-blue', isAnimated: true, showWeekNumbers: false, 
            adaptivePosition: true }">
        </div>
        <ng-template #view_plea_date_content>
          <span class="section-grid-text">{{ jjDisputedCount?.latestPleaUpdateTs | date: "dd-MMM-YYYY HH:mm" }}</span>
        </ng-template>
      </div>
    </div>
  </section>

  <section *ngIf="(jjDisputeInfo.hearingType === HearingType.CourtAppearance || jjDisputeInfo.hearingType === HearingType.WrittenReasons) && (isSSEditMode && jjDisputedCount)">
    <form [formGroup]="countForm">
      <ng-container subHeader>
        <span class="count-text">
          <h3>{{ "label.jj_decision" | translate }} - Count {{ count }}</h3>
        </span>
      </ng-container>
      <!-- Change Plea -->
      <div class="row">
        <label class="col-4">{{ "label.change_plea" | translate }}</label>
        <div class="col-8">
          <mat-form-field appearance="outline">
            <mat-select formControlName="latestPlea">
              <mat-option [value]=""></mat-option>
              <mat-option [value]="LatestPlea.G">{{ "pleaType.guilty" | translate }}</mat-option>
              <mat-option [value]="LatestPlea.N">{{ "pleaType.not_guilty" | translate }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </form>
  </section>

  <!-- JJ RoP for Court Appearance -->
  <section *ngIf="type !== 'ticket' && (jjDisputeInfo.hearingType === HearingType.CourtAppearance || jjDisputeInfo.hearingType === HearingType.WrittenReasons) && !isSSEditMode">
    <ng-container subHeader>
      <span class="count-text">
        <h3>{{ "label.findings" | translate }}</h3>
      </span>
    </ng-container>
    <div [formGroup]="form?.get('jjDisputedCountRoP')">
      <mat-select #matSelectFindings [matTooltip]="matSelectFindings.triggerValue" formControlName="finding"
        (selectionChange)="onFindingChange($event.value)" class="section-grid-text"
        *ngIf="!isViewOnly && jjDisputedCount" style="margin-left:20px !important; width:85%; background:#fffee6">
        <mat-option [value]="Finding.Guilty" matTooltip="Guilty as charged">Guilty as charged</mat-option>
        <mat-option [value]="Finding.NotGuilty" matTooltip="Not guilty">Not guilty</mat-option>
      </mat-select>
      <div *ngIf="isViewOnly" style="margin-left:20px;">
        <span class="section-grid-header">Finding:<br /></span>
      </div>
      <div *ngIf="isViewOnly && jjDisputedCount" style="margin-left:20px;">
        <span *ngIf="form?.get('jjDisputedCountRoP').get('finding').value === Finding.Guilty"
          class="section-grid-text">Guilty as charged</span>
        <span *ngIf="form?.get('jjDisputedCountRoP').get('finding').value === Finding.NotGuilty"
          class="section-grid-text">Not guilty</span>
        <span *ngIf="form?.get('jjDisputedCountRoP').get('finding').value === Finding.Cancelled"
          class="section-grid-text">Cancelled</span>
        <span *ngIf="form?.get('jjDisputedCountRoP').get('finding').value === Finding.PaidPriorToAppearance"
          class="section-grid-text">Paid Prior to Appearance</span>
        <span *ngIf="form?.get('jjDisputedCountRoP').get('finding').value === Finding.GuiltyLesser"
          class="section-grid-text">Not guilty as charged but guilty of lesser / included
          other offence</span>
        <span *ngIf="!form?.get('jjDisputedCountRoP').get('finding').value">&nbsp;</span>
      </div>
      <div *ngIf="!jjDisputedCount">
        <span>&nbsp;</span>
      </div>
    </div>
  </section>
  <section *ngIf="type === 'ticket' && (jjDisputeInfo.hearingType === HearingType.CourtAppearance || jjDisputeInfo.hearingType === HearingType.WrittenReasons) && !isSSEditMode">
    <ng-container subHeader>
      <span class="count-text">
        <h3>{{ "label.findings" | translate }}</h3>
      </span>
    </ng-container>
    <div [formGroup]="form?.get('jjDisputedCountRoP')">
      <div style="margin-left:20px;"><span class="section-grid-header">Finding:<br /></span>
        <span *ngIf="form?.get('jjDisputedCountRoP').get('finding').value === Finding.Guilty"
          class="section-grid-text">Guilty as charged</span>
        <span *ngIf="form?.get('jjDisputedCountRoP').get('finding').value === Finding.NotGuilty"
          class="section-grid-text">Not guilty</span>
        <span *ngIf="form?.get('jjDisputedCountRoP').get('finding').value === Finding.Cancelled"
          class="section-grid-text">Cancelled</span>
        <span *ngIf="form?.get('jjDisputedCountRoP').get('finding').value === Finding.PaidPriorToAppearance"
          class="section-grid-text">Paid Prior to Appearance</span>
        <span *ngIf="form?.get('jjDisputedCountRoP').get('finding').value === Finding.GuiltyLesser"
          class="section-grid-text">Not guilty as charged but guilty of lesser / included
          other offence</span>
        <span *ngIf="!form?.get('jjDisputedCountRoP').get('finding').value">&nbsp;</span>
      </div>
    </div>
  </section>

  <!-- Findings -->
  <section *ngIf="(jjDisputeInfo.hearingType === HearingType.CourtAppearance || jjDisputeInfo.hearingType === HearingType.WrittenReasons) && isSSEditMode">
    <ng-container subHeader>
      <span class="count-text">
        <h3>{{ "label.findings" | translate }}</h3>
      </span>
    </ng-container>

    <!-- Finding -->
    <div>
      <div class="section-grid-header">{{ "label.finding" | translate }}</div>
      <form [formGroup]="countRoPForm">
        <mat-form-field appearance="outline" *ngIf="jjDisputedCount">
          <mat-select formControlName="finding">
            <mat-option [value]="Finding.Guilty">{{ "findingType.guilty" | translate }}</mat-option>
            <mat-option [value]="Finding.GuiltyLesser">{{ "findingType.guilty_lesser" | translate }}</mat-option>
            <mat-option [value]="Finding.NotGuilty">{{ "findingType.not_guilty" | translate }}</mat-option>
            <mat-option [value]="Finding.PaidPriorToAppearance">{{ "findingType.paid_prior" | translate }}</mat-option>
            <mat-option [value]="Finding.Cancelled">{{ "findingType.cancelled" | translate }}</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div>
  </section>

  <!-- Final disposition -->
  <section>
    <ng-container subHeader>
      <span class="count-text">
        <h3>{{ "label.final_disposition" | translate }}</h3>
      </span>
    </ng-container>
    <!-- Final disposition input for court appeaances, form for Non Staff Support Edit mode -->
    <form [formGroup]="form" novalidate
      *ngIf="(jjDisputeInfo.hearingType === HearingType.CourtAppearance || jjDisputeInfo.hearingType === HearingType.WrittenReasons) && !(jjDisputedCount && isSSEditMode)">
      <!-- Fine amount -->
      <div style="display: grid; grid-template-columns: 33% 33% 33%">
        <ng-container *ngIf="!isViewOnly">
          <span class="section-jj-grid-cell">
            <p class="section-grid-header">Revise fine</p>
            <p class="section-jj-grid-text">
              <mat-radio-group [(ngModel)]="fineReduction" [ngModelOptions]="{standalone: true}"
                (change)="updateFineAmount($event)" [disabled]="!jjDisputedCount">
                <mat-radio-button value="yes" style="padding-right: 5px; font-size: small">yes</mat-radio-button>
                <mat-radio-button value="no" style="font-size: small">no</mat-radio-button>
              </mat-radio-group>
            </p>
          </span>
          <span class="section-jj-grid-cell">
            <p class="section-grid-header">&nbsp;</p>
            <p class="section-jj-grid-text">&nbsp;</p>
          </span>
          <span class="section-grid-cell">
            <p class="section-grid-header">Fine Amount</p>
            <p class="section-jj-grid-text">
              <span
                [hidden]="(fineReduction==='' || !jjDisputedCount.totalFineAmount)">
                {{ jjDisputedCount?.ticketedFineAmount | currency:'CAD':'symbol-narrow':'1.0-0' }}<br /><br /></span>
              <span
                [hidden]="!(fineReduction==='yes' && !(form.get('lesserOrGreaterAmount').hasError('min') || form.get('lesserOrGreaterAmount').hasError('max')))"
                class="section-grid-header">Lesser/Greater<br /></span>
              <span
                [hidden]="!(fineReduction==='yes' && (form.get('lesserOrGreaterAmount').hasError('min') || form.get('lesserOrGreaterAmount').hasError('max')))"
                class="section-grid-header" style="color: red;">0
                < Fine < 10 000 </span>
                  <span [hidden]="!(fineReduction==='yes')">$ </span><input type="number"
                    [hidden]="!(fineReduction==='yes')" formControlName="lesserOrGreaterAmount" max="9999" min="0"
                    (change)="onChangelesserOrGreaterAmount()"
                    style="background-color:#e4f2ff; width: 80%; font-size: smaller; border: 0" />
            </p>
          </span>
          <span class="section-jj-grid-cell">
            <p class="section-grid-header"><span *ngIf="fineReduction==='yes'">Includes Surcharge</span></p>
            <p class="section-grid-header"><span
                *ngIf="fineReduction==='no' || !fineReduction">&nbsp;<br /><br /></span>
            </p>
            <p class="section-jj-grid-text">
              <mat-radio-group [(ngModel)]="inclSurcharge" [ngModelOptions]="{standalone: true}"
                (change)="updateInclSurcharge($event.value)" *ngIf="fineReduction==='yes'"
                [disabled]="!jjDisputedCount">
                <mat-radio-button value="yes" style="padding-right: 5px; font-size: small">yes</mat-radio-button>
                <mat-radio-button value="no" style="font-size: small">no</mat-radio-button>
              </mat-radio-group>
              <span *ngIf="fineReduction==='no'"><br /><br /><br /><br /></span>
            </p>
          </span>
          <span class="section-jj-grid-cell">
            <p class="section-grid-header">&nbsp;</p>
            <p class="section-jj-grid-text">&nbsp;</p>
          </span>
          <span class="section-grid-cell">
            <p class="section-grid-header">&nbsp;<br /><br /></p>
            <p class="section-jj-grid-text">
              <span *ngIf="fineReduction==='yes'">{{ lesserOrGreaterAmount |
                currency:'CAD':'symbol-narrow':'1.0-0'}}</span>
              <span *ngIf="fineReduction==='no'"><br /></span>
            </p>
            <p class="section-jj-grid-text2">
              <span *ngIf="fineReduction==='yes'">&nbsp;+&nbsp;({{ surcharge | currency:'CAD':'symbol-narrow':'1.0-0'
                }})</span>
              <span *ngIf="fineReduction==='no'"><br /></span>
            </p>
          </span>
          <!-- Time to pay -->
          <span class="section-jj-grid-cell">
            <p class="section-grid-header">Time to pay</p>
            <p class="section-jj-grid-text">
              <mat-radio-group [(ngModel)]="timeToPay" [ngModelOptions]="{standalone: true}" layout="row"
                (change)="updateRevisedDueDate($event)" [disabled]="!jjDisputedCount">
                <mat-radio-button value="yes" style="padding-right: 5px; font-size: small">yes</mat-radio-button>
                <mat-radio-button value="no" style="font-size: small">no</mat-radio-button>
              </mat-radio-group>
            </p>
          </span>
          <span class="section-jj-grid-cell">
            <p class="section-grid-header">&nbsp;</p>
            <p class="section-jj-grid-text">
              <input formControlName="revisedDueDate" type="text" [hidden]="!(timeToPay==='yes')"
                bsDatepicker class="revised-due-date" placeholder="DD-MMM-YYYY"
                [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY', containerClass: 'theme-dark-blue', isAnimated: true,
                showWeekNumbers: false, adaptivePosition: true }">
            </p>
          </span>
        </ng-container>
        <div style="padding: 0 0.3rem;" *ngIf="isViewOnly">
          <div class="section-grid-header">Fine calculation</div>
          <div
            *ngIf="(jjDisputedCount?.lesserOrGreaterAmount === jjDisputedCount?.ticketedFineAmount && inclSurcharge === 'yes')"
            style="font-size: small;">
            <span class="section-grid-text">Ticketed amount: </span>
            {{ jjDisputedCount?.ticketedFineAmount | currency:'CAD':'symbol-narrow':'1.0-0' }}
          </div>
          <div
            *ngIf="!(jjDisputedCount?.lesserOrGreaterAmount === jjDisputedCount?.ticketedFineAmount && inclSurcharge === 'yes')"
            style="font-size: small;">
            <span class="section-grid-text">Lesser/greater amount: </span>
            {{ jjDisputedCount?.lesserOrGreaterAmount | currency:'CAD':'symbol-narrow':'1.0-0'}}
          </div>

          <div class="section-grid-header" style="padding-top: 1rem !important;">Includes Surcharge</div>
          <div style="font-size: small;">
            <span class="section-grid-text">{{ jjDisputedCount?.includesSurcharge === IncludesSurcharge.Y ? "Yes" : "No"
              }}</span>
            <span style="padding-left: 0.5rem;"
              *ngIf="(jjDisputedCount?.lesserOrGreaterAmount === jjDisputedCount?.ticketedFineAmount && inclSurcharge === 'yes')">{{
              jjDisputedCount?.ticketedFineAmount | currency:'CAD':'symbol-narrow':'1.0-0' }}</span>
            <span style="padding-left: 0.5rem;"
              *ngIf="!(jjDisputedCount?.lesserOrGreaterAmount === jjDisputedCount?.ticketedFineAmount && inclSurcharge === 'yes')">{{
              jjDisputedCount?.lesserOrGreaterAmount | currency:'CAD':'symbol-narrow':'1.0-0' }}</span>
            <span style="color: #33BBFF !important;"> + <i>({{ surcharge | currency: 'CAD':'symbol-narrow':'1.0-0'
                }})</i></span>
          </div>

          <div class="section-grid-header" style="padding-top: 1rem !important;">Time to pay</div>
          <div style="font-size: small;">
            <span class="section-grid-text">{{ (jjDisputedCount?.revisedDueDate && jjDisputedCount?.revisedDueDate !== jjDisputedCount?.dueDate) ? "Yes" :
              "No"
              }}</span>
            <span style="padding-left: 0.5rem;">{{ jjDisputedCount?.revisedDueDate | date: "dd-MMM-yyyy" }}</span>
          </div>
        </div>
        <span class="section-grid-cell">
          <p class="section-grid-header">&nbsp;</p>
          <p class="section-jj-grid-text">&nbsp;</p>
        </span>
        <ng-container [formGroup]="form?.get('jjDisputedCountRoP')">
          <!-- Suspended Sentence -->
          <span class="section-grid-cell" style="grid-column: span 3">
            <mat-checkbox *ngIf="isViewOnly === false" [disabled]="!jjDisputedCount || jjDisputeInfo.hearingType === HearingType.WrittenReasons"
              formControlName="ssProbationCheckbox" (change)="onSuspSentenceCheck($event.checked)">
              <span class="count-text" style="font-size: small"><b>Suspended Sentence</b></span>
            </mat-checkbox>
            <ng-container *ngIf="form?.controls.jjDisputedCountRoP?.controls.ssProbationCheckbox.value">
              <br />
              <div style="padding-left: 0.75rem;">
                <mat-label class="section-grid-header">Probation</mat-label><br />
                <input matInput (placeholder)="isViewOnly ? '' : 'duration'"
                  formControlName="ssProbationDuration" /><br />
                <mat-label class="section-grid-header">Conditions</mat-label><br />
                <textarea matInput formControlName="ssProbationConditions" maxlength="500" rows="5"></textarea>
              </div>
            </ng-container>
          </span>
          <!-- Jail -->
          <span class="section-grid-cell" style="grid-column: span 3">
            <mat-checkbox *ngIf="isViewOnly === false" [disabled]="!jjDisputedCount || jjDisputeInfo.hearingType === HearingType.WrittenReasons" formControlName="jailCheckbox"
              (change)="onJailCheck($event.checked)">
              <span class="count-text" style="font-size: small"><b>Jail</b></span>
            </mat-checkbox>
            <ng-container *ngIf="form?.controls.jjDisputedCountRoP?.controls.jailCheckbox.value">
              <br />
              <div style="padding-left: 0.75rem;">
                <mat-label class="section-grid-header">Duration</mat-label><br />
                <input matInput formControlName="jailDuration" /><br />
                <mat-checkbox
                  [checked]="form.get('jjDisputedCountRoP').get('jailIntermittent').value === JailIntermittent.Y"
                  color="primary" (change)="onJailIntermittentChange($event.checked)"
                  [disabled]="isViewOnly || form.get('jjDisputedCountRoP').get('jailCheckbox').value !== true || !jjDisputedCount || jjDisputeInfo.hearingType === HearingType.WrittenReasons"><span
                    class="section-grid-header">Intermittent</span></mat-checkbox>
              </div>
            </ng-container>
          </span>
          <!-- Probation -->
          <span class="section-grid-cell" style="grid-column: span 3">
            <mat-checkbox *ngIf="isViewOnly === false" [disabled]="!jjDisputedCount || jjDisputeInfo.hearingType === HearingType.WrittenReasons" formControlName="probationCheckbox"
              (change)="onProbationCheck($event.checked)">
              <span class="count-text" style="font-size: small"><b>Probation</b></span>
            </mat-checkbox>
            <ng-container *ngIf="form?.controls.jjDisputedCountRoP?.controls.probationCheckbox.value">
              <br />
              <div style="padding-left: 0.75rem;">
                <mat-label class="section-grid-header">Duration</mat-label><br />
                <input matInput (placeholder)="isViewOnly ? '' : 'duration'"
                  formControlName="probationDuration" /><br />
                <mat-label class="section-grid-header">Conditions</mat-label><br />
                <textarea matInput formControlName="probationConditions" maxlength="500" rows="5"></textarea>
              </div>
            </ng-container>
          </span>
          <!-- Driving Prohibition -->
          <span class="section-grid-cell" style="grid-column: span 3">
            <mat-checkbox *ngIf="isViewOnly === false" [disabled]="!jjDisputedCount || jjDisputeInfo.hearingType === HearingType.WrittenReasons"
              formControlName="drivingProhibitionCheckbox" (change)="onDrivingProhibitionCheck($event.checked)">
              <span class="count-text" style="font-size: small"><b>Driving Prohibition</b></span>
            </mat-checkbox>
            <br />
            <div style="padding-left: 0.75rem;">
              <mat-label class="section-grid-header">Duration</mat-label><br />
              <input matInput (placeholder)="isViewOnly ? '' : 'duration'" formControlName="drivingProhibition" /><br />
              <mat-label class="section-grid-header">MVA Section</mat-label><br />
              <input matInput (placeholder)="isViewOnly ? '' : 'start typing section, then select'"
                formControlName="drivingProhibitionMVASection" [matAutocomplete]="auto"
                (keyup)="onDrivingProhibitionMVASectionKeyup()"
                [matTooltip]="form.get('jjDisputedCountRoP').get('drivingProhibitionMVASection').value" />
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let statute of drivingProhibitionFilteredStatutes"
                  [matTooltip]="statute.__statuteString" [value]="statute.__statuteString">
                  {{ statute.__statuteString }}</mat-option>
              </mat-autocomplete><br />
              <mat-tooltip style="font-size:x-small">Hover over section to see full description
              </mat-tooltip>
            </div>
          </span>
          <span class="section-grid-cell checkboxes" style="grid-column: span 3;">
            <mat-checkbox [checked]="form.get('jjDisputedCountRoP').get('dismissed').value === Dismissed.Y"
              color="primary" (change)="onDismissedChange($event.checked)"
              [disabled]="isViewOnly || !jjDisputedCount || jjDisputeInfo.hearingType === HearingType.WrittenReasons"><span class="section-grid-header">Dismissed</span>
            </mat-checkbox>
            <mat-checkbox
              [checked]="form.get('jjDisputedCountRoP').get('forWantOfProsecution').value === ForWantOfProsecution.Y"
              color="primary" (change)="onForWantOfProsecutionChange($event.checked)"
              [disabled]="isViewOnly || !jjDisputedCount || jjDisputeInfo.hearingType === HearingType.WrittenReasons"><span class="section-grid-header">For Want of
                Prosecution</span></mat-checkbox><br />
            <mat-checkbox [checked]="form.get('jjDisputedCountRoP').get('withdrawn').value === Withdrawn.Y"
              color="primary" (change)="onWithdrawnChange($event.checked)"
              [disabled]="isViewOnly || !jjDisputedCount || jjDisputeInfo.hearingType === HearingType.WrittenReasons"><span class="section-grid-header">Withdrawn</span>
            </mat-checkbox>
            <mat-checkbox [checked]="form.get('jjDisputedCountRoP').get('abatement').value === Abatement.Y"
              color="primary" (change)="onAbatementChange($event.checked)"
              [disabled]="isViewOnly || !jjDisputedCount || jjDisputeInfo.hearingType === HearingType.WrittenReasons"><span class="section-grid-header">Abatement</span>
            </mat-checkbox><br /><br />
            <mat-checkbox *ngIf="isViewOnly === false" [disabled]="!jjDisputedCount || jjDisputeInfo.hearingType === HearingType.WrittenReasons"
              formControlName="stayOfProceedingsByCheckbox" (change)="onStayOfProceedingsByCheck($event.checked)">
              <span class="count-text" style="font-size: small"><b>Stay of Proceedings By</b></span>
            </mat-checkbox>
            <br />
            <input matInput (placeholder)="isViewOnly ? '' : 'JJ'" formControlName="stayOfProceedingsBy" /><br />
            <mat-checkbox *ngIf="isViewOnly === false" [disabled]="!jjDisputedCount || jjDisputeInfo.hearingType === HearingType.WrittenReasons" 
              formControlName="otherCheckbox" (change)="onOtherCheck($event.checked)">
              <span class="count-text" style="font-size: small"><b>Other</b></span>
            </mat-checkbox>
            <ng-container *ngIf="form?.controls.jjDisputedCountRoP?.controls.otherCheckbox.value">
              <br />
              <input matInput formControlName="other" /><br />
            </ng-container>
          </span>
        </ng-container>
        <!-- Remarks -->
        <span class="section-grid-cell" style="grid-column: span 3">
          <mat-label class="section-grid-header">Remarks</mat-label><br />
          <mat-label class="small-note">
            <i><span style="color:red;">*</span> These comments will be shared to all parties</i>
          </mat-label>
          <textarea matInput formControlName="comments" maxlength="1500" rows="5" style="width: 100%;">
          </textarea>
        </span>
      </div>
    </form>

    <!-- Form for Staff Support Edit mode -->
    <div *ngIf="(jjDisputeInfo.hearingType === HearingType.CourtAppearance || jjDisputeInfo.hearingType === HearingType.WrittenReasons) && jjDisputedCount && isSSEditMode">
      <form [formGroup]="countForm">
        <!-- Fine calculation -->
        <div class="row">
          <label class="col-4">{{ "label.fine_calculation" | translate }}</label>
          <div class="col-8">
            <mat-form-field appearance="outline">
              <input matInput formControlName="lesserOrGreaterAmount" currencyMask placeholder="Ex. $120.00">
            </mat-form-field>
          </div>
        </div>

        <!-- Includes surcharge -->
        <div class="row">
          <label class="col-4">{{ "label.includes_surcharge" | translate }}</label>
          <div class="col-8">
            <mat-form-field appearance="outline">
              <mat-select formControlName="includesSurcharge">
                <mat-option [value]="IncludesSurcharge.Y">{{ "yesNo.yes" | translate }}</mat-option>
                <mat-option [value]="IncludesSurcharge.N">{{ "yesNo.no" | translate }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <!-- Time to pay -->
        <div class="row">
          <label class="col-4">{{ "label.time_to_pay" | translate }}</label>
          <div class="col-8">
            <input formControlName="revisedDueDate" type="text"
              bsDatepicker class="revised-due-date" placeholder="DD-MMM-YYYY"
              [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY', containerClass: 'theme-dark-blue', isAnimated: true, 
              showWeekNumbers: false, adaptivePosition: true }">             
          </div>
        </div>
      </form>

      <form [formGroup]="countRoPForm">
        <!-- Suspended Sentence Probation Duration -->
        <label>{{ "label.ss_probation_duration" | translate }}</label>
        <div class="row textarea-row">
          <div class="col">
            <mat-form-field appearance="outline">
              <textarea matInput formControlName="ssProbationDuration" maxlength="500" rows="3"></textarea>
              <mat-hint>500 characters</mat-hint>
              <mat-error *ngIf="countRoPForm.controls.ssProbationDuration.hasError('maxlength')">{{ "error.max_length" |
                translate }}500</mat-error>
            </mat-form-field>
          </div>
        </div>

        <!-- Suspended Sentence Probation Conditions -->
        <label>{{ "label.ss_probation_conditions" | translate }}</label>
        <div class="row textarea-row">
          <div class="col">
            <mat-form-field appearance="outline">
              <textarea matInput formControlName="ssProbationConditions" maxlength="500" rows="3"></textarea>
              <mat-hint>500 characters</mat-hint>
              <mat-error *ngIf="countRoPForm.controls.ssProbationConditions.hasError('maxlength')">{{ "error.max_length"
                | translate }}500</mat-error>
            </mat-form-field>
          </div>
        </div>

        <!-- Jail Duration -->
        <label>{{ "label.jail_duration" | translate }}</label>
        <div class="row textarea-row">
          <div class="col">
            <mat-form-field appearance="outline">
              <textarea matInput formControlName="jailDuration" maxlength="500" rows="3"></textarea>
              <mat-hint>500 characters</mat-hint>
              <mat-error *ngIf="countRoPForm.controls.jailDuration.hasError('maxlength')">{{ "error.max_length" |
                translate }}500</mat-error>
            </mat-form-field>
          </div>
        </div>

        <!-- Jail Intermittent -->
        <div class="row">
          <label class="col-4">{{ "label.jail_intermittent" | translate }}</label>
          <div class="col-8">
            <mat-checkbox formControlName="_jailIntermittent"></mat-checkbox>
          </div>
        </div>

        <!-- Probation Duration -->
        <label>{{ "label.probation_duration" | translate }}</label>
        <div class="row textarea-row">
          <div class="col">
            <mat-form-field appearance="outline">
              <textarea matInput formControlName="probationDuration" maxlength="500" rows="3"></textarea>
              <mat-hint>500 characters</mat-hint>
              <mat-error *ngIf="countRoPForm.controls.probationDuration.hasError('maxlength')">{{ "error.max_length" |
                translate }}500</mat-error>
            </mat-form-field>
          </div>
        </div>

        <!-- Probation Conditions -->
        <label>{{ "label.probation_conditions" | translate }}</label>
        <div class="row textarea-row">
          <div class="col">
            <mat-form-field appearance="outline">
              <textarea matInput formControlName="probationConditions" maxlength="1000" rows="5"></textarea>
              <mat-hint>1000 characters</mat-hint>
              <mat-error *ngIf="countRoPForm.controls.probationConditions.hasError('maxlength')">{{ "error.max_length" |
                translate }}1000</mat-error>
            </mat-form-field>
          </div>
        </div>

        <!-- Driving Prohibition -->
        <label>{{ "label.driving_prohibition" | translate }}</label>
        <div class="row textarea-row">
          <div class="col">
            <mat-form-field appearance="outline">
              <textarea matInput formControlName="drivingProhibition" maxlength="500" rows="3"></textarea>
              <mat-hint>500 characters</mat-hint>
              <mat-error *ngIf="countRoPForm.controls.drivingProhibition.hasError('maxlength')">{{ "error.max_length" |
                translate }}500</mat-error>
            </mat-form-field>
          </div>
        </div>

        <!-- Driving Prohibition MVA Section -->
        <label>{{ "label.driving_prohibition_mva" | translate }}</label>
        <div class="row textarea-row">
          <div class="col">
            <mat-form-field appearance="outline">
              <textarea matInput formControlName="drivingProhibitionMVASection" maxlength="240" rows="3"></textarea>
              <mat-hint>240 characters</mat-hint>
              <mat-error *ngIf="countRoPForm.controls.drivingProhibitionMVASection.hasError('maxlength')">{{
                "error.max_length" | translate }}240</mat-error>
            </mat-form-field>
          </div>
        </div>

        <!-- Dismissed -->
        <div class="row">
          <label class="col-4">{{ "label.dismissed" | translate }}</label>
          <div class="col-8">
            <mat-checkbox formControlName="_dismissed"></mat-checkbox>
          </div>
        </div>

        <!-- For Want of Prosection -->
        <div class="row">
          <label class="col-4">{{ "label.for_want_of_prosection" | translate }}</label>
          <div class="col-8">
            <mat-checkbox formControlName="_forWantOfProsecution"></mat-checkbox>
          </div>
        </div>

        <!-- Withdrawn -->
        <div class="row">
          <label class="col-4">{{ "label.withdrawn" | translate }}</label>
          <div class="col-8">
            <mat-checkbox formControlName="_withdrawn"></mat-checkbox>
          </div>
        </div>

        <!-- Abatement -->
        <div class="row">
          <label class="col-4">{{ "label.abatement" | translate }}</label>
          <div class="col-8">
            <mat-checkbox formControlName="_abatement"></mat-checkbox>
          </div>
        </div>

        <!-- Stay of Proceedings -->
        <label>{{ "label.stay_of_proceedings" | translate }}</label>
        <div class="row textarea-row">
          <div class="col">
            <mat-form-field appearance="outline">
              <textarea matInput formControlName="stayOfProceedingsBy" maxlength="500" rows="3"></textarea>
              <mat-hint>500 characters</mat-hint>
              <mat-error *ngIf="countRoPForm.controls.stayOfProceedingsBy.hasError('maxlength')">{{ "error.max_length" |
                translate }}500</mat-error>
            </mat-form-field>
          </div>
        </div>

        <!-- Other -->
        <label>{{ "label.other" | translate }}</label>
        <div class="row textarea-row">
          <div class="col">
            <mat-form-field appearance="outline">
              <textarea matInput formControlName="other" maxlength="500" rows="3"></textarea>
              <mat-hint>500 characters</mat-hint>
              <mat-error *ngIf="countRoPForm.controls.other.hasError('maxlength')">{{ "error.max_length" | translate
                }}500</mat-error>
            </mat-form-field>
          </div>
        </div>
      </form>

      <form [formGroup]="countForm">
        <!-- Remarks -->
        <label>{{ "label.remarks" | translate }}</label>
        <div class="row textarea-row">
          <div class="col">
            <mat-form-field appearance="outline">
              <textarea matInput formControlName="comments" maxlength="4000" rows="8"></textarea>
              <mat-hint>4000 characters</mat-hint>
              <mat-error *ngIf="countForm.controls.comments.hasError('maxlength')">{{ "error.max_length" | translate
                }}4000</mat-error>
            </mat-form-field>
          </div>
        </div>
      </form>
    </div>

    <div style="display: grid; grid-template-columns: 49% 49%">
      <span class="section-jj-grid-cell">
        <p>
          <span
            style="font-size:small; color: #707070; font-weight: bold; margin: 0 !important; padding-right: 10px; float: right;">
            Due date</span><br />
          <span style="font-weight: bold; font-size: small; float: right; padding-right: 10px;"
            *ngIf="jjDisputeInfo.status == DisputeStatus.Confirmed || jjDisputeInfo.status == DisputeStatus.Review ||
            jjDisputeInfo.status == DisputeStatus.RequireCourtHearing || jjDisputeInfo.status == DisputeStatus.Concluded" >{{
            jjDisputedCount?.revisedDueDate | date: "dd-MMM-yyyy" }}</span><br />
        </p>
      </span>
      <span class="section-grid-cell">
        <p><span
            style="font-size:small; color: #707070; font-weight: bold; margin: 0 !important; padding-right: 10px; float: right;">
            Fine Amount includes Surcharge</span><br />
          <span style="font-weight: bold; float: right !important; padding-right: 10px;"
            *ngIf="jjDisputeInfo.status == DisputeStatus.Confirmed || jjDisputeInfo.status == DisputeStatus.Review ||
            jjDisputeInfo.status == DisputeStatus.RequireCourtHearing || jjDisputeInfo.status == DisputeStatus.Concluded" >
            {{ jjDisputedCount ? ( jjDisputedCount.totalFineAmount ? (jjDisputedCount.totalFineAmount | currency:'CAD':'symbol-narrow':'1.0-0') : '&nbsp;') :
            '&nbsp;' }}</span>
        </p>
      </span>
    </div>
  </section>
</div>