<div class="contact-info">
  <!-- Count Information -->
  <section style="background-color: #f1f1f1 !important;">
    <ng-container subHeader>
      <span class="count-text">
        <h3>Count {{ count }} </h3>
      </span>
    </ng-container>
    <div style="display: grid; grid-template-columns: auto auto">
      <span class="section-grid-cell">
        <p class="section-grid-header">Plea</p>
        <p class="section-grid-text">{{ jjDisputedCount ? (jjDisputedCount.plea === Plea.G ? 'Guilty' : 'Not Guilty' ) : '&nbsp;' }}</p>
      </span>
      <span class="section-grid-cell">
        <p class="section-grid-header">Offence Date</p>
        <p class="section-grid-text">{{ jjDisputedCount ? (jjDisputeInfo.violationDate | date: "MMM dd,yyyy") : '&nbsp;' }}</p>
      </span>
      <span class="section-grid-cell" style="grid-column: span 2">
        <p class="section-grid-header">Description of offence</p>
        <p class="section-grid-text">{{ jjDisputedCount ? jjDisputedCount.description : '&nbsp;' }}</p>
      </span>
      <span class="section-grid-cell">
        <p class="section-grid-header">Due Date</p>
        <p class="section-grid-text">{{ jjDisputedCount ? (jjDisputedCount.dueDate | date: "MMM dd,yyyy") : '&nbsp;' }}
        </p>
      </span>
      <span class="section-grid-cell">
        <p class="section-grid-header">Fine amount</p>
        <p class="section-grid-text">{{ jjDisputedCount?.ticketedFineAmount | currency }}</p>
      </span>
    </div>
    <hr style="margin: 0 0 0 0" />
  </section>
  <!-- Disputant Request -->
  <section style="background-color: #f1f1f1 !important;">
    <ng-container subHeader>
      <span class="count-text">
        <h3>Disputant Request</h3>
      </span>
    </ng-container>
    <div style="display: grid; grid-template-columns: auto auto">
      <span class="section-grid-cell" style="grid-column: span 2">
        <p class="section-grid-header">For this count I would like to</p>
        <p class="section-grid-text" *ngIf="jjDisputedCount?.appearInCourt === AppearInCourt.Y">
          I want to appear in court</p>
        <p class="section-grid-text" *ngIf="jjDisputedCount?.appearInCourt === AppearInCourt.N">
          I do not want to appear in court</p>
        <p class="section-grid-text" *ngIf="!jjDisputedCount">&nbsp;</p>
      </span>
      <span class="section-grid-cell">
        <p class="section-grid-header">Request fine reduction</p>
        <p class="section-grid-text" *ngIf="!jjDisputedCount">&nbsp;</p>
        <p class="section-grid-text" *ngIf="jjDisputedCount?.requestReduction === RequestReduction.Y">
          yes</p>
        <p class="section-grid-text" *ngIf="jjDisputedCount && jjDisputedCount?.requestReduction !== RequestReduction.Y">
          no</p>
      </span>
      <span class="section-grid-cell">
        <p class="section-grid-header">Request time to pay</p>
        <p class="section-grid-text" *ngIf="!jjDisputedCount">&nbsp;</p>
        <p class="section-grid-text" *ngIf="jjDisputedCount?.requestTimeToPay === RequestTimeToPay.Y">
          yes</p>
        <p class="section-grid-text" *ngIf="jjDisputedCount && jjDisputedCount?.requestTimeToPay !== RequestTimeToPay.Y">
          no</p>
      </span>
    </div>
    <hr style="margin: 0 0 0 0" />
  </section>
  <!-- JJ Decision for Written Reasons -->
  <section *ngIf="type !== 'ticket' && jjDisputeInfo.hearingType === HearingType.WrittenReasons && !isViewOnly">
    <ng-container subHeader>
      <span class="count-text">
        <h3>JJ decision</h3>
      </span>
    </ng-container>
    <form [formGroup]="form" novalidate>
      <div style="display: grid; grid-template-columns: 33% 33% 33%">
        <span class="section-jj-grid-cell">
          <p class="section-grid-header">Revise fine</p>
          <p class="section-jj-grid-text">
            <mat-radio-group [(ngModel)]="fineReduction" [ngModelOptions]="{standalone: true}"
              (change)="updateFineAmount($event)" [disabled]="!jjDisputedCount">
              <mat-radio-button value="yes" style="padding-right: 5px; font-size: small">yes</mat-radio-button>
              <mat-radio-button value="no" style="font-size: small">no</mat-radio-button>
            </mat-radio-group>
          </p>
        </span>
        <span class="section-jj-grid-cell">
          <p class="section-grid-header">&nbsp;</p>
          <p class="section-jj-grid-text">&nbsp;</p>
        </span>
        <span class="section-grid-cell">
          <p class="section-grid-header">Offence Amt</p>
          <p class="section-jj-grid-text">
            {{ jjDisputedCount?.ticketedFineAmount | currency }}<br /><br />
            <span
              [hidden]="!(fineReduction=='yes' && !(form.get('lesserOrGreaterAmount').hasError('min') || form.get('lesserOrGreaterAmount').hasError('max')))"
              class="section-grid-header">Lesser/Greater<br /></span>
            <span
              [hidden]="!(fineReduction=='yes' && (form.get('lesserOrGreaterAmount').hasError('min') || form.get('lesserOrGreaterAmount').hasError('max')))"
              class="section-grid-header" style="color: red;">0
              < Fine < 9999.99<br />
            </span>
            <span [hidden]="!(fineReduction=='yes')">$ </span><input type="number" [hidden]="!(fineReduction=='yes')"
              formControlName="lesserOrGreaterAmount" max="9999.99" min="0.00"
              (change)="onChangelesserOrGreaterAmount()"
              style="background-color:#e4f2ff; width: 80%; font-size: smaller; border: 0" />
          </p>
        </span>
        <span class="section-jj-grid-cell">
          <p class="section-grid-header"><span *ngIf="fineReduction=='yes'">Includes surcharge</span></p>
          <p class="section-grid-header"><span *ngIf="!jjDisputedCount || fineReduction=='no'">&nbsp;<br /><br /></span></p>
          <p class="section-jj-grid-text">
            <mat-radio-group [(ngModel)]="inclSurcharge" [ngModelOptions]="{standalone: true}"
              (change)="updateInclSurcharge($event.value)" *ngIf="fineReduction=='yes'" [disabled]="!jjDisputedCount">
              <mat-radio-button value="yes" style="padding-right: 5px; font-size: small">yes</mat-radio-button>
              <mat-radio-button value="no" style="font-size: small">no</mat-radio-button>
            </mat-radio-group>
            <span *ngIf="!jjDisputedCount || fineReduction=='no'"><br /><br /><br /><br /></span>
          </p>
        </span>
        <span class="section-jj-grid-cell">
          <p class="section-grid-header">&nbsp;</p>
          <p class="section-jj-grid-text">&nbsp;</p>
        </span>
        <span class="section-grid-cell">
          <p class="section-grid-header">&nbsp;<br /><br /></p>
          <p class="section-jj-grid-text">
            <span *ngIf="fineReduction=='yes'">{{ lesserOrGreaterAmount | currency }}</span>
            <span *ngIf="fineReduction=='no'"><br /></span>
          </p>
          <p class="section-jj-grid-text2">
            <span *ngIf="fineReduction=='yes'">&nbsp;+&nbsp;({{ surcharge | currency }})</span>
            <span *ngIf="fineReduction=='no'"><br /></span>
          </p>
        </span>
        <span class="section-jj-grid-cell">
          <p class="section-grid-header">Time to pay</p>
          <p class="section-jj-grid-text">
            <mat-radio-group [(ngModel)]="timeToPay" [ngModelOptions]="{standalone: true}" layout="row"
              (change)="updateRevisedDueDate($event)" [disabled]="!jjDisputedCount">
              <mat-radio-button value="yes" style="padding-right: 5px; font-size: small">yes</mat-radio-button>
              <mat-radio-button value="no" style="font-size: small">no</mat-radio-button>
            </mat-radio-group>
          </p>
        </span>
        <span class="section-jj-grid-cell">
          <p class="section-grid-header">&nbsp;</p>
          <p class="section-jj-grid-text">
            <input formControlName="revisedDueDate" type="date" [hidden]="!(timeToPay=='yes')"
              style="background-color:#e4f2ff; width: 100%; font-size: smaller; border: 0"
              [value]="jjDisputedCount?.revisedDueDate">
          </p>
        </span>
        <span class="section-grid-cell">
          <p class="section-grid-header">&nbsp;</p>
          <p class="section-jj-grid-text">&nbsp;</p>
        </span>
        <span class="section-grid-cell" style="grid-column: span 3">
          <mat-label class="section-grid-header">Comments</mat-label><br />
          <mat-label class="small-note"><i><span style="color:red;">*</span> These comments will be shared to
              disputants</i></mat-label>
          <textarea matInput formControlName="comments" maxlength="1500"
            style="background-color:#e4f2ff; background: #fffee6; width: 100%; font-size: small; resize: none;"
            rows="5">
          </textarea>
        </span>
      </div>
    </form>
    <br />
  </section>
  <!-- JJ Decision (read only) for Written Reasons -->
  <div *ngIf="(type === 'ticket' || isViewOnly) && jjDisputeInfo.hearingType === HearingType.WrittenReasons"
    fxLayout="column" style="padding: 0 0.2rem;">
    <h3 style="padding-left: 0.2rem;">JJ decision</h3>

    <div class="section-grid-header">Fine calculation</div>
    <div
      *ngIf="(jjDisputedCount?.lesserOrGreaterAmount === jjDisputedCount?.ticketedFineAmount && inclSurcharge === 'yes')"
      style="font-size: small;">
      <span class="section-grid-text">Ticketed amount: </span>
      {{ jjDisputedCount?.ticketedFineAmount | currency }}
    </div>
    <div
      *ngIf="!(jjDisputedCount?.lesserOrGreaterAmount === jjDisputedCount?.ticketedFineAmount && inclSurcharge === 'yes')"
      style="font-size: small;">
      <span class="section-grid-text">Lesser/greater amount: </span>
      {{ jjDisputedCount?.lesserOrGreaterAmount | currency }}
    </div>

    <div class="section-grid-header" style="padding-top: 1rem !important;">Includes surcharge</div>
    <div style="font-size: small;">
      <span class="section-grid-text">{{ jjDisputedCount?.includesSurcharge === IncludesSurcharge.Y ? "Yes" : "No"
        }}</span>
      <span style="padding-left: 0.5rem;"
        *ngIf="!(jjDisputedCount?.lesserOrGreaterAmount === jjDisputedCount?.ticketedFineAmount && inclSurcharge === 'yes')">{{
        jjDisputedCount?.ticketedFineAmount | currency }}</span>
      <span style="padding-left: 0.5rem;"
        *ngIf="(jjDisputedCount?.lesserOrGreaterAmount === jjDisputedCount?.ticketedFineAmount && inclSurcharge === 'yes')">{{
        jjDisputedCount?.lesserOrGreaterAmount | currency }}</span>
      <span style="color: #33BBFF !important;"> + <i>({{ surcharge | currency }})</i></span>
    </div>

    <div class="section-grid-header" style="padding-top: 1rem !important;">Time to pay</div>
    <div style="font-size: small;">
      <span class="section-grid-text">{{ (jjDisputedCount?.revisedDueDate === jjDisputedCount?.dueDate) ? "No" : "Yes"
        }}</span>
      <span style="padding-left: 0.5rem;">{{ jjDisputedCount?.revisedDueDate | date: "MMM dd, yyyy" }}</span>
    </div>

    <div class="section-grid-header" style="padding-top: 1rem !important;">Comments</div>
    <mat-label class="small-note">
      <i><span style="color:red;">*</span> These comments will be shared to disputants</i>
    </mat-label>
    <div class="section-grid-text" style="padding-bottom: 2rem !important;">{{ jjDisputedCount?.comments }}</div>
  </div>
  <!-- JJ RoP for Court Appearance -->
  <section *ngIf="type !== 'ticket' && jjDisputeInfo.hearingType === HearingType.CourtAppearance"
    style="padding: 0 0.2rem;">
    <ng-container subHeader>
      <span class="count-text">
        <h3>Findings</h3>
      </span>
    </ng-container>
    <div [formGroup]="form?.get('jjDisputedCountRoP')">
      <mat-radio-group formControlName="finding" fxLayout="column">
        <mat-radio-button [value]="Finding.Guilty">Guilty as charged</mat-radio-button>
        <mat-radio-button [value]="Finding.NotGuilty">Not guilty</mat-radio-button>
        <mat-radio-button [value]="Finding.GuiltyLesser">Not guilty as charged <br />but guilty of lesser / included
          offense section</mat-radio-button>
      </mat-radio-group>
      <div style="width:100%; margin-left: 20px">
        <input matInput (placeholder)="isViewOnly ? '' : 'start typing section, then select'"
          [readonly]="form.get('jjDisputedCountRoP').get('finding').value === Finding.Guilty || form.get('jjDisputedCountRoP').get('finding').value === Finding.NotGuilty || !form.get('jjDisputedCountRoP').get('finding').value"
          formControlName="lesserDescription" [matAutocomplete]="auto" (keyup)="onLesserDescriptionKeyup()"
          [matTooltip]="form.get('jjDisputedCountRoP').get('lesserDescription').value" />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let statute of lesserDescriptionFilteredStatutes" [value]="statute.__statuteString">
            {{ statute.__statuteString }}</mat-option>
        </mat-autocomplete><br />
        <mat-tooltip style="font-size:x-small">Hover over section to see full description</mat-tooltip>
      </div><br />
    </div>
    <hr style="margin: 0 0 0 0" />
  </section>
  <section>
    <ng-container subHeader>
      <span class="count-text">
        <h3>Final disposition</h3>
      </span>
    </ng-container>
    <!-- Final disposition input for court appeaances -->
    <form [formGroup]="form" novalidate *ngIf="jjDisputeInfo.hearingType === HearingType.CourtAppearance">
      <!-- Fine amount -->
      <div style="display: grid; grid-template-columns: 33% 33% 33%">
        <ng-container *ngIf="!isViewOnly">
          <span class="section-jj-grid-cell">
            <p class="section-grid-header">Revise fine</p>
            <p class="section-jj-grid-text">
              <mat-radio-group [(ngModel)]="fineReduction" [ngModelOptions]="{standalone: true}"
                (change)="updateFineAmount($event)" [disabled]="!jjDisputedCount">
                <mat-radio-button value="yes" style="padding-right: 5px; font-size: small">yes</mat-radio-button>
                <mat-radio-button value="no" style="font-size: small">no</mat-radio-button>
              </mat-radio-group>
            </p>
          </span>
          <span class="section-jj-grid-cell">
            <p class="section-grid-header">&nbsp;</p>
            <p class="section-jj-grid-text">&nbsp;</p>
          </span>
          <span class="section-grid-cell">
            <p class="section-grid-header">Offence Amt</p>
            <p class="section-jj-grid-text">
              {{ jjDisputedCount?.ticketedFineAmount | currency }}<br /><br />
              <span
                [hidden]="!(fineReduction=='yes' && !(form.get('lesserOrGreaterAmount').hasError('min') || form.get('lesserOrGreaterAmount').hasError('max')))"
                class="section-grid-header">Lesser/Greater<br /></span>
              <span
                [hidden]="!(fineReduction=='yes' && (form.get('lesserOrGreaterAmount').hasError('min') || form.get('lesserOrGreaterAmount').hasError('max')))"
                class="section-grid-header" style="color: red;">0
                < Fine < 9999.99 </span>
                  <span [hidden]="!(fineReduction=='yes')">$ </span><input type="number"
                    [hidden]="!(fineReduction=='yes')" formControlName="lesserOrGreaterAmount" max="9999.99" min="0.00"
                    (change)="onChangelesserOrGreaterAmount()"
                    style="background-color:#e4f2ff; width: 80%; font-size: smaller; border: 0" />
            </p>
          </span>
          <span class="section-jj-grid-cell">
            <p class="section-grid-header"><span *ngIf="fineReduction=='yes'">Includes surcharge</span></p>
            <p class="section-grid-header"><span *ngIf="fineReduction=='no'">&nbsp;<br /><br /></span></p>
            <p class="section-jj-grid-text">
              <mat-radio-group [(ngModel)]="inclSurcharge" [ngModelOptions]="{standalone: true}"
                (change)="updateInclSurcharge($event.value)" *ngIf="fineReduction=='yes'" [disabled]="!jjDisputedCount">
                <mat-radio-button value="yes" style="padding-right: 5px; font-size: small">yes</mat-radio-button>
                <mat-radio-button value="no" style="font-size: small">no</mat-radio-button>
              </mat-radio-group>
              <span *ngIf="fineReduction=='no'"><br /><br /><br /><br /></span>
            </p>
          </span>
          <span class="section-jj-grid-cell">
            <p class="section-grid-header">&nbsp;</p>
            <p class="section-jj-grid-text">&nbsp;</p>
          </span>
          <span class="section-grid-cell">
            <p class="section-grid-header">&nbsp;<br /><br /></p>
            <p class="section-jj-grid-text">
              <span *ngIf="fineReduction=='yes'">{{ lesserOrGreaterAmount | currency }}</span>
              <span *ngIf="fineReduction=='no'"><br /></span>
            </p>
            <p class="section-jj-grid-text2">
              <span *ngIf="fineReduction=='yes'">&nbsp;+&nbsp;({{ surcharge | currency }})</span>
              <span *ngIf="fineReduction=='no'"><br /></span>
            </p>
          </span>
          <!-- Time to pay -->
          <span class="section-jj-grid-cell">
            <p class="section-grid-header">Time to pay</p>
            <p class="section-jj-grid-text">
              <mat-radio-group [(ngModel)]="timeToPay" [ngModelOptions]="{standalone: true}" layout="row"
                (change)="updateRevisedDueDate($event)" [disabled]="!jjDisputedCount">
                <mat-radio-button value="yes" style="padding-right: 5px; font-size: small">yes</mat-radio-button>
                <mat-radio-button value="no" style="font-size: small">no</mat-radio-button>
              </mat-radio-group>
            </p>
          </span>
          <span class="section-jj-grid-cell">
            <p class="section-grid-header">&nbsp;</p>
            <p class="section-jj-grid-text">
              <input formControlName="revisedDueDate" type="date" [hidden]="!(timeToPay=='yes')"
                style="background-color:#e4f2ff; width: 100%; font-size: smaller; border: 0"
                [value]="jjDisputedCount?.revisedDueDate">
            </p>
          </span>
        </ng-container>
        <div style="padding: 0 0.3rem;" *ngIf="isViewOnly">
          <div class="section-grid-header">Fine calculation</div>
          <div
            *ngIf="(jjDisputedCount?.lesserOrGreaterAmount === jjDisputedCount?.ticketedFineAmount && inclSurcharge === 'yes')"
            style="font-size: small;">
            <span class="section-grid-text">Ticketed amount: </span>
            {{ jjDisputedCount?.ticketedFineAmount | currency }}
          </div>
          <div
            *ngIf="!(jjDisputedCount?.lesserOrGreaterAmount === jjDisputedCount?.ticketedFineAmount && inclSurcharge === 'yes')"
            style="font-size: small;">
            <span class="section-grid-text">Lesser/greater amount: </span>
            {{ jjDisputedCount?.lesserOrGreaterAmount | currency }}
          </div>

          <div class="section-grid-header" style="padding-top: 1rem !important;">Includes surcharge</div>
          <div style="font-size: small;">
            <span class="section-grid-text">{{ jjDisputedCount?.includesSurcharge === IncludesSurcharge.Y ? "Yes" : "No"
              }}</span>
            <span style="padding-left: 0.5rem;"
              *ngIf="!(jjDisputedCount?.lesserOrGreaterAmount === jjDisputedCount?.ticketedFineAmount && inclSurcharge === 'yes')">{{
              jjDisputedCount?.ticketedFineAmount | currency }}</span>
            <span style="padding-left: 0.5rem;"
              *ngIf="(jjDisputedCount?.lesserOrGreaterAmount === jjDisputedCount?.ticketedFineAmount && inclSurcharge === 'yes')">{{
              jjDisputedCount?.lesserOrGreaterAmount | currency }}</span>
            <span style="color: #33BBFF !important;"> + <i>({{ surcharge | currency }})</i></span>
          </div>

          <div class="section-grid-header" style="padding-top: 1rem !important;">Time to pay</div>
          <div style="font-size: small;">
            <span class="section-grid-text">{{ (jjDisputedCount?.revisedDueDate === jjDisputedCount?.dueDate) ? "No" :
              "Yes"
              }}</span>
            <span style="padding-left: 0.5rem;">{{ jjDisputedCount?.revisedDueDate | date: "MMM dd, yyyy" }}</span>
          </div>
        </div>
        <span class="section-grid-cell">
          <p class="section-grid-header">&nbsp;</p>
          <p class="section-jj-grid-text">&nbsp;</p>
        </span>
        <ng-container [formGroup]="form?.get('jjDisputedCountRoP')">
          <!-- Suspended Sentence -->
          <span class="section-grid-cell" style="grid-column: span 3">
            <mat-checkbox *ngIf="isViewOnly === false" formControlName="ssProbationCheckbox" (change)="onSuspSentenceCheck($event.checked)">
              <span class="count-text" style="font-size: small"><b>Suspended Sentence</b></span>
            </mat-checkbox>
            <br />
            <div style="padding-left: 0.75rem;">
              <mat-label class="section-grid-header">Probation</mat-label><br />
              <input matInput (placeholder)="isViewOnly ? '' : 'duration'"
                formControlName="ssProbationDuration" /><br />
              <mat-label class="section-grid-header">Conditions</mat-label><br />
              <textarea matInput formControlName="ssProbationConditions" maxlength="500" rows="5"></textarea>
            </div>
          </span>
          <!-- Jail -->
          <span class="section-grid-cell" style="grid-column: span 3">
            <mat-checkbox *ngIf="isViewOnly === false" formControlName="jailCheckbox" (change)="onJailCheck($event.checked)">
              <span class="count-text" style="font-size: small"><b>Jail</b></span>
            </mat-checkbox>
            <br />
            <div style="padding-left: 0.75rem;">
              <mat-label class="section-grid-header">Duration</mat-label><br />
              <input matInput formControlName="jailDuration" /><br />
              <mat-checkbox
                [checked]="form.get('jjDisputedCountRoP').get('jailIntermittent').value === JailIntermittent.Y"
                color="primary" (change)="onJailIntermittentChange($event.checked)" [disabled]="isViewOnly"><span
                  class="section-grid-header">Intermittent</span></mat-checkbox>
            </div>
          </span>
          <!-- Probation -->
          <span class="section-grid-cell" style="grid-column: span 3">
            <mat-checkbox *ngIf="isViewOnly === false" formControlName="probationCheckbox" (change)="onProbationCheck($event.checked)">
              <span class="count-text" style="font-size: small"><b>Probation</b></span>
            </mat-checkbox>
            <br />
            <div style="padding-left: 0.75rem;">
              <mat-label class="section-grid-header">Duration</mat-label><br />
              <input matInput (placeholder)="isViewOnly ? '' : 'duration'" formControlName="probationDuration" /><br />
              <mat-label class="section-grid-header">Conditions</mat-label><br />
              <textarea matInput formControlName="probationConditions" maxlength="500" rows="5"></textarea>
            </div>
          </span>
          <!-- Driving Prohibition -->
          <span class="section-grid-cell" style="grid-column: span 3">
            <mat-checkbox *ngIf="isViewOnly === false" formControlName="drivingProhibitionCheckbox" (change)="onDrivingProhibitionCheck($event.checked)">
              <span class="count-text" style="font-size: small"><b>Driving Prohibition</b></span>
            </mat-checkbox>
            <br />
            <div style="padding-left: 0.75rem;">
              <mat-label class="section-grid-header">Duration</mat-label><br />
              <input matInput (placeholder)="isViewOnly ? '' : 'duration'" formControlName="drivingProhibition" /><br />
              <mat-label class="section-grid-header">MVA Section</mat-label><br />
              <input matInput (placeholder)="isViewOnly ? '' : 'start typing section, then select'"
                formControlName="drivingProhibitionMVASection" [matAutocomplete]="auto"
                (keyup)="onDrivingProhibitionMVASectionKeyup()"
                [matTooltip]="form.get('jjDisputedCountRoP').get('drivingProhibitionMVASection').value" />
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let statute of drivingProhibitionFilteredStatutes"
                  [value]="statute.__statuteString">
                  {{ statute.__statuteString }}</mat-option>
              </mat-autocomplete><br />
              <mat-tooltip style="font-size:x-small">Hover over section to see full description
              </mat-tooltip>
            </div>
          </span>
          <span class="section-grid-cell checkboxes" style="grid-column: span 3;">
            <mat-checkbox [checked]="form.get('jjDisputedCountRoP').get('dismissed').value === Dismissed.Y"
              color="primary" (change)="onDismissedChange($event.checked)" [disabled]="isViewOnly"><span
                class="section-grid-header">Dismissed</span>
            </mat-checkbox>
            <mat-checkbox
              [checked]="form.get('jjDisputedCountRoP').get('forWantOfProsecution').value === ForWantOfProsecution.Y"
              color="primary" (change)="onForWantOfProsecutionChange($event.checked)" [disabled]="isViewOnly"><span
                class="section-grid-header">For Want of Prosecution</span></mat-checkbox><br />
            <mat-checkbox [checked]="form.get('jjDisputedCountRoP').get('withdrawn').value === Withdrawn.Y"
              color="primary" (change)="onWithdrawnChange($event.checked)" [disabled]="isViewOnly"><span
                class="section-grid-header">Withdrawn</span>
            </mat-checkbox>
            <mat-checkbox [checked]="form.get('jjDisputedCountRoP').get('abatement').value === Abatement.Y"
              color="primary" (change)="onAbatementChange($event.checked)" [disabled]="isViewOnly"><span
                class="section-grid-header">Abatement</span>
            </mat-checkbox><br /><br />
            <mat-checkbox *ngIf="isViewOnly === false" formControlName="stayOfProceedingsByCheckbox" (change)="onStayOfProceedingsByCheck($event.checked)">
              <span class="count-text" style="font-size: small"><b>Stay of Proceedings By</b></span>
            </mat-checkbox>
            <br />
            <input matInput (placeholder)="isViewOnly ? '' : 'JJ'" formControlName="other" /><br />
            <mat-checkbox *ngIf="isViewOnly === false" formControlName="otherCheckbox" (change)="onOtherCheck($event.checked)">
              <span class="count-text" style="font-size: small"><b>Other</b></span>
            </mat-checkbox>
            <br />
            <input matInput formControlName="other" /><br />
          </span>
        </ng-container>
        <!-- Remarks -->
        <span class="section-grid-cell" style="grid-column: span 3">
          <mat-label class="section-grid-header">Remarks</mat-label><br />
          <mat-label class="small-note">
            <i><span style="color:red;">*</span> These comments will be shared to all parties</i>
          </mat-label>
          <textarea matInput formControlName="comments" maxlength="1500" rows="5" style="width: 100%;">
          </textarea>
        </span>
      </div>
    </form>
    <div style="display: grid; grid-template-columns: 49% 49%">
      <span class="section-jj-grid-cell">
        <p><span
            style="font-size:small; color: #707070; font-weight: bold; margin: 0 !important; padding-right: 10px; float: right;">Due
            date</span><br />
          <span style="font-weight: bold; font-size: small; float: right; padding-right: 10px;">{{
            jjDisputedCount?.revisedDueDate | date: "yyyy" }}</span><br />
          <span style="font-weight: bold; float: right !important; padding-right: 10px;">{{
            jjDisputedCount?.revisedDueDate | date: "MMM dd" }}</span>
        </p>
      </span>
      <span class="section-grid-cell">
        <p><span
            style="font-size:small; color: #707070; font-weight: bold; margin: 0 !important; padding-right: 10px; float: right;">Fine
            amount</span><br />
          <span style="font-weight: bold; font-size: small; float: right; padding-right: 10px; color: #707070;">incl.
            surcharge</span><br />
          <span style="font-weight: bold; float: right !important; padding-right: 10px;">{{
            jjDisputedCount?.totalFineAmount | currency }}</span>
        </p>
      </span>
    </div>
  </section>
</div>
