<div class="row mt-2">
  <div class="col-lg-2">
    <div style="display: flex">
      <mat-chip-list>
        <mat-chip selected
                  class="p-3">Count {{ count.offenceNumber }}</mat-chip>
      </mat-chip-list>
    </div>
  </div>

  <div class="col-lg-7">
    <small class="d-block">For this count I would like to</small>
    <strong>
      <div *ngIf="count.offenceAgreementStatus === 'NOTHING'">
        No action at this time
      </div>
      <div *ngIf="count.offenceAgreementStatus === 'PAY'">
        Pay for this count
      </div>
      <div *ngIf="count.offenceAgreementStatus === 'REDUCTION'">
        Request a fine reduction and/or more time to pay
      </div>
      <div *ngIf="count.offenceAgreementStatus === 'DISPUTE'">
        Dispute the charge
      </div>
    </strong>
  </div>
  <div class="col-lg-3"
       *ngIf="count.offenceAgreementStatus === 'REDUCTION'">
    <small class="d-block">I will appear in court</small>
    <strong>
      {{ count.reductionAppearInCourt | yesNo }}
    </strong>
  </div>
  <div class="col-lg-3"
       *ngIf="count.offenceAgreementStatus === 'DISPUTE'">
    <small class="d-block">I will appear in court</small>
    <strong> Yes </strong>
  </div>
</div>

<hr class="d-print-none" />

<div class="row mb-2">
  <div class="offset-lg-2 col-lg-7">
    <small class="d-block">Description of offence</small>
    <div class="text">{{ count.offenceDescription | titlecase }}</div>
  </div>
  <div class="col-lg-3">
    <small class="d-block">Amount due</small>
    <div class="text">{{ count._amountDue | currency }}</div>
  </div>
</div>
