html {
  scroll-behavior: smooth;
}
.close-icon{
    margin-bottom: 70px;
    margin-left: 120px;
}
.close-button{
    margin-left: 120px;
}

.ticket-error {
  margin-left: 10px;
  vertical-align: middle;
  color: #f44336;
  font-size: 18px;
  ;
}

::ng-deep .mat-dialog-container {
  width: 800px !important;
}