<div mat-dialog-title class="d-flex justify-content-between">
  <span>
    <mat-icon class="icon-error" aria-hidden="false" color="error" aria-label="Example icon">error</mat-icon>
    <span class="ticket-error"><strong>{{ options.titleKey }}</strong></span>
  </span>
  <button mat-icon-button mat-dialog-close color="primary">
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <div *ngIf="options.messageKey === 'error1'">
    <p class="my-2 text-bold">For best ticket photo scanning results, follow these instructions:</p>
    <ul>
      <li>Use a brightly lit area</li>
      <li>Take your photo on a plain, untextured background</li>
      <li>Crop your image as close to the edges as possible</li>
      <li>Ensure image is legible (no blurry text)</li>
    </ul>

    <p class="my-2 text-bold">Image specifications</p>
    <ul>
      <li>Acceptable formats: JPG, PNG or PDF</li>
      <li>Maximum size: 10 MB</li>
    </ul>
  </div>
  <ng-template appDialogContent></ng-template>
  <div *ngIf="options.messageKey === 'error3'">
    <p class="my-2 text-bold">
      It appears that your ticket is not a Motor Vehicle Act violation ticket.
    </p>
  </div>
</mat-dialog-content>
<span class="flex-grow-1"></span>
<p>If your ticket could not be scanned successfully, please
  <a href="https://www2.gov.bc.ca/gov/content/justice/courthouse-services/fines-payments/pay-dispute-ticket/prov-violation-tickets/dispute-ticket"
    target="blank">click here</a> for more options.
</p>
<mat-dialog-actions>
  <span class="flex-grow-1"></span>
  <button type="submit" mat-flat-button mat-dialog-close color="primary">
    Close
  </button>
</mat-dialog-actions>