<div mat-dialog-title class="d-flex justify-content-between">
  <span>
    <mat-icon class="icon-error" aria-hidden="false" color="error" aria-label="Example icon">error</mat-icon>
    <span class="ticket-error"><strong>{{ options.titleKey }}</strong></span>
  </span>
  <button mat-icon-button mat-dialog-close color="primary">
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <div *ngIf="options.messageKey === 'error1'">
    <p class="my-2 text-bold">For best ticket photo scanning results, follow these instructions:</p>
    <ul>
      <li>Use a brightly lit area</li>
      <li>Take your photo on a plain, untextured background</li>
      <li>Crop your image as close to the edges as possible</li>
      <li>Ensure image is legible (no blurry text)</li>
    </ul>

    <p class="my-2 text-bold">Image specifications</p>
    <ul>
      <li>Acceptable formats: JPG or PNG</li>
      <li>Maximum size: 10 MB</li>
    </ul>
    <div>
      If you cannot upload a copy of your handwritten ticket, you can initiate a dispute by contacting the Violation Ticket Centre: violationticketcentre@gov.bc.ca.  You must include your Given Name, Surname, Driver's Licence Number, Violation Ticket Number, and Violation Time. Do not include any evidence, such as videos or pictures, with your email. Evidence can only be presented at the hearing.
    </div>
  </div>
  <ng-template appDialogContent></ng-template>
  <div *ngIf="options.messageKey === 'error2'">
    <span class="flex-grow-1"></span>
    <p>Please
      <a href="https://www2.gov.bc.ca/gov/content/justice/courthouse-services/fines-payments/pay-dispute-ticket/prov-violation-tickets/dispute-ticket"
        target="blank">click here</a> for more options.
    </p>
    <div>
      If you cannot upload a copy of your handwritten ticket, you can initiate a dispute by contacting the Violation Ticket Centre: violationticketcentre@gov.bc.ca.  You must include your Given Name, Surname, Driver's Licence Number, Violation Ticket Number, and Violation Time. Do not include any evidence, such as videos or pictures, with your email. Evidence can only be presented at the hearing.
    </div>
  </div>
  <div *ngIf="options.messageKey === 'error3'">
    <span class="flex-grow-1"></span>
    <p>Your ticket cannot be disputed online. Please visit 
      <a href="https://www2.gov.bc.ca/gov/content/justice/courthouse-services/fines-payments/pay-dispute-ticket/prov-violation-tickets/dispute-ticket"
        target="blank">https://www2.gov.bc.ca/gov/content/justice/courthouse-services/fines-payments/pay-dispute-ticket/prov-violation-tickets/dispute-ticket</a> for information on how to start your dispute.
    </p>
    <p>
      If you require support, please email 
      <a href="mailto:Courts.TCO@gov.bc.ca" target="blank">Courts.TCO@gov.bc.ca <img class="me-2" src="/assets/mail-icon.svg" style="width: 15px; height: 13px; vertical-align: text-top;"/></a>
    </p>
  </div>
  <div *ngIf="options.messageKey === 'error4'">
    <span class="flex-grow-1"></span>
    <p>If your ticket could not be scanned successfully, please
      <a href="https://www2.gov.bc.ca/gov/content/justice/courthouse-services/fines-payments/pay-dispute-ticket/prov-violation-tickets/dispute-ticket"
        target="blank">click here</a> for more options.
    </p>
    <div>
      If you cannot upload a copy of your handwritten ticket, you can initiate a dispute by contacting the Violation Ticket Centre: violationticketcentre@gov.bc.ca.  You must include your Given Name, Surname, Driver's Licence Number, Violation Ticket Number, and Violation Time. Do not include any evidence, such as videos or pictures, with your email. Evidence can only be presented at the hearing.
    </div>
  </div>
  <div *ngIf="options.messageKey === 'error5'">
    <span class="flex-grow-1"></span>
    <p> It has been over 30 days since the violation date on your ticket. You may still be able to dispute it or request time to pay or a fine reduction if
      the Date of Service is different from the Violation date. Click
      <a target="_blank" href="https://www2.gov.bc.ca/gov/content/justice/courthouse-services/fines-payments/pay-dispute-ticket/prov-violation-tickets/dispute-ticket">here</a>
      for more options for submitting your dispute or request.
    </p>
  </div>
  <div *ngIf="options.messageKey === 'error6'">
    <span class="flex-grow-1"></span>
    <p>It has been over 45 days since the violation date on your ticket. You may still be able to dispute it or request time to pay or a fine reduction if
      the Date Violation Ticket Completed is different from the Violation date.
      Click <a target="_blank" href="https://www2.gov.bc.ca/gov/content/justice/courthouse-services/fines-payments/pay-dispute-ticket/prov-violation-tickets/dispute-ticket">here</a>
      for more options for submitting your dispute or request.
    </p>
  </div>
  <div *ngIf="options.messageKey === 'error7'">
    <span class="flex-grow-1"></span>
    <p>A dispute for this violation ticket already exists. If you need to make updates to your dispute, use Update Dispute or contact 
      <a href="mailto:Courts.TCO@gov.bc.ca" target="blank">Courts.TCO@gov.bc.ca <img class="me-2" src="/assets/mail-icon.svg" style="width: 15px; height: 13px; vertical-align: text-top;"/></a>
    </p>
  </div>
  <div *ngIf="options.messageKey === 'error8'">
    <span class="flex-grow-1"></span>
    <p>It appears that your ticket is not a Motor Vehicle Act violation ticket. 

      Please click <a href="https://www2.gov.bc.ca/gov/content/justice/courthouse-services/fines-payments/pay-dispute-ticket/prov-violation-tickets/dispute-ticket">here</a> for more options.</p>
  </div>
  <div *ngIf="options.messageKey === 'error500'">
    <span class="flex-grow-1"></span>
    <p>Please refresh the page and try again.</p>
    <p>If the problem persists, please contact support at <a href="mailto:Courts.TCO@gov.bc.ca" target="blank">Courts.TCO@gov.bc.ca</a></p>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <span class="flex-grow-1"></span>
  <button type="submit" mat-flat-button mat-dialog-close color="primary">
    Close
  </button>
</mat-dialog-actions>
