label {
  font-size: 16px;
  font-weight: 400;
  margin: 16px 0 16px;
}

.wrap-mat-radio-label {
  white-space: normal;
}

.text-right,
.text-left {
  font-weight: bold;
}

.my-chip .mat-chip-selected {
  background-color: rgb(112, 11, 11) !important;
  color: #fff;
}
