{"swagger":"2.0","info":{"title":"ORDS generated API for occam/v1","version":"1.0.0"},"host":"muzzle.bcgov:8080","basePath":"/ords/devj/occamords/occam/v1","schemes":["http"],"produces":["application/json"],"paths":{"/agencies":{"get":{"description":"Retrieve a record from occam/v1","responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{}}}},"parameters":[{"name":"agencyTypeCd","in":"query","type":"string","description":"Implicit parameter"}]}},"/assignViolationTicket":{"post":{"description":"Create a new record on occam/v1","responses":{"201":{"description":"The successfully created record.","schema":{"type":"object","properties":{}}}},"parameters":[{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/occam/v1_ITEM"}}]}},"/auditLogEntryList":{"get":{"description":"Retrieve a record from occam/v1","responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{}}}},"parameters":[{"name":"ticketNumber","in":"query","type":"string","description":"Implicit parameter"}]}},"/auditLogEntryTypes":{"get":{"description":"Retrieve a record from occam/v1","responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{}}}}}},"/cities":{"get":{"description":"Retrieve a record from occam/v1","responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{}}}},"parameters":[{"name":"countryId","in":"query","type":"string","description":"Implicit parameter"},{"name":"provSeqNo","in":"query","type":"string","description":"Implicit parameter"}]}},"/countries":{"get":{"description":"Retrieve a record from occam/v1","responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{}}}}}},"/deleteDisputeUpdateRequest":{"delete":{"description":"Remove a record from occam/v1","responses":{"204":{"description":"Deleted result.","schema":{"type":"object","properties":{}}}},"parameters":[{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/occam/v1_ITEM"}}]}},"/deleteViolationTicket":{"delete":{"description":"Remove a record from occam/v1","responses":{"204":{"description":"Deleted result.","schema":{"type":"object","properties":{}}}},"parameters":[{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/occam/v1_ITEM"}}]}},"/deleteViolationTicketCount":{"delete":{"description":"Remove a record from occam/v1","responses":{"204":{"description":"Deleted result.","schema":{"type":"object","properties":{}}}},"parameters":[{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/occam/v1_ITEM"}}]}},"/disputeList":{"get":{"description":"Retrieve a record from occam/v1","responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{"disputeListItems":{"$ref":"#/definitions/RESULTSET"}}}}},"parameters":[{"name":"excludeStatus","in":"query","type":"string","description":"Implicit parameter"},{"name":"fromDate","in":"query","type":"string","description":"Implicit parameter"},{"name":"issueTime","in":"query","type":"string","description":"Implicit parameter"},{"name":"noticeOfDisputeGuid","in":"query","type":"string","description":"Implicit parameter"},{"name":"ticketNumber","in":"query","type":"string","description":"Implicit parameter"}]}},"/disputeUpdateRequest":{"get":{"description":"Retrieve a record from occam/v1","responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{}}}},"parameters":[{"name":"disputeUpdateRequestId","in":"query","type":"string","description":"Implicit parameter"}]}},"/disputeUpdateRequestList":{"get":{"description":"Retrieve a record from occam/v1","responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{}}}},"parameters":[{"name":"disputeId","in":"query","type":"string","description":"Implicit parameter"},{"name":"disputeUpdateReqTypeCd","in":"query","type":"string","description":"Implicit parameter"},{"name":"disputeUpdateStatTypeCd","in":"query","type":"string","description":"Implicit parameter"},{"name":"noticeOfDisputeGuid","in":"query","type":"string","description":"Implicit parameter"}]}},"/disputeUpdateRequestStatus":{"post":{"description":"Create a new record on occam/v1","responses":{"201":{"description":"The successfully created record.","schema":{"type":"object","properties":{}}}},"parameters":[{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/occam/v1_ITEM"}}]}},"/languages":{"get":{"description":"Retrieve a record from occam/v1","responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{}}}}}},"/outgoingEmailList":{"get":{"description":"Retrieve a record from occam/v1","responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{}}}},"parameters":[{"name":"ticketNumber","in":"query","type":"string","description":"Implicit parameter"}]}},"/ping":{"get":{"description":"Retrieve a record from occam/v1","responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{}}}}}},"/processAuditLogEntry":{"post":{"description":"Create a new record on occam/v1","responses":{"201":{"description":"The successfully created record.","schema":{"type":"object","properties":{}}}},"parameters":[{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/occam/v1_ITEM"}}]}},"/processAuditLogEntryType":{"post":{"description":"Create a new record on occam/v1","responses":{"201":{"description":"The successfully created record.","schema":{"type":"object","properties":{}}}},"parameters":[{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/occam/v1_ITEM"}}]}},"/processDisputeUpdateRequest":{"post":{"description":"Create a new record on occam/v1","responses":{"201":{"description":"The successfully created record.","schema":{"type":"object","properties":{}}}},"parameters":[{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/occam/v1_ITEM"}}]}},"/processOutgoingEmail":{"post":{"description":"Create a new record on occam/v1","responses":{"201":{"description":"The successfully created record.","schema":{"type":"object","properties":{}}}},"parameters":[{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/occam/v1_ITEM"}}]}},"/processViolationTicket":{"post":{"description":"Create a new record on occam/v1","responses":{"201":{"description":"The successfully created record.","schema":{"type":"object","properties":{}}}},"parameters":[{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/occam/v1_ITEM"}}]}},"/provinces":{"get":{"description":"Retrieve a record from occam/v1","responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{}}}},"parameters":[{"name":"countryId","in":"query","type":"string","description":"Implicit parameter"}]}},"/statutes":{"get":{"description":"Retrieve a record from occam/v1","responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{}}}}}},"/unassignViolationTicket":{"post":{"description":"Create a new record on occam/v1","responses":{"201":{"description":"The successfully created record.","schema":{"type":"object","properties":{}}}},"parameters":[{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/occam/v1_ITEM"}}]}},"/updateAuditLogEntryType":{"put":{"description":"Create or update a record on occam/v1","responses":{"201":{"description":"The successfully created record.","schema":{"type":"object","properties":{}}},"200":{"description":"The successfully updated record.","schema":{"type":"object","properties":{}}}},"parameters":[{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/occam/v1_ITEM"}}]}},"/updateDisputeUpdateRequest":{"put":{"description":"Create or update a record on occam/v1","responses":{"201":{"description":"The successfully created record.","schema":{"type":"object","properties":{}}},"200":{"description":"The successfully updated record.","schema":{"type":"object","properties":{}}}},"parameters":[{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/occam/v1_ITEM"}}]}},"/updateViolationTicket":{"put":{"description":"Create or update a record on occam/v1","responses":{"201":{"description":"The successfully created record.","schema":{"type":"object","properties":{}}},"200":{"description":"The successfully updated record.","schema":{"type":"object","properties":{}}}},"parameters":[{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/occam/v1_ITEM"}}]}},"/violationTicket":{"get":{"description":"Retrieve a record from occam/v1","responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{}}}},"parameters":[{"name":"disputeId","in":"query","type":"string","description":"Implicit parameter"},{"name":"noticeOfDisputeGuid","in":"query","type":"string","description":"Implicit parameter"},{"name":"violationTicketId","in":"query","type":"string","description":"Implicit parameter"}]}},"/violationTicketList":{"get":{"description":"Retrieve a record from occam/v1","responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{}}}},"parameters":[{"name":"excludeStatus","in":"query","type":"string","description":"Implicit parameter"},{"name":"fromDate","in":"query","type":"string","description":"Implicit parameter"},{"name":"issueTime","in":"query","type":"string","description":"Implicit parameter"},{"name":"noticeOfDisputeGuid","in":"query","type":"string","description":"Implicit parameter"},{"name":"ticketNumber","in":"query","type":"string","description":"Implicit parameter"}]}},"/violationTicketStatus":{"post":{"description":"Create a new record on occam/v1","responses":{"201":{"description":"The successfully created record.","schema":{"type":"object","properties":{}}}},"parameters":[{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/occam/v1_ITEM"}}]}}},"definitions":{"RESULTSET":{"type":"string"},"STRING":{"type":"string"},"occam/v1_ITEM":{"properties":{"violationTicketId":{"type":"string"},"disputeId":{"type":"string"},"noticeOfDisputeGuid":{"type":"string"},"userId":{"type":"string"}}},"occam/v1_ITEM":{"properties":{"disputeUpdateRequestId":{"type":"string"},"disputeId":{"type":"string"}}},"occam/v1_ITEM":{"properties":{"violationTicketId":{"type":"string"},"disputeId":{"type":"string"},"noticeOfDisputeGuid":{"type":"string"}}},"occam/v1_ITEM":{"properties":{"violationTicketCountId":{"type":"string"}}},"occam/v1_ITEM":{"properties":{"violationTicketId":{"type":"string"},"disputeId":{"type":"string"},"noticeOfDisputeGuid":{"type":"string"},"statusCd":{"type":"string"},"rejectReason":{"type":"string"},"userId":{"type":"string"}}}}}