{"swagger":"2.0","info":{"title":"ORDS generated API for v2","version":"1.0.0"},"host":"muzzle.bcgov:8080","basePath":"/ords/devj/occamords/v2","schemes":["http"],"produces":["application/json"],"paths":{"/occam_audit_log_entries_list":{"get":{"description":"Retrieve a record from v2","responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{"rows":{"$ref":"#/definitions/RESULTSET"},"errors":{"$ref":"#/definitions/RESULTSET"}}}}},"parameters":[{"name":"order","in":"path","type":"string","required":true},{"name":"ticket_number_txt_eq","in":"path","type":"string","required":true},{"name":"ticket_number_txt_ge","in":"path","type":"string","required":true},{"name":"ticket_number_txt_gt","in":"path","type":"string","required":true},{"name":"ticket_number_txt_in","in":"path","type":"string","required":true},{"name":"ticket_number_txt_is_not_null","in":"path","type":"string","required":true},{"name":"ticket_number_txt_is_null","in":"path","type":"string","required":true},{"name":"ticket_number_txt_le","in":"path","type":"string","required":true},{"name":"ticket_number_txt_like","in":"path","type":"string","required":true},{"name":"ticket_number_txt_lt","in":"path","type":"string","required":true},{"name":"ticket_number_txt_ne","in":"path","type":"string","required":true},{"name":"ticket_number_txt_not_in","in":"path","type":"string","required":true},{"name":"ticket_number_txt_regexp_like","in":"path","type":"string","required":true}]}},"/occam_audit_log_entry_types":{"get":{"description":"Retrieve a record from v2","responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{"rows":{"$ref":"#/definitions/RESULTSET"},"errors":{"$ref":"#/definitions/RESULTSET"}}}}},"parameters":[{"name":"active_use_yn_eq","in":"path","type":"string","required":true},{"name":"active_use_yn_ge","in":"path","type":"string","required":true},{"name":"active_use_yn_gt","in":"path","type":"string","required":true},{"name":"active_use_yn_in","in":"path","type":"string","required":true},{"name":"active_use_yn_is_not_null","in":"path","type":"string","required":true},{"name":"active_use_yn_is_null","in":"path","type":"string","required":true},{"name":"active_use_yn_le","in":"path","type":"string","required":true},{"name":"active_use_yn_lt","in":"path","type":"string","required":true},{"name":"active_use_yn_ne","in":"path","type":"string","required":true},{"name":"active_use_yn_not_in","in":"path","type":"string","required":true},{"name":"audit_log_entry_type_cd_eq","in":"path","type":"string","required":true},{"name":"audit_log_entry_type_cd_ge","in":"path","type":"string","required":true},{"name":"audit_log_entry_type_cd_gt","in":"path","type":"string","required":true},{"name":"audit_log_entry_type_cd_in","in":"path","type":"string","required":true},{"name":"audit_log_entry_type_cd_is_not_null","in":"path","type":"string","required":true},{"name":"audit_log_entry_type_cd_is_null","in":"path","type":"string","required":true},{"name":"audit_log_entry_type_cd_le","in":"path","type":"string","required":true},{"name":"audit_log_entry_type_cd_lt","in":"path","type":"string","required":true},{"name":"audit_log_entry_type_cd_ne","in":"path","type":"string","required":true},{"name":"audit_log_entry_type_cd_not_in","in":"path","type":"string","required":true},{"name":"order","in":"path","type":"string","required":true}]}},"/occam_dispute_list":{"get":{"description":"Retrieve a record from v2","responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{"rows":{"$ref":"#/definitions/RESULTSET"},"errors":{"$ref":"#/definitions/RESULTSET"},"total":{"type":"integer"},"offset":{"type":"integer"},"fetch":{"type":"integer"}}}}},"parameters":[{"name":"court_agen_id_eq","in":"path","type":"string","required":true},{"name":"court_agen_id_ge","in":"path","type":"string","required":true},{"name":"court_agen_id_gt","in":"path","type":"string","required":true},{"name":"court_agen_id_in","in":"path","type":"string","required":true},{"name":"court_agen_id_is_not_null","in":"path","type":"string","required":true},{"name":"court_agen_id_is_null","in":"path","type":"string","required":true},{"name":"court_agen_id_le","in":"path","type":"string","required":true},{"name":"court_agen_id_lt","in":"path","type":"string","required":true},{"name":"court_agen_id_ne","in":"path","type":"string","required":true},{"name":"court_agen_id_not_in","in":"path","type":"string","required":true},{"name":"disputant_given_1_nm_eq","in":"path","type":"string","required":true},{"name":"disputant_given_1_nm_ge","in":"path","type":"string","required":true},{"name":"disputant_given_1_nm_gt","in":"path","type":"string","required":true},{"name":"disputant_given_1_nm_in","in":"path","type":"string","required":true},{"name":"disputant_given_1_nm_is_not_null","in":"path","type":"string","required":true},{"name":"disputant_given_1_nm_is_null","in":"path","type":"string","required":true},{"name":"disputant_given_1_nm_le","in":"path","type":"string","required":true},{"name":"disputant_given_1_nm_like","in":"path","type":"string","required":true},{"name":"disputant_given_1_nm_lt","in":"path","type":"string","required":true},{"name":"disputant_given_1_nm_ne","in":"path","type":"string","required":true},{"name":"disputant_given_1_nm_not_in","in":"path","type":"string","required":true},{"name":"disputant_given_1_nm_regexp_like","in":"path","type":"string","required":true},{"name":"dispute_id_eq","in":"path","type":"string","required":true},{"name":"dispute_id_ge","in":"path","type":"string","required":true},{"name":"dispute_id_gt","in":"path","type":"string","required":true},{"name":"dispute_id_in","in":"path","type":"string","required":true},{"name":"dispute_id_is_not_null","in":"path","type":"string","required":true},{"name":"dispute_id_is_null","in":"path","type":"string","required":true},{"name":"dispute_id_le","in":"path","type":"string","required":true},{"name":"dispute_id_lt","in":"path","type":"string","required":true},{"name":"dispute_id_ne","in":"path","type":"string","required":true},{"name":"dispute_id_not_in","in":"path","type":"string","required":true},{"name":"dispute_status_type_cd_eq","in":"path","type":"string","required":true},{"name":"dispute_status_type_cd_ge","in":"path","type":"string","required":true},{"name":"dispute_status_type_cd_gt","in":"path","type":"string","required":true},{"name":"dispute_status_type_cd_in","in":"path","type":"string","required":true},{"name":"dispute_status_type_cd_is_not_null","in":"path","type":"string","required":true},{"name":"dispute_status_type_cd_is_null","in":"path","type":"string","required":true},{"name":"dispute_status_type_cd_le","in":"path","type":"string","required":true},{"name":"dispute_status_type_cd_lt","in":"path","type":"string","required":true},{"name":"dispute_status_type_cd_ne","in":"path","type":"string","required":true},{"name":"dispute_status_type_cd_not_in","in":"path","type":"string","required":true},{"name":"fetch_rows","in":"path","type":"string","required":true},{"name":"offset_rows","in":"path","type":"string","required":true},{"name":"order","in":"path","type":"string","required":true},{"name":"submitted_dt_eq","in":"path","type":"string","required":true},{"name":"submitted_dt_ge","in":"path","type":"string","required":true},{"name":"submitted_dt_gt","in":"path","type":"string","required":true},{"name":"submitted_dt_in","in":"path","type":"string","required":true},{"name":"submitted_dt_is_not_null","in":"path","type":"string","required":true},{"name":"submitted_dt_is_null","in":"path","type":"string","required":true},{"name":"submitted_dt_le","in":"path","type":"string","required":true},{"name":"submitted_dt_lt","in":"path","type":"string","required":true},{"name":"submitted_dt_ne","in":"path","type":"string","required":true},{"name":"submitted_dt_not_in","in":"path","type":"string","required":true},{"name":"ticket_number_txt_eq","in":"path","type":"string","required":true},{"name":"ticket_number_txt_ge","in":"path","type":"string","required":true},{"name":"ticket_number_txt_gt","in":"path","type":"string","required":true},{"name":"ticket_number_txt_in","in":"path","type":"string","required":true},{"name":"ticket_number_txt_is_not_null","in":"path","type":"string","required":true},{"name":"ticket_number_txt_is_null","in":"path","type":"string","required":true},{"name":"ticket_number_txt_le","in":"path","type":"string","required":true},{"name":"ticket_number_txt_like","in":"path","type":"string","required":true},{"name":"ticket_number_txt_lt","in":"path","type":"string","required":true},{"name":"ticket_number_txt_ne","in":"path","type":"string","required":true},{"name":"ticket_number_txt_not_in","in":"path","type":"string","required":true},{"name":"ticket_number_txt_regexp_like","in":"path","type":"string","required":true},{"name":"upper_disputant_surname_nm_eq","in":"path","type":"string","required":true},{"name":"upper_disputant_surname_nm_ge","in":"path","type":"string","required":true},{"name":"upper_disputant_surname_nm_gt","in":"path","type":"string","required":true},{"name":"upper_disputant_surname_nm_in","in":"path","type":"string","required":true},{"name":"upper_disputant_surname_nm_is_not_null","in":"path","type":"string","required":true},{"name":"upper_disputant_surname_nm_is_null","in":"path","type":"string","required":true},{"name":"upper_disputant_surname_nm_le","in":"path","type":"string","required":true},{"name":"upper_disputant_surname_nm_like","in":"path","type":"string","required":true},{"name":"upper_disputant_surname_nm_lt","in":"path","type":"string","required":true},{"name":"upper_disputant_surname_nm_ne","in":"path","type":"string","required":true},{"name":"upper_disputant_surname_nm_not_in","in":"path","type":"string","required":true},{"name":"upper_disputant_surname_nm_regexp_like","in":"path","type":"string","required":true}]}},"/occam_dispute_update_request_delete":{"delete":{"description":"Remove a record from v2","responses":{"204":{"description":"Deleted result.","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/RESULTSET"}}}}},"parameters":[{"name":"dispute_id","in":"path","type":"string","required":true},{"name":"dispute_update_request_id","in":"path","type":"string","required":true}]}},"/occam_dispute_update_requests_list":{"get":{"description":"Retrieve a record from v2","responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{"total":{"type":"integer"},"offset":{"type":"integer"},"fetch":{"type":"integer"},"rows":{"$ref":"#/definitions/RESULTSET"},"errors":{"$ref":"#/definitions/RESULTSET"}}}}},"parameters":[{"name":"court_agen_id_eq","in":"path","type":"string","required":true},{"name":"court_agen_id_ge","in":"path","type":"string","required":true},{"name":"court_agen_id_gt","in":"path","type":"string","required":true},{"name":"court_agen_id_in","in":"path","type":"string","required":true},{"name":"court_agen_id_is_not_null","in":"path","type":"string","required":true},{"name":"court_agen_id_is_null","in":"path","type":"string","required":true},{"name":"court_agen_id_le","in":"path","type":"string","required":true},{"name":"court_agen_id_lt","in":"path","type":"string","required":true},{"name":"court_agen_id_ne","in":"path","type":"string","required":true},{"name":"court_agen_id_not_in","in":"path","type":"string","required":true},{"name":"dispute_id_eq","in":"path","type":"string","required":true},{"name":"dispute_id_ge","in":"path","type":"string","required":true},{"name":"dispute_id_gt","in":"path","type":"string","required":true},{"name":"dispute_id_in","in":"path","type":"string","required":true},{"name":"dispute_id_is_not_null","in":"path","type":"string","required":true},{"name":"dispute_id_is_null","in":"path","type":"string","required":true},{"name":"dispute_id_le","in":"path","type":"string","required":true},{"name":"dispute_id_lt","in":"path","type":"string","required":true},{"name":"dispute_id_ne","in":"path","type":"string","required":true},{"name":"dispute_id_not_in","in":"path","type":"string","required":true},{"name":"dispute_status_type_cd_eq","in":"path","type":"string","required":true},{"name":"dispute_status_type_cd_ge","in":"path","type":"string","required":true},{"name":"dispute_status_type_cd_gt","in":"path","type":"string","required":true},{"name":"dispute_status_type_cd_in","in":"path","type":"string","required":true},{"name":"dispute_status_type_cd_is_not_null","in":"path","type":"string","required":true},{"name":"dispute_status_type_cd_is_null","in":"path","type":"string","required":true},{"name":"dispute_status_type_cd_le","in":"path","type":"string","required":true},{"name":"dispute_status_type_cd_lt","in":"path","type":"string","required":true},{"name":"dispute_status_type_cd_ne","in":"path","type":"string","required":true},{"name":"dispute_status_type_cd_not_in","in":"path","type":"string","required":true},{"name":"dispute_update_req_type_cd_eq","in":"path","type":"string","required":true},{"name":"dispute_update_req_type_cd_ge","in":"path","type":"string","required":true},{"name":"dispute_update_req_type_cd_gt","in":"path","type":"string","required":true},{"name":"dispute_update_req_type_cd_in","in":"path","type":"string","required":true},{"name":"dispute_update_req_type_cd_is_not_null","in":"path","type":"string","required":true},{"name":"dispute_update_req_type_cd_is_null","in":"path","type":"string","required":true},{"name":"dispute_update_req_type_cd_le","in":"path","type":"string","required":true},{"name":"dispute_update_req_type_cd_lt","in":"path","type":"string","required":true},{"name":"dispute_update_req_type_cd_ne","in":"path","type":"string","required":true},{"name":"dispute_update_req_type_cd_not_in","in":"path","type":"string","required":true},{"name":"dispute_update_stat_type_cd_eq","in":"path","type":"string","required":true},{"name":"dispute_update_stat_type_cd_ge","in":"path","type":"string","required":true},{"name":"dispute_update_stat_type_cd_gt","in":"path","type":"string","required":true},{"name":"dispute_update_stat_type_cd_in","in":"path","type":"string","required":true},{"name":"dispute_update_stat_type_cd_is_not_null","in":"path","type":"string","required":true},{"name":"dispute_update_stat_type_cd_is_null","in":"path","type":"string","required":true},{"name":"dispute_update_stat_type_cd_le","in":"path","type":"string","required":true},{"name":"dispute_update_stat_type_cd_lt","in":"path","type":"string","required":true},{"name":"dispute_update_stat_type_cd_ne","in":"path","type":"string","required":true},{"name":"dispute_update_stat_type_cd_not_in","in":"path","type":"string","required":true},{"name":"notice_of_dispute_guid_eq","in":"path","type":"string","required":true},{"name":"notice_of_dispute_guid_ge","in":"path","type":"string","required":true},{"name":"notice_of_dispute_guid_gt","in":"path","type":"string","required":true},{"name":"notice_of_dispute_guid_in","in":"path","type":"string","required":true},{"name":"notice_of_dispute_guid_is_not_null","in":"path","type":"string","required":true},{"name":"notice_of_dispute_guid_is_null","in":"path","type":"string","required":true},{"name":"notice_of_dispute_guid_le","in":"path","type":"string","required":true},{"name":"notice_of_dispute_guid_lt","in":"path","type":"string","required":true},{"name":"notice_of_dispute_guid_ne","in":"path","type":"string","required":true},{"name":"notice_of_dispute_guid_not_in","in":"path","type":"string","required":true},{"name":"fetch_rows","in":"path","type":"string","required":true},{"name":"offset_rows","in":"path","type":"string","required":true},{"name":"order","in":"path","type":"string","required":true},{"name":"submitted_dt_eq","in":"path","type":"string","required":true},{"name":"submitted_dt_ge","in":"path","type":"string","required":true},{"name":"submitted_dt_gt","in":"path","type":"string","required":true},{"name":"submitted_dt_in","in":"path","type":"string","required":true},{"name":"submitted_dt_is_not_null","in":"path","type":"string","required":true},{"name":"submitted_dt_is_null","in":"path","type":"string","required":true},{"name":"submitted_dt_le","in":"path","type":"string","required":true},{"name":"submitted_dt_lt","in":"path","type":"string","required":true},{"name":"submitted_dt_ne","in":"path","type":"string","required":true},{"name":"submitted_dt_not_in","in":"path","type":"string","required":true},{"name":"ticket_number_txt_eq","in":"path","type":"string","required":true},{"name":"ticket_number_txt_ge","in":"path","type":"string","required":true},{"name":"ticket_number_txt_gt","in":"path","type":"string","required":true},{"name":"ticket_number_txt_in","in":"path","type":"string","required":true},{"name":"ticket_number_txt_is_not_null","in":"path","type":"string","required":true},{"name":"ticket_number_txt_is_null","in":"path","type":"string","required":true},{"name":"ticket_number_txt_le","in":"path","type":"string","required":true},{"name":"ticket_number_txt_like","in":"path","type":"string","required":true},{"name":"ticket_number_txt_lt","in":"path","type":"string","required":true},{"name":"ticket_number_txt_ne","in":"path","type":"string","required":true},{"name":"ticket_number_txt_not_in","in":"path","type":"string","required":true},{"name":"ticket_number_txt_regexp_like","in":"path","type":"string","required":true},{"name":"upper_disputant_surname_nm_eq","in":"path","type":"string","required":true},{"name":"upper_disputant_surname_nm_ge","in":"path","type":"string","required":true},{"name":"upper_disputant_surname_nm_gt","in":"path","type":"string","required":true},{"name":"upper_disputant_surname_nm_in","in":"path","type":"string","required":true},{"name":"upper_disputant_surname_nm_is_not_null","in":"path","type":"string","required":true},{"name":"upper_disputant_surname_nm_is_null","in":"path","type":"string","required":true},{"name":"upper_disputant_surname_nm_le","in":"path","type":"string","required":true},{"name":"upper_disputant_surname_nm_like","in":"path","type":"string","required":true},{"name":"upper_disputant_surname_nm_lt","in":"path","type":"string","required":true},{"name":"upper_disputant_surname_nm_ne","in":"path","type":"string","required":true},{"name":"upper_disputant_surname_nm_not_in","in":"path","type":"string","required":true},{"name":"upper_disputant_surname_nm_regexp_like","in":"path","type":"string","required":true}]}},"/occam_violation_ticket":{"get":{"description":"Retrieve a record from v2","responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{"occam_outgoing_emails":{"$ref":"#/definitions/RESULTSET"},"errors":{"$ref":"#/definitions/RESULTSET"},"occam_violation_ticket_uploads":{"$ref":"#/definitions/RESULTSET"},"occam_violation_ticket_counts":{"$ref":"#/definitions/RESULTSET"},"occam_disputes":{"$ref":"#/definitions/RESULTSET"},"occam_dispute_counts":{"$ref":"#/definitions/RESULTSET"},"occam_audit_log_entries":{"$ref":"#/definitions/RESULTSET"},"occam_dispute_update_requests":{"$ref":"#/definitions/RESULTSET"}}}}},"parameters":[{"name":"dispute_id","in":"path","type":"string","required":true},{"name":"notice_of_dispute_guid","in":"path","type":"string","required":true},{"name":"violation_ticket_upload_id","in":"path","type":"string","required":true}]}},"/occam_violation_ticket_assign":{"post":{"description":"Create a new record on v2","responses":{"201":{"description":"The successfully created record.","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/RESULTSET"}}}}},"parameters":[{"name":"dispute_id","in":"path","type":"string","required":true},{"name":"notice_of_dispute_guid","in":"path","type":"string","required":true},{"name":"user_assigned_to","in":"path","type":"string","required":true},{"name":"violation_ticket_upload_id","in":"path","type":"string","required":true}]}},"/occam_violation_ticket_count_delete":{"delete":{"description":"Remove a record from v2","responses":{"204":{"description":"Deleted result.","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/RESULTSET"}}}}},"parameters":[{"name":"violation_ticket_count_id","in":"path","type":"string","required":true}]}},"/occam_violation_ticket_delete":{"delete":{"description":"Remove a record from v2","responses":{"204":{"description":"Deleted result.","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/RESULTSET"}}}}},"parameters":[{"name":"dispute_id","in":"path","type":"string","required":true},{"name":"notice_of_dispute_guid","in":"path","type":"string","required":true},{"name":"violation_ticket_upload_id","in":"path","type":"string","required":true}]}},"/occam_violation_ticket_list":{"get":{"description":"Retrieve a record from v2","responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{"rows":{"$ref":"#/definitions/RESULTSET"},"errors":{"$ref":"#/definitions/RESULTSET"},"total":{"type":"integer"},"offset":{"type":"integer"},"fetch":{"type":"integer"}}}}},"parameters":[{"name":"dispute_id_eq","in":"path","type":"string","required":true},{"name":"dispute_id_ge","in":"path","type":"string","required":true},{"name":"dispute_id_gt","in":"path","type":"string","required":true},{"name":"dispute_id_in","in":"path","type":"string","required":true},{"name":"dispute_id_is_not_null","in":"path","type":"string","required":true},{"name":"dispute_id_is_null","in":"path","type":"string","required":true},{"name":"dispute_id_le","in":"path","type":"string","required":true},{"name":"dispute_id_lt","in":"path","type":"string","required":true},{"name":"dispute_id_ne","in":"path","type":"string","required":true},{"name":"dispute_id_not_in","in":"path","type":"string","required":true},{"name":"dispute_status_type_cd_eq","in":"path","type":"string","required":true},{"name":"dispute_status_type_cd_ge","in":"path","type":"string","required":true},{"name":"dispute_status_type_cd_gt","in":"path","type":"string","required":true},{"name":"dispute_status_type_cd_in","in":"path","type":"string","required":true},{"name":"dispute_status_type_cd_is_not_null","in":"path","type":"string","required":true},{"name":"dispute_status_type_cd_is_null","in":"path","type":"string","required":true},{"name":"dispute_status_type_cd_le","in":"path","type":"string","required":true},{"name":"dispute_status_type_cd_lt","in":"path","type":"string","required":true},{"name":"dispute_status_type_cd_ne","in":"path","type":"string","required":true},{"name":"dispute_status_type_cd_not_in","in":"path","type":"string","required":true},{"name":"fetch_rows","in":"path","type":"string","required":true},{"name":"notice_of_dispute_guid_eq","in":"path","type":"string","required":true},{"name":"notice_of_dispute_guid_ge","in":"path","type":"string","required":true},{"name":"notice_of_dispute_guid_gt","in":"path","type":"string","required":true},{"name":"notice_of_dispute_guid_in","in":"path","type":"string","required":true},{"name":"notice_of_dispute_guid_is_not_null","in":"path","type":"string","required":true},{"name":"notice_of_dispute_guid_is_null","in":"path","type":"string","required":true},{"name":"notice_of_dispute_guid_le","in":"path","type":"string","required":true},{"name":"notice_of_dispute_guid_like","in":"path","type":"string","required":true},{"name":"notice_of_dispute_guid_lt","in":"path","type":"string","required":true},{"name":"notice_of_dispute_guid_ne","in":"path","type":"string","required":true},{"name":"notice_of_dispute_guid_not_in","in":"path","type":"string","required":true},{"name":"notice_of_dispute_guid_regexp_like","in":"path","type":"string","required":true},{"name":"offset_rows","in":"path","type":"string","required":true},{"name":"order","in":"path","type":"string","required":true},{"name":"submitted_dt_eq","in":"path","type":"string","required":true},{"name":"submitted_dt_ge","in":"path","type":"string","required":true},{"name":"submitted_dt_gt","in":"path","type":"string","required":true},{"name":"submitted_dt_in","in":"path","type":"string","required":true},{"name":"submitted_dt_is_not_null","in":"path","type":"string","required":true},{"name":"submitted_dt_is_null","in":"path","type":"string","required":true},{"name":"submitted_dt_le","in":"path","type":"string","required":true},{"name":"submitted_dt_lt","in":"path","type":"string","required":true},{"name":"submitted_dt_ne","in":"path","type":"string","required":true},{"name":"submitted_dt_not_in","in":"path","type":"string","required":true},{"name":"ticket_number_txt_eq","in":"path","type":"string","required":true},{"name":"ticket_number_txt_ge","in":"path","type":"string","required":true},{"name":"ticket_number_txt_gt","in":"path","type":"string","required":true},{"name":"ticket_number_txt_in","in":"path","type":"string","required":true},{"name":"ticket_number_txt_is_not_null","in":"path","type":"string","required":true},{"name":"ticket_number_txt_is_null","in":"path","type":"string","required":true},{"name":"ticket_number_txt_le","in":"path","type":"string","required":true},{"name":"ticket_number_txt_like","in":"path","type":"string","required":true},{"name":"ticket_number_txt_lt","in":"path","type":"string","required":true},{"name":"ticket_number_txt_ne","in":"path","type":"string","required":true},{"name":"ticket_number_txt_not_in","in":"path","type":"string","required":true},{"name":"ticket_number_txt_regexp_like","in":"path","type":"string","required":true}]}},"/occam_violation_ticket_unassign":{"post":{"description":"Create a new record on v2","responses":{"201":{"description":"The successfully created record.","schema":{"type":"object","properties":{"errors":{"$ref":"#/definitions/RESULTSET"}}}}},"parameters":[{"name":"user_assigned_dtm","in":"path","type":"string","required":true}]}}},"definitions":{"RESULTSET":{"type":"string"}}}