{"swagger":"2.0","info":{"title":"ORDS generated API for v2","version":"1.0.0"},"host":"muzzle.bcgov:8080","basePath":"/ords/devj/tcoords/v2","schemes":["http"],"produces":["application/json"],"paths":{"/justin_agencies":{"get":{"description":"Retrieve a record from v2","responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{"rows":{"$ref":"#/definitions/RESULTSET"},"errors":{"$ref":"#/definitions/RESULTSET"}}}}},"parameters":[{"name":"agen_active_yn_eq","in":"path","type":"string","required":true},{"name":"agen_active_yn_ge","in":"path","type":"string","required":true},{"name":"agen_active_yn_gt","in":"path","type":"string","required":true},{"name":"agen_active_yn_in","in":"path","type":"string","required":true},{"name":"agen_active_yn_is_not_null","in":"path","type":"string","required":true},{"name":"agen_active_yn_is_null","in":"path","type":"string","required":true},{"name":"agen_active_yn_le","in":"path","type":"string","required":true},{"name":"agen_active_yn_lt","in":"path","type":"string","required":true},{"name":"agen_active_yn_ne","in":"path","type":"string","required":true},{"name":"agen_active_yn_not_in","in":"path","type":"string","required":true},{"name":"agen_id_eq","in":"path","type":"string","required":true},{"name":"agen_id_ge","in":"path","type":"string","required":true},{"name":"agen_id_gt","in":"path","type":"string","required":true},{"name":"agen_id_in","in":"path","type":"string","required":true},{"name":"agen_id_is_not_null","in":"path","type":"string","required":true},{"name":"agen_id_is_null","in":"path","type":"string","required":true},{"name":"agen_id_le","in":"path","type":"string","required":true},{"name":"agen_id_lt","in":"path","type":"string","required":true},{"name":"agen_id_ne","in":"path","type":"string","required":true},{"name":"agen_id_not_in","in":"path","type":"string","required":true},{"name":"cdat_agency_type_cd_eq","in":"path","type":"string","required":true},{"name":"cdat_agency_type_cd_ge","in":"path","type":"string","required":true},{"name":"cdat_agency_type_cd_gt","in":"path","type":"string","required":true},{"name":"cdat_agency_type_cd_in","in":"path","type":"string","required":true},{"name":"cdat_agency_type_cd_is_not_null","in":"path","type":"string","required":true},{"name":"cdat_agency_type_cd_is_null","in":"path","type":"string","required":true},{"name":"cdat_agency_type_cd_le","in":"path","type":"string","required":true},{"name":"cdat_agency_type_cd_like","in":"path","type":"string","required":true},{"name":"cdat_agency_type_cd_lt","in":"path","type":"string","required":true},{"name":"cdat_agency_type_cd_ne","in":"path","type":"string","required":true},{"name":"cdat_agency_type_cd_not_in","in":"path","type":"string","required":true},{"name":"cdat_agency_type_cd_regexp_like","in":"path","type":"string","required":true},{"name":"order","in":"path","type":"string","required":true}]}},"/justin_cities":{"get":{"description":"Retrieve a record from v2","responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{"rows":{"$ref":"#/definitions/RESULTSET"},"errors":{"$ref":"#/definitions/RESULTSET"}}}}},"parameters":[{"name":"city_seq_no_eq","in":"path","type":"string","required":true},{"name":"city_seq_no_ge","in":"path","type":"string","required":true},{"name":"city_seq_no_gt","in":"path","type":"string","required":true},{"name":"city_seq_no_in","in":"path","type":"string","required":true},{"name":"city_seq_no_is_not_null","in":"path","type":"string","required":true},{"name":"city_seq_no_is_null","in":"path","type":"string","required":true},{"name":"city_seq_no_le","in":"path","type":"string","required":true},{"name":"city_seq_no_lt","in":"path","type":"string","required":true},{"name":"city_seq_no_ne","in":"path","type":"string","required":true},{"name":"city_seq_no_not_in","in":"path","type":"string","required":true},{"name":"ctry_id_eq","in":"path","type":"string","required":true},{"name":"ctry_id_ge","in":"path","type":"string","required":true},{"name":"ctry_id_gt","in":"path","type":"string","required":true},{"name":"ctry_id_in","in":"path","type":"string","required":true},{"name":"ctry_id_is_not_null","in":"path","type":"string","required":true},{"name":"ctry_id_is_null","in":"path","type":"string","required":true},{"name":"ctry_id_le","in":"path","type":"string","required":true},{"name":"ctry_id_lt","in":"path","type":"string","required":true},{"name":"ctry_id_ne","in":"path","type":"string","required":true},{"name":"ctry_id_not_in","in":"path","type":"string","required":true},{"name":"order","in":"path","type":"string","required":true},{"name":"prov_ctry_id_eq","in":"path","type":"string","required":true},{"name":"prov_ctry_id_ge","in":"path","type":"string","required":true},{"name":"prov_ctry_id_gt","in":"path","type":"string","required":true},{"name":"prov_ctry_id_in","in":"path","type":"string","required":true},{"name":"prov_ctry_id_is_not_null","in":"path","type":"string","required":true},{"name":"prov_ctry_id_is_null","in":"path","type":"string","required":true},{"name":"prov_ctry_id_le","in":"path","type":"string","required":true},{"name":"prov_ctry_id_lt","in":"path","type":"string","required":true},{"name":"prov_ctry_id_ne","in":"path","type":"string","required":true},{"name":"prov_ctry_id_not_in","in":"path","type":"string","required":true},{"name":"prov_seq_no_eq","in":"path","type":"string","required":true},{"name":"prov_seq_no_ge","in":"path","type":"string","required":true},{"name":"prov_seq_no_gt","in":"path","type":"string","required":true},{"name":"prov_seq_no_in","in":"path","type":"string","required":true},{"name":"prov_seq_no_is_not_null","in":"path","type":"string","required":true},{"name":"prov_seq_no_is_null","in":"path","type":"string","required":true},{"name":"prov_seq_no_le","in":"path","type":"string","required":true},{"name":"prov_seq_no_lt","in":"path","type":"string","required":true},{"name":"prov_seq_no_ne","in":"path","type":"string","required":true},{"name":"prov_seq_no_not_in","in":"path","type":"string","required":true}]}},"/justin_countries":{"get":{"description":"Retrieve a record from v2","responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{"rows":{"$ref":"#/definitions/RESULTSET"},"errors":{"$ref":"#/definitions/RESULTSET"}}}}},"parameters":[{"name":"ctry_id_eq","in":"path","type":"string","required":true},{"name":"ctry_id_ge","in":"path","type":"string","required":true},{"name":"ctry_id_gt","in":"path","type":"string","required":true},{"name":"ctry_id_in","in":"path","type":"string","required":true},{"name":"ctry_id_is_not_null","in":"path","type":"string","required":true},{"name":"ctry_id_is_null","in":"path","type":"string","required":true},{"name":"ctry_id_le","in":"path","type":"string","required":true},{"name":"ctry_id_lt","in":"path","type":"string","required":true},{"name":"ctry_id_ne","in":"path","type":"string","required":true},{"name":"ctry_id_not_in","in":"path","type":"string","required":true},{"name":"order","in":"path","type":"string","required":true}]}},"/justin_languages":{"get":{"description":"Retrieve a record from v2","responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{"rows":{"$ref":"#/definitions/RESULTSET"},"errors":{"$ref":"#/definitions/RESULTSET"}}}}},"parameters":[{"name":"cdln_active_yn_eq","in":"path","type":"string","required":true},{"name":"cdln_active_yn_ge","in":"path","type":"string","required":true},{"name":"cdln_active_yn_gt","in":"path","type":"string","required":true},{"name":"cdln_active_yn_in","in":"path","type":"string","required":true},{"name":"cdln_active_yn_is_not_null","in":"path","type":"string","required":true},{"name":"cdln_active_yn_is_null","in":"path","type":"string","required":true},{"name":"cdln_active_yn_le","in":"path","type":"string","required":true},{"name":"cdln_active_yn_lt","in":"path","type":"string","required":true},{"name":"cdln_active_yn_ne","in":"path","type":"string","required":true},{"name":"cdln_active_yn_not_in","in":"path","type":"string","required":true},{"name":"cdln_language_cd_eq","in":"path","type":"string","required":true},{"name":"cdln_language_cd_ge","in":"path","type":"string","required":true},{"name":"cdln_language_cd_gt","in":"path","type":"string","required":true},{"name":"cdln_language_cd_in","in":"path","type":"string","required":true},{"name":"cdln_language_cd_is_not_null","in":"path","type":"string","required":true},{"name":"cdln_language_cd_is_null","in":"path","type":"string","required":true},{"name":"cdln_language_cd_le","in":"path","type":"string","required":true},{"name":"cdln_language_cd_like","in":"path","type":"string","required":true},{"name":"cdln_language_cd_lt","in":"path","type":"string","required":true},{"name":"cdln_language_cd_ne","in":"path","type":"string","required":true},{"name":"cdln_language_cd_not_in","in":"path","type":"string","required":true},{"name":"cdln_language_cd_regexp_like","in":"path","type":"string","required":true},{"name":"order","in":"path","type":"string","required":true}]}},"/justin_provinces":{"get":{"description":"Retrieve a record from v2","responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{"rows":{"$ref":"#/definitions/RESULTSET"},"errors":{"$ref":"#/definitions/RESULTSET"}}}}},"parameters":[{"name":"ctry_id_eq","in":"path","type":"string","required":true},{"name":"ctry_id_ge","in":"path","type":"string","required":true},{"name":"ctry_id_gt","in":"path","type":"string","required":true},{"name":"ctry_id_in","in":"path","type":"string","required":true},{"name":"ctry_id_is_not_null","in":"path","type":"string","required":true},{"name":"ctry_id_is_null","in":"path","type":"string","required":true},{"name":"ctry_id_le","in":"path","type":"string","required":true},{"name":"ctry_id_lt","in":"path","type":"string","required":true},{"name":"ctry_id_ne","in":"path","type":"string","required":true},{"name":"ctry_id_not_in","in":"path","type":"string","required":true},{"name":"order","in":"path","type":"string","required":true},{"name":"prov_abbreviation_cd_eq","in":"path","type":"string","required":true},{"name":"prov_abbreviation_cd_ge","in":"path","type":"string","required":true},{"name":"prov_abbreviation_cd_gt","in":"path","type":"string","required":true},{"name":"prov_abbreviation_cd_in","in":"path","type":"string","required":true},{"name":"prov_abbreviation_cd_is_not_null","in":"path","type":"string","required":true},{"name":"prov_abbreviation_cd_is_null","in":"path","type":"string","required":true},{"name":"prov_abbreviation_cd_le","in":"path","type":"string","required":true},{"name":"prov_abbreviation_cd_lt","in":"path","type":"string","required":true},{"name":"prov_abbreviation_cd_ne","in":"path","type":"string","required":true},{"name":"prov_abbreviation_cd_not_in","in":"path","type":"string","required":true}]}},"/justin_statutes":{"get":{"description":"Retrieve a record from v2","responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{"rows":{"$ref":"#/definitions/RESULTSET"},"errors":{"$ref":"#/definitions/RESULTSET"}}}}},"parameters":[{"name":"act_cd_eq","in":"path","type":"string","required":true},{"name":"act_cd_ge","in":"path","type":"string","required":true},{"name":"act_cd_gt","in":"path","type":"string","required":true},{"name":"act_cd_in","in":"path","type":"string","required":true},{"name":"act_cd_is_not_null","in":"path","type":"string","required":true},{"name":"act_cd_is_null","in":"path","type":"string","required":true},{"name":"act_cd_le","in":"path","type":"string","required":true},{"name":"act_cd_lt","in":"path","type":"string","required":true},{"name":"act_cd_ne","in":"path","type":"string","required":true},{"name":"act_cd_not_in","in":"path","type":"string","required":true},{"name":"order","in":"path","type":"string","required":true},{"name":"stat_effective_dt_eq","in":"path","type":"string","required":true},{"name":"stat_effective_dt_ge","in":"path","type":"string","required":true},{"name":"stat_effective_dt_gt","in":"path","type":"string","required":true},{"name":"stat_effective_dt_in","in":"path","type":"string","required":true},{"name":"stat_effective_dt_is_not_null","in":"path","type":"string","required":true},{"name":"stat_effective_dt_is_null","in":"path","type":"string","required":true},{"name":"stat_effective_dt_le","in":"path","type":"string","required":true},{"name":"stat_effective_dt_lt","in":"path","type":"string","required":true},{"name":"stat_effective_dt_ne","in":"path","type":"string","required":true},{"name":"stat_effective_dt_not_in","in":"path","type":"string","required":true},{"name":"stat_id_eq","in":"path","type":"string","required":true},{"name":"stat_id_ge","in":"path","type":"string","required":true},{"name":"stat_id_gt","in":"path","type":"string","required":true},{"name":"stat_id_in","in":"path","type":"string","required":true},{"name":"stat_id_is_not_null","in":"path","type":"string","required":true},{"name":"stat_id_is_null","in":"path","type":"string","required":true},{"name":"stat_id_le","in":"path","type":"string","required":true},{"name":"stat_id_lt","in":"path","type":"string","required":true},{"name":"stat_id_ne","in":"path","type":"string","required":true},{"name":"stat_id_not_in","in":"path","type":"string","required":true},{"name":"stat_paragraph_txt_eq","in":"path","type":"string","required":true},{"name":"stat_paragraph_txt_ge","in":"path","type":"string","required":true},{"name":"stat_paragraph_txt_gt","in":"path","type":"string","required":true},{"name":"stat_paragraph_txt_in","in":"path","type":"string","required":true},{"name":"stat_paragraph_txt_is_not_null","in":"path","type":"string","required":true},{"name":"stat_paragraph_txt_is_null","in":"path","type":"string","required":true},{"name":"stat_paragraph_txt_le","in":"path","type":"string","required":true},{"name":"stat_paragraph_txt_like","in":"path","type":"string","required":true},{"name":"stat_paragraph_txt_lt","in":"path","type":"string","required":true},{"name":"stat_paragraph_txt_ne","in":"path","type":"string","required":true},{"name":"stat_paragraph_txt_not_in","in":"path","type":"string","required":true},{"name":"stat_paragraph_txt_regexp_like","in":"path","type":"string","required":true},{"name":"stat_section_txt_eq","in":"path","type":"string","required":true},{"name":"stat_section_txt_ge","in":"path","type":"string","required":true},{"name":"stat_section_txt_gt","in":"path","type":"string","required":true},{"name":"stat_section_txt_in","in":"path","type":"string","required":true},{"name":"stat_section_txt_is_not_null","in":"path","type":"string","required":true},{"name":"stat_section_txt_is_null","in":"path","type":"string","required":true},{"name":"stat_section_txt_le","in":"path","type":"string","required":true},{"name":"stat_section_txt_like","in":"path","type":"string","required":true},{"name":"stat_section_txt_lt","in":"path","type":"string","required":true},{"name":"stat_section_txt_ne","in":"path","type":"string","required":true},{"name":"stat_section_txt_not_in","in":"path","type":"string","required":true},{"name":"stat_section_txt_regexp_like","in":"path","type":"string","required":true},{"name":"stat_sub_paragraph_txt_eq","in":"path","type":"string","required":true},{"name":"stat_sub_paragraph_txt_ge","in":"path","type":"string","required":true},{"name":"stat_sub_paragraph_txt_gt","in":"path","type":"string","required":true},{"name":"stat_sub_paragraph_txt_in","in":"path","type":"string","required":true},{"name":"stat_sub_paragraph_txt_is_not_null","in":"path","type":"string","required":true},{"name":"stat_sub_paragraph_txt_is_null","in":"path","type":"string","required":true},{"name":"stat_sub_paragraph_txt_le","in":"path","type":"string","required":true},{"name":"stat_sub_paragraph_txt_like","in":"path","type":"string","required":true},{"name":"stat_sub_paragraph_txt_lt","in":"path","type":"string","required":true},{"name":"stat_sub_paragraph_txt_ne","in":"path","type":"string","required":true},{"name":"stat_sub_paragraph_txt_not_in","in":"path","type":"string","required":true},{"name":"stat_sub_paragraph_txt_regexp_like","in":"path","type":"string","required":true},{"name":"stat_sub_section_txt_eq","in":"path","type":"string","required":true},{"name":"stat_sub_section_txt_ge","in":"path","type":"string","required":true},{"name":"stat_sub_section_txt_gt","in":"path","type":"string","required":true},{"name":"stat_sub_section_txt_in","in":"path","type":"string","required":true},{"name":"stat_sub_section_txt_is_not_null","in":"path","type":"string","required":true},{"name":"stat_sub_section_txt_is_null","in":"path","type":"string","required":true},{"name":"stat_sub_section_txt_le","in":"path","type":"string","required":true},{"name":"stat_sub_section_txt_like","in":"path","type":"string","required":true},{"name":"stat_sub_section_txt_lt","in":"path","type":"string","required":true},{"name":"stat_sub_section_txt_ne","in":"path","type":"string","required":true},{"name":"stat_sub_section_txt_not_in","in":"path","type":"string","required":true},{"name":"stat_sub_section_txt_regexp_like","in":"path","type":"string","required":true},{"name":"stat_termination_dt_eq","in":"path","type":"string","required":true},{"name":"stat_termination_dt_ge","in":"path","type":"string","required":true},{"name":"stat_termination_dt_gt","in":"path","type":"string","required":true},{"name":"stat_termination_dt_in","in":"path","type":"string","required":true},{"name":"stat_termination_dt_is_not_null","in":"path","type":"string","required":true},{"name":"stat_termination_dt_is_null","in":"path","type":"string","required":true},{"name":"stat_termination_dt_le","in":"path","type":"string","required":true},{"name":"stat_termination_dt_lt","in":"path","type":"string","required":true},{"name":"stat_termination_dt_ne","in":"path","type":"string","required":true},{"name":"stat_termination_dt_not_in","in":"path","type":"string","required":true}]}},"/tco_audit_log_entry_types":{"get":{"description":"Retrieve a record from v2","responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{"rows":{"$ref":"#/definitions/RESULTSET"},"errors":{"$ref":"#/definitions/RESULTSET"}}}}},"parameters":[{"name":"active_use_yn_eq","in":"path","type":"string","required":true},{"name":"active_use_yn_ge","in":"path","type":"string","required":true},{"name":"active_use_yn_gt","in":"path","type":"string","required":true},{"name":"active_use_yn_in","in":"path","type":"string","required":true},{"name":"active_use_yn_is_not_null","in":"path","type":"string","required":true},{"name":"active_use_yn_is_null","in":"path","type":"string","required":true},{"name":"active_use_yn_le","in":"path","type":"string","required":true},{"name":"active_use_yn_lt","in":"path","type":"string","required":true},{"name":"active_use_yn_ne","in":"path","type":"string","required":true},{"name":"active_use_yn_not_in","in":"path","type":"string","required":true},{"name":"audit_log_entry_type_cd_eq","in":"path","type":"string","required":true},{"name":"audit_log_entry_type_cd_ge","in":"path","type":"string","required":true},{"name":"audit_log_entry_type_cd_gt","in":"path","type":"string","required":true},{"name":"audit_log_entry_type_cd_in","in":"path","type":"string","required":true},{"name":"audit_log_entry_type_cd_is_not_null","in":"path","type":"string","required":true},{"name":"audit_log_entry_type_cd_is_null","in":"path","type":"string","required":true},{"name":"audit_log_entry_type_cd_le","in":"path","type":"string","required":true},{"name":"audit_log_entry_type_cd_lt","in":"path","type":"string","required":true},{"name":"audit_log_entry_type_cd_ne","in":"path","type":"string","required":true},{"name":"audit_log_entry_type_cd_not_in","in":"path","type":"string","required":true},{"name":"comment_entry_allowed_yn_eq","in":"path","type":"string","required":true},{"name":"order","in":"path","type":"string","required":true}]}},"/tco_dispute":{"get":{"description":"Retrieve a record from v2","responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{"tco_dispute":{"$ref":"#/definitions/RESULTSET"},"tco_dispute_counts":{"$ref":"#/definitions/RESULTSET"},"tco_court_appearances":{"$ref":"#/definitions/RESULTSET"},"tco_dispute_remarks":{"$ref":"#/definitions/RESULTSET"},"errors":{"$ref":"#/definitions/RESULTSET"}}}}},"parameters":[{"name":"include_columns","in":"path","type":"string","required":true},{"name":"ticket_number_txt","in":"path","type":"string","required":true}]}},"/tco_dispute_status_types":{"get":{"description":"Retrieve a record from v2","responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{"rows":{"$ref":"#/definitions/RESULTSET"},"errors":{"$ref":"#/definitions/RESULTSET"}}}}},"parameters":[{"name":"active_yn_eq","in":"path","type":"string","required":true},{"name":"active_yn_ge","in":"path","type":"string","required":true},{"name":"active_yn_gt","in":"path","type":"string","required":true},{"name":"active_yn_in","in":"path","type":"string","required":true},{"name":"active_yn_is_not_null","in":"path","type":"string","required":true},{"name":"active_yn_is_null","in":"path","type":"string","required":true},{"name":"active_yn_le","in":"path","type":"string","required":true},{"name":"active_yn_lt","in":"path","type":"string","required":true},{"name":"active_yn_ne","in":"path","type":"string","required":true},{"name":"active_yn_not_in","in":"path","type":"string","required":true},{"name":"dispute_status_type_cd_eq","in":"path","type":"string","required":true},{"name":"dispute_status_type_cd_ge","in":"path","type":"string","required":true},{"name":"dispute_status_type_cd_gt","in":"path","type":"string","required":true},{"name":"dispute_status_type_cd_in","in":"path","type":"string","required":true},{"name":"dispute_status_type_cd_is_not_null","in":"path","type":"string","required":true},{"name":"dispute_status_type_cd_is_null","in":"path","type":"string","required":true},{"name":"dispute_status_type_cd_le","in":"path","type":"string","required":true},{"name":"dispute_status_type_cd_lt","in":"path","type":"string","required":true},{"name":"dispute_status_type_cd_ne","in":"path","type":"string","required":true},{"name":"dispute_status_type_cd_not_in","in":"path","type":"string","required":true},{"name":"order","in":"path","type":"string","required":true}]}},"/tco_disputes":{"get":{"description":"Retrieve a record from v2","responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{"rows":{"$ref":"#/definitions/RESULTSET"},"errors":{"$ref":"#/definitions/RESULTSET"},"total":{"type":"integer"},"offset":{"type":"integer"},"fetch":{"type":"integer"}}}}},"parameters":[{"name":"appr_ctrm_agen_id_eq","in":"path","type":"string","required":true},{"name":"appr_ctrm_agen_id_ge","in":"path","type":"string","required":true},{"name":"appr_ctrm_agen_id_gt","in":"path","type":"string","required":true},{"name":"appr_ctrm_agen_id_in","in":"path","type":"string","required":true},{"name":"appr_ctrm_agen_id_is_not_null","in":"path","type":"string","required":true},{"name":"appr_ctrm_agen_id_is_null","in":"path","type":"string","required":true},{"name":"appr_ctrm_agen_id_le","in":"path","type":"string","required":true},{"name":"appr_ctrm_agen_id_lt","in":"path","type":"string","required":true},{"name":"appr_ctrm_agen_id_ne","in":"path","type":"string","required":true},{"name":"appr_ctrm_agen_id_not_in","in":"path","type":"string","required":true},{"name":"appr_ctrm_room_cd_eq","in":"path","type":"string","required":true},{"name":"appr_ctrm_room_cd_ge","in":"path","type":"string","required":true},{"name":"appr_ctrm_room_cd_gt","in":"path","type":"string","required":true},{"name":"appr_ctrm_room_cd_in","in":"path","type":"string","required":true},{"name":"appr_ctrm_room_cd_is_not_null","in":"path","type":"string","required":true},{"name":"appr_ctrm_room_cd_is_null","in":"path","type":"string","required":true},{"name":"appr_ctrm_room_cd_le","in":"path","type":"string","required":true},{"name":"appr_ctrm_room_cd_lt","in":"path","type":"string","required":true},{"name":"appr_ctrm_room_cd_ne","in":"path","type":"string","required":true},{"name":"appr_ctrm_room_cd_not_in","in":"path","type":"string","required":true},{"name":"appr_tm_eq","in":"path","type":"string","required":true},{"name":"appr_tm_ge","in":"path","type":"string","required":true},{"name":"appr_tm_gt","in":"path","type":"string","required":true},{"name":"appr_tm_in","in":"path","type":"string","required":true},{"name":"appr_tm_is_not_null","in":"path","type":"string","required":true},{"name":"appr_tm_is_null","in":"path","type":"string","required":true},{"name":"appr_tm_le","in":"path","type":"string","required":true},{"name":"appr_tm_lt","in":"path","type":"string","required":true},{"name":"appr_tm_ne","in":"path","type":"string","required":true},{"name":"appr_tm_not_in","in":"path","type":"string","required":true},{"name":"dispute_id_eq","in":"path","type":"string","required":true},{"name":"dispute_id_ge","in":"path","type":"string","required":true},{"name":"dispute_id_gt","in":"path","type":"string","required":true},{"name":"dispute_id_in","in":"path","type":"string","required":true},{"name":"dispute_id_is_not_null","in":"path","type":"string","required":true},{"name":"dispute_id_is_null","in":"path","type":"string","required":true},{"name":"dispute_id_le","in":"path","type":"string","required":true},{"name":"dispute_id_lt","in":"path","type":"string","required":true},{"name":"dispute_id_ne","in":"path","type":"string","required":true},{"name":"dispute_id_not_in","in":"path","type":"string","required":true},{"name":"dispute_status_type_cd_eq","in":"path","type":"string","required":true},{"name":"dispute_status_type_cd_ge","in":"path","type":"string","required":true},{"name":"dispute_status_type_cd_gt","in":"path","type":"string","required":true},{"name":"dispute_status_type_cd_in","in":"path","type":"string","required":true},{"name":"dispute_status_type_cd_is_not_null","in":"path","type":"string","required":true},{"name":"dispute_status_type_cd_is_null","in":"path","type":"string","required":true},{"name":"dispute_status_type_cd_le","in":"path","type":"string","required":true},{"name":"dispute_status_type_cd_lt","in":"path","type":"string","required":true},{"name":"dispute_status_type_cd_ne","in":"path","type":"string","required":true},{"name":"dispute_status_type_cd_not_in","in":"path","type":"string","required":true},{"name":"fetch_rows","in":"path","type":"string","required":true},{"name":"hearing_type_cd_eq","in":"path","type":"string","required":true},{"name":"hearing_type_cd_ge","in":"path","type":"string","required":true},{"name":"hearing_type_cd_gt","in":"path","type":"string","required":true},{"name":"hearing_type_cd_in","in":"path","type":"string","required":true},{"name":"hearing_type_cd_is_not_null","in":"path","type":"string","required":true},{"name":"hearing_type_cd_is_null","in":"path","type":"string","required":true},{"name":"hearing_type_cd_le","in":"path","type":"string","required":true},{"name":"hearing_type_cd_lt","in":"path","type":"string","required":true},{"name":"hearing_type_cd_ne","in":"path","type":"string","required":true},{"name":"hearing_type_cd_not_in","in":"path","type":"string","required":true},{"name":"include","in":"path","type":"string","required":true},{"name":"jj_assigned_to_eq","in":"path","type":"string","required":true},{"name":"jj_assigned_to_ge","in":"path","type":"string","required":true},{"name":"jj_assigned_to_gt","in":"path","type":"string","required":true},{"name":"jj_assigned_to_in","in":"path","type":"string","required":true},{"name":"jj_assigned_to_is_not_null","in":"path","type":"string","required":true},{"name":"jj_assigned_to_is_null","in":"path","type":"string","required":true},{"name":"jj_assigned_to_le","in":"path","type":"string","required":true},{"name":"jj_assigned_to_like","in":"path","type":"string","required":true},{"name":"jj_assigned_to_lt","in":"path","type":"string","required":true},{"name":"jj_assigned_to_ne","in":"path","type":"string","required":true},{"name":"jj_assigned_to_not_in","in":"path","type":"string","required":true},{"name":"jj_assigned_to_regexp_like","in":"path","type":"string","required":true},{"name":"jj_decision_dt_eq","in":"path","type":"string","required":true},{"name":"jj_decision_dt_ge","in":"path","type":"string","required":true},{"name":"jj_decision_dt_gt","in":"path","type":"string","required":true},{"name":"jj_decision_dt_in","in":"path","type":"string","required":true},{"name":"jj_decision_dt_is_not_null","in":"path","type":"string","required":true},{"name":"jj_decision_dt_is_null","in":"path","type":"string","required":true},{"name":"jj_decision_dt_le","in":"path","type":"string","required":true},{"name":"jj_decision_dt_lt","in":"path","type":"string","required":true},{"name":"jj_decision_dt_ne","in":"path","type":"string","required":true},{"name":"jj_decision_dt_not_in","in":"path","type":"string","required":true},{"name":"occam_violation_ticket_upld_id_eq","in":"path","type":"string","required":true},{"name":"occam_violation_ticket_upld_id_ge","in":"path","type":"string","required":true},{"name":"occam_violation_ticket_upld_id_gt","in":"path","type":"string","required":true},{"name":"occam_violation_ticket_upld_id_in","in":"path","type":"string","required":true},{"name":"occam_violation_ticket_upld_id_is_not_null","in":"path","type":"string","required":true},{"name":"occam_violation_ticket_upld_id_is_null","in":"path","type":"string","required":true},{"name":"occam_violation_ticket_upld_id_le","in":"path","type":"string","required":true},{"name":"occam_violation_ticket_upld_id_lt","in":"path","type":"string","required":true},{"name":"occam_violation_ticket_upld_id_ne","in":"path","type":"string","required":true},{"name":"occam_violation_ticket_upld_id_not_in","in":"path","type":"string","required":true},{"name":"offset_rows","in":"path","type":"string","required":true},{"name":"order","in":"path","type":"string","required":true},{"name":"prof_given_1_nm_eq","in":"path","type":"string","required":true},{"name":"prof_given_1_nm_ge","in":"path","type":"string","required":true},{"name":"prof_given_1_nm_gt","in":"path","type":"string","required":true},{"name":"prof_given_1_nm_in","in":"path","type":"string","required":true},{"name":"prof_given_1_nm_is_not_null","in":"path","type":"string","required":true},{"name":"prof_given_1_nm_is_null","in":"path","type":"string","required":true},{"name":"prof_given_1_nm_le","in":"path","type":"string","required":true},{"name":"prof_given_1_nm_like","in":"path","type":"string","required":true},{"name":"prof_given_1_nm_lt","in":"path","type":"string","required":true},{"name":"prof_given_1_nm_ne","in":"path","type":"string","required":true},{"name":"prof_given_1_nm_not_in","in":"path","type":"string","required":true},{"name":"prof_given_1_nm_regexp_like","in":"path","type":"string","required":true},{"name":"prof_org_nm_eq","in":"path","type":"string","required":true},{"name":"prof_org_nm_ge","in":"path","type":"string","required":true},{"name":"prof_org_nm_gt","in":"path","type":"string","required":true},{"name":"prof_org_nm_in","in":"path","type":"string","required":true},{"name":"prof_org_nm_is_not_null","in":"path","type":"string","required":true},{"name":"prof_org_nm_is_null","in":"path","type":"string","required":true},{"name":"prof_org_nm_le","in":"path","type":"string","required":true},{"name":"prof_org_nm_like","in":"path","type":"string","required":true},{"name":"prof_org_nm_lt","in":"path","type":"string","required":true},{"name":"prof_org_nm_ne","in":"path","type":"string","required":true},{"name":"prof_org_nm_not_in","in":"path","type":"string","required":true},{"name":"prof_org_nm_regexp_like","in":"path","type":"string","required":true},{"name":"prof_surname_nm_eq","in":"path","type":"string","required":true},{"name":"prof_surname_nm_ge","in":"path","type":"string","required":true},{"name":"prof_surname_nm_gt","in":"path","type":"string","required":true},{"name":"prof_surname_nm_in","in":"path","type":"string","required":true},{"name":"prof_surname_nm_is_not_null","in":"path","type":"string","required":true},{"name":"prof_surname_nm_is_null","in":"path","type":"string","required":true},{"name":"prof_surname_nm_le","in":"path","type":"string","required":true},{"name":"prof_surname_nm_like","in":"path","type":"string","required":true},{"name":"prof_surname_nm_lt","in":"path","type":"string","required":true},{"name":"prof_surname_nm_ne","in":"path","type":"string","required":true},{"name":"prof_surname_nm_not_in","in":"path","type":"string","required":true},{"name":"prof_surname_nm_or_org_nm_eq","in":"path","type":"string","required":true},{"name":"prof_surname_nm_or_org_nm_ge","in":"path","type":"string","required":true},{"name":"prof_surname_nm_or_org_nm_gt","in":"path","type":"string","required":true},{"name":"prof_surname_nm_or_org_nm_in","in":"path","type":"string","required":true},{"name":"prof_surname_nm_or_org_nm_is_not_null","in":"path","type":"string","required":true},{"name":"prof_surname_nm_or_org_nm_is_null","in":"path","type":"string","required":true},{"name":"prof_surname_nm_or_org_nm_le","in":"path","type":"string","required":true},{"name":"prof_surname_nm_or_org_nm_like","in":"path","type":"string","required":true},{"name":"prof_surname_nm_or_org_nm_lt","in":"path","type":"string","required":true},{"name":"prof_surname_nm_or_org_nm_ne","in":"path","type":"string","required":true},{"name":"prof_surname_nm_or_org_nm_not_in","in":"path","type":"string","required":true},{"name":"prof_surname_nm_or_org_nm_regexp_like","in":"path","type":"string","required":true},{"name":"prof_surname_nm_regexp_like","in":"path","type":"string","required":true},{"name":"submitted_dt_eq","in":"path","type":"string","required":true},{"name":"submitted_dt_ge","in":"path","type":"string","required":true},{"name":"submitted_dt_gt","in":"path","type":"string","required":true},{"name":"submitted_dt_in","in":"path","type":"string","required":true},{"name":"submitted_dt_is_not_null","in":"path","type":"string","required":true},{"name":"submitted_dt_is_null","in":"path","type":"string","required":true},{"name":"submitted_dt_le","in":"path","type":"string","required":true},{"name":"submitted_dt_lt","in":"path","type":"string","required":true},{"name":"submitted_dt_ne","in":"path","type":"string","required":true},{"name":"submitted_dt_not_in","in":"path","type":"string","required":true},{"name":"ticket_number_txt_eq","in":"path","type":"string","required":true},{"name":"ticket_number_txt_ge","in":"path","type":"string","required":true},{"name":"ticket_number_txt_gt","in":"path","type":"string","required":true},{"name":"ticket_number_txt_in","in":"path","type":"string","required":true},{"name":"ticket_number_txt_is_not_null","in":"path","type":"string","required":true},{"name":"ticket_number_txt_is_null","in":"path","type":"string","required":true},{"name":"ticket_number_txt_le","in":"path","type":"string","required":true},{"name":"ticket_number_txt_like","in":"path","type":"string","required":true},{"name":"ticket_number_txt_lt","in":"path","type":"string","required":true},{"name":"ticket_number_txt_ne","in":"path","type":"string","required":true},{"name":"ticket_number_txt_not_in","in":"path","type":"string","required":true},{"name":"ticket_number_txt_regexp_like","in":"path","type":"string","required":true},{"name":"to_be_heard_at_agen_id_eq","in":"path","type":"string","required":true},{"name":"to_be_heard_at_agen_id_ge","in":"path","type":"string","required":true},{"name":"to_be_heard_at_agen_id_gt","in":"path","type":"string","required":true},{"name":"to_be_heard_at_agen_id_in","in":"path","type":"string","required":true},{"name":"to_be_heard_at_agen_id_is_not_null","in":"path","type":"string","required":true},{"name":"to_be_heard_at_agen_id_is_null","in":"path","type":"string","required":true},{"name":"to_be_heard_at_agen_id_le","in":"path","type":"string","required":true},{"name":"to_be_heard_at_agen_id_lt","in":"path","type":"string","required":true},{"name":"to_be_heard_at_agen_id_ne","in":"path","type":"string","required":true},{"name":"to_be_heard_at_agen_id_not_in","in":"path","type":"string","required":true},{"name":"vtc_assigned_to_eq","in":"path","type":"string","required":true},{"name":"vtc_assigned_to_ge","in":"path","type":"string","required":true},{"name":"vtc_assigned_to_gt","in":"path","type":"string","required":true},{"name":"vtc_assigned_to_in","in":"path","type":"string","required":true},{"name":"vtc_assigned_to_is_not_null","in":"path","type":"string","required":true},{"name":"vtc_assigned_to_is_null","in":"path","type":"string","required":true},{"name":"vtc_assigned_to_le","in":"path","type":"string","required":true},{"name":"vtc_assigned_to_like","in":"path","type":"string","required":true},{"name":"vtc_assigned_to_lt","in":"path","type":"string","required":true},{"name":"vtc_assigned_to_ne","in":"path","type":"string","required":true},{"name":"vtc_assigned_to_not_in","in":"path","type":"string","required":true},{"name":"vtc_assigned_to_regexp_like","in":"path","type":"string","required":true}]}}},"definitions":{"RESULTSET":{"type":"string"}}}