{"swagger":"2.0","info":{"title":"ORDS generated API for tco/v1","version":"1.0.0"},"host":"muzzle.bcgov:8080","basePath":"/ords/devj/tcoords/tco/v1","schemes":["http"],"produces":["application/json"],"paths":{"/appearanceChargeCountList":{"get":{"description":"Retrieve a record from tco/v1","responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{}}}},"parameters":[{"name":"disputeId","in":"query","type":"string","description":"Implicit parameter"}]}},"/appearanceDataInsert":{"post":{"description":"Create a new record on tco/v1","responses":{"201":{"description":"The successfully created record.","schema":{"type":"object","properties":{}}}},"parameters":[{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/tco/v1_ITEM"}}]}},"/appearanceResultDataInsert":{"post":{"description":"Create a new record on tco/v1","responses":{"201":{"description":"The successfully created record.","schema":{"type":"object","properties":{}}}},"parameters":[{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/tco/v1_ITEM"}}]}},"/assignDisputeJj":{"post":{"description":"Create a new record on tco/v1","responses":{"201":{"description":"The successfully created record.","schema":{"type":"object","properties":{}}}},"parameters":[{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/tco/v1_ITEM"}}]}},"/assignDisputeVtc":{"post":{"description":"Create a new record on tco/v1","responses":{"201":{"description":"The successfully created record.","schema":{"type":"object","properties":{}}}},"parameters":[{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/tco/v1_ITEM"}}]}},"/auditLogEntryList":{"get":{"description":"Retrieve a record from tco/v1","responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{}}}},"parameters":[{"name":"ticketNumber","in":"query","type":"string","description":"Implicit parameter"}]}},"/courtAppearanceList":{"get":{"description":"Retrieve a record from tco/v1","responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{}}}},"parameters":[{"name":"disputeId","in":"query","type":"string","description":"Implicit parameter"}]}},"/disputeStatus":{"post":{"description":"Create a new record on tco/v1","responses":{"201":{"description":"The successfully created record.","schema":{"type":"object","properties":{}}}},"parameters":[{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/tco/v1_ITEM"}}]}},"/jjDispute":{"get":{"description":"Retrieve a record from tco/v1","responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{}}}},"parameters":[{"name":"ticketNumber","in":"query","type":"string","description":"Implicit parameter"}]}},"/jjDisputeList":{"get":{"description":"Retrieve a record from tco/v1","responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{}}}},"parameters":[{"name":"jjAssignedTo","in":"query","type":"string","description":"Implicit parameter"},{"name":"justinRccId","in":"query","type":"string","description":"Implicit parameter"},{"name":"ticketNumber","in":"query","type":"string","description":"Implicit parameter"},{"name":"violationTicketId","in":"query","type":"string","description":"Implicit parameter"},{"name":"vtcAssignedTo","in":"query","type":"string","description":"Implicit parameter"}]}},"/ping":{"get":{"description":"Retrieve a record from tco/v1","responses":{"200":{"description":"The queried record.","schema":{"type":"object","properties":{}}}}}},"/processAuditLogEntry":{"post":{"description":"Create a new record on tco/v1","responses":{"201":{"description":"The successfully created record.","schema":{"type":"object","properties":{}}}},"parameters":[{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/tco/v1_ITEM"}}]}},"/processDisputeRemark":{"post":{"description":"Create a new record on tco/v1","responses":{"201":{"description":"The successfully created record.","schema":{"type":"object","properties":{}}}},"parameters":[{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/tco/v1_ITEM"}}]}},"/ticketDataInsert":{"post":{"description":"Create a new record on tco/v1","responses":{"201":{"description":"The successfully created record.","schema":{"type":"object","properties":{}}}},"parameters":[{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/tco/v1_ITEM"}}]}},"/ticketImageDataGet":{"post":{"description":"Create a new record on tco/v1","responses":{"201":{"description":"The successfully created record.","schema":{"type":"object","properties":{}}}},"parameters":[{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/tco/v1_ITEM"}}]}},"/unassignDisputeJj":{"post":{"description":"Create a new record on tco/v1","responses":{"201":{"description":"The successfully created record.","schema":{"type":"object","properties":{}}}},"parameters":[{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/tco/v1_ITEM"}}]}},"/unassignDisputeVtc":{"post":{"description":"Create a new record on tco/v1","responses":{"201":{"description":"The successfully created record.","schema":{"type":"object","properties":{}}}},"parameters":[{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/tco/v1_ITEM"}}]}},"/updateDispute":{"put":{"description":"Create or update a record on tco/v1","responses":{"201":{"description":"The successfully created record.","schema":{"type":"object","properties":{}}},"200":{"description":"The successfully updated record.","schema":{"type":"object","properties":{}}}},"parameters":[{"name":"payload","in":"body","required":true,"schema":{"$ref":"#/definitions/tco/v1_ITEM"}}]}}},"definitions":{"STRING":{"type":"string"},"tco/v1_ITEM":{"properties":{"body_text":{"type":"string"}}},"tco/v1_ITEM":{"properties":{"body_text":{"type":"string"},"disputeId":{"type":"string"},"ticketNumber":{"type":"string"},"userId":{"type":"string"}}},"tco/v1_ITEM":{"properties":{"body_text":{"type":"string"},"disputeId":{"type":"string"},"courtAppearanceId":{"type":"string"},"statusCd":{"type":"string"},"seizedYn":{"type":"string"},"adjudicatorPartId":{"type":"string"},"aattCd":{"type":"string"},"dattCd":{"type":"string"},"staffPartId":{"type":"string"},"userId":{"type":"string"}}},"tco/v1_ITEM":{"properties":{"body_text":{"type":"string"},"status_code":{"type":"string"},"status_msg":{"type":"string"}}},"tco/v1_ITEM":{"properties":{"body_text":{"type":"string"},"assignedBeforeTs":{"type":"string"}}}}}