@import "palette";

label {
  line-height: 1.3em;
  font-size: 1.2em;
  font-weight: 700;
  margin: 0 0 .5em;

  &.inactive {
    color: theme-palette(grey);
  }
}

.wrap-mat-radio-label {
  white-space: normal;
}

.text-right,
.text-left {
  font-weight: bold;
}

.my-chip .mat-chip-selected {
  background-color: rgb(112, 11, 11) !important;
  color: #fff;
}

mat-icon {
  cursor: pointer;
  color: theme-palette(blue, link);
  vertical-align: middle;
  font-size: 18px;
}

small {
  color: theme-palette(grey, dark);
  line-height: 1.3em;
  padding-top: 10px;
}

.mat-radio-button {
  vertical-align: top;
}
