<app-stepper-page>
  <app-page-header>
    <ng-container subHeader>
      <div class="row mt-2">
        <div class="col-md-8">
          <small class="d-block"> Description of offence </small>
          <strong>{{ offenceDescription.value | titlecase }}</strong>
        </div>
        <div class="col-md-4">
          <small class="d-block">Amount due</small>
          <strong>{{
            ticketedAmount.value
            | currency: "CAD":"symbol-narrow":"1.2-2":defaultLanguage
            }}</strong>
        </div>
      </div>
    </ng-container>
  </app-page-header>

  <form (ngSubmit)="onSubmit()"
        [formGroup]="form"
        novalidate>
    <section>
      <div class="row">
        <div class="col">
          <label class="w-100"
                 [ngClass]="{ 'inactive': offenceAgreementStatus.disabled }">What action would you like to take?
          </label>
          <mat-radio-group formControlName="offenceAgreementStatus">
            <mat-radio-button value="NOTHING">
              <span class="wrap-mat-radio-label">
                I do not wish to take any action on this count at this time.
              </span>
              <span matTooltip="Ignore this count for now. Dispute or pay it later."
                    #tooltip1="matTooltip">
                <mat-icon>info</mat-icon>
              </span>
            </mat-radio-button>
            <mat-radio-button value="PAY">
              <span class="wrap-mat-radio-label">
                I agree I committed this offence and I would like to pay for
                this count.
              </span>
              <span matTooltip="Pay for this count at the end of the dispute process."
                    #tooltip2="matTooltip">
                <mat-icon>info</mat-icon>
              </span>
            </mat-radio-button>
            <mat-radio-button value="REDUCTION">
              <span class="wrap-mat-radio-label">
                I agree I committed this offence and I would like to request a
                fine reduction and/or more time to pay for this count.
              </span>
              <span matTooltip="Ask for a fine reduction or more time to pay for the count."
                    #tooltip3="matTooltip">
                <mat-icon>info</mat-icon>
              </span>
            </mat-radio-button>
            <mat-radio-button value="DISPUTE">
              <span class="wrap-mat-radio-label">
                I do not agree that I committed this offence and I would like to
                dispute this count.
              </span>
              <span matTooltip="Go to court and dispute this count."
                    #tooltip4="matTooltip">
                <mat-icon>info</mat-icon>
              </span>
            </mat-radio-button>
            <mat-error *ngIf="
                (offenceAgreementStatus.dirty ||
                  offenceAgreementStatus.touched) &&
                offenceAgreementStatus.invalid &&
                offenceAgreementStatus.errors.required
              ">
              {{ "error.required" | translate }}
            </mat-error>
          </mat-radio-group>
        </div>
      </div>
      <div class="row"
           *ngIf="offenceAgreementStatus.value == 'REDUCTION'">

        <mat-radio-group formControlName="reductionAppearInCourt"
                         class="w-100 mt-4">
          <mat-radio-button [value]="false"
                            class="w-50">
            <span class="wrap-mat-radio-label">
              I do not wish to appear in court.
            </span>
          </mat-radio-button>
          <mat-radio-button [value]="true"
                            class="w-50">
            <span class="wrap-mat-radio-label">
              I would like to appear in court to discuss in person.
            </span>
          </mat-radio-button>
          <mat-error *ngIf="
              (reductionAppearInCourt.dirty ||
              reductionAppearInCourt.touched) &&
                reductionAppearInCourt.invalid &&
              reductionAppearInCourt.errors.requiredIfValue
            ">
            {{ "error.required" | translate }}
          </mat-error>
        </mat-radio-group>

        <div *ngIf="allowApplyToAllCounts.value">
          <mat-checkbox formControlName="_applyToAllCounts"
                        color="primary"
                        *ngIf="firstOffence.value"
                        class="w-100 mt-2">Apply these selections to all counts on this violation ticket.</mat-checkbox>
        </div>
      </div>
      <div class="row"
           *ngIf="allowApplyToAllCounts.value && offenceAgreementStatus.value == 'DISPUTE' && firstOffence.value">
        <mat-checkbox formControlName="_applyToAllCounts"
                      color="primary"
                      class="w-100 mt-4">Apply this selection to all counts on this violation ticket.</mat-checkbox>
      </div>
    </section>
  </form>

  <div class="col mt-4"
       *ngIf="
      offenceAgreementStatus.value === 'REDUCTION' &&
      reductionAppearInCourt.value === false
    ">
    <app-alert type="warning"
               icon="warning">
      <ng-container #alertContent
                    class="alert-content">
        <strong>If you choose to not appear in court, you must submit written reasons
          for each request to ask for more time or a fine reduction for each
          count.</strong>
      </ng-container>
    </app-alert>
  </div>

  <div class="col mt-4"
       *ngIf="
      (offenceAgreementStatus.value === 'REDUCTION' &&
        reductionAppearInCourt.value) ||
      offenceAgreementStatus.value === 'DISPUTE'
    ">
    <app-alert type="warning"
               icon="warning">
      <ng-container #alertContent
                    class="alert-content">
        If the disputant or the disputant’s agent does not attend the court
        hearing, the court will treat the violation ticket as not disputed, the
        conviction(s) to the allegation(s) will be recorded against the record
        of the disputant, and the prescribed ticketed amount(s) will become
        immediately due and payable.
      </ng-container>
    </app-alert>
  </div>

  <app-page-footer (save)="onSubmit()"
                   (back)="onBack()"
                   [secondaryActionButtonIcon]="previousButtonIcon"
                   [secondaryActionButtonKey]="previousButtonKey"
                   [saveButtonKey]="saveButtonKey"
                   [hasSecondaryAction]="true">
  </app-page-footer>
</app-stepper-page>
