<app-stepper-page>
  <app-page-header>
    <ng-container subHeader>
      <div class="row mt-2">
        <div class="col-md-8">
          <small class="d-block"> Description of offence </small>
          <strong>{{ offenceDescription.value | titlecase }}</strong>
        </div>
        <div class="col-md-4">
          <small class="d-block">Offence amount</small>
          <strong>{{
            ticketedAmount.value
            | currency: "CAD":"symbol-narrow":"1.2-2":defaultLanguage
            }}</strong>
        </div>
      </div>
    </ng-container>
  </app-page-header>

  <form (ngSubmit)="onSubmit()"
        [formGroup]="form"
        novalidate>
    <section>
      <div class="row">
        <div class="col">
          <app-alert type="info"
                     icon="info">
            <ng-container class="alert-content" #alertContent>
            <strong>Did you know? </strong><br>
                You can make a dispute request by attending a court hearing in person, or you may supply written reasons
                requesting a fine reduction and/or time to pay without having to attend a court hearing.
            </ng-container>
          </app-alert>
          <mat-radio-group formControlName="offenceAgreementStatus">
            <div>
              <span style="font-weight: 600;">I <span style="text-decoration: underline;">do not</span> want to attend a court hearing</span>    <span matTooltip="Ask for a fine reduction or more time to pay for the count."
              #tooltip3="matTooltip">
          <mat-icon>info</mat-icon>
        </span>
             </div> 
            <mat-radio-button value="REDUCTION">
              <span class="wrap-mat-radio-label">
                I agree I committed this offence and would like to request a fine reduction and/or time to pay and supply written
                reasons to a judicial justice to review.
              </span>
           
            </mat-radio-button>
           
           <div>
            <span style="font-weight: 600;">I <span style="text-decoration: underline;">want</span> to attend a court hearing</span>    <span matTooltip="Ask for a fine reduction or more time to pay for the count."
            #tooltip3="matTooltip">
        <mat-icon>info</mat-icon>
      </span>
           </div> 
            <mat-radio-button value="DISPUTE">
              <span class="wrap-mat-radio-label">
                I want to attend a court hearing in person and discuss my ticket with the police officer and judicial justice.
              </span>
            </mat-radio-button>
            <mat-error *ngIf="
                (
                  offenceAgreementStatus.touched) &&
                offenceAgreementStatus.invalid &&
                offenceAgreementStatus.errors.required
              ">
              {{ "error.required" | translate }}
            </mat-error>
          </mat-radio-group>
        </div>
      </div>
       <div class="row mt-4" *ngIf="!isShowCheckbox">
         <div *ngIf="offenceAgreementStatus.value == 'REDUCTION'">
          <label class="w-100" *ngIf="offenceAgreementStatus?.value !== 'PAY'" >
            Please provide additional selections below:
          </label>
          <mat-checkbox formControlName="reductionAppearInCourt" color="primary" class="w-100"> I would like to request a fine reduction on this count.</mat-checkbox>
          <p> and/or</p>
          <mat-checkbox formControlName="reductionAppearInCourtDoNot" color="primary" class="w-100"> I would like to request more time to pay on this count.</mat-checkbox>
        
        </div>

        <div *ngIf="offenceAgreementStatus.value == 'DISPUTE'">
          <label class="w-100" *ngIf="offenceAgreementStatus?.value !== 'PAY'" >
            Please provide additional selections below:
          </label>
        <mat-radio-group formControlName="disputeAppearInCourt">
          <mat-radio-button value="yes" color="primary" class="w-100"> I agree I committed this offence and would like to request a fine reduction and/or time to pay on this count.</mat-radio-button>
          <p> and/or</p>
          <mat-radio-button value="no" color="primary" class="w-100"> I do not agree I committed this offence and would like to dispute this count</mat-radio-button>
        </mat-radio-group>
        </div>
<!--         
        <mat-checkbox formControlName="reductionAppearInCourtDo" *ngIf="offenceAgreementStatus?.value !== 'PAY'" color="primary" class="w-100"> I would like to appear in court in person and speak to a judicial judge about this count.<mat-icon>info</mat-icon></mat-checkbox>
        
        <div style="font-size: 20px; color: red;">
          {{isSelectedChekcError}}
        </div> -->
      </div>
     <hr/>
      <div class="row">
        <mat-checkbox  *ngIf="offenceNumber.value === 1 && offenceCount>1" formControlName="_allowApplyToAllCounts"
                      color="primary"
                      class="w-100 mt-4">Apply this selection to all counts on this violation ticket.</mat-checkbox>
       <mat-checkbox  *ngIf="offenceNumber.value === 2 && offenceCount>2" formControlName="_applyToAllCounts"
                      color="primary"
                      class="w-100 mt-4">Apply this selection to remaining counts on ticket.</mat-checkbox>

        <mat-checkbox formControlName="_skip"
                      color="primary"
                      class="w-100 mt-4">Skip this count, no action required.</mat-checkbox>
      </div>
    </section>
  </form>

  <div class="col mt-4"
       *ngIf="
      offenceAgreementStatus.value === 'REDUCTION'" &&
      reductionAppearInCourt.value === false
    >
    <app-alert type="warning"
               icon="info">
      <ng-container #alertContent
                    class="alert-content">
                    <span>
                      <strong>You must provide written reasons in the Additional Information area of the form below for this option. If you do choose to appear in court to discuss you will not need to provide this information until the court hearing date. <br><br>

                        If you provide written reasons, you will be notified in writing by the Court if your application was successful.</strong>
                    </span>
        
      </ng-container>
    </app-alert>
  </div>

  <div class="col mt-4 alert-info-text-color"
       *ngIf="offenceAgreementStatus.value === 'REDUCTION'">
    <app-alert type="warning"
               icon="info">
      <ng-container #alertContent
                    class="alert-content">
                    <span class="text-dark">
                      <strong>You have selected that you do not want to attend a court hearing.</strong>
                      You must provide written reasons in the Additional  Information area of the form below for this option. You will be notified in writing to the address supplied above by the Court if your request was successful.
                    </span>
                  
      </ng-container>
    </app-alert>
  </div>
  <div class="col mt-4 alert-info-text-color"
  *ngIf="
 offenceAgreementStatus.value === 'DISPUTE'
">
<app-alert type="warning"
          icon="info">
 <ng-container #alertContent
               class="alert-content">
               <span class="text-dark">
                <strong>You have selected that you wish to attend a court hearing in person.
                </strong>
                A Notice of Hearing will be mailed to you – it will have the date, time and location of your hearing. If you fail to appear before the provincial court on your hearing date you will be found guilty and the full ticketed amount must be paid immediately.
               </span>
 </ng-container>
</app-alert>
</div>
<div class="col mt-4"
  *ngIf="
 (offenceAgreementStatus.value === 'DISPUTE' && ticketName === ticketTypesEnum.CAMERA_TICKET)
">
<app-alert type="warning"
          icon="info">
 <ng-container #alertContent
               class="alert-content">
             <strong>If you dispute the ticket, an intersection safety camera officer will always appear in court to explain the offence and
              provide evidence.</strong>
 </ng-container>
</app-alert>
</div>
  <app-stepper-footer (save)="onSubmit()"
                      (back)="onBack()"
                      [secondaryActionButtonIcon]="previousButtonIcon"
                      [secondaryActionButtonKey]="previousButtonKey"
                      [saveButtonKey]="saveButtonKey"
                      [hasSecondaryAction]="true">
  </app-stepper-footer>
</app-stepper-page>
