@import "palette";

.header {
  background-color: theme-palette(blue);
}

.mat-toolbar {
  height: 70px;
  padding: 0 5vw;

  img {
    margin-top: -15px;

    &.hasMobileSidemenu {
      // Provide space between sidemenu toggle and BC Gov. logo
      margin-left: 15px;
    }
  }

  .language {
    font-size: 0.8rem;
    color: white;
    cursor: pointer;
  }

  .mat-icon {
    cursor: pointer;
    margin-top: 0.4em;
    margin-bottom: 0.2em;
    user-select: none;
  }

  .auth {
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
  }
}
