<div class="header d-print-none">
  <div class="container">
    <mat-toolbar color="primary">
      <span>
        <a href="https://www2.gov.bc.ca/gov/content/home"
           class="government-of-bc-logo"
           target="_blank"
           rel="noopener">
          <img src="/assets/gov_bc_logo.jpg"
               alt="Government of BC Logo" />
        </a>| Ticket Resolution  Management 
        <span class="badge badge-pill badge-light header"
            *ngIf="environment !== 'prod'">
        {{ environment }} v{{ version }}
      </span>
      </span>

      <span class="flex-fill"></span>

      <!--
    <a (click)="onLanguage()" class="language">
      <mat-icon inline="true" class="me-2">language</mat-icon>
      <span style="vertical-align: 5px">{{ languageDesc }}</span>
    </a>
  -->
  
      <button mat-button (click)="onClickBtn()">
        <mat-icon class="logout" inline="true">{{btnIcon}}</mat-icon>&nbsp;&nbsp;{{btnLabel}}
      </button>
    </mat-toolbar>
  </div>
</div>

<div class="ngx-progress">
  <ng-progress></ng-progress>
</div>
