<app-page>
  <div>
    <button mat-button (click)="onBack()" color="primary">
      <mat-icon class="align-text-bottom">arrow_back</mat-icon> Back
    </button>
    @if (initialDisputeValues) {
      <app-ticket-status [dispute]="initialDisputeValues"></app-ticket-status>
    }
    @if (conflict === true) {
      <div>
        <span>
          <h3>This ticket is already assigned.</h3>
        </span>
      </div>
    }
    @if (conflict === false && !initialDisputeValues && retrieving === false) {
      <div>
        <span>
          <h3>Error retrieving ticket information.</h3>
        </span>
      </div>
    }
    @if (conflict === false && retrieving === true) {
      <div>
        <span>
          <h3>Retrieving ticket information...</h3>
        </span>
      </div>
    }
    @if (initialDisputeValues && conflict === false && retrieving === false) {
      <div class="contact-info">
        <span style="float:right">
          <h1><b>Ticket Number: {{ initialDisputeValues.ticketNumber }} </b></h1>
        </span>
        <ng-container subHeader>
          <span>
            <h3>Ticket Information</h3>
          </span>
        </ng-container>
        @if (initialDisputeValues.emailAddressVerified !== true && initialDisputeValues.emailAddress) {
          <div style="float: right; width: 100%;"
            >
            <h3 style="color:red"><b>The email address for this dispute is not validated. Email address must be validated or
            the submit button here will be grayed out.</b></h3>
          </div>
        }
        <div style="display: grid; grid-template-columns: auto auto auto auto auto; width:100%">
          <span class="section-grid-cell">
            <p class="section-grid-header">Surname</p>
            <p class="section-grid-text">{{ initialDisputeValues.disputantSurname }}</p>
          </span>
          <span class="section-grid-cell">
            <p class="section-grid-header">Given Name(s)</p>
            <p class="section-grid-text">{{ initialDisputeValues.disputantGivenNames }}</p>
          </span>
          <span class="section-grid-cell">
            <p class="section-grid-header">Address</p>
            <p class="section-grid-text">{{ getFormattedAddress() }}</p>
          </span>
          <span class="section-grid-cell">
            <p class="section-grid-header">Home Phone</p>
            @if (initialDisputeValues.addressCountryId === 1 || initialDisputeValues.addressCountryId === 2) {
              <p class="section-grid-text"
                >{{
              initialDisputeValues.homePhoneNumber | phone }}</p>
            }
            @if (initialDisputeValues.addressCountryId !== 1 && initialDisputeValues.addressCountryId !== 2) {
              <p class="section-grid-text"
                >{{
              initialDisputeValues.homePhoneNumber }}</p>
            }
          </span>
          <span class="section-grid-cell">
            <p class="section-grid-header">Email Address</p>
            <p class="section-grid-text">{{ initialDisputeValues.emailAddress }}</p>
          </span>
          <span class="section-grid-cell">
            <p class="section-grid-header">Court Location</p>
            <p class="section-grid-text">{{ initialDisputeValues.violationTicket.courtLocation }}</p>
          </span>
          <span class="section-grid-cell">
            <p class="section-grid-header">Organization/Detachment/Location</p>
            <p class="section-grid-text">{{ initialDisputeValues.detachmentLocation }}</p>
          </span>
          <span class="section-grid-cell">
            <p class="section-grid-header">Violation Date</p>
            <p class="section-grid-text">{{ violationDate | date: "dd-MMM-yyyy" }}</p>
          </span>
          <span class="section-grid-cell">
            <p class="section-grid-header">Violation Time</p>
            <p class="section-grid-text">{{ violationTime }}</p>
          </span>
          <span class="section-grid-cell">
            <p class="section-grid-header">Online Submission Date</p>
            <p class="section-grid-text">{{ initialDisputeValues.submittedTs | date: "dd-MMM-yyyy" }}</p>
          </span>
        </div>
        @for (disputantUpdateRequest of disputeUpdateRequests; track disputantUpdateRequest.disputeUpdateRequestId) {
          <div>
            @if (disputantUpdateRequest.updateType === RequestUpdateType.DisputantPhone) {
              <app-phone-update-request-info
                [disputeInfo]="initialDisputeValues" [disputantUpdateRequest]="disputantUpdateRequest"
              (disputantUpdateRequestStatusChange)="onDisputantUpdateRequestStatusChange($event)"></app-phone-update-request-info>
            }
            @if (disputantUpdateRequest.updateType === RequestUpdateType.DisputantName) {
              <app-name-update-request-info
                [disputeInfo]="initialDisputeValues" [disputantUpdateRequest]="disputantUpdateRequest"
              (disputantUpdateRequestStatusChange)="onDisputantUpdateRequestStatusChange($event)"></app-name-update-request-info>
            }
            @if (disputantUpdateRequest.updateType === RequestUpdateType.DisputantAddress) {
              <app-address-update-request-info
                [disputeInfo]="initialDisputeValues" [disputantUpdateRequest]="disputantUpdateRequest"
              (disputantUpdateRequestStatusChange)="onDisputantUpdateRequestStatusChange($event)"></app-address-update-request-info>
            }
            @if (disputantUpdateRequest.updateType === RequestUpdateType.CourtOptions) {
              <app-court-options-update-request-info
                [disputeInfo]="initialDisputeValues" [disputantUpdateRequest]="disputantUpdateRequest"
              (disputantUpdateRequestStatusChange)="onDisputantUpdateRequestStatusChange($event)"></app-court-options-update-request-info>
            }
            @if (disputantUpdateRequest.updateType === RequestUpdateType.Count) {
              <app-count-update-request-info
                [disputeInfo]="initialDisputeValues" [disputantUpdateRequest]="disputantUpdateRequest"
              (disputantUpdateRequestStatusChange)="onDisputantUpdateRequestStatusChange($event)"></app-count-update-request-info>
            }
            @if (disputantUpdateRequest.updateType === RequestUpdateType.DisputantDocument) {
              <app-document-update-request-info
                [disputeInfo]="initialDisputeValues" [disputantUpdateRequest]="disputantUpdateRequest"
              (disputantUpdateRequestStatusChange)="onDisputantUpdateRequestStatusChange($event)"></app-document-update-request-info>
            }
            <br />
          </div>
        }
        <div style="float: right; width: 100%;">
          <button class="large" mat-flat-button type="button" color="primary"
            [disabled]="initialDisputeValues.emailAddressVerified !== true && initialDisputeValues.emailAddress"
            (click)="onSubmit()" style="background-color:  #2ba242;">
            Submit
          </button>
          <button class="large" mat-flat-button type="button" color="primary" (click)="onBack()">
            Return to Inbox
          </button>
        </div>
        @if (initialDisputeValues.emailAddressVerified !== true && initialDisputeValues.emailAddress) {
          <div style="float: right; width: 100%;"
            >
            <h3 style="color:red"><b>The email address for this dispute is not validated. Email address must be validated or
            the submit button here will be grayed out.</b></h3>
          </div>
        }
      </div>
    }
  </div>
</app-page>