<app-page [busy]="busy">
  <div class="flex-wrapper">
    <div class="flex-header d-print-none mb-40" style="margin-bottom: 100px">
      <app-header [jjPage]="jjPage"></app-header>
      <br />
      <div class="container">
        <section>
          <div class="flex-6-col">
            <div *ngIf="showDispute==false">
              <div class="step1">
                <div>
                  <div class="flex-container" style="width: 40%">
                    <!-- <table>
                      <tr>
                        <td><span class="BC-Gov-15px-black-text" style="color:green; width:40%;"><b>NEW ticket
                              records</b></span> </td>
                        <td style="width:5px">|</td>
                        <td style="width: 40%">
                          <select style="border: none;">
                            <option><span class="BC-Gov-15px-black-bold-text"><b>Fraser Valley
                                  Region</b>&nbsp;&nbsp;</span></option>
                          </select>
                        </td>
                      </tr>
                      <tr>
                        <td><span class="BC-Gov-15px-blue-text"><b>Ticket number search:</b></span></td>
                        <td colspan="2">
                          <div class="inputContainer">
                            <input name="searchInput" matInput type="search" (keyup)="applyFilter($event)"
                              autocomplete="off" class="input" />
                            <mat-icon class="inputIcon">search</mat-icon>
                          </div>
                        </td>
                      </tr>
                    </table> -->
                  </div>
                </div>

                <table mat-table [dataSource]="dataSource" style="margin-bottom:30px;" class="mat-elevation-z8" matSort>
                  <ng-container matColumnDef="ticketNumber">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      Violation #
                    </th>
                    <td mat-cell *matCellDef="let element">
                      <span><a (click)="backTicketList(element)" href="javascript:void()">{{ element.ticketNumber }}</a></span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="violationDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      Offense date
                    </th>
                    <td mat-cell *matCellDef="let element">
                      <span>{{ element.violationDate | date: "dd-MMM-yyyy" }}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="disputantName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      Citizen name
                    </th>
                    <td mat-cell *matCellDef="let element">
                      <span>{{ element.disputantName }}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="enforcementOfficer">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      Enforcement officer
                    </th>
                    <td mat-cell *matCellDef="let element">
                      <span>{{ element.enforcementOfficer }}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="policeDetachment">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      Police detachment
                    </th>
                    <td mat-cell *matCellDef="let element">
                      <span>{{ element.policeDetachment }}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="courthouseLocation">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      Courthouse Location
                    </th>
                    <td mat-cell *matCellDef="let element">
                      <span>{{ element.courthouseLocation }}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      Status
                    </th>
                    <td mat-cell *matCellDef="let element">
                      <span>{{ element.status }}</span>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              </div>
            </div>

            <div *ngIf="showDispute==true">
              <app-jj-dispute (backTicketList)="backTicketpage()" [jjDisputeInfo]="jjDisputeInfo"></app-jj-dispute>
            </div>

          </div>
        </section>
      </div>
    </div>
    <div class="flex-footer">
      <app-footer></app-footer>
    </div>
  </div>
</app-page>
