<div class="header d-print-none">
  <div class="container">
    <div>
      <span>
        <br />
        <h1 class="BC-Gov-32px-blue-text">Welcome, {{ fullName }}</h1>
        <p class="BC-Gov-15px-black-text">
          Court Registries Clerk,  {{ RegionName }}
          <span style="float:right">
            {{todayDate|date:"EEEE, MMMM d"}}{{(todayDate|date:"d")|dateSuffix}}{{todayDate|date:",&nbsp;y"}}
          </span>
        </p>
        <hr style="opacity: 1; color: #fcba19" />
      </span>
    </div>
  </div>
</div>