<app-page [busy]="busy">
  <app-tco-page-header>
    <ng-container header>Find your BC traffic ticket</ng-container>
    <ng-container subHeader>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit et dolore magna
      aliqua.
    </ng-container>
  </app-tco-page-header>

  <form class="mb-4" [formGroup]="form" (ngSubmit)="onSearch()" novalidate>
    <div class="row mb-4">
      <div class="col-md-6">
        <mat-label><strong>Enter ticket number</strong></mat-label>
        <mat-form-field class="w-100">
          <input
            formControlName="ticketNumber"
            matInput
            type="text"
            oninput="this.value =
              this.value.toUpperCase()"
            mask="SS00000000"
            autocomplete="off"
          />
          <button
            mat-button
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="ticketNumber.setValue('')"
          >
            <mat-icon>close</mat-icon>
          </button>
          <mat-hint>
            <small> A Ticket number is 2 letters and 8 numbers </small>
          </mat-hint>
          <mat-error>{{ "error.required" | translate }}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-label><strong>Enter ticket time</strong></mat-label>
        <mat-form-field class="w-100">
          <input matInput type="time" formControlName="time" />
          <mat-error>{{ "error.required" | translate }}</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <button type="button" mat-button (click)="onViewTicketExample()">
          <mat-icon>article</mat-icon>
          View example
        </button>
      </div>
      <div class="col-md-6 text-right">
        <button mat-flat-button color="primary" class="large">
          <mat-icon inline="true">search</mat-icon>
          Find ticket
        </button>
      </div>
    </div>
  </form>

  <section class="mb-4" *ngIf="notFound">
    <app-alert type="danger" icon="error">
      <ng-container #alertContent class="alert-content">
        <strong>No result found</strong>
        <p>Sorry, we are unable to find your ticket.</p>
        <p>
          Your ticket is not yet in the system. If it has been more than 48
          hours since your ticket was issued, you will need to upload an image
          of your ticket and confirm the details to proceed.
        </p>
      </ng-container>
    </app-alert>

    <button
      type="button"
      mat-flat-button
      color="primary"
      class="large"
      routerLink="/ticket/image"
    >
      <mat-icon inline="true">file_upload</mat-icon>
      Upload ticket image
    </button>
  </section>

  <section class="mb-4 mt-4">
    <div class="row">
      <div class="col-lg-12">
        <app-alert type="info" icon="info" (click)="this.notFound = true">
          <ng-container #alertContent class="alert-content">
            <strong>Violation ticket centre contact information</strong><br />
            {{ "find.note_phone" | translate }}:
            <a href="tel:+18776618026">1-877-661-8026</a><br />
            {{ "find.note_forms" | translate }}:
            <a
              href="https://www2.gov.bc.ca/gov/content/justice/courthouse-services/documents-forms-records/court-forms/provincial-vt-forms"
              target="_blank"
              rel="noopener"
              >{{ "find.note_form_name" | translate }}</a
            >
          </ng-container>
        </app-alert>
      </div>
    </div>
  </section>
</app-page>
