@import "palette";

.or-separator {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid theme-palette(grey, light);
  line-height: 0.1em !important;
  margin: 20px 0 5px !important;

  span {
    color: theme-palette(blue);
     background:#fff;
     padding:0 10px;
  }
}

.vertical-or-separator {
  left: 49%;
  top: 35%;
  position: absolute;
  background-color: white;
}

.find-large {
  width: 100%;

  height: 46px;
  font-size: 1rem;
}

.find-xlarge {
  width: 100%;
  margin-bottom: 1em !important;

  height: 62px;
  font-size: 1rem;
}

.icon-large {
  font-size: 40px !important;
  height: 40px !important;
  width: 40px !important;
}

.icon-xlarge {
  font-size: 50px !important;
  height: 50px !important;
  width: 50px !important;
}

.view-link {
  display: inline-flex;
  height: 46px;
  line-height: 25px;
}

@media (max-width: 767px) {
  .view-link {
    margin-bottom: 1em;

    .view-link-text {
      padding-top: 10px;
    }
  }
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 3em;
  padding-top: 0.5em;

  &.flex-last {
    padding-bottom: 0;
  }

  &-2-col {
    width: 50%;
    display: flex;
    flex-direction: column;

    &:first-child {
      padding-right: 50px;
    }

    .flex-last-info-content {
      margin-bottom: -1em;
    }
  }

  &-2-col + &-2-col {
    padding-left: 50px;
    border-left: solid 1px theme-palette(grey, light);
  }
}

@media (max-width: 991px) {
  .flex {
    flex-direction: column !important;
    align-items: center;
    justify-content: center;

    &.flex-first {
      padding-bottom: 1em;
      padding-top: 0;
      padding-right: 0;
    }

    &.flex-last {
      padding-bottom: 0;
    }

    &-2-col {
      width: 100%;
      padding-left: 0; // 10px !important;
      padding-right: 0; //10px !important;

      &:first-child {
        padding-right: 0; //10px;
      }

      .flex-last-info-content {
        margin-bottom: 0;
      }
    }

    &-2-col + &-2-col {
      border-left: none;
      margin-top: 0;
      padding-top: 30px;
      border-top: none;
      padding-left: 0;
      padding-right: 0;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}
