<app-page [busy]="busy">
  <app-tco-page-header>
    <ng-container header>British Columbia ticket resolution</ng-container>
    <ng-container subHeader>
      Use this service to pay ticket fines, ask for fine reductions or more time
      to pay, or initiate a dispute.
      <div class="mt-2">Please enter ticket information or upload image of ticket to begin.</div>
    </ng-container>
  </app-tco-page-header>

  <div class="row d-sm-block d-md-none"
       *ngIf="notFound">
    <div class="col">
      <app-alert type="danger"
                 icon="error">
        <ng-container #alertContent
                      class="alert-content">
          <strong>Ticket not found.</strong>
          <p>Please take photo or upload image.</p>
        </ng-container>
      </app-alert>
    </div>
  </div>

  <!-- MOBILE VIEW -->
  <div class="row d-sm-block d-md-none">
    <div class="col my-2">
      <button type="button"
              mat-flat-button
              color="primary"
              class="find-large"
              (click)="fileInput.click()">
        <mat-icon class="me-2">photo_camera</mat-icon>
        Upload photo of ticket
      </button>
      <div class="or-separator"><span>OR</span></div>
    </div>
  </div>

  <div class="flex flex-last">
    <div class="flex-2-col info">
      <div class="flex-last-info-content">
        <form [formGroup]="form"
              (ngSubmit)="onSearch()"
              novalidate>
          <div class="row">
            <div class="col">
              <mat-form-field class="w-100">
                <mat-label>Ticket number</mat-label>
                <input formControlName="ticketNumber"
                       placeholder="A Ticket number is 2 letters and 8 numbers"
                       matInput
                       type="text"
                       oninput="this.value =
                    this.value.toUpperCase()"
                       mask="SS00000000"
                       autocomplete="off" />
                <button mat-button
                        matSuffix
                        mat-icon-button
                        aria-label="Clear"
                        (click)="ticketNumber.setValue('')">
                  <mat-icon>close</mat-icon>
                </button>
                <mat-error>{{ "error.required" | translate }}</mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <mat-form-field class="w-100">
                <mat-label>Ticket time</mat-label>
                <input matInput
                       type="time"
                       formControlName="time" />
                <mat-error>{{ "error.required" | translate }}</mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-xxl-4">
              <a class="view-link"
                 (click)="onViewTicketExample()">
                <img class="me-2"
                     src="/assets/ticket-example-icon.svg" />
                <span class="view-link-text">View ticket examples</span>
              </a>
            </div>
            <div class="col-md-6 offset-xxl-2 col-xxl-6">
              <button type="submit"
                      mat-flat-button
                      color="primary"
                      class="find-large">
                <mat-icon class="me-2">search</mat-icon>
                Find ticket
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="flex-2-col info d-xs-none d-sm-none d-md-block">
      <div class="d-md-none d-lg-block vertical-or-separator">
        OR
      </div>
      <div class="row"
           *ngIf="notFound">
        <div class="col">
          <app-alert type="danger"
                     icon="error">
            <ng-container #alertContent
                          class="alert-content">
              <strong>Ticket not found.</strong>
              <p>Please take photo or upload image.</p>
            </ng-container>
          </app-alert>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button type="button"
                  mat-flat-button
                  color="primary"
                  class="find-xlarge"
                  (click)="fileInput.click()">
            <mat-icon class="icon-large me-2">upload_file</mat-icon>
            Upload photo of ticket
          </button>

          <input hidden
                 (change)="onFileChange($event)"
                 #fileInput
                 type="file"
                 accept="image/*"
                 id="file" />
        </div>
      </div>
    </div>
  </div>

  <app-resolution-footer></app-resolution-footer>
</app-page>
