<app-page [busy]="busy">
  <section class="mb-3">
    <h2>Violation Ticket Overiew</h2>
    <p>
      Please review the following information. You can go back to any step to
      update the information.
    </p>
  </section>

  <section class="mb-3">
    <div class="row">
      <div class="col-6 mb-3">Violation Ticket Number</div>
      <div class="col-6 text-right mb-3">
        {{ ticket?.violationTicketNumber }}
      </div>
    </div>
    <div class="row">
      <div class="col-6 mb-3">Court Location named on the VT</div>
      <div class="col-6 text-right mb-3">
        {{ ticket?.courtLocation | default }}
      </div>
    </div>
    <div class="row">
      <div class="col-6 mb-3">Violation Date</div>
      <div class="col-6 text-right">
        {{ ticket?.violationDate | date: "mediumDate" | default }}
      </div>
    </div>
  </section>

  <section class="mb-3">
    <div class="row">
      <div class="col">
        <app-alert type="warning" icon="warning">
          <ng-container #alertContent class="alert-content">
            <strong>VIOLATION TICKET SUBMISSION</strong><br />
            Once it has been submitted, it cannot be updated.
          </ng-container>
        </app-alert>
      </div>
    </div>
  </section>
</app-page>
