<app-page>
  <app-page-header>
    <ng-container header>Dispute Overview</ng-container>
    <ng-container subHeader
      >Please review the following information. You can go back to any step to
      update the information.</ng-container
    >
  </app-page-header>

  <section class="mb-2">
    <div class="row">
      <div class="col-6 mb-2">Violation Ticket Number</div>
      <div class="col-6 text-right mb-2">
        {{ ticketDispute?.violationTicketNumber | default }}
      </div>
    </div>
    <div class="row">
      <div class="col-6 mb-2">Violation Time</div>
      <div class="col-6 text-right">
        {{ ticketDispute?.violationTime }}
      </div>
    </div>
    <div class="row">
      <div class="col-6 mb-2">Contact Email</div>
      <div class="col-6 text-right">
        {{ emailAddress.value | default }}
      </div>
    </div>
  </section>

  <form [formGroup]="offenceForm" novalidate>
    <section class="mb-2">
      <div class="row">
        <div class="col-5 mb-2">
          Offence #{{ ticketDispute?.offence.offenceNumber }}
        </div>
        <small class="col-7 text-right mb-2">{{
          ticketDispute?.offence.offenceDescription
        }}</small>
      </div>
      <div class="row">
        <div class="col text-left mb-2">
          <ul>
            <li *ngIf="offenceAgreementStatus.value === '1'">
              I agree that I committed this offence, and I do not want to appear
              in court
            </li>
            <li *ngIf="offenceAgreementStatus.value === '2'">
              I agree that I committed this offence, and I want to appear in
              court
            </li>
            <li *ngIf="offenceAgreementStatus.value === '3'">
              I do not agree that I committed this offence (allegation)
            </li>

            <ng-container
              *ngIf="
                offenceAgreementStatus.value === '1' ||
                offenceAgreementStatus.value === '2'
              "
            >
              <li *ngIf="requestReduction.value">
                I request a reduction of the ticketed amount
              </li>
              <div *ngIf="requestReduction.value">
                {{ reductionReason.value }}
              </div>
              <li *ngIf="requestMoreTime.value">
                I request time to pay the ticketed amount
              </li>
              <div *ngIf="requestMoreTime.value">
                {{ moreTimeReason.value }}
              </div>
            </ng-container>
          </ul>
        </div>
      </div>
    </section>
  </form>

  <section class="mb-2" *ngIf="courtDataExists">
    <div class="row">
      <div class="col-12 mb-2">Additional Information</div>
    </div>
    <div class="row">
      <div class="col text-left mb-2">
        <form [formGroup]="courtForm" novalidate>
          <ul>
            <li *ngIf="lawyerPresent.value">
              I intend to be represented at the hearing by a lawyer
            </li>
            <li *ngIf="interpreterRequired.value">
              I require an interpreter - {{ interpreterLanguage.value }}
            </li>
            <li *ngIf="witnessPresent.value">I intend to call a witness</li>
          </ul>
        </form>
      </div>
    </div>
  </section>

  <form (ngSubmit)="onSubmit()" [formGroup]="form" novalidate>
    <section class="mb-2">
      <div class="row">
        <div class="col">
          <mat-checkbox
            class="mr-4 mb-2"
            formControlName="informationCertified"
          >
            I certify that all information provided is true and complete. I
            understand it is an offence under the law to knowingly provide false
            or misleading information.
            <mat-error
              *ngIf="
                (informationCertified.dirty || informationCertified.touched) &&
                informationCertified.invalid &&
                informationCertified.errors.required
              "
            >
              Required
            </mat-error>
          </mat-checkbox>
        </div>
      </div>
    </section>
  </form>

  <section class="mb-2">
    <div class="row">
      <div class="col">
        <app-alert type="warning" icon="warning">
          <ng-container #alertContent class="alert-content">
            <strong>VIOLATION TICKET SUBMISSION</strong><br />
            Once it has been submitted, it cannot be updated.
          </ng-container>
        </app-alert>
      </div>
    </div>
  </section>

  <app-page-footer
    [saveButtonLabel]="nextBtnLabel"
    (save)="onSubmit()"
    (back)="onBack()"
  ></app-page-footer>
</app-page>
