<app-page>
  <app-page-header>
    <ng-container header>Dispute Overview</ng-container>
    <ng-container subHeader
      >Please review the following information. You can go back to any step to
      update the information.</ng-container
    >
  </app-page-header>

  <section class="mb-2">
    <div class="row">
      <div class="col-6 mb-2">Violation Ticket Number</div>
      <div class="col-6 text-right mb-2">
        {{ ticket?.violationTicketNumber | default }}
      </div>
    </div>
    <div class="row">
      <div class="col-6 mb-2">Violation Date and Time</div>
      <div class="col-6 text-right">
        {{ ticket?.violationDate | formatDate | default }}
        {{ ticket?.violationTime }}
      </div>
    </div>
    <div class="row">
      <div class="col-6 mb-2">Contact Email</div>
      <div class="col-6 text-right">
        {{ dispute?.emailAddress | default }}
      </div>
    </div>
    <ng-container *ngIf="count1Data.countNo">
      <div class="row">
        <div class="col-12 mb-2">
          Offence #{{ count1Data.countNo }}
          <small class="text-muted ml-2">{{ count1Data.description }}</small>
        </div>
      </div>
      <div class="row">
        <div class="offset-2 col-10 text-left mb-2">
          <div [innerHTML]="count1Summary | safeHtml"></div>
        </div></div
    ></ng-container>
    <ng-container *ngIf="count2Data.countNo">
      <div class="row">
        <div class="col-12 mb-2">
          Offence #{{ count2Data.countNo }}
          <small class="text-muted ml-2">{{ count2Data.description }}</small>
        </div>
      </div>
      <div class="row">
        <div class="offset-2 col-10 text-left mb-2">
          <div [innerHTML]="count2Summary | safeHtml"></div>
        </div></div
    ></ng-container>
    <ng-container *ngIf="count3Data.countNo">
      <div class="row">
        <div class="col-12 mb-2">
          Offence #{{ count3Data.countNo }}
          <small class="text-muted ml-2">{{ count3Data.description }}</small>
        </div>
      </div>
      <div class="row">
        <div class="offset-2 col-10 text-left mb-2">
          <div [innerHTML]="count3Summary | safeHtml"></div>
        </div></div
    ></ng-container>

    <div class="row">
      <div class="col-12">Court Information</div>
    </div>
    <div class="row">
      <div class="offset-2 col-10 text-left mb-2">
        <div>A lawyer will be present</div>
        <div>A witness will be called</div>
      </div>
    </div>
  </section>

  <form (ngSubmit)="onSubmit()" [formGroup]="form" novalidate>
    <section class="mb-2">
      <div class="row">
        <div class="col">
          <mat-checkbox class="mr-4 mb-2" formControlName="certifyCorrect">
            I certify that all information provided is true and complete. I
            understand it is an offence under the law to knowingly provide false
            or misleading information.
          </mat-checkbox>
        </div>
      </div>
    </section>
  </form>

  <section class="mb-2">
    <div class="row">
      <div class="col">
        <app-alert type="warning" icon="warning">
          <ng-container #alertContent class="alert-content">
            <strong>VIOLATION TICKET SUBMISSION</strong><br />
            Once it has been submitted, it cannot be updated.
          </ng-container>
        </app-alert>
      </div>
    </div>
  </section>

  <app-page-footer
    [saveButtonLabel]="nextBtnLabel"
    (save)="onSubmit()"
    (back)="onBack()"
  ></app-page-footer>
</app-page>
