@import "palette";

small {
  color: theme-palette(grey, dark);
  line-height: 1.3em;
}

.h2 {
  line-height: 1rem;
}

.text {
  font-weight: 700;
  line-height: 1.5em;
}

.count-text-container {
  display: flex;
  height: 100%;
  padding-bottom: 0.3rem;
}

.count-text {
  height: 100%;
  display: flex;
  align-items: end;
}