td,
th {
  vertical-align: middle !important;
}

.filterTable {
  width: auto;

  td {
    padding: 0px 5px 0px 5px;
  }
}

.table-responsive {
  width: 100%;
}

.reset-filters {
  color: #fff;
  background-color: #38598a;
  border-color: #38598a;
  font-size: 14px;

  &:hover {
    background-color: #2d476f;
    border-color: #294266;
  }
}

:host ::ng-deep {

  .mat-mdc-form-field.dateField{
    width: 145px;
  }

}
