<app-page>
  <app-tco-page-header>
    <ng-container header>Traffic ticket dispute request email verification</ng-container>
  </app-tco-page-header>
  <div class="col my-3">
    <app-alert type="warning" icon="info">
      <ng-container #alertContent class="alert-content">
        <div class="d-flex justify-content-between d-print-none">
          <span>
            <h1 style="margin: 0;">Email verification required</h1>
          </span>
          <a class="print-link" (click)="onPrint()">
            <img class="me-2" src="/assets/print-icon.svg" />
            Print confirmation page
          </a>
        </div>
      </ng-container>
    </app-alert>
    <hr>
    <div>
      <h2 class="mb-3" style="font-weight:bold;">Next Step</h2>
      <div class="mb-3 text-body">We need to verify your email address before we can proceed.</div>
      <div class="mb-3"><span class="text-body">A verification email was sent to : </span><b>{{ email }}</b></div>
      <div class="mb-3 text-body">Please click on the link in the email to complete your registration.</div>
    </div>
    <hr>
    <div class="mb-4 text-body">Didn't receive the email? Please check your junk mailbox or resend the verification
      using the button below.
    </div>
    <div style="text-align:center;">
      <button type="button" mat-stroked-button (click)="resendEmail()">Re-send verification email</button>
    </div>
  </div>

  <hr class="d-print-none">
  <strong class="d-print-none">Request details</strong>

  <app-dispute-ticket-summary [noticeOfDispute]="noticeOfDispute"></app-dispute-ticket-summary>

  <section class="mb-2 mt-4 d-print-none">
    <div class="row" *ngIf="countsActions.request_court_appearance?.length > 0">
      <div class="col">
        <app-alert type="warning" icon="info">
          <ng-container #alertContent class="alert-content">
            You will be required to attend a hearing to defend your claim. A Notice of Hearing will be mailed to you –
            it will have the date, time and location of your hearing. <br><br>

            If you fail to appear before the provincial court on your hearing date you will be found guilty and the full
            ticketed amount must be paid immediately.
          </ng-container>
        </app-alert>
      </div>
    </div>
    <div class="row" *ngIf="countsActions.request_court_appearance?.length > 0 && ticketType === ticketTypes.CAMERA_TICKET">
      <div class="col">
        <app-alert type="warning" icon="info">
          <ng-container #alertContent class="alert-content">
            If you dispute the ticket, an intersection safety camera officer will always appear in court to explain the
            offence and provide evidence.
          </ng-container>
        </app-alert>
      </div>
    </div>
  </section>

  <section class="mb-2 mt-4 d-print-none">
    <div class="row" *ngIf="noticeOfDispute.represented_by_lawyer === RepresentedByLawyer.Y">
      <div class="col">
        <app-alert type="warning" icon="info">
          <ng-container #alertContent class="alert-content">
            If you want a lawyer to represent you at your hearing, you should hire a lawyer prior to submitting your
            Notice of Dispute. The lawyer’s schedule will have to be considered when a date is set for your hearing and
            many lawyers are not available on short notice.<br /> If you hire a lawyer they will generally give the
            Violation Ticket Center dates when they are available for your hearing.
          </ng-container>
        </app-alert>
      </div>
    </div>
    <div class="row" *ngIf="noticeOfDispute.interpreter_language_cd">
      <div class="col">
        <app-alert type="warning" icon="info">
          <ng-container #alertContent class="alert-content">
            The court also provides visual language interpreters (American Sign Language) and CART (Communication Access
            Realtime Translation - captioning services) for any court proceeding.
          </ng-container>
        </app-alert>
      </div>
    </div>
    <div class="row" *ngIf="noticeOfDispute.witness_no > 0">
      <div class="col">
        <app-alert type="warning" icon="info">
          <ng-container #alertContent class="alert-content">
            <strong>If you are calling a witness please keep the following information in mind:</strong><br />
            If the disputant or the disputant’s agent does not attend the court hearing, the court will treat the
            violation ticket as not disputed, the conviction(s) to the allegation(s) will be recorded against the record
            of the disputant.
          </ng-container>
        </app-alert>
      </div>
    </div>
    <div class="row" *ngIf="countsActions.request_court_appearance?.length !== noticeOfDispute.dispute_counts.length">
      <div class="col">
        <app-alert type="warning" icon="info">
          <ng-container #alertContent class="alert-content">
            <strong>You have selected that you do not want to attend a court hearing</strong>
            You will be notified in writing to the address supplied above by the Court if your request was successful.
          </ng-container>
        </app-alert>
      </div>
    </div>
  </section>

  <app-resolution-footer></app-resolution-footer>
</app-page>
