<app-page>
  <app-page-header>
    <ng-container header>Traffic ticket dispute request email verification</ng-container>
  </app-page-header>
  <div class="col my-3">
    <app-alert type="warning" icon="info">
      <ng-container #alertContent class="alert-content">
        <div class="d-flex justify-content-between d-print-none">
          <span>
            <h1 *ngIf="isCreate" style="margin: 0;">Email verification required</h1>
            <h1 *ngIf="!isCreate" style="margin: 0;">Email verification may be required</h1>
          </span>
          <a *ngIf="isCreate" class="print-link" (click)="onPrint()">
            <img class="me-2" src="/assets/print-icon.svg" />
            Print confirmation page
          </a>
        </div>
      </ng-container>
    </app-alert>
    <hr>
    <div>
      <h2 class="mb-3" style="font-weight:bold;">Next Step</h2>
      <div *ngIf="isCreate" class="mb-3 text-body">We need to verify your email address before we can proceed.</div>
      <div *ngIf="isCreate" class="mb-3"><span class="text-body">A verification email was sent to : </span><b>{{ email
          }}</b></div>
      <div *ngIf="isCreate" class="mb-3 text-body">Please click on the link in the email to complete your registration.
      </div>
      <div *ngIf="!isCreate" class="mb-3 text-body">If you updated your email address then we need to verify your new
        email address before we can proceed.</div>
      <div *ngIf="!isCreate" class="mb-3"><span class="text-body"> A verification email may have been sent to :
        </span><b>{{ email }}</b></div>
      <div *ngIf="!isCreate" class="mb-3 text-body">Please click on the link in such an email to complete your dispute
        update request.</div>
    </div>
    <hr>
    <div class="mb-4 text-body">
      <span *ngIf="isCreate">Didn't receive the email? Please check your junk mailbox or resend the verification using
        the button below.</span>
      <span *ngIf="!isCreate">Didn't receive the email? Please check your junk mailbox.</span>
    </div>
    <div *ngIf="isCreate" style="text-align:center;">
      <button type="button" mat-stroked-button (click)="resendEmail()">Re-send verification email</button>
    </div>
  </div>

  <ng-container *ngIf="isCreate">
    <hr class="d-print-none">
    <strong class="d-print-none">Request details</strong>

    <app-dispute-ticket-summary [noticeOfDispute]="dispute"
      [ticketCounts]="dispute.violation_ticket.counts"></app-dispute-ticket-summary>
  </ng-container>

  <app-resolution-footer></app-resolution-footer>
</app-page>