<app-page [busy]="busy">
  <app-page-header>
    <ng-container header>Violation ticket image upload</ng-container>
    <ng-container subHeader>
      Please carefully review all fields and ensure ticket details below are
      correct to continue to resolution options.
    </ng-container>
  </app-page-header>

  <div class="flex p-0" style="align-items: flex-start">
    <span>
      Filename: <strong>{{ ticketFilename }}</strong></span>
    <span class="flex-grow-1"></span>
    <a class="upload-link" (click)="fileInput.click()">
      <mat-icon class="new-image-icon me-2">highlight_off</mat-icon>
      Remove and upload new image
    </a>
    <input hidden (change)="onFileChange($event)" #fileInput type="file" id="file" />
  </div>
  <hr />

  <div class="row">
    <div class="col-lg-6 col-md-12">
      <span *ngIf="ticketImageSrc">
        <h1><strong>Ticket image</strong></h1>
        <img [src]="ticketImageSrc" style="width: 100%" class="img-fluid mb-4" />
      </span>
    </div>
    <div class="col-lg-6 col-md-12 feild-border">
      <h1 class="mb-4" style="margin-left: 30px;"><strong>Ticket details</strong></h1>
      <mat-stepper orientation="vertical" #stepper>
        <mat-step [stepControl]="form">
          <form [formGroup]="form">
            <ng-template matStepLabel>Please review the details below and ensure they match the information on the
              ticket</ng-template>
            <section>
              <div class="row">
                <div class="col-lg-12 pb-4">
                  <mat-form-field class="w-100 mb-2">
                    <mat-label>Violation ticket number</mat-label>
                    <input formControlName="violationTicketNumber" matInput type="text"
                      oninput="this.value = this.value.toUpperCase()" mask="SS00000000" autocomplete="off" />
                    <mat-hint>
                      <strong>A ticket number is 2 letters and 8 numbers</strong>
                    </mat-hint>
                  </mat-form-field>
                </div>
                <div class="col-lg-6">
                  <mat-form-field class="w-100">
                    <mat-label>Violation date</mat-label>
                    <input matInput formControlName="violationDate" readonly />
                  </mat-form-field>
                </div>

                <div class="col-lg-6">
                  <mat-form-field class="w-100">
                    <mat-label>Violation time</mat-label>
                    <input matInput formControlName="violationTime" />
                    <mat-error>{{ "error.required" | translate }}</mat-error>
                  </mat-form-field>
                </div>

                <div class="col-lg-12">
                  <mat-form-field class="w-100">
                    <mat-label>Surname</mat-label>
                    <input matInput formControlName="lastName" />
                    <mat-error>{{ "error.required" | translate }}</mat-error>
                  </mat-form-field>
                </div>

                <div class="col-lg-12">
                  <mat-form-field class="w-100">
                    <mat-label>Given names</mat-label>
                    <input matInput formControlName="givenNames" />
                    <mat-error>{{ "error.required" | translate }}</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-lg-6">
                  <mat-form-field class="w-100">
                    <mat-label>Province / State of DL</mat-label>
                    <input matInput formControlName="driverLicenseProvince" />
                    <mat-error>{{ "error.required" | translate }}</mat-error>
                  </mat-form-field>
                </div>

                <div class="col-lg-6">
                  <mat-form-field class="w-100">
                    <mat-label>Drivers licence number</mat-label>
                    <input matInput formControlName="driverLicenseNumber" mask="0000000" autocomplete="off"
                      [showMaskTyped]="false" />
                    <mat-error>{{ "error.required" | translate }}</mat-error>
                  </mat-form-field>
                </div>
                <p class="text-dark"><strong>If your surname, given names, or drivers licence number <span
                      style="color: red;">do not match </span></strong>
                  the scanned ticket details, please check the box below and describe the difference</p>
                <p class="text-dark"><strong>Example: </strong>My Surname is spelled MacGibbens not MacGibbons.</p>
                <mat-checkbox color="primary" class="w-100" (click)='toggle()'> Yes, there are differences between the
                  information on the ticket
                  and the information scanned above.
                </mat-checkbox> <br>
                <mat-form-field [hidden]="isHidden">
                  <mat-label>Describe any difference between the image and scanned ticket details</mat-label>
                  <textarea class="text-dark" matInput #input value="" rows="4">
                  </textarea>
                </mat-form-field>
              </div>
            </section>
            <div class="row mb-4 mt-4">
              <div class="col-lg-6">
                <button id="secondaryButton" mat-stroked-button type="button" color="primary" class="large"
                  routerLink="/ticket/find">
                  Cancel and search again
                </button>
              </div>
              <div class="offset-lg-2 col-lg-4">
                <button type="button" mat-flat-button color="primary" class="large" matStepperNext>
                  Next >
                </button>
              </div>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Save information and create online ticket</ng-template>
          <p class="text-dark">Ensure all information entered above is correct to the best of my knowledge before
            submission.<strong>
              You may not make changes once the online ticket is created.
            </strong></p>
          <div>
            <button type="button" mat-flat-button color="primary" class="large" (click)="onSubmit()">Save and create
              online ticket ></button>
            <button type="button" mat-flat-button class="large" matStepperPrevious> Go back and review ticket
              details</button>
          </div>
        </mat-step>
      </mat-stepper>
    </div>
  </div>

  <app-resolution-footer></app-resolution-footer>
</app-page>