<app-page>
  <app-page-header>
    <ng-container header>Violation ticket image upload</ng-container>
    <ng-container subHeader>
      Please carefully review all fields and ensure ticket details below are
      correct to continue to dispute.
    </ng-container>
  </app-page-header>

  <div class="flex p-0" style="align-items: flex-start">
    <span>
      Filename: <strong>{{ ticketFilename }}</strong></span>
    <span class="flex-grow-1"></span>
  </div>
  <hr />

  <div class="row">
    <div class="col-lg-6 col-md-12">
      <span>
        <h1><strong>Ticket image</strong></h1>
        <img  *ngIf="ticketImageFile && ticketImageFile.includes('image')"  [src]="ticketImageSrc" style="width: 100%" class="img-fluid mb-4" />
        <pdf-viewer
        *ngIf="ticketImageFile && ticketImageFile === 'application/pdf'"
        [rotation]="90"
        [original-size]="false"
        [show-all]="true"
        [fit-to-page]="false"
        [zoom]="1"
        [zoom-scale]="'page-width'"
        [stick-to-page]="false"
        [render-text]="true"
        [external-link-target]="'blank'"
        [autoresize]="true"
        [show-borders]="false"
        style="width: 100%; height: 600px;" [src]="ticketImageSrc"></pdf-viewer>
      </span>
    </div>
    <div class="col-lg-6 col-md-12">
      <h1 class="mb-4"><strong>Ticket details</strong></h1>
      <span>Please review the details below and ensure they match the information on the
          ticket</span>
      <div class="mb-2">
      <section class="px-4 py-2 mb-3 card-section">

        <div class="row mt-2">
          <div class="col-lg-12">
            <small class="d-block"> Violation ticket number </small>
            <div class="text">{{ form.get('ticket_number').value?.toUpperCase() }}</div>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-lg-6">
            <small class="d-block"> Violation date </small>
            <div class="text">{{ form.get('violation_date').value }}</div>
          </div>
          <div class="col-lg-6">
            <small class="d-block">Violation time</small>
            <div class="text">{{ form.get('violation_time').value }}</div>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-lg-6">
            <small class="d-block"> Surname </small>
            <div class="text">{{ form.get('disputant_surname').value }}</div>
          </div>
          <div class="col-lg-6">
            <small class="d-block"> Given name(s) </small>
            <div class="text">{{ form.get('disputant_given_names').value }}</div>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-lg-6">
            <small class="d-block">Province / State of DL</small>
            <div class="text">{{ form.get('drivers_licence_province').value }}</div>
          </div>
          <div class="col-lg-6">
            <small class="d-block">Driver's licence number</small>
            <div class="text">{{ form.get('drivers_licence_number').value }}</div>
          </div>
        </div>

      </section>
      <section class="px-4 py-2 mb-3 card-section" *ngFor="let count of violationTicketCounts">

        <div class="row mt-2">
          <div class="col-lg-4">
            <small class="d-block"> &nbsp; </small>
            <div class="h2 count-text"><strong>Count {{ count.count_no }}</strong></div>
          </div>
          <div class="col-lg-6">
            <small class="d-block"> Description of offence </small>
            <div class="text">{{ count.description | titlecase }}</div>
          </div>
          <div class="col-lg-2">
            <small class="d-block">Amount</small>
            <div class="text">{{ count.ticketed_amount | currency }}</div>
          </div>
        </div>

      </section>
    </div>

    <form [formGroup]="form">
      <div class="row">
        <p class="text-dark"><strong>If the information above <span
              style="color: red;">does not match </span></strong>
          what you see on your ticket, please check the box below and describe the difference.</p>
        <mat-checkbox color="primary" class="w-100" [checked]="form.get('disputant_detected_ocr_issues').value === DetectedOcrIssues.Y ? true:false"
          (change)="form.get('disputant_detected_ocr_issues').setValue($event.checked? DetectedOcrIssues.Y: DetectedOcrIssues.N)" >
          There are differences between the information on the ticket and the information scanned above.
        </mat-checkbox>
        <div class="row" *ngIf="form.get('disputant_detected_ocr_issues')?.value === DetectedOcrIssues.Y">
          <mat-form-field>
            <mat-label>Describe any differences</mat-label>
            <textarea class="text-dark" matInput #input formControlName="disputant_ocr_issues" maxlength="500"
              rows="4">
            </textarea>
          </mat-form-field>
        </div>
      </div>
    </form><br />
    <div>
      <button type="button" mat-flat-button color="primary" color="primary" class="large" (click)="onSubmit()">
        <mat-icon class="me-2">description</mat-icon>
        Save information and create online ticket
      </button><br /><br />
      <button type="button" mat-stroked-button class="large" color="primary" routerLink="/ticket/find">
        <mat-icon class="me-2">search</mat-icon>
        Cancel and search again
      </button>
    </div>
  </div>
</div>

<app-resolution-footer></app-resolution-footer>
</app-page>
