<app-page [busy]="busy">
  <app-page-header>
    <ng-container header>Violation ticket image upload</ng-container>
    <ng-container subHeader>
      Please carefully review all fields and ensure ticket details below are
      correct to continue to resolution options.
    </ng-container>
  </app-page-header>

  <div class="flex p-0" style="align-items: flex-start">
    <span>
      Filename: <strong>{{ ticketFilename }}</strong></span>
    <span class="flex-grow-1"></span>
  </div>
  <hr />

  <div class="row">
    <div class="col-lg-6 col-md-12">
      <span>
        <h1><strong>Ticket image</strong></h1>
        <img  *ngIf="ticketImageFile && ticketImageFile.includes('image')"  [src]="ticketImageSrc" style="width: 100%" class="img-fluid mb-4" />
        <pdf-viewer 
        *ngIf="ticketImageFile && ticketImageFile === 'application/pdf'"
        [rotation]="90"
        [original-size]="false"
        [show-all]="true"
        [fit-to-page]="false"
        [zoom]="1"
        [zoom-scale]="'page-width'"
        [stick-to-page]="false"
        [render-text]="true"
        [external-link-target]="'blank'"
        [autoresize]="true"
        [show-borders]="false"
        style="width: 100%; height: 600px;" [src]="ticketImageSrc"></pdf-viewer>
      </span>
    </div>
    <div class="col-lg-6 col-md-12 feild-border">
      <h1 class="mb-4" style="margin-left: 30px;"><strong>Ticket details</strong></h1>
      <mat-stepper orientation="vertical" #stepper>
        <mat-step *ngIf="form" [stepControl]="form">
          <form [formGroup]="form">
            <ng-template matStepLabel>Please review the details below and ensure they match the information on the
              ticket</ng-template>
            <section>
              <div class="row">
                <div class="col-lg-12 pb-4">
                  <mat-form-field class="w-100 mb-2">
                    <mat-label>Violation ticket number</mat-label>
                    <input formControlName="ticket_number" matInput type="text"
                      oninput="this.value = this.value.toUpperCase()" mask="SS00000000" autocomplete="off" />
                    <mat-hint>
                      <strong>A ticket number is 2 letters and 8 numbers</strong>
                    </mat-hint>
                  </mat-form-field>
                </div>
                <div class="col-lg-6">
                  <mat-form-field class="w-100">
                    <mat-label>Violation date</mat-label>
                    <input matInput formControlName="violation_date" readonly />
                  </mat-form-field>
                </div>

                <div class="col-lg-6">
                  <mat-form-field class="w-100">
                    <mat-label>Violation time</mat-label>
                    <input matInput formControlName="violation_time" />
                  </mat-form-field>
                </div>

                <div class="col-lg-12">
                  <mat-form-field class="w-100">
                    <mat-label>Surname</mat-label>
                    <input matInput formControlName="surname" />
                  </mat-form-field>
                </div>

                <div class="col-lg-12">
                  <mat-form-field class="w-100">
                    <mat-label>Given names</mat-label>
                    <input matInput formControlName="given_names" />
                  </mat-form-field>
                </div>
                <div class="col-lg-6">
                  <mat-form-field class="w-100">
                    <mat-label>Province / State of DL</mat-label>
                    <input matInput formControlName="drivers_licence_province" />
                  </mat-form-field>
                </div>

                <div class="col-lg-6">
                  <mat-form-field class="w-100">
                    <mat-label>Driver's licence number</mat-label>
                    <input matInput formControlName="drivers_licence_number" autocomplete="off" />
                  </mat-form-field>
                </div>
                <p class="text-dark"><strong>If your surname, given names, or drivers licence number <span
                      style="color: red;">do not match </span></strong>
                  the scanned ticket details, please check the box below and describe the difference</p>
                <p class="text-dark"><strong>Example: </strong>My Surname is spelled MacGibbens not MacGibbons.</p>
                <mat-checkbox color="primary" class="w-100" formControlName="disputant_detected_ocr_issues">
                  Yes, there are differences between the information on the ticket and the information scanned above.
                </mat-checkbox>
                <div class="row" *ngIf="form.get('disputant_detected_ocr_issues')?.value">
                  <mat-form-field>
                    <mat-label>Describe any difference between the image and scanned ticket details</mat-label>
                    <textarea class="text-dark" matInput #input formControlName="disputant_ocr_issues_description"
                      rows="4">
                  </textarea>
                  </mat-form-field>
                </div>
              </div>
            </section>
            <div class="row mb-4 mt-4">
              <div class="col-lg-6">
                <button id="secondaryButton" mat-stroked-button type="button" color="primary" class="large"
                  routerLink="/ticket/find">
                  Cancel and search again
                </button>
              </div>
              <div class="offset-lg-2 col-lg-4">
                <button type="button" mat-flat-button color="primary" class="large" matStepperNext>
                  Next >
                </button>
              </div>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Save information and create online ticket</ng-template>
          <p class="text-dark">Ensure all information entered above is correct to the best of my knowledge before
            submission.<strong>
              You may not make changes once the online ticket is created.
            </strong></p>
          <div>
            <button type="button" mat-flat-button color="primary" class="large" (click)="onSubmit()">Save and create
              online ticket ></button>
            <button type="button" mat-flat-button class="large" matStepperPrevious> Go back and review ticket
              details</button>
          </div>
        </mat-step>
      </mat-stepper>
    </div>
  </div>

  <app-resolution-footer></app-resolution-footer>
</app-page>