<app-page>
  <app-page-header>
    <ng-container header>Violation Ticket Review</ng-container>
    <ng-container subHeader
      >This is a summary of your violation ticket information.</ng-container
    >
  </app-page-header>

  <div *ngIf="ticketDispute; else noTicketDispute">
    <section class="mb-2">
      <h3>Violation Ticket Information</h3>
      <div class="row">
        <div class="col-6 mb-2">Violation Ticket Number</div>
        <div class="col-6 text-right mb-2">
          {{ ticketDispute.violationTicketNumber | default }}
        </div>
      </div>
      <div class="row">
        <div class="col-6 mb-2">Violation Date and Time</div>
        <div class="col-6 text-right">
          {{ ticketDispute.violationTime | default }}
        </div>
      </div>
    </section>

    <section class="mb-4">
      <h4 class="row mb-2">
        <div class="col-lg-2 p-0">
          Offence #{{ ticketDispute.offence.offenceNumber }}
        </div>
        <small class="col-lg-10 text-muted text-right">
          {{ ticketDispute.offence.description }}
        </small>
      </h4>

      <div class="row pr-2">
        <div class="col-6 mb-2">Ticket Amount</div>
        <div class="col-6 text-right">
          {{ ticketDispute.offence.ticketAmount | currency | default }}
        </div>
      </div>
      <div class="row pr-2">
        <div class="col-6 mb-2">
          Ticket Amount (if paid by
          {{ ticketDispute.offence.dueDate | formatDate }})
        </div>
        <div class="col-6 text-right">
          {{ ticketDispute.offence.amountDue | currency | default }}
        </div>
      </div>
    </section>

    <form (ngSubmit)="onSubmit()" [formGroup]="form" novalidate>
      <section>
        <h3 class="mb-0">Contact Email Address</h3>
        <div class="row">
          <div class="col-sm-6">
            <mat-form-field class="w-100">
              <input matInput formControlName="emailAddress" />
              <mat-error *ngIf="emailAddress.hasError('required')"
                >Required</mat-error
              >
              <mat-error *ngIf="emailAddress.hasError('email')"
                >Must be a valid email address</mat-error
              >
            </mat-form-field>
          </div>
        </div>
      </section>
    </form>
  </div>

  <ng-template #noTicketDispute>
    <h2>No current ticket/dispute</h2>
  </ng-template>

  <app-page-footer
    (save)="onSubmit()"
    (back)="onBack()"
    [secondaryActionButtonLabel]="prevBtnLabel"
    [secondaryActionButtonIcon]="prevBtnIcon"
    [hasSecondaryAction]="true"
  ></app-page-footer>
</app-page>
