<mat-card>
  <span>
    <span><b>Name ({{ disputantUpdateRequest.status }})</b></span>
    <span style="float:right">
      {{ disputantUpdateRequest.createdTs | date: "MMMM dd, yyyy" }}
    </span>
  </span><br /><br />
  <div style="display: grid; grid-template-columns: auto auto auto" *ngIf="requestReadable === true && disputantUpdateRequest.status === 'PENDING'">
    <span class="section-grid-cell">
      <p class="section-grid-header">&nbsp;</p>
    </span>
    <span class="section-grid-cell">
      <p class="section-grid-header">Current</p>
    </span>
    <span class="section-grid-cell">
      <p class="section-grid-header">Requested Update</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.ContactType != null">
      <p class="section-grid-header">Contact Type</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.ContactType != null">
      <p class="section-grid-text" >{{ disputeInfo.contactTypeCd }}</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.ContactType != null">
      <p class="section-grid-text">{{ updateRequested.ContactType }}</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.DisputantSurname">
      <p class="section-grid-header">Disputant Surname</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.DisputantSurname">
      <p class="section-grid-text" >{{ disputeInfo.disputantSurname }}</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.DisputantSurname">
      <p class="section-grid-text">{{ updateRequested.DisputantSurname }}</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.DisputantGivenName1">
      <p class="section-grid-header">Disputant Given Name One</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.DisputantGivenName1">
      <p class="section-grid-text" >{{ disputeInfo.disputantGivenName1 }}</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.DisputantGivenName1">
      <p class="section-grid-text">{{ updateRequested.DisputantGivenName1 }}</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.DisputantGivenName2">
      <p class="section-grid-header">Disputant Given Name Two</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.DisputantGivenName2">
      <p class="section-grid-text" >{{ disputeInfo.disputantGivenName2 }}</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.DisputantGivenName2">
      <p class="section-grid-text">{{ updateRequested.DisputantGivenName2 }}</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.DisputantGivenName3">
      <p class="section-grid-header">Disputant Given Name Three</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.DisputantGivenName3">
      <p class="section-grid-text" >{{ disputeInfo.disputantGivenName3 }}</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.DisputantGivenName3">
      <p class="section-grid-text">{{ updateRequested.DisputantGivenName3 }}</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.ContactSurnameNm && updateRequested.ContactType != ContactTypeCd.Individual">
      <p class="section-grid-header">Contact Surname</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.ContactSurnameNm && updateRequested.ContactType != ContactTypeCd.Individual">
      <p class="section-grid-text" >{{ disputeInfo.contactSurnameNm }}</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.ContactSurnameNm && updateRequested.ContactType != ContactTypeCd.Individual">
      <p class="section-grid-text">{{ updateRequested.ContactSurnameNm }}</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.ContactGiven1Nm && updateRequested.ContactType != ContactTypeCd.Individual">
      <p class="section-grid-header">Contact Given Name One</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.ContactGiven1Nm && updateRequested.ContactType != ContactTypeCd.Individual">
      <p class="section-grid-text" >{{ disputeInfo.contactGiven1Nm }}</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.ContactGiven1Nm && updateRequested.ContactType != ContactTypeCd.Individual">
      <p class="section-grid-text">{{ updateRequested.ContactGiven1Nm }}</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.ContactGiven2Nm && updateRequested.ContactType != ContactTypeCd.Individual">
      <p class="section-grid-header">Contact Given Name Two</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.ContactGiven2Nm && updateRequested.ContactType != ContactTypeCd.Individual">
      <p class="section-grid-text" >{{ disputeInfo.contactGiven2Nm }}</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.ContactGiven2Nm && updateRequested.ContactType != ContactTypeCd.Individual">
      <p class="section-grid-text">{{ updateRequested.ContactGiven2Nm }}</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.ContactGiven3Nm && updateRequested.ContactType != ContactTypeCd.Individual">
      <p class="section-grid-header">Contact Given Name Three</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.ContactGiven3Nm && updateRequested.ContactType != ContactTypeCd.Individual">
      <p class="section-grid-text" >{{ disputeInfo.contactGiven3Nm }}</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.ContactGiven3Nm && updateRequested.ContactType != ContactTypeCd.Individual">
      <p class="section-grid-text">{{ updateRequested.ContactGiven3Nm }}</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.ContactLawFirmNm && updateRequested.ContactType == ContactTypeCd.Lawyer">
      <p class="section-grid-header">Contact Law Firm Name</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.ContactLawFirmNm && updateRequested.ContactType == ContactTypeCd.Lawyer">
      <p class="section-grid-text" >{{ disputeInfo.contactLawFirmNm }}</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.ContactLawFirmNm && updateRequested.ContactType == ContactTypeCd.Lawyer">
      <p class="section-grid-text">{{ updateRequested.ContactLawFirmNm }}</p>
    </span>
    <br />
  </div>
  <div style="display: grid; grid-template-columns: auto auto" *ngIf="requestReadable === true && disputantUpdateRequest.status !== 'PENDING'">
    <span class="section-grid-cell">
      <p class="section-grid-header">&nbsp;</p>
    </span>
    <span class="section-grid-cell">
      <p class="section-grid-header">Requested Update</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.DisputantSurname">
      <p class="section-grid-header">Surname</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.DisputantSurname">
      <p class="section-grid-text">{{ updateRequested.DisputantSurname }}</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.DisputantGivenName1">
      <p class="section-grid-header">Given Name One</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.DisputantGivenName1">
      <p class="section-grid-text">{{ updateRequested.DisputantGivenName1 }}</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.DisputantGivenName2">
      <p class="section-grid-header">Given Name Two</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.DisputantGivenName2">
      <p class="section-grid-text">{{ updateRequested.DisputantGivenName2 }}</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.DisputantGivenName3">
      <p class="section-grid-header">Given Name Three</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.DisputantGivenName3">
      <p class="section-grid-text">{{ updateRequested.DisputantGivenName3 }}</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.ContactSurnameNm && updateRequested.ContactType != ContactTypeCd.Individual">
      <p class="section-grid-header">Contact Surname</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.ContactSurnameNm && updateRequested.ContactType != ContactTypeCd.Individual">
      <p class="section-grid-text">{{ updateRequested.ContactSurnameNm }}</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.ContactGiven1Nm && updateRequested.ContactType != ContactTypeCd.Individual">
      <p class="section-grid-header">Contact Given Name One</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.ContactGiven1Nm && updateRequested.ContactType != ContactTypeCd.Individual">
      <p class="section-grid-text">{{ updateRequested.ContactGiven1Nm }}</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.ContactGiven2Nm && updateRequested.ContactType != ContactTypeCd.Individual">
      <p class="section-grid-header">Contact Given Name Two</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.ContactGiven2Nm && updateRequested.ContactType != ContactTypeCd.Individual">
      <p class="section-grid-text">{{ updateRequested.ContactGiven2Nm }}</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.ContactGiven3Nm && updateRequested.ContactType != ContactTypeCd.Individual">
      <p class="section-grid-header">Contact Given Name Three</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.ContactGiven3Nm && updateRequested.ContactType != ContactTypeCd.Individual">
      <p class="section-grid-text">{{ updateRequested.ContactGiven3Nm }}</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.ContactLawFirmNm && updateRequested.ContactType == ContactTypeCd.Lawyer">
      <p class="section-grid-header">Contact Law Firm Name</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.ContactLawFirmNm && updateRequested.ContactType == ContactTypeCd.Lawyer">
      <p class="section-grid-text">{{ updateRequested.ContactLawFirmNm }}</p>
    </span>
    <br />
  </div>
  <div>
    <span style="float:right" *ngIf="disputantUpdateRequest.status === 'PENDING'">
      <mat-button-toggle-group [(ngModel)]="disputantUpdateRequest.newStatus" aria-label="Decision" (change)="statusChange($event)">
        <mat-button-toggle value="ACCEPTED" *ngIf="requestReadable === true">Accept</mat-button-toggle>
        <mat-button-toggle value="REJECTED">Reject</mat-button-toggle>
        <mat-button-toggle value="PENDING">Pending</mat-button-toggle>
      </mat-button-toggle-group>
    </span>
  </div>
  <div *ngIf="requestReadable === false">Update Request Unreadable {{ disputantUpdateRequest.updateJson }}</div>
  <br /><br />
</mat-card>
