<mat-card>
  <span>
    <span><b>Disputant Name ({{ disputantUpdateRequest.status }})</b></span>
    <span style="float:right">
      {{ disputantUpdateRequest.createdTs | date: "MMMM dd, yyyy" }}
    </span>
  </span><br /><br />
  <div style="display: grid; grid-template-columns: auto auto auto" *ngIf="requestReadable === true && disputantUpdateRequest.status === 'PENDING'">
    <span class="section-grid-cell">
      <p class="section-grid-header">&nbsp;</p>
    </span>
    <span class="section-grid-cell">
      <p class="section-grid-header">Current</p>
    </span>
    <span class="section-grid-cell">
      <p class="section-grid-header">Requested Update</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.DisputantSurname">
      <p class="section-grid-header">Surname</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.DisputantSurname">
      <p class="section-grid-text" >{{ disputeInfo.disputantSurname }}</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.DisputantSurname">
      <p class="section-grid-text">{{ updateRequested.DisputantSurname }}</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.DisputantGivenName1">
      <p class="section-grid-header">Given Name One</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.DisputantGivenName1">
      <p class="section-grid-text" >{{ disputeInfo.disputantGivenName1 }}</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.DisputantGivenName1">
      <p class="section-grid-text">{{ updateRequested.DisputantGivenName1 }}</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.DisputantGivenName2">
      <p class="section-grid-header">Given Name Two</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.DisputantGivenName2">
      <p class="section-grid-text" >{{ disputeInfo.disputantGivenName2 }}</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.DisputantGivenName2">
      <p class="section-grid-text">{{ updateRequested.DisputantGivenName2 }}</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.DisputantGivenName3">
      <p class="section-grid-header">Given Name Three</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.DisputantGivenName3">
      <p class="section-grid-text" >{{ disputeInfo.disputantGivenName3 }}</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.DisputantGivenName3">
      <p class="section-grid-text">{{ updateRequested.DisputantGivenName3 }}</p>
    </span>
    <br />
  </div>
  <div style="display: grid; grid-template-columns: auto auto" *ngIf="requestReadable === true && disputantUpdateRequest.status !== 'PENDING'">
    <span class="section-grid-cell">
      <p class="section-grid-header">&nbsp;</p>
    </span>
    <span class="section-grid-cell">
      <p class="section-grid-header">Requested Update</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.DisputantSurname">
      <p class="section-grid-header">Surname</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.DisputantSurname">
      <p class="section-grid-text">{{ updateRequested.DisputantSurname }}</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.DisputantGivenName1">
      <p class="section-grid-header">Given Name One</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.DisputantGivenName1">
      <p class="section-grid-text">{{ updateRequested.DisputantGivenName1 }}</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.DisputantGivenName2">
      <p class="section-grid-header">Given Name Two</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.DisputantGivenName2">
      <p class="section-grid-text">{{ updateRequested.DisputantGivenName2 }}</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.DisputantGivenName3">
      <p class="section-grid-header">Given Name Three</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.DisputantGivenName3">
      <p class="section-grid-text">{{ updateRequested.DisputantGivenName3 }}</p>
    </span>
    <br />
  </div>
  <div>
    <span style="float:right" *ngIf="disputantUpdateRequest.status === 'PENDING'">
      <mat-button-toggle-group [(ngModel)]="disputantUpdateRequest.newStatus" aria-label="Decision" (change)="statusChange($event)">
        <mat-button-toggle value="ACCEPTED" *ngIf="requestReadable === true">Accept</mat-button-toggle>
        <mat-button-toggle value="REJECTED">Reject</mat-button-toggle>
        <mat-button-toggle value="PENDING">Pending</mat-button-toggle>
      </mat-button-toggle-group>
    </span>
  </div>
  <div *ngIf="requestReadable === false">Update Request Unreadable {{ disputantUpdateRequest.updateJson }}</div>
  <br /><br />
</mat-card>
