<mat-card>
  <span>
    <span><b>Disputant Address ({{ disputantUpdateRequest.status }})</b></span>
    <span style="float:right">
      {{ disputantUpdateRequest.createdTs | date: "MMMM dd, yyyy" }}
    </span>
  </span><br /><br />
  <div style="display: grid; grid-template-columns: auto auto auto" *ngIf="requestReadable === true && disputantUpdateRequest.status === 'PENDING'">
    <span class="section-grid-cell">
      <p class="section-grid-header">&nbsp;</p>
    </span>
    <span class="section-grid-cell">
      <p class="section-grid-header">Current</p>
    </span>
    <span class="section-grid-cell">
      <p class="section-grid-header">Requested Update</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.AddressLine1">
      <p class="section-grid-header">Address Line One</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.AddressLine1">
      <p class="section-grid-text" >{{ disputeInfo.addressLine1 }}</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.AddressLine1">
      <p class="section-grid-text">{{ updateRequested.AddressLine1 }}</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.AddressLine2">
      <p class="section-grid-header">Address Line Two</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.AddressLine2">
      <p class="section-grid-text" >{{ disputeInfo.addressLine2 }}</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.AddressLine2">
      <p class="section-grid-text">{{ updateRequested.AddressLine2 }}</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.AddressLine3">
      <p class="section-grid-header">Address Line Three</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.AddressLine3">
      <p class="section-grid-text" >{{ disputeInfo.addressLine3 }}</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.AddressLine3">
      <p class="section-grid-text">{{ updateRequested.AddressLine3 }}</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.AddressCity">
      <p class="section-grid-header">City</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.AddressCity">
      <p class="section-grid-text" >{{ disputeInfo.addressCity }}</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.AddressCity">
      <p class="section-grid-text">{{ updateRequested.AddressCity }}</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.AddressProvinceCountryId || updateRequested.AddressProvince">
      <p class="section-grid-header">Province/State</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.AddressProvinceCountryId || updateRequested.AddressProvince">
      <p class="section-grid-text" >{{ oldProvince }}</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.AddressProvinceCountryId || updateRequested.AddressProvince">
      <p class="section-grid-text">{{ newProvince }}</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.AddressCountryId">
      <p class="section-grid-header">Country</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.AddressCountryId">
      <p class="section-grid-text" >{{ oldCountry }}</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.AddressCountryId">
      <p class="section-grid-text">{{ newCountry }}</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.PostalCode">
      <p class="section-grid-header">Postal/Zip Code</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.PostalCode">
      <p class="section-grid-text" >{{ disputeInfo.postalCode }}</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.PostalCode">
      <p class="section-grid-text">{{ updateRequested.PostalCode }}</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.DriversLicenceNumber">
      <p class="section-grid-header">Driver's Licence Number</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.DriversLicenceNumber">
      <p class="section-grid-text" >{{ disputeInfo.driversLicenceNumber }}</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.DriversLicenceNumber">
      <p class="section-grid-text">{{ updateRequested.DriversLicenceNumber }}</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.DriversLicenceIssuedProvSeqNo|| updateRequested.DriversLicenceProvince">
      <p class="section-grid-header">Driver's Licence Province/State</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.DriversLicenceIssuedProvSeqNo|| updateRequested.DriversLicenceProvince">
      <p class="section-grid-text" >{{ oldDLProvince }}</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.DriversLicenceIssuedProvSeqNo|| updateRequested.DriversLicenceProvince">
      <p class="section-grid-text">{{ newDLProvince }}</p>
    </span>
    <br />
  </div>
  <div style="display: grid; grid-template-columns: auto auto" *ngIf="requestReadable === true && disputantUpdateRequest.status !== 'PENDING'">
    <span class="section-grid-cell">
      <p class="section-grid-header">&nbsp;</p>
    </span>
    <span class="section-grid-cell">
      <p class="section-grid-header">Requested Update</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.AddressLine1">
      <p class="section-grid-header">Address Line One</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.AddressLine1">
      <p class="section-grid-text">{{ updateRequested.AddressLine1 }}</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.AddressLine2">
      <p class="section-grid-header">Address Line Two</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.AddressLine2">
      <p class="section-grid-text">{{ updateRequested.AddressLine2 }}</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.AddressLine3">
      <p class="section-grid-header">Address Line Three</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.AddressLine3">
      <p class="section-grid-text">{{ updateRequested.AddressLine3 }}</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.AddressCity">
      <p class="section-grid-header">City</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.AddressCity">
      <p class="section-grid-text">{{ updateRequested.AddressCity }}</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.AddressProvinceCountryId || updateRequested.AddressProvince">
      <p class="section-grid-header">Province/State</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.AddressProvinceCountryId || updateRequested.AddressProvince">
      <p class="section-grid-text">{{ newProvince }}</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.AddressCountryId">
      <p class="section-grid-header">Country</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.AddressCountryId">
      <p class="section-grid-text">{{ newCountry }}</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.PostalCode">
      <p class="section-grid-header">Postal/Zip Code</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.PostalCode">
      <p class="section-grid-text">{{ updateRequested.PostalCode }}</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.DriversLicenceNumber">
      <p class="section-grid-header">Driver's Licence Number</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.DriversLicenceNumber">
      <p class="section-grid-text">{{ updateRequested.DriversLicenceNumber }}</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.DriversLicenceIssuedProvSeqNo|| updateRequested.DriversLicenceProvince">
      <p class="section-grid-header">Driver's Licence Province/State</p>
    </span>
    <span class="section-grid-cell" *ngIf="updateRequested.DriversLicenceIssuedProvSeqNo|| updateRequested.DriversLicenceProvince">
      <p class="section-grid-text">{{ newDLProvince }}</p>
    </span>
    <br />
  </div>
  <div>
    <span style="float:right" *ngIf="disputantUpdateRequest.status === 'PENDING'">
      <mat-button-toggle-group [(ngModel)]="disputantUpdateRequest.newStatus" aria-label="Decision" (change)="statusChange($event)">
        <mat-button-toggle value="ACCEPTED" *ngIf="requestReadable === true">Accept</mat-button-toggle>
        <mat-button-toggle value="REJECTED">Reject</mat-button-toggle>
        <mat-button-toggle value="PENDING">Pending</mat-button-toggle>
      </mat-button-toggle-group>
    </span>
  </div>
  <div *ngIf="requestReadable === false">Update Request Unreadable {{ disputantUpdateRequest.updateJson }}</div>
  <br /><br />
</mat-card>
