<div class="main-pagination">
    <div class="pagination">
        <a [class.disabled]="currentPage === 1" (click)="changePage(currentPage - 1)"><<</a>
        <ng-container *ngFor="let e of [].constructor(totalPages); let i = index">
            <a [class.active]="i+1 === currentPage" (click)="changePage(i+1)" *ngIf="showPage(i+1)">{{i+1}}</a>
        </ng-container>
        
        <a [class.disabled]="currentPage === totalPages" (click)="changePage(currentPage + 1)">>></a>
    </div>
    <div>
       <p class="page-color"> Page <span> {{currentPage}} </span> of <span> {{totalPages}} </span> </p>
    </div>
</div>