.pagination {    
    li.active {
        a{            
            background-color: #1a5a96;
            border-color: #1a5a96;
        }
        a:hover{
            background-color: #1a5a96;
        }       
    }
    li{
        a:hover{
            background-color: #7590b9;
        }
    }
    li.disabled{
        a:hover{
            background-color: #fff;
        }
    }
}

.page-info {
    color: rgba(0, 0, 0, 0.54);
    margin-left: 0.25em;
    margin-top: 0.5em;

    span {
        color: #1a5a96;
    }
}