@import "palette";
@import "variables";

h1 {
  font-weight: bold;
}

.heading-hr {
  border: 1px solid theme-palette(yellow);
  opacity: 1;
  margin: 16px 0 !important;
}

.subheader {
  color: theme-palette(grey, dark);
  line-height: 1.3em;
  font: 400 18px/28px BCSans, Noto Sans, Verdana, Arial, sans-serif;
}
