@import "palette";
@import "variables";

h1 {
  font-weight: bold;
}

.heading-hr {
  border: 1px solid theme-palette(yellow);
  opacity: 1;
}

.subheader {
  color: theme-palette(grey, dark);
  line-height: 1.3em;
}
