<app-page [busy]="busy">
  <app-page-header>
    <ng-container header>Submission confirmation</ng-container>
  </app-page-header>

  <section class="mb-2 mt-4">
    <div class="row">
      <div class="col-lg-12">
        <app-alert type="success" icon="check">
          <ng-container #alertContent class="alert-content">
            <strong>Ticket request sent successfully</strong><br />
            Ticket reference #: <strong>TR-001-00001</strong>
          </ng-container>
        </app-alert>
      </div>
    </div>
  </section>

  <div class="row">
    <div class="col-lg-8">
      A confirmation email of the request information has been sent to: <br />
      <strong>{{ ticket?.disputant?.emailAddress }}</strong>
    </div>
    <div class="col-lg-4">
      <a class="print-link">
        <mat-icon class="icon-xlarge me-2">print</mat-icon>
        Print confirmation page for your records
      </a>
    </div>
  </div>

  <div class="mt-4" *ngIf="countsToPay">
    You have selected '<strong>Pay for this count</strong>' for
    <strong>{{ countsToPay }}</strong
    >, please use the button below to proceed to payment.<br />
    <button
      type="button"
      mat-flat-button
      color="accent"
      class="large mt-3"
      style="width: unset"
      (click)="onMakePayment()"
    >
      Make payment
    </button>
  </div>

  <hr />

  <strong>Submission details</strong>

  <app-dispute-ticket-summary [ticket]="ticket"></app-dispute-ticket-summary>

  <app-resolution-footer></app-resolution-footer>
</app-page>
