<app-page>
  <app-page-header>
    <ng-container header>Traffic ticket dispute request confirmation</ng-container>
  </app-page-header>

  <section class="mb-2 mt-4 d-print-none">
    <div class="row">
      <div class="col">
        <app-alert type="success" icon="check">
          <ng-container #alertContent class="alert-content">

            <div class="d-flex justify-content-between d-print-none">
              <span>
                <h1>Ticket request sent successfully</h1>
              </span>
              <a class="print-link" (click)="onPrint()">
                <img class="me-2" src="/assets/print-icon.svg" />
                Print confirmation page
              </a>
            </div>
          </ng-container>
        </app-alert>
      </div>
    </div>
  </section>

  <hr class="d-print-none">
  <div class="d-print-none">
    <strong>Next Steps</strong><br>
    <p *ngIf="isCreate && noticeOfDispute.email_address" class="text-dark">
      A member of the court registry will review your request and inform you if the ticket request has been approved or rejected, and what to expect next.
      <br>
      <br>
      A confirmation email of the request information will be sent to:
      <br>
      {{ noticeOfDispute.email_address }}
    </p>
    <p *ngIf="isCreate && !noticeOfDispute.email_address" class="text-dark">
      A member of the court registry will review your request and inform you if the ticket request has been approved or rejected, and what to expect next.
      <br>
    </p>
    <p *ngIf="!isCreate" class="text-dark">
      A member of the court registry will review your request and inform you if the ticket request has been approved or rejected, and what to expect next.
    </p>
    <hr class="d-print-none" />
  </div>

  <ng-container *ngIf="isCreate && noticeOfDispute">
    <strong class="d-print-none">Request details</strong>

    <app-dispute-ticket-summary [noticeOfDispute]="noticeOfDispute" [ticketCounts]="noticeOfDispute.counts"
      [showWarnings]="true"></app-dispute-ticket-summary>
  </ng-container>

  <app-resolution-footer></app-resolution-footer>
</app-page>