h3 {
  font-weight: bold;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.mat-flat-button,
.mat-stroked-button {
  width: 100%;

  &.large {
    height: 46px;
    font-size: 1rem;
  }
}

.print-link {
  display: inline-flex;
  height: 46px;
}

.icon-xlarge {
  font-size: 50px !important;
  height: 50px !important;
  width: 50px !important;
}
