<app-page [busy]="busy">
  <app-page-header>
    <ng-container header>Submission confirmation</ng-container>
  </app-page-header>

  <section class="mb-2 mt-4 d-print-none">
    <div class="row">
      <div class="col">
        <app-alert type="success"
                   icon="check">
          <ng-container #alertContent
                        class="alert-content">
            <h1>Ticket request sent successfully</h1>
            Ticket reference #: <strong>TR-001-00001</strong>
          </ng-container>
        </app-alert>
      </div>
    </div>
  </section>

  <div class="d-none d-print-block mb-4">
    Ticket reference #: <strong>TR-001-00001</strong>
  </div>

  <div class="d-flex justify-content-between d-print-none">
    <div class="col-lg-8 conf-email text-dark">
      A confirmation email of the request information has been sent to: <br />
      <strong>{{ ticket?.disputant?.emailAddress }}</strong>
    </div>
    <div class="d-print-none">
      <a class="print-link"
         (click)="onPrint()">
        <img class="me-2"
             src="/assets/print-icon.svg" />
        Print confirmation page
      </a>
    </div>
  </div>

  <hr class="d-print-none">
  <div class="mt-4 d-print-none"
       *ngIf="countsToPay">
    <span class="text-dark">You have selected '<strong>Pay for this count</strong>' for
    <strong>{{ countsToPay }}</strong>, please use the button below to proceed to payment.</span><br />
    <button type="button"
            mat-flat-button
            color="accent"
            class="large mt-3 mb-2"
            style="width: unset"
            (click)="onMakePayment()">
      Make payment
    </button>
    <hr class="d-print-none">
  </div >

  <div class="d-print-none"
       *ngIf="countsDisputed">
    <strong>Next Steps</strong><br>
    <p class="text-dark">
      You will receive an email and mailed letter with your court hearing date in the next six to nine months. Some helpful documents are listed below.
    </p>
    <div>
      <a
         href="{{ whatToExpectURL }}" target="_blank">
        <img class="me-2"
             src="/assets/pdf-icon.svg" />
        What to expect at traffic court
      </a>
      <a class="print-link p-3"
        href="{{ changeOfAddressURL }}">
        <img class="me-2"
             src="/assets/pdf-icon.svg" />
        Change of address form
      </a>
    </div>
    <hr class="d-print-none" />
  </div >

  <strong class="d-print-none">Submission details</strong>

  <app-dispute-ticket-summary [ticket]="ticket"></app-dispute-ticket-summary>

  <section class="mb-2 mt-4 d-print-none">
    <div class="row" *ngIf="isWitnessPresent">
      <div class="col">
        <app-alert type="warning" icon="info">
          <ng-container #alertContent class="alert-content">
            <strong>If you are calling a witness please keep the following information in
              mind:</strong><br />
            If the disputant or the disputant’s agent does not attend the court
            hearing, the court will treat the violation ticket as not disputed, the
            conviction(s) to the allegation(s) will be recorded against the record
            of the disputant.
          </ng-container>
        </app-alert>
      </div>
    </div>
  </section>

  <section class="mb-2 mt-4 d-print-none">
    <div class="row" *ngIf="countsDisputed">
      <div class="col">
        <app-alert type="warning"
               icon="info">
          <ng-container #alertContent
                        class="alert-content">
            If the disputant or the disputant’s agent does not attend the court
            hearing, the court will treat the violation ticket as not disputed, the
            conviction(s) to the allegation(s) will be recorded against the record
            of the disputant, and the prescribed ticketed amount(s) will become
            immediately due and payable.
          </ng-container>
        </app-alert>
      </div>
    </div>
  </section>

  <app-resolution-footer></app-resolution-footer>
</app-page>
