<app-page [busy]="busy">
  <form (ngSubmit)="onSubmit()" [formGroup]="formStep5" novalidate>
    <section class="mb-3">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </section>

    <section class="mb-3">
      <div class="row">
        <div class="col">
          <mat-form-field class="w-100">
            <input
              matInput
              placeholder="Signature of Disputant"
              formControlName="surname"
            />
            <mat-error>Required</mat-error>
          </mat-form-field>
        </div>
      </div>
    </section>
  </form>

  <app-page-footer
    [saveButtonLabel]="nextBtnLabel"
    (save)="onSubmit()"
    (back)="onBack()"
  ></app-page-footer>
</app-page>
