@if (updateRequested.UploadedDocuments?.length > 0 && disputantUpdateRequest.status === 'PENDING') {
  <mat-card appearance="outlined">
    <span>
      <span><b>Uploaded Documents ({{ disputantUpdateRequest.status }})</b></span>
      <span style="float:right">
        {{ disputantUpdateRequest.createdTs | date: "dd-MMM-yyyy" }}
      </span>
    </span>
    <br />
    <br />
    @if (requestReadable === true) {
      <div style="display: grid; grid-template-columns: auto">
        <span><b>Disputant Uploaded Documents ({{updateRequested.UploadedDocuments.length }})</b></span>
        <br/>
        @for (doc of updateRequested.UploadedDocuments; track doc.DocumentId) {
          <div>
            <button type="button" class="linkbutton" (click)="onGetFile(doc.DocumentId)">{{ doc.FileName || doc.DocumentType }}</button>
            <span style="color: #666; font-size: 0.875em;">&nbsp;({{ doc.DocumentType }})</span>
          </div>
        }
        <br />
      </div>
    }
    <div>
      @if (disputantUpdateRequest.status === 'PENDING') {
        <span style="float:right">
          <mat-button-toggle-group [hideSingleSelectionIndicator]="true" [(ngModel)]="disputantUpdateRequest.newStatus" aria-label="Decision" (change)="statusChange($event)">
            @if (requestReadable === true) {
              <mat-button-toggle value="ACCEPTED">Accept</mat-button-toggle>
            }
            <mat-button-toggle value="REJECTED">Reject</mat-button-toggle>
            <mat-button-toggle value="PENDING">Pending</mat-button-toggle>
          </mat-button-toggle-group>
        </span>
      }
    </div>
    @if (requestReadable === false) {
      <div>Update Request Unreadable {{ disputantUpdateRequest.updateJson }}</div>
    }
    <br />
    <br />
  </mat-card>
}
