@import "palette.scss";

.linkbutton {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.text {
  font-weight: 700;
  line-height: 1.5em;
  color: #07396a;
}

.section-grid-cell {
  border: 1px solid black;
  padding-left: 5px;
  padding-bottom: 5px;
}

.section-grid-header {
  font-size: small;
  font-weight: bold;
  margin: 5px 0 0 0 !important;
  color: #707070;
  padding: 0 !important;
}

.section-grid-text {
  font-size: small;
  margin: 0 0 5px 0 !important;
  color: #003366;
  font-weight: bold;
  padding: 0 !important;
}

.button {
  padding: 20px;
  background-color: #c2c2c2;
  color: #fff;
}

.mat-flat-button {
  width: 30% !important;
  float: right;
  margin-top: 1em;
  margin-right: 20px;

  &.large {
    height: 46px;
    font-size: 1.125em;
    font-weight: bold;
  }

  &.light {
    background-color: theme-palette(blue, bg);
    color: white;
  }
}

.mat-flat-button[disabled] {
  background-color: rgba(0, 0, 0, 0.04) !important;
}
