<app-page>
  <app-page-header>
    <ng-container header>Traffic ticket dispute request email verification</ng-container>
  </app-page-header>

  <app-alert type="warning" icon="info" *ngIf="verified === true && checking === false">
    <ng-container #alertContent class="alert-content">
      <div class="d-flex justify-content-between d-print-none">
        <span>
          <h1 style="margin: 0;">Email successfully confirmed.</h1>
        </span>
      </div>
    </ng-container>
  </app-alert>

  <hr class="d-print-none">
  <div class="d-print-none" *ngIf="verified === true && checking === false">
    <strong>Next Steps</strong><br>
    <p class="text-dark">
      A member of the court registry will review your request and inform you if the ticket request has been approved or rejected, and what to expect next.
      <br>
      <br>
      A confirmation email of the request information will be sent to the email address you supplied.
    </p>
  </div>

  <div class="d-print-none" *ngIf="checking === true">
    <strong>Processing email confirmation...</strong><br>
  </div>

  <app-alert type="warning" icon="info" *ngIf="verified === false && checking === false">
    <ng-container #alertContent class="alert-content">
      <div class="d-flex justify-content-between d-print-none">
        <span>
          <h1 style="margin: 0;">Your email address could NOT be verified.</h1>
        </span>
      </div>
    </ng-container>
  </app-alert>

  <div class="d-print-none" *ngIf="verified === false && checking === false">
    A member of the court registry will review your request and inform you if the ticket request has been approved or rejected, and what to expect next.
    <br>
  </div>

  <app-resolution-footer></app-resolution-footer>
</app-page>
