td,
th {
  vertical-align: middle !important;
}

.centerColumn {
  text-align: center !important;
}

.centerColumn.mat-sort-header-container {
  justify-content: center !important;
}

.page-color{
  color: rgba(0, 0, 0, 0.54);
  margin: 0;

  span{
      color: #1a5a96;
  }
}