<div class="container">
  <div class="row mt-4">
    <div class="col-lg-6">
      <section>
        <p>Let's find your violation ticket.</p>

        <div class="row mb-4">
          <div class="col">
            <p>First, enter your Violation Ticket Number:</p>
            <mat-form-field class="w-100">
              <input
                matInput
                type="text"
                oninput="this.value =
              this.value.toUpperCase()"
                mask="SS00000000"
                autocomplete="off"
              />
              <button mat-button matSuffix mat-icon-button aria-label="Clear">
                <mat-icon>close</mat-icon>
              </button>
              <mat-hint>
                <small
                  >A Violation Ticket Number is 2 letters and 8 numbers
                </small></mat-hint
              >
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p>Then enter your Violation Time:</p>
            <mat-form-field class="w-100">
              <input matInput type="time" />
              <mat-error>Required</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button
              mat-flat-button
              color="primary"
              class="large"
              (click)="onSearch()"
            >
              Search
            </button>
          </div>
        </div>
      </section>
    </div>
    <div class="col-lg-6">
      <div class="info-graphic pl-4">
        <img src="/assets/violation_ticket_sample.jpg" alt="Ticket" />
      </div>
    </div>
  </div>
</div>
